﻿@model CheckoutBillingAddressModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
<div class="checkout-data">
    <div class="enter-address">
        <div class="enter-address-body">
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_billing_address_top" })
            @if (Model.ExistingAddresses.Count > 0)
            {
                <div>
                    <label for="billing-address-select">@T("Checkout.SelectBillingAddressOrEnterNewOne")</label>
                    <div>
                        <select name="billing_address_id" id="billing-address-select" class="address-select"
                            title="" onchange="Billing.newAddress(!this.value)">
                            @foreach (var address in Model.ExistingAddresses)
                            {
                                var addressLine = "";
                                addressLine += address.FirstName;
                                addressLine += " " + address.LastName;
                                addressLine += ", " + address.Address1;
                                addressLine += ", " + address.City;
                                addressLine += ", " + address.StateProvinceName;
                                addressLine += " " + address.ZipPostalCode;
                                if (!String.IsNullOrWhiteSpace(address.CountryName))
                                {
                                    addressLine += ", " + address.CountryName;
                                }
                                <option value="@(address.Id)">@(addressLine)</option>
                            }
                            <option value="" @(Model.NewAddressPreselected ? Html.Raw(" selected=\"selected\"") : null)>@T("Checkout.NewAddress")</option>
                        </select>
                    </div>
                </div>
                <div class="clear">
                </div>
            }
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_billing_address_middle" })
            <div id="billing-new-address-form">
                @{
                    var dataDictAddress = new ViewDataDictionary();
                    //Merge ModelState (required for validation)
                    dataDictAddress.ModelState.Merge(ViewData.ModelState);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                    @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)              
                }
            </div>
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_billing_address_bottom" })
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        $("#BillingNewAddress_CountryId").val(1);
        $(".dont-show").removeClass('dont-show');
        $("#BillingNewAddress_CountryId").trigger("change");
    })();
</script>