﻿@using Nop.Plugin.Donation.Models;
@using Nop.Web.Framework
@model DonationModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //Html.AddCssFileParts(@Url.Content("~/Plugins/Donation/Content/donation.css"));


}

@Html.Action("TopicBlock", "Topic", new { systemName = "DonationFormExplanation" })

@using (Html.BeginForm("SubmitForm", "Plugin/Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*@Html.ValidationSummary(false)*@
    @Html.ValidationSummary(true)
    <div id="content">
        <div class="mailheader">
            <div id="headertext"><b>Donation Application</b></div>
        </div>

        <div style="width: 90%" class="leftfloat">

            <span style="float: right;" class="formfont">DATE:<label id="">@DateTime.Now</label></span><br />
        </div><br>

        <div id="empname">
            <table class="donation">
                <tbody>
                    <tr>
                        <td>
                            <label>Priscos Store:</label>
                            <select id="StoreName" name="StoreName">
                                <option value="Priscos" selected="selected">Priscos</option>
                            </select>
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.StoreName)
                        </td>
                        <td>
                            <label>Organization :</label>
                            @Html.EditorFor(x => x.Organization)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Organization)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Today's Date:</label>
                            @Html.TextBoxFor(x => x.CurrentDate, new { @class = "textBox date-type" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.CurrentDate)
                        </td>
                        <td>
                            <label>Event Date:</label>
                            @Html.TextBoxFor(x => x.EventDate, new { @class = "textBox date-type" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.EventDate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Contact: </label>
                            @Html.EditorFor(x => x.Contact)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Contact)
                        </td>
                        <td>
                            <label>Title :</label>
                            @Html.EditorFor(x => x.Title)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Title)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Address :</label>
                            @Html.EditorFor(x => x.Address)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Address)
                        </td>
                        <td>
                            <label>Zip Code :</label>
                            @Html.EditorFor(x => x.Zip)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Zip)
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <label>State :</label>
                            @Html.EditorFor(x => x.State)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.State)
                        </td>
                        <td>
                            <label>E-mail Address :</label>
                            @Html.EditorFor(x => x.Email)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Email)
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <label>Phone Number :</label>
                            @Html.EditorFor(x => x.Phone)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Phone)
                        </td>
                        <td>
                            <label>Fax Number :</label>
                            @Html.EditorFor(x => x.Fax)
                            @Html.ValidationMessageFor(model => model.Fax)
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td>
                            <label>Organization’s Achievements & Impact on the Community :</label>
                            <textarea id="OrganizationAchievement" name="OrganizationAchievement"></textarea>
                            @Html.ValidationMessageFor(model => model.OrganizationAchievement)
                        </td>
                        <td>
                            <label>Tax ID Number  :</label>
                            @Html.EditorFor(x => x.TaxId)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.TaxId)
                        </td>
                    </tr>                    
                    
                    <tr>
                        <td>
                            <label>Name, Date, Location, and Mission :</label>
                            @Html.TextAreaFor(model => model.EventDetail)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.EventDetail)
                        </td>
                        <td>
                            <label>Items Requested  :</label>
                            @Html.TextAreaFor(model => model.RequestedItem)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.RequestedItem)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>How will Priscosmarket be recognized? :</label>
                            @Html.TextAreaFor(model => model.Benifit)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Benifit)
                        </td>
                        <td>
                            <label>Tell Us About Your Organization :</label>
                            @Html.TextAreaFor(model => model.OrganizationDetail)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.OrganizationDetail)
                        </td>
                    </tr>
                   <tr>
                        <td>
                            <label>Has your organization received a donation from Priscosfamilymarkets’s in the past? :</label>
                            <input type="radio" value="Yes" name="PreviousDonation" id="PreviousDonation" /><span>Yes</span>
                            <input type="radio" value="No" name="PreviousDonation" id="PreviousDonation" /><span>No</span>
                            @Html.ValidationMessageFor(model => model.PreviousDonation)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Current Copy of 501(c)(3) form (IRS tax exempt letter)  : @Html.RequiredHint()</label>
                            @Html.EditorFor(x => x.TaxLetter)
                            @Html.ValidationMessageFor(model => model.TaxLetter)
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="captcha-box">
            @Html.Raw(Html.GenerateCaptcha())
        </div>
        <br />
        <input id="" class="btn" type="submit" value="Send" name="" />
    </div>
}

<script type="text/javascript">
    (function ($) {
        $(".date-type").datepicker();
    })(jQuery);
</script>



