﻿@using Nop.Plugin.Other.AnotherBlog.Models
@model AnotherBlogPostListModel
@using Nop.Web;
@using Nop.Web.Extensions;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);

	string BlogHeader = (ViewBag.BlogType == "Default") ? T("Blog").Text : T("AnotherBlog").Text;																											
}
@section left {
    @Html.Action("BlogMonths", "AnotherBlog", new { blogType = ViewBag.BlogType })
    <div class="clear">
    </div>
    @Html.Action("BlogTags", "AnotherBlog", new { blogType = ViewBag.BlogType })
}
<div class="blog">
    <div class="page-title">
        <div class="title">
            <h1>
                @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
                {
                    if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                    {
						if(ViewBag.BlogType == "Default")
						{
							string.Format(T("blog.filteredbymonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"));
						}
						else
						{
							string.Format(T("anotherblog.filteredbymonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"));																																																																															 
						}
                    }
                    else
                    {
						@BlogHeader
                    }
                }
                else
                {
					if(ViewBag.BlogType == "Default")
					{
						string.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag);
					}
					else
					{
						string.Format(T("AnotherBlog.TaggedWith").Text, Model.PagingFilteringContext.Tag);
					}
				}
            </h1>
        </div>

        <div class="rss">
            <a href="@Url.RouteUrl("BlogRSS", new
								{
									languageId = Model.WorkingLanguageId,
									blogType = ViewBag.BlogType
								})">
                <img title="@T("Blog.RSS.Hint")" src="@Url.Content("~/content/images/icon_rss.gif")" alt="@T("Blog.RSS")" /></a>
        </div>
        <div class="clear">
        </div>
        <div class="">
            <table class="adminContent">
                <tr>
                    <form method="GET">
                        <td class="adminTitle">Search:
                        </td>
                        <td class="adminData">
                            <input type="hidden" name="blogType" value="@ViewBag.BlogType">
                            <input id="Search" class="text-box single-line" type="text" value="" name="SearchKey" data-val-required="Title is required." data-val="true">
                            <button>Search</button>
                        </td>
                        @*<td class="adminTitle">From:
                        </td>
                        <td class="adminData">
                            <input id="FromDate" class="text-box single-line" type="text" value="" name="FromDate">
                        </td>
                        <td class="adminTitle">To:
                        </td>
                        <td class="adminData">
                            <input id="ToDate" class="text-box single-line" type="text" value="" name="ToDate">
                            <button>Search</button>
                        </td>
                        *@
                                    
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <div class="clear">
    </div>
    @Html.Action("WidgetsByZone", "Widget", new
    {
	    widgetZone = "bloglist_page_before_posts"
    })
    <div class="blogposts">
        @foreach(var item in Model.BlogPosts)
				{
            <div class="post">
                <a class="blogtitle" href="@Url.RouteUrl("BlogPost", new { blogPostId = item.Id, SeName = item.SeName })">
                    @item.Title</a><span class="blogdate">-
                        @item.CreatedOn.ToString("D")
                    </span>
                <div class="blogbody">
                    @Html.Raw(item.ShortDescription)  <a class="blogtitle" href="@Url.RouteUrl("BlogPost", new { blogPostId = item.Id, SeName = item.SeName })">...Read More</a> 
                </div>
               
            </div>
        }
    </div>
    <div class="pager">
        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "bloglist_page_after_posts" })
</div>


