﻿@model BlogPostModel
@using Nop.Web.Framework.UI.Captcha;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(Model.Title);
}
@section left {
    @Html.Action("BlogMonths", "AnotherBlog" )
    <div class="clear">
    </div>
    @Html.Action("BlogTags", "AnotherBlog" )
}
<div class="blogpost">
    <div class="page-title">
        <h1>@Model.Title</h1>
    </div>
    <div class="clear">
    </div>
    <div class="postdate">
        @Model.CreatedOn.ToString("D")
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "blogpost_page_before_body" })
    <div class="postbody">
        @Html.Raw(Model.Body)
    </div>
    <div class="clear">
    </div>
    <div class="tags">
        @if (Model.Tags.Count > 0)
        {
            @T("Blog.Tags") 
            <text>:&nbsp;</text>
            for (int i = 0; i < Model.Tags.Count; i++)
            {
                var tag = Model.Tags[i];
            <a href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a>
								if(i != Model.Tags.Count - 1)
                {
            <text>,&nbsp;</text>
                }
            }
        }
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "blogpost_page_before_comments" })
    @if (Model.AllowComments)
    {
        <div class="clear">
        </div>
        <div class="blogcomments">
            <div class="title">
                @T("Blog.Comments")
            </div>
            <div class="clear">
            </div>
            <div class="newcomment">
                @using (Html.BeginForm())
                {
                    <table>
                        <tr>
                            <td colspan="2" class="leavetitle">
                                <strong>
                                    @T("Blog.Comments.LeaveYourComment")
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.AddNewComment.CommentText):
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.AddNewComment.CommentText, new { @class = "commenttext" })
                                @Html.ValidationMessageFor(model => model.AddNewComment.CommentText)
                            </td>
                        </tr>
                        @{
                    string result = TempData["nop.blog.addcomment.result"] as string;
                        }                        
                        @if (!String.IsNullOrEmpty(result))
                        {
                            <tr>
                                <td class="result" colspan="2">
                                        @result
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="message-error" colspan="2">
                                @Html.ValidationSummary(true)
                            </td>
                        </tr>
                        @if (Model.AddNewComment.DisplayCaptcha)
                        {
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td class="captcha-box">
                                    @Html.Raw(Html.GenerateCaptcha())
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                            </td>
                            <td class="buttons">
                                <input type="submit" id="add-comment" name="add-comment" class="blogpostaddcommentbutton" value="@T("Blog.Comments.SubmitButton")" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="clear">
            </div>
            <div class="commentlist">
                @foreach (var comment in Model.Comments)
                {
                    <div class="blogcomment">
                        <div class="commentinfo">
                            <div class="userinfo">
                                @if (comment.AllowViewingProfiles)
                                {
                                    <a href="@Url.RouteUrl("CustomerProfile", new { id = comment.CustomerId })" class="username">@(comment.CustomerName)</a>
                                }
                                else
                                {
                                    <span class="username">@(comment.CustomerName)</span>
                                }
                                <div class="avatar">
                                    @if (!String.IsNullOrEmpty(comment.CustomerAvatarUrl))
                                    {
                                        <img src="@(comment.CustomerAvatarUrl)" class="avatar-img" title="avatar" alt="avatar" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="commentcontent">
                            <div class="commenttime">
                                @T("Blog.Comments.CreatedOn"): <span class="statvalue">@comment.CreatedOn.ToString("g")</span>
                            </div>
                            <div class="commentbody">
                                @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(comment.CommentText, false, true, false, false, false, false))
                            </div>
                        </div>
                        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "blogpost_page_inside_comment" })
                    </div>
                    <div class="clear">
                    </div>
                }
            </div>
        </div>
    }
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "blogpost_page_after_comments" })
</div>
