﻿@using Nop.Web.Framework
@model Nop.Plugin.Other.CustomTopic.Models.CustomTopicModel
@{    
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Topics.EditTopicDetails").Text;
Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.Topics.EditTopicDetails") - @Model.SystemName <a href="/Admin/Plugin/Other/CustomTopic/List">@T("Admin.ContentManagement.Topics.BackToList")</a> @*@Html.ActionLink("(" + T("Admin.ContentManagement.Topics.BackToList") + ")", "List")*@
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("topic-delete")