﻿@using Nop.Plugin.Recipe.Models
@model SpecialsModel

<div id="featured_items">
    @for (int i = 0; i < Model.Specials.Count; i++)
    {
        var item = Model.Specials[i];
        if (item.featured == "true")
        {
            <table class="featured_item" style="background-color: #fee393; width: 100.0%; border-bottom: 10.0px solid white;">
                <tbody>

                    <tr>
                        <td class="item_text" style="padding: 3.0px; font-family: Tahoma, Geneva, sans-serif;">

                            <span class="brand" style="font-size: 15.0px; font-weight: bold; display: block;">@item.brand</span>

                            <span class="product" style="font-size: 13.0px;">@item.product</span>

                            <span class="description">@item.description.Replace("'", "\\'")</span>

                        </td>
                        <td width="64" align="center" valign="top" style="padding: 3.0px; font-family: Tahoma, Geneva, sans-serif;"><img src="@item.image" alt="image not found"></td>
                    </tr>
                    <tr>
                    <td class="item_offer" colspan="2" style="font-size: 11.0px; font-weight: bold; color: #930; padding: 3.0px; font-family: Tahoma, Geneva, sans-serif;">@item.offer</td></tr>
                </tbody>
            </table>
        }
    }
</div>
