﻿@*@using Nop.Plugin.Recipe.Models*@ @*@model IList<RecipeGallary>*@
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //Html.AddTitleParts("Recipe");
    //Html.AddMetaDescriptionParts("Recipe");
    //Html.AddMetaKeywordParts("Recipe");


    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Scripts/fullcalendar/fullcalendar.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));

    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe_bubbleTip.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/jQuery.bubbletip-1.0.6.js");

    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe_calender.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/fullcalendar/fullcalendar.js");
}
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <h1 class="header1">
        Recipe Calender
    </h1>
    <br />
    <br />
    <div id='calendar'>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="devider-left">
        <div class="floatLeft">
            <span class="header2">Search for Recipes:</span>
            <div id="recipesearch">
                <input id="quicksearchRecipeCalender" type="text" maxlength="32" class="quicksearch" />
                <img id="imgSearchBtnRecipeCalender" class="imgSearchBtnRecipeCalender" alt="go" src="/Plugins/Recipe/Content/images/recipe_search_go.png" />
            </div>
            <div class="margin_top_10px">
                <div>
                    <input id="radio_title" type="radio" , name="radio" value="Title" @ViewBag.Title />
                    Title
                </div>
                <div>
                    <input id="radio_Ingredients" type="radio" , name="radio" value="Ingredients" @ViewBag.Ingredients />
                    Ingredients
                </div>
            </div>
        </div>
        <input type="hidden" id="pagename" value="index" />
        <br />
        <br />
        <div id='pagination' class="pagination floatLeft newLine">
        </div>
        <br />
        <div id='external-events' class="newLine">
        </div>
    </div>
</div>
<div class="row clearfix">
    <div id="addRecipeId" title="Add A Recipe">
        <form action="">
            <fieldset>
                <label>
                    Add A recipe id here:
                </label>
                <input type="text" class="recipeIdText" id="recipeIdText" />
                <input type="hidden" name="date1" id="date1" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <div id="Edit" title="Browse Or Delete">
        <form action="">
            <fieldset>
                <label>
                    Browse Recipe of this Day:
                </label>
                <a href="" class="url" id="url"></a>
                <input type="hidden" name="date" id="date" class="text ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
</div>