﻿@using Nop.Plugin.Recipe.Models

@model IList<RecipeGallary>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Recipe");
    Html.AddMetaDescriptionParts("Recipe");
    Html.AddMetaKeywordParts("Recipe");
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    @Html.Partial("_RecipeSearch")
    <div id="sidebar">
        <h2>Dietary needs:</h2>
        <ul>
            <li><a href="/recipes?tags%5B%5D=21">Dairy free</a></li>
            <li><a href="/recipes?tags%5B%5D=25">Free of nuts</a></li>
            <li><a href="/recipes?tags%5B%5D=22">Gluten free</a></li>
            <li><a href="/recipes?tags%5B%5D=26">Kosher</a></li>
            <li><a href="/recipes?tags%5B%5D=27">Vegan</a></li>
            <li><a href="/recipes?tags%5B%5D=24">Vegetarian</a></li>
        </ul>
        <h2>Nutritional needs:</h2>
        <ul>
            <li><a href="/recipes?tags%5B%5D=28">High calcium</a></li>
            <li><a href="/recipes?tags%5B%5D=30">High protein</a></li>
            <li><a href="/recipes?tags%5B%5D=32">Low calorie</a></li>
            <li><a href="/recipes?tags%5B%5D=33">Low carb</a></li>
            <li><a href="/recipes?tags%5B%5D=34">Low cholesterol</a></li>
            <li><a href="/recipes?tags%5B%5D=31">Low fat</a></li>
        </ul>
        <h2>With ingredients:</h2>
        <ul>
            <li><a href="/recipes?tags%5B%5D=100">Beans</a></li>
            <li><a href="/recipes?tags%5B%5D=101">Healthy grains</a></li>
            <li><a href="/recipes?tags%5B%5D=103">Meats</a></li>
            <li><a href="/recipes?tags%5B%5D=102">Pasta</a></li>
            <li><a href="/recipes?tags%5B%5D=104">Poultry</a></li>
            <li><a href="/recipes?tags%5B%5D=105">Seafood</a></li>
        </ul>

    </div>
</div>


<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="devider-left">
        <h1 class="header1">
            Our Recipes
        </h1>
        <p>
            Browse this collection of recipes to find simple, healthy dishes to make eating
            healthier a snap. Look for lower fat, whole food ingredients. Try something new
            today!
        </p>
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <div class="recipeGallary">
                <a href="@Url.RouteUrl("recipewithtags", new { tags = @item.TagId })">
                    <img src="@item.Photo" />
                    <div class="recipeTitle">
                        @item.RecipeTitle
                    </div>
                </a>
            </div>

        }
        <input type="hidden" id="pagename" value="index" />
    </div>
</div>

