﻿@using Nop.Plugin.Recipe.Models
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));


    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe_bubbleTip.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/jQuery.bubbletip-1.0.6.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/fullcalendar/fullcalendar.js");

}

<div class="row reset-margin">
    @*<span class="header2">Recipe Search</span>*@
    <div id="recipesearch">
        <div class="input-group">
            <input id="quicksearch" type="text" class="form-control" placeholder="Search for Recipe...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-go" type="button">Go!</button>
            </span>
        </div>
        @*<input id="quicksearch" type="text" maxlength="32" class="quicksearch" />*@
        @*<input type="button" class="recipeSearchGo"  *@
        @* <img id="imgSearchBtn" class="imgSearchBtn" alt="go"></img>*@
        @*<img id="imgSearchBtn" class="imgSearchBtn" alt="go" src="~/Themes/Caputomarkets/Content/images/recipe_search_go.png" />*@
        @*<img id="imgSearchBtn"   class="recipeSearchGo" ></img>*@
    </div>
    <div class="margin_top_10px">
        <label>
            <input id="radio_title" type="radio" name="radio" value="Title" @ViewBag.Title />
            Title
        </label>
        <label>
            <input id="radio_Ingredients" type="radio" name="radio" value="Ingredients" @ViewBag.Ingredients />
            Ingredients
        </label>
    </div>
</div>
<script type="text/javascript">
    //    $(document).ready(function () {
    //        var availableTags = [
    //			"ActionScript",
    //			"AppleScript",
    //			"Asp",
    //			"BASIC",
    //			"C",
    //			"C++",
    //			"Clojure",
    //			"COBOL",
    //			"ColdFusion",
    //			"Erlang",
    //			"Fortran",
    //			"Groovy",
    //			"Haskell",
    //			"Java",
    //			"JavaScript",
    //			"Lisp",
    //			"Perl",
    //			"PHP",
    //			"Python",
    //			"Ruby",
    //			"Scala",
    //			"Scheme"
    //		];
    //        $("#quicksearch").autocomplete({
    //            source: availableTags
    //        });
    //    });
</script>
