﻿@using Nop.Plugin.Recipe.Models
@model System.Data.DataTable
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Recipe");
    Html.AddMetaDescriptionParts("Recipe");
    Html.AddMetaKeywordParts("Recipe");
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    @Html.Action("Search", "Recipe", new { searchType = ViewBag.searchType })
    <br />
    @Html.Action("showAllCookBook", "Recipe")
    @*<uc1:cookbook id="Cookbook1" runat="server" />*@
</div>


<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <div class="devider-left">
        <div class="header1">
            Recipe search results
        </div>
        <div id="displayableItems" runat="server">
            @Html.Raw(ViewBag.displayableItems)
        </div>
        <div id="pagination" class="pagination" runat="server">
            @Html.Raw(ViewBag.pager)
        </div>
        <div class="newLine">
        </div>
        <table id="Table1" runat="server" cellpadding="5" cellspacing="2">
            <thead>
                <tr>
                    <td class="text_align_center showRecipeListTitleWidth">
                        <b>@Html.Raw(ViewBag.cTitle)</b>
                    </td>
                    <td class="text_align_center showRecipeListcolumnsMinWidth">
                        <b>@Html.Raw(ViewBag.cServe)</b>
                    </td>
                    <td class="text_align_center showRecipeListcolumnsMinWidth">
                        <b>@Html.Raw(ViewBag.cTime)</b>
                    </td>
                    <td class="text_align_center showRecipeListcolumnsMinWidth">
                        <b>@Html.Raw(ViewBag.cCal)</b>
                    </td>
                    <td class="text_align_center showRecipeListcolumnsMinWidth">
                        <b>@Html.Raw(ViewBag.cFat)</b>
                    </td>
                    <td class="text_align_center showRecipeListcolumnsMinWidth">
                        <b>@Html.Raw(ViewBag.cCerbs)</b>
                    </td>
                </tr>
            </thead>
            <tr id="itemPlaceholder" runat="server" />
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    <td>
                        <a href="@Url.RouteUrl("showSingleRecipe", new { recipeid = @row.ItemArray[0] })">@row.ItemArray[1]</a>
                    </td>
                    <td>
                        @row.ItemArray[2]
                    </td>
                    <td>
                        @row.ItemArray[6]
                    </td>
                    <td>
                        @row.ItemArray[7]
                    </td>
                    <td>
                        @row.ItemArray[8]
                    </td>
                    <td>
                        @row.ItemArray[11]
                    </td>
                </tr>
            }
        </table>
        <div id="divNoResults">
            @ViewBag.noResult
        </div>
        <input type="hidden" id="pagename" value="recipelist" />
    </div>
</div>