﻿/*Default Layout*/
.logo-img { width: 100%; max-width: 180px; height: auto; margin-top: 7px; margin-left: 15px; }
.navbar-header { padding: 0px; }
.top-menu.navbar-default .navbar-nav > li > a { padding-left: 15px; background: #000; cursor: pointer; }
    .top-menu.navbar-default .navbar-nav > li > a:hover { background: #000 !important; }
#myBar { top: 38px; }



/* Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-header { padding: 0px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 15px; }
    .logo-img { margin-top: 7px; }
    #myBar { top: 38px; }
}



/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {
    .navbar-header { padding: 0px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 0px; }
    .logo-img { margin-top: 2px; }
    #myBar { top:51px; }
}



/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-header { padding: 0px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 0px; }
    .logo-img { margin-top: 2px; }
    #myBar { top:51px; }
}


/*Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .navbar-header { padding: 15px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 0px; }
    .logo-img { margin-top: 2px; }
    #myBar { top: 38px; }
}
