@{
    Layout = "~/Themes/Caputomarkets/Views/Shared/_ColumnsOneHomepage.cshtml";
}

@Html.Action("HomepageCategories", "Catalog")

<section class="search-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <label class="search-label">Recipe Search</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                @Html.Action("Search", "Recipe", new { searchType = "title" })
            </div>
        </div>
    </div>
</section>



<section class="well-come-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.Partial("_FeaturedItems")
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div id="content_wrapper" class="devider-left">
                    <div class="row clearfix">
                        <div class="col-lg-12 homepage-newslist-wrapper">
                            <div class="newslist">
                                <div class="homepage-title">
                                    <div class="homepage-title-text">
                                        <a href="/news">What's Going on at Caputos?</a>
                                    </div>
                                </div>
                                <div class="newsitems">
                                    <div class="item">
                                        <div class="datetitle">
                                            <a class="newstitle" href="/news/73/new-weekly-lunch-specials">
                                                New Weekly Lunch Specials
                                            </a>
                                            <span class="newsdate">
                                                -
                                                Friday, January 16, 2015
                                            </span>
                                        </div>
                                        <div class="newsdetails">
                                            We've rolled out a new set of daily hot foods specials! Did you know you can eat all week for under $25? It's a bargain! Click for more info.
                                        </div>
                                        <a href="/news/73/new-weekly-lunch-specials" class="more_link">
                                            details
                                        </a>
                                    </div>
                                    <div class="item">
                                        <div class="datetitle">
                                            <a class="newstitle" href="/news/72/now-hiring-bakerscake-decorators">
                                                Now hiring bakers/cake decorators!
                                            </a>
                                            <span class="newsdate">
                                                -
                                                Thursday, October 09, 2014
                                            </span>
                                        </div>
                                        <div class="newsdetails">
                                            Now hiring experienced Bakers and Cake Decorators for the overnight shift at our warehouse bakery in Carol Stream. Click here for more info.
                                        </div>
                                        <a href="/news/72/now-hiring-bakerscake-decorators" class="more_link">
                                            details
                                        </a>
                                    </div>
                                    <div class="item">
                                        <div class="datetitle">
                                            <a class="newstitle" href="/news/71/carol-stream-store-now-open">
                                                Carol Stream Store Now Open!
                                            </a>
                                            <span class="newsdate">
                                                -
                                                Thursday, September 25, 2014
                                            </span>

                                        </div>
                                        <div class="newsdetails">
                                            The day has finally arrived. Our Carol Stream Store at 550 E. North Ave. is now open for business! Please stop by!
                                        </div>
                                        <a href="/news/71/carol-stream-store-now-open" class="more_link">
                                            details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix news-block">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="block-newsletter item">
                                <div class="block-newsletter-container">
                                    <div class="newsletterTitle">
                                        Subscribe to Our Newsletter
                                    </div>
                                    <div class="clear">
                                    </div>
                                    <div class="listbox">
                                        <form action="/" method="post" novalidate="novalidate">
                                            <div id="pnl-newsletter-subscribe">
                                                <span class="emailLabel">Email:</span>
                                                <input data-val="true" data-val-email="*" data-val-required="*" id="Email" name="Email" type="text" value="">
                                                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                                <div class="options">
                                                    <input id="newsletter-subscribe" type="radio" name="newsletter-subscribe" value="newsletter-subscribe" checked="checked">
                                                    <label for="newsletter-subscribe">Subscribe</label>
                                                    <input id="newsletter-unsubscribe" type="radio" name="newsletter-subscribe" value="newsletter-unsubscribe">
                                                    <label for="newsletter-unsubscribe">Unsubscribe</label>
                                                </div>
                                                <div class="clear">
                                                </div>
                                                <div class="buttons">
                                                    <input type="submit" name="newsletter-subscribe-button" value="Submit" id="newsletter-subscribe-button" class="btn btn-danger">
                                                    <span id="subscribe-loading-progress" style="display: none;">
                                                        Wait...
                                                        <img src="/Content/Images/ajax_loader_small.gif" alt="Wait...">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="clear">
                                            </div>
                                            <div id="pnl-newsletter-result">
                                            </div>
                                        </form>
                                    </div>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#newsletter-subscribe-button').click(function () {

                                                var subscribe = 'true';
                                                if ($('#newsletter-unsubscribe').is(':checked')) {
                                                    subscribe = 'false';
                                                }
                                                var email = $("#Email").val();
                                                var subscribeProgress = $("#subscribe-loading-progress");
                                                subscribeProgress.show();
                                                $.ajax({
                                                    cache: false,
                                                    type: "POST",
                                                    url: "/Newsletter/SubscribeNewsletter",
                                                    data: { "subscribe": subscribe, "email": email },
                                                    success: function (data) {
                                                        subscribeProgress.hide();
                                                        $("#pnl-newsletter-result").html(data.Result);
                                                        if (data.Success) {
                                                            $('#pnl-newsletter-subscribe').hide();
                                                        }
                                                        else {
                                                            $('#pnl-newsletter-result').fadeIn("slow").delay(2000).fadeOut("slow");
                                                        }
                                                    },
                                                    error: function (xhr, ajaxOptions, thrownError) {
                                                        alert('Failed to subscribe.');
                                                        subscribeProgress.hide();
                                                    }
                                                });
                                                return false;
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="item">
                                <img src="~/Themes/Caputomarkets/Content/images/platters.png" alt="Recipe photo" class="recipe-img">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="item">
                                <img src="~/Themes/Caputomarkets/Content/images/cucina.png" alt="Recipe photo" class="recipe-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    @Html.Action("HomepageBestSellers", "Product")
    @Html.Action("HomePageNews", "News")
    @Html.Action("HomePagePolls", "Poll")
    @Html.Widget("home_page_bottom")
</section>








