﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
}
<div class="content-body">
    <div class="page-not-found-page panel">
        <div class="panel-heading">
            <h3>@T("PageTitle.PageNotFound")</h3>
        </div>
            @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
    </div>
</div>