﻿@model SliderPictureModel
@using Nop.Plugin.Widgets.BsSlider.Models;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)


<tr>
    <td class="adminTitle">
        @Html.NopLabelFor(model => model.ImageId)
    </td>
    <td class="adminData">
        @Html.EditorFor(model => model.ImageId)
        @Html.ValidationMessageFor(model => model.ImageId)
    </td>
</tr>
<tr>
    <td class="adminTitle">
        @Html.NopLabelFor(model => model.DisplayOrder)
    </td>
    <td class="adminData">
        @Html.EditorFor(model => model.DisplayOrder)
        @Html.ValidationMessageFor(model => model.DisplayOrder)
    </td>
</tr>
<tr>
    <td class="adminTitle">
        @Html.NopLabelFor(model => model.PictureLink)
    </td>
    <td class="adminData">
        @Html.EditorFor(model => model.PictureLink)
        @Html.ValidationMessageFor(model => model.PictureLink)
    </td>
</tr>
@*<tr>
    <td class="adminTitle">
        @Html.NopLabelFor(model => model.Transition)
    </td>
    <td class="adminData">
        @Html.EditorFor(model => model.Transition)
        @Html.ValidationMessageFor(model => model.Transition)
    </td>
</tr>
<tr>
    <td class="adminTitle">
        @Html.NopLabelFor(model => model.HtmlCode)
    </td>
    <td class="adminData">
        @Html.EditorFor(model => model.HtmlCode)
        @Html.ValidationMessageFor(model => model.HtmlCode)
    </td>
</tr>*@
