﻿@using Nop.Plugin.Events.Models;
@model IList<EventModel>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Events/Content/Events.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Events/Scripts/fullcalendar/fullcalendar.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Events/Scripts/Events.js"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Events/Scripts/fullcalendar/fullcalendar.js"));
}
<h1>
    Events</h1>
<br />
<hr />
<br />
@*<script>
    $(document).ready(function () {

        showCalender('@ViewBag.totalStore')

    });
</script>
Showing Stores For:   @Html.Raw(ViewBag.storeRoleSelectorString)*@
<br />

@*<div id='calendar'></div>*@

<br />
<div class="eventListDiv">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="eventDiv">
            <div class="eventTitle">
                <a href="@Url.RouteUrl("eventDetails", new { eventId = @Model[i].Id })">@Model[i].Title</a>
                - @Model[i].DayTime.ToLongDateString()
            </div>
            <div class="eventShortDescription">
                @Html.Raw(Model[i].ShortDescription)
            </div>
            <div>@Html.ActionLink("Details", "Details", new { eventId = Model[i].Id })</div>
            <br />
        </div>
    }
</div>

