﻿
.master-wrapper-center-1
{
    margin-left: 5px;
}
.btn
{
    width:70px;
}
td
{
    font-family: Calibri;
    font-size: 10pt;
    vertical-align: middle;
}
.clear
{
    clear: both;
}
.leftfloat
{
    float: left;
}
.padright5
{
    padding-right: 5px;
}
 
#content
{
    width: 900px;
    font-family: Calibri;
    font-size: 11pt;
}
#mailheader
{
    width: 100%;
    float: left;
    height: 100px;
}
#imglogo
{
    width: 150px;
    float: left;
    height: 100px;
}
#headertext
{
    font-family: Times New Roman;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20pt;
    padding: 15px 0 0 220px;
    float: left;
    text-decoration: underline;
}
h5
{
    /*font-family: Franklin Gothic Medium;*/
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}
.formfont
{
    font-family: Franklin Gothic Medium;
    font-size: 10pt;
}
#empname td
{
    /*width: 250px;
    text-align: center;*/
}
.thistable td
{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 1px 5px 1px 1px;
}
.rblTable td
{
    border: none;
}
.workweek
{
    height: 50px;
    vertical-align: top;
}