﻿@model CateringEmailModel
@using Nop.Plugin.Other.Catering.Models;

@using Nop.Web.Framework;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StoreId):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(x => x.StoreId, Model.StoreList)
                @Html.ValidationMessageFor(model => model.StoreId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAddress):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EmailAddressType):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(x => x.EmailAddressType, Model.EmailAddressTypes)
                @Html.ValidationMessageFor(model => model.EmailAddressType)
            </td>
        </tr>
    </table>

