﻿@using Nop.Plugin.Other.Catering.Models
@model CateringSearchModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;


@if(Request.IsAjaxRequest())
{   
    <div class="desc-head">
        <div class="buttons">
            <input type="button" value="BACK" class="back-button red-button" onclick="api.previousPage();">
        </div>
        <div class="category">
            @Model.CategoryName 
        </div>
        <div class="category-tagline">
            “@Html.Raw(Model.CategoryTag)”                        
        </div>
    </div>
    <div class="clear"></div>
}
<div id="product-detail"></div>

<div class="catering-product">
    @if (ViewBag.SearchTitle != null)
    {
        <h3 class="search-title">@ViewBag.SearchTitle</h3>
    }
    @if (Model.Products.Count > 0)
    {
        <div class="product-grid">
            @foreach (var product in Model.Products)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", product)
                </div>
            }
        </div>
    }
    else
    {
         <strong class="result">
            @T("Search.NoResultsText")
        </strong>
    }
</div>
<div class="clear"></div>
<div class="catering pager">
    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
</div>

