﻿@model CheckoutShippingAddressModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
<div class="dialog-header">
    <span class="orange">
        Catering
    </span>
    <span class="black">
        Delivery
    </span>
</div>
<div id="header-menu">
    <ul class="progress">
        <li class="active" onclick="api.editShippingForm();" href="javascript:void(0)">Delivery PickUp</li>
        <li class="active" onclick="api.loadEventDetail();" href="javascript:void(0)">Event Details</li>
        @*<li><a onclick="api.editShippingForm();" href="javascript:void(0)">Delivery PickUp</a></li>
        <li><a onclick="api.loadEventDetail();" href="javascript:void(0)">Event Details</a></li>*@
    </ul>
</div>
<div class="clear"></div>
<div id="next" style="float:left">
    <a href="/login?ReturnUrl=/catering/foodmenu">Already registered? Sign in Here</a>
    <a class="cancel-btn" href="/register">Not Registered? Start Here!</a>
</div>

<div class="clear"></div>

<div class="checkout-data">
    <div class="enter-address"> 
        @*<div id="header-menu">
            <ul>
                <li><a onclick="api.editShippingForm();" href="javascript:void(0)">Delivery</a></li>
                <li><a onclick="api.storeSelect();" href="javascript:void(0)">PickUp in Store</a></li>
            </ul>
        </div>*@  
        <div class="serve-options">
            <ul>
                <li class="active">
                    <a onclick="api.editShippingForm();" href="javascript:void(0)">
  	                  <span class="title">Delivery</span>
  	                </a>
                </li>
                <li>
                    <a onclick="api.storeSelect();" href="javascript:void(0)">
  	                    <span class="title">PickUp in Store</span>
  	                </a>
                </li>
            </ul>
        </div>          
        <div class="clear"></div>
            
        <div class="ajax-content">
        
            <div class="enter-address-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "shipping-form" }))
                {
                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_shipping_address_top" })
                    if (Model.ExistingAddresses.Count > 0)
                    {
                        <div>
                            <label for="shipping-address-select">@T("Checkout.SelectShippingAddressOrEnterNewOne")</label>
                            <div>
                                <select name="shipping_address_id" id="shipping-address-select" class="address-select"
                                    title="" onchange="Shipping.newAddress(!this.value)">
                                    @foreach (var address in Model.ExistingAddresses)
                                    {
                                        var addressLine = "";
                                        addressLine += address.FirstName;
                                        addressLine += " " + address.LastName;
                                        addressLine += ", " + address.Address1;
                                        addressLine += ", " + address.City;
                                        addressLine += ", " + address.StateProvinceName;
                                        addressLine += " " + address.ZipPostalCode;
                                        if (!String.IsNullOrWhiteSpace(address.CountryName))
                                        {
                                            addressLine += ", " + address.CountryName;
                                        }
                                        <option value="@(address.Id)">@(addressLine)</option>
                                    }
                                    <option value="" @(Model.NewAddressPreselected ? Html.Raw(" selected=\"selected\"") : null)>@T("Checkout.NewAddress")</option>
                                </select>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    }
                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_shipping_address_middle" })
                    <div id="shipping-new-address-form">
                        @{
                            var dataDictAddress = new ViewDataDictionary();
                            //Merge ModelState (required for validation)
                            dataDictAddress.ModelState.Merge(ViewData.ModelState);
                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                            @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)              
                        }
                
                    </div>
                    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_shipping_address_bottom" })
                }
            
            
            </div>
            <div id="next">
                <a onclick="api.deliveryNextClick();" href="javascript:void(0)">Next</a>
            </div>
            
        </div>
        <div class="clear"></div>
        <div class="popfooter">
            <p>
                We make it easy to order your favorite Brookhaven Catering meals with no wait.
                <br> Just place and pay for your order online, choose a time and your order will be fresh and ready for you when you arrive. Just go to Customer Service at your Order 
                <br> Location at your pickup time & we will have your order ready to serve!
                <br>Please check items online for time restrictions.  
            </p>
        </div>
    </div>
</div>


<script type="text/javascript">
//<![CDATA[
                            Shipping.init('#co-shipping-form', 'checkout/OpcSaveShipping');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }

//]]>
                        </script>