﻿@using Nop.Plugin.Other.Catering
@using Nop.Plugin.Other.Catering.Models
@model CateringEmailModel
@*@using Nop.Web.Framework*@
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.Events.AddNew") @Html.ActionLink("(" + T("Admin.ContentManagement.Events.BackToList") + ")", "EmailList", "Plugin/Other/Catering/")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="catering-email-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate", Model)
}
@Html.DeleteConfirmation("DeleteEmail", "Plugin/Other/Catering", Model.Id, "catering-email-delete")

