﻿@using Nop.Plugin.Other.Catering.Models
@model OrderNoteModel

<p>
    <b>Order Notes : </b>
    <ol class="order-notes">
        @foreach (var orderNote in Model.EventOrderNotes)
        {
            <li>@orderNote;</li>
        }
    </ol>
</p>

<p>
    <b>@Html.NopLabelFor(model => model.AddOrderNoteMessage) : </b>
</p>
<p>
    @Html.TextAreaFor(model => model.AddOrderNoteMessage, new { style = "Width: 350px; Height: 150px;" })
    @Html.ValidationMessageFor(model => model.AddOrderNoteMessage)
</p>
<p>
    <input type="button" id="addOrderNote" class="k-button" value="@T("Admin.Orders.OrderNotes.AddButton")" />
</p>

<script type="text/javascript">
    $('#addOrderNote').click(function () {
        var orderNoteMessage = $("#@Html.FieldIdFor(model => model.AddOrderNoteMessage)").val();

        $('#addOrderNote').attr('disabled', true);
        $.ajax({
            cache:false,
            url: "/catering/ordernote",
            data: { "eventID": @Model.EventId, "message": orderNoteMessage },
            success: function (data) {
                $('#addOrderNote').attr('disabled', false);
                $("#AddOrderNoteMessage").val("");
                $("ol.order-notes").append("<li>"+ data +"</li>");
                alert("The note has been added");
            },
            error:function (xhr, ajaxOptions, thrownError){
                alert('Failed to add order note.');
                $('#addOrderNote').attr('disabled', false);
            }
        });
    });
</script>
