﻿@*@using Telerik.Web.Mvc.UI*@
@using Nop.Web.Framework.UI;
@model Nop.Plugin.EmailMarketing.Models.EmailCampaignModel
@{
	//page title
	ViewBag.Title = @T("Admin.EmailMarketing.Campaigns.Title.Edit").Text;
}
@using(Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Promotions.Campaigns.EditCampaignDetails") - @Model.Name
						<a href="#/Campaign"> @T("Admin.EmailMarketing.Campaigns.BackToList") </a> 
        </div>
        <div class="options">
            <button name="save" value="save" class="k-button" onclick="submitEditForm(); return false;">@T("Admin.Common.Save")</button>
						<button type="submit" name="save" value="save-continue" class="k-button">@T("Admin.Common.SaveContinue")</button>
						<button name="send" value="send" class="k-button" onclick="SendCampaign(); return false;">@T("Admin.EmailMarketing.Campaigns.Button.SendCampaign")</button>
            <span id="campaign-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.EmailMarketing.Views.EmailMarketing._CreateOrUpdateCampaign", Model)
}
