﻿@using Nop.Plugin.EmailMarketing.Models
@*@using Telerik.Web.Mvc.UI
@model Telerik.Web.Mvc.GridModel<CampaignReportModel>*@
@using Nop.Web.Framework.UI;

@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.Report.Title").Text;

}
<div class="detailReportContent">
	<div class="section-header">
		<div class="title">
			<img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
			@T("Admin.EmailMarketing.Report.Header")
		</div>
		<div class="options">
			<a class="t-button" href="/Admin/Plugin/EmailMarketing/ReportExportExcelAll">Export to Excel (all)</a>
			<a class="t-button" href="/Admin/Plugin/EmailMarketing/ReportExportXmlAll">Export to Xml (all)</a>
		</div>
		
	</div>
	<table class="adminContent">
		<tr>
			<td>
				@*@(Html.Telerik().Grid<CampaignReportModel>(Model.Data)
										.Name("campaign-report-grid")
										.Columns(columns =>
										{
											columns.Bound(x => x.Name)
																		.Width(150);
											columns.Bound(x => x.Subject)
																		.Width(150);
											columns.Bound(x => x.BroadCastTime)
																		.Width(150);
											columns.Bound(x => x.Delivered)
																		.Width(150)
																		.Template(@<text> @item.Delivered [ @item.DeliveredPercentage ] </text>)
																		.ClientTemplate("<#= Delivered #> [ <#= DeliveredPercentage #> ] ");
											columns.Bound(x => x.Opened)
																		.Width(150)
																		.Template(@<text> @item.Opened [ @item.OpenedPercentage ] </text>)
																		.ClientTemplate("<#= Opened #> [ <#= OpenedPercentage #> ] ");
											columns.Bound(x => x.ClickedThrough)
																		.Width(150);
											columns.Bound(x => x.Id)
																.Width(50)
																.Template(@<text><a href="#/ShowTemplate/@item.CampaignId"> Preview Email </a></text>)
																.ClientTemplate("<a href=\"#/ShowTemplate/<#= CampaignId #>\"> Preview Email </a>")
																.Title("Preview");
											columns.Bound(x => x.Id)
																		.Width(50)
																		.Template(@<text><a href="#/DetailReport/@item.Id"> Details	</a></text>)
																		.ClientTemplate("<a href=\"#/DetailReport/<#= Id #>\"> Details </a>")
																		.Title("Details");

										})
										.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
										.DataBinding(dataBinding =>
										{
											dataBinding.Server().Select("Report", "Plugin/Other/EmailMarketing");
											dataBinding.Ajax().Select("Report", "Plugin/Other/EmailMarketing");
										})
										.EnableCustomBinding(true))*@
			</td>
		</tr>
	</table>
</div>

