﻿@using Nop.Web.Framework.Menu;
@model Nop.Plugin.EmailMarketing.Models.ShowTemplateModel
@{
    //page title
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = @T("Admin.Other.EmailMarketing.Campaigns.Title.AddNew").Text;
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/editors/tinymce/tiny_mce.js");
    Html.AddScriptParts("~/Administration/Scripts/fileuploader.js");
    Html.AddCssFileParts("~/Plugins/EmailMarketing/Content/emailmarketing.css");
    Html.AddCssFileParts("~/Administration/Content/fileuploader.css");
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Common.AddNew")
        <a href="../EmailMarketing/Main"> @T("Admin.EmailMarketing.Campaigns.BackToList") </a>
    </div>
</div>
<div>
    @Model.Body;
</div>