﻿@using Nop.Plugin.EmailMarketing.Domain
@model List<EmailTemplate>
<div class="wrap">
	@foreach(var template in Model)
 { 
	 <div class="box">
			<div class="boxInner">
				<div class="titleBox">@template.Name</div>
				<img src="@template.ThumbnailPath" />
				<button onclick="SelectTemplate(@template.Id)">@T("Admin.EmailMarketing.Template.Button.Use")</button>
			</div>
		</div>
 }
</div>