﻿@model TodayOrderDetailListModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

}
@using Nop.Core
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure
@using Nop.Plugin.Misc.LiveNotification.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Extensions;



<div class="page product-tag-page">
    <div class="product-grid ajaxBusyPanelParent nop7SpikesAjaxFiltersGrid">
        @if (Model.Products.Count > 0)
        {
            <div class="item-grid">
                @foreach (var product in Model.Products)
                {
                    <div class="item-box">
                        @Html.Partial("_ProductBox", product)
                    </div>
                }
            </div>
        }
        @{
            var pager = Html.Pager(Model.PagerModel);
        }
        <div class="pager">
            @pager
        </div>
    </div>

</div>
