﻿@using Nop.Web.Framework.UI
@{
    var dateTime = DateTime.Now;
    //Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/jquery.signalR-2.2.0.js?v=" + dateTime.Millisecond);
    //Html.AddScriptParts("~/SignalR/hubs?v=" + dateTime.Millisecond);
    //Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/LiveNotification.js?v=" + dateTime.Millisecond);
    //Html.AddCssFileParts("~/Plugins/LiveNotification/Content/toastr.min.css?v=" + dateTime.Millisecond);
    //Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/toastr.js?v=" + dateTime.Millisecond);
    //Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/TodayOrder.js?v=" + dateTime.Millisecond);
    //Html.AddCssFileParts("~/Plugins/LiveNotification/Content/TodayOrder.css?v=" + dateTime.Millisecond);

    //Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/jquery.signalR-2.2.0.js");
    //Html.AddScriptParts("~/SignalR/hubs");
    //Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/LiveNotification.js");
    
    @*<script src="~/Plugins/LiveNotification/Scripts/jquery.signalr-2.0.3.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Plugins/LiveNotification/Scripts/LiveNotification.js"></script>*@

    Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/jquery.signalr-2.0.3.js");
    Html.AddScriptParts("~/SignalR/hubs");
    Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/LiveNotification.js");
    
    Html.AddCssFileParts("~/Plugins/LiveNotification/Content/toastr.min.css");
    Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/toastr.js");
    Html.AddScriptParts("~/Plugins/LiveNotification/Scripts/TodayOrder.js");
    Html.AddCssFileParts("~/Plugins/LiveNotification/Content/TodayOrder.css");

}
<li id="toptodayorderlink">
    <a href="/LiveNotification/GetAllOrderedProduct" class="ico-wishlist todayorder">
        <span class="wishlist-qty">Today's orders (<span class="todayQty">@ViewBag.todaycount</span>)</span>
    </a>
</li>
@Html.Action("TodayOrderFlyOut", "LiveNotification")