﻿@model Nop.Plugin.Misc.LiveNotification.Models.ToastDesignModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.HomePageProduct").Text;

    <script src="~/Plugins/LiveNotification/Scripts/jscolor.min.js"></script>
}

<script>
    $(document).ready(function() {
        var test='@(ViewBag.backcolor)';
        if(test){
            $(".jscolor").val(test);
        }

        $('#UpdateToastDesignBtn').click(function () {
            UpdateOrCreate("UpdateToastDesign",false);
        });

        function UpdateOrCreate(updateorcreate, isUpdate){
            var Id = $("#toastDesignId").val();
            var BackgroundColor = $("#BackgroundColor").val();
            var ShowDuration = $("#ShowDuration").val();
            var HideDuration = $("#HideDuration").val();
            var TimeOut = $("#TimeOut").val();
            var ExtendedTimeOut = $("#ExtendedTimeOut").val();

            var postData = {
                Id:Id,
                BackgroundColor: BackgroundColor,
                ShowDuration:ShowDuration,
                HideDuration:HideDuration,
                TimeOut:TimeOut,
                ExtendedTimeOut:ExtendedTimeOut
            };

            $.ajax({
                cache: false,
                type: "POST",
                url: "/LiveNotification/"+updateorcreate,
                data: postData,
                success: function(data) {
                    if(data.Result!=true)
                    {
                        alert(data.Result);
                    }
                    else{
                        if(isUpdate){
                            $(".jscolor").val(data.BackgroundColor);
                            $("#BackgroundColor").val(data.BackgroundColor);
                            $("#ShowDuration").val(data.ShowDuration);
                            $("#HideDuration").val(data.HideDuration);
                            $("#TimeOut").val(data.TimeOut);
                            $("#ExtendedTimeOut").val(data.ExtendedTimeOut);
                            $("#UpdateToastDesignBtn").prop("disabled",false);
                        }
                        var grid = $("#toast-grid");
                        grid.data('kendoGrid').dataSource.read();
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Can not add category');
                }
            });
        }
    });
</script>
<input type="hidden" id="toastDesignId" />
<table width="100%">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.BackgroundColor):
        </td>
        <td class="adminData">
            <input class="jscolor" id="BackgroundColor" name="BackgroundColor" style="width: 254px; height: 25px;" type="text"> <span style="color:red">*</span>
            <input type="button" class="k-button" value="@T("Close Color Picker")" />
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ShowDuration):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ShowDuration)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.HideDuration):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.HideDuration)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.TimeOut):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.TimeOut)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ExtendedTimeOut):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ExtendedTimeOut)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td>
                        <input type="button" id="UpdateToastDesignBtn" class="k-button" value="Update Toast Design" disabled="disabled" />
                    </td>
                </tr>
            </table>

        </td>

    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="toast-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#toast-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url:  "@Html.Raw(Url.Action("ToastDesignList", "LiveNotification", new { area = "" }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "BackgroundColor",
                            title: "Toast Background Color",
                            width: 100,
                            template: "<div style='background:#=BackgroundColor#; color:#=BackgroundColor#'>&nbsp;</div>"
                        }, {
                            field: "ShowDuration",
                            title: "Toast Show Duration",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        },
                        {
                            field: "HideDuration",
                            title: "Toast Hide Duration",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        },
                         {
                             field: "TimeOut",
                             title: "Toast Time Out",
                             width: 100
                         },
                        {
                            field: "ExtendedTimeOut",
                            title: "Extended TimeOut",
                            width: 100
                        },
                        {
                            title: "Edite",
                            width: 100,
                            template: '<input type="button" value="@T("Category.ChangePriority")" onclick="editeToastDesign(#=Id#)" class="k-button" />'
                        }]
                    });
                });
            </script>

            <script type="text/javascript">
                function editeToastDesign(Id) {
                    var postData = {
                        Id: Id
                    };

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "/LiveNotification/EditeToastDesign",
                        data: postData,
                        success: function(data) {
                            if(data){
                                $("#toastDesignId").val(data.Id);
                                $(".jscolor").val(data.BackgroundColor);
                                $(".jscolor").css("background-color","#"+data.BackgroundColor);
                                $("#BackgroundColor").val(data.BackgroundColor);
                                $("#ShowDuration").val(data.ShowDuration);
                                $("#HideDuration").val(data.HideDuration);
                                $("#TimeOut").val(data.TimeOut);
                                $("#ExtendedTimeOut").val(data.ExtendedTimeOut);
                                $("#UpdateToastDesignBtn").prop("disabled",false);
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Opps! Some thing going wrong');
                        }
                    });

                }

                function additionalData()
                {
                    return {
                        BackgroundColor: $("#BackgroundColor").val(),
                        ShowDuration:$("#ShowDuration").val()
                    };
                }

            </script>
        </td>
    </tr>
</table>
