﻿@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@if (!Model.OnePageCheckoutEnabled)
            {
                @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
            }

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
       
<div class="panel panel-default form-panel">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">@T("Checkout.ThankYou")</span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
        <h3>@T("Checkout.ThankYou")</h3>
    </div>*@
    <div class="panel-body">
        <div class="row">
            
                



            <div class="col-lg-12 cart-box-wr">
                    

                <div class="coupon-box offer offer-default">
                            
                    <div class="title"><strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong></div>
                    <div class="hint">
                        <div>
                            @T("Checkout.OrderNumber"): @Model.OrderId
                        </div>
                        <br/>


                        


                        <div class="row">
                            <div class="col-lg-3 pull-left">
                                <a class="btn btn-default" href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>

                            </div>
                            <div class="col-lg-3 pull-right pull-text-right">
                                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="btn btn-default" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                            </div>

                        </div>






                    </div>



                            
                </div>

                                             
                    
                    
            </div>
  
            
            
        </div>
        

    </div>

</div>

        </div>
    </div>
</div>




@*
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title">
        <h2>@T("Checkout.ThankYou")</h2>
      </div>
    </div>
  </div>
</div>
<div class="row clearfix f-space10"></div>
            
        
            
            
<div class="container">
    <div class="row">
        <div class="col-lg-12 box-block">
            
            @Html.Widget("checkout_completed_top")
            
                <div class="box-heading">
                    <span>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</span>
                </div>
            <div class="feature-box">
                <div>
                    @T("Checkout.OrderNumber"): @Model.OrderId
                </div>
                <div class="row clearfix f-space30"></div>

                <div>
                    <a class="btn color2" href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
                <div class="text-right">
                    <input type="button" value="@T("Checkout.ThankYou.Continue")" class="btn color2" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                </div>
            </div>

            

                
            
            
            @Html.Widget("checkout_completed_bottom")

        </div>


        



    </div>
</div>
<div class="row clearfix f-space30"></div>

        *@