﻿@model CheckoutPaymentInfoModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
       
<div class="panel panel-default form-panel">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">@T("Checkout.PaymentInfo")</span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
        <h3>@T("Checkout.PaymentInfo")</h3>
    </div>*@
    <div class="panel-body">
        <div class="row">
            
                



            <div class="col-lg-12 cart-box-wr">
                    

                <div class="coupon-box offer offer-default">
                            
    
                    <div class="hint">
                        @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post))
                        {
                            <div class="info">
                                @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                            </div>
                            <div class="text-right">
                                <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="btn btn-default" />
                            </div>
                            <div class="alert">
                                @Html.ValidationSummary(false)
                            </div>
                        }

                    </div>



                            
                </div>

                                             
                    
                    
            </div>
  
            
            
        </div>
        <div class="row">
        
            <div class="col-lg-12 box-block">
                <div class="box-heading">
                    <h4>@T("Checkout.OrderSummary")</h4>
                </div>

                <div class="box-content">
                    @Html.Action("OrderSummary", "ShoppingCart")
                </div>
            </div>
        </div>

    </div>

</div>





        </div>
    </div>
</div>

