﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Shipping })

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
          
<div class="panel panel-default form-panel">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">@T("Checkout.SelectShippingMethod")</span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
        <h3>@T("Checkout.SelectShippingMethod")</h3>
    </div>*@
    <div class="panel-body">
        <div class="row">
            
                



            <div class="col-lg-12 cart-box-wr">
                    

                <div class="coupon-box offer offer-default">
                            
    
                    <div class="hint">
                        @using (Html.BeginRouteForm("CheckoutShippingMethod", FormMethod.Post))
                        {
                            if (Model.Warnings.Count == 0)
                            {
                                <div >
                                    @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                                    {
                                        var shippingMethod = Model.ShippingMethods[i];
                                        <div>
                                            <span class="method-name">
                                                <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" />
                                                <label for="shippingoption_@(i)">@T("Checkout.SelectShippingMethod.MethodAndFee", shippingMethod.Name, shippingMethod.Fee)</label>
                                            </span>
                                            @if (!String.IsNullOrEmpty(shippingMethod.Description))
                                            {
                                                <span class="method-description">
                                                    @Html.Raw(shippingMethod.Description)
                                                </span>
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="text-right">
                                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="btn btn-default" />
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger">
                    
                                    @foreach (var warning in Model.Warnings)
                                    {
                                        <div>@warning</div>
                                    }
                    
                                </div>
                            }
                        }

                    </div>


                            
                </div>

                                             
                    
                    
            </div>
  
            
            
        </div>
        <div class="row">
        
            <div class="col-lg-12 box-block">
                <div class="box-heading">
                    <h4>@T("Checkout.OrderSummary")</h4>
                </div>

                <div class="box-content">
                    @Html.Action("OrderSummary", "ShoppingCart")
                </div>
            </div>
        </div>

    </div>
</div>

        </div>
    </div>
</div>









