﻿@using Nop.Plugin.Upon.Models
@using Nop.Web.Framework
@model UniqueCouponModel
@using Telerik.Web.Mvc.UI
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Create", "Plugin/Upon/UniqueCoupon", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.UniqueCoupon.AddNew") @Html.ActionLink("(" + T("Admin.ContentManagement.UniqueCoupon.BackToList") + ")", "List", "/Plugin/Upon/UniqueCoupon/")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Title):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Offer):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Offer)
                @Html.ValidationMessageFor(model => model.Offer)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Restrictions):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Restrictions)
                @Html.ValidationMessageFor(model => model.Restrictions)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Description):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Quantity):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DateRange):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.DateRange)
            </td>
        </tr>
          <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CouponImageForWebsite):
            </td>
            <td class="adminData">
                @*@Html.TextAreaFor(model => model.BannerCouponImage)*@
              
                <input type="file" name="CouponImageForWebsite" id="CouponImageForWebsite" />
                @Html.ValidationMessageFor(model => model.CouponImageForWebsite)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.BannerCouponImage):
            </td>
            <td class="adminData">
                @*@Html.TextAreaFor(model => model.BannerCouponImage)*@
              
                <input type="file" name="BannerCouponImage" id="BannerCouponImage" />
                @Html.ValidationMessageFor(model => model.BannerCouponImage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StandardCouponImage):
            </td>
            <td class="adminData">
                @*@Html.TextAreaFor(model => model.PrintableCouponImage)*@
                <input type="file" name="StandardCouponImage" id="StandardCouponImage" />
                @Html.ValidationMessageFor(model => model.StandardCouponImage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Disclaimer):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Disclaimer)
                @Html.ValidationMessageFor(model => model.Disclaimer)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.UPC):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.UPC)
                @Html.ValidationMessageFor(model => model.UPC)
            </td>
        </tr>
    </table>
   
}