﻿@using Nop.Plugin.Upon.Models;
@model List<upontotal>
@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid(Model)
                        .Name("UponTotal-report-grid")
                .Columns(columns =>
                {
                    columns.Bound(x => x.UponStatus);
                    columns.Bound(x => x.Today);
                    columns.Bound(x => x.ThisWeek);
                    columns.Bound(x => x.ThisMonth);
                    columns.Bound(x => x.ThisYear);
                    columns.Bound(x => x.AllTime);
                })
                                .DataBinding(dataBinding => dataBinding.Ajax().Select("UponTotalReportList", "/Plugin/Upon/uPonDashboard/"))
                .EnableCustomBinding(true))
        </td>
    </tr>
</table>
