﻿@using Nop.Plugin.Upon.Models;
@model IList<UserPageModel>
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Upon/Content/Upon.css"));

  
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model[0].NavigationModel, new ViewDataDictionary())
}
<div class="eventDetailsConteiner floatLeft">
    @for (int i = 0, j = 0; i < Model.Count; i++)
    {
        if (Model[i].Status == "Active" && Model[i].EndDate >= DateTime.Today && Model[i].ExpirationDate >= DateTime.Today)
        {
            if (j == 0)
            {  <h1>
                Active Upons</h1>}
            j++;
        <div class="eventitem">
            <div class="page-title">
                <h1>@Model[i].Title</h1>
            </div>
            <div class="clear">
            </div>
              <div>
                Description: @Model[i].Description
            </div>
            @*<div>
             <img src="@Model[i].CouponImageForWebsite" width="200"/>
             </div>*@
            <div>
                Offer: @Model[i].Offer
            </div>
            <div>
                Restrictions: @Model[i].Restrictions
            </div>
            <div>
                Expiration Date: @Model[i].ExpirationDate.ToString()
            </div>
            @*<div>
                Status: @Model[i].Status
            </div>
            <div>
                RedemptionDate: @Model[i].RedemptionDate
            </div
            <div>
                <img src="@Model[i].QrcodeImgPath"/>
            </div>>*@
            <div>
                <a href="@Model[i].PdfPath">View PDF</a>
            </div>
        </div> 
        <br />
        }

    }
    @for (int i = 0, j = 0; i < Model.Count; i++)
    {
        if (Model[i].Status != "Active" || Model[i].EndDate < DateTime.Today || Model[i].ExpirationDate < DateTime.Today)
        {
            if (j == 0)
            {
        <h1>
            Expired or Redeemed Upons</h1>
            }
            j++;
        <div class="eventitem">
            <div class="page-title">
                <h1>@Model[i].Title</h1>
            </div>
            <div class="clear">
            </div>
            <div>
                Description: @Model[i].Description
            </div>
            @*<div>
             <img src="@Model[i].CouponImageForWebsite" width="200"/>
             </div>*@
            <div>
                Offer: @Model[i].Offer
            </div>
            @*<div>
                Restrictions: @Model[i].Restrictions
            </div>
            <div>
                First Name: @Model[i].First_Name
            </div>
            <div>
                Last Name: @Model[i].Last_Name
            </div>
            <div>
                E-mail: @Model[i].Email
            </div>*@
            <div>
                Expiration Date: @Model[i].ExpirationDate.ToString()
            </div>
            <div>
                Status: @Model[i].Status
            </div>
            @if (Model[i].RedemptionDate == null)
            {
                <div>
                    RedemptionDate: Not Redeemed
                </div>
            }
            else
            {
                <div>
                    RedemptionDate: @Model[i].RedemptionDate.ToString()
                </div>
            }
            @*<div>
                <img src="@Model[i].QrcodeImgPath"/>
            </div>*@
            <div>
                <a href="@Model[i].PdfPath">View PDF</a>
            </div>
        </div>
        <br />
        }

    }
</div>
