﻿@using Telerik.Web.Mvc.UI
@using Nop.Web.Framework
@model Nop.Plugin.Other.SpecialEvent.Models.SpecialEventModel
@{
	//page title
	Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
	ViewBag.Title = @T("Admin.Plugin.Other.SpecialEvent.AddNew").Text;
	Model.BookingDate = DateTime.Now;
}
@using(Html.BeginForm())
{
    @*<div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @Html.ActionLink("(" + T("Admin.Plugin.Other.SpecialEvent.BackToList") + ")", "List", "/Plugin/Other/SpecialEvent")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>*@
  @Html.ValidationSummary(true)

	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.BookingDate)
	<table class="adminContent">
			<tr>
					<td>
							<b>
									@T("Admin.Plugin.Other.SpecialEvent.FormMessage")
							</b>
							<br />
					</td>
			</tr>
	</table>
	<hr />

	<table class="adminContent">
			<tr>
					<td class="adminTitle">
							@Html.NopLabelFor(model => model.Name):
					</td>
					<td class="adminData">
							@Html.EditorFor(model => model.Name)
							@Html.ValidationMessageFor(model => model.Name)
					</td>
			</tr>
			<tr>
					<td class="adminTitle">
							@Html.NopLabelFor(model => model.Phone):
					</td>
					<td class="adminData">
							@Html.EditorFor(model => model.Phone)
							@Html.ValidationMessageFor(model => model.Phone)
					</td>
			</tr>
			<tr>
					<td class="adminTitle">
							@Html.NopLabelFor(model => model.Email):
					</td>
					<td class="adminData">
							@Html.EditorFor(model => model.Email)
							@Html.ValidationMessageFor(model => model.Email)
					</td>
			</tr>
			<tr>
					<td class="adminTitle">
							@Html.NopLabelFor(model => model.GuestNumbers):
					</td>
					<td class="adminData">
							@Html.EditorFor(model => model.GuestNumbers)
							@Html.ValidationMessageFor(model => model.GuestNumbers)
					</td>
			</tr>
			<tr>
					<td class="adminTitle">
							
					</td>
					<td class="adminData">
							<button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
					</td>
			</tr>
	</table>
}