﻿@model PollModel
@using Nop.Web.Models.Polls;
<div class="block-poll panel panel-default side-nav">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">@T("Polls.Title")</span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
        <strong>@T("Polls.Title")</strong>
    </div>*@
    <div class="panel-body">
        @Html.Partial("_Poll", Model)
    </div>
</div>
