﻿@using Nop.Plugin.OrderForm.Models;
@using Nop.Web.Framework
@*@using Telerik.Web.Mvc.UI*@

@model OrderFormModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts(@Url.Content("~/Plugins/OrderForm/Content/employment.css"));
}
@*@using (Html.BeginForm("SubmitForm", "Plugin/Employment", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.Id)
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    First Name:
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    Middle Name:
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.MiddleName)
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </td>
            </tr>

            <tr>
                <td class="adminTitle">
                    Last Name:
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </td>
            </tr>

                     <tr>
                <td class="adminTitle">
                    Email:
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>

            <div class="options">
                <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            </div>


        </table>

    }*@

@using (Html.BeginForm("SubmitOrderForm", "Plugin/OrderForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false)
    <div>
        <div id="content">
            <div class="mailheader">
                <div id="headertext">Prisco Family Market Holiday Orders</div>
            </div>
            <div class="clear"></div><br>
            Place your special holiday order for Fresh locallly raised Ho-Ka turkeys and our delicious Farmer's Market Pies.
            Please note, if you are ordering for multiple pick-up dates fill out a separate order for each pick-up date.<br><br>
            <b>Watch for Order Condfirmation</b>Once you send us your holidy special order watch your email.  You should recieve an order confirmation response within 24 hours of the time you send it.  If you do not recieve an confirmation call the store at (630) 264-9400.
            <div style="width: 90%" class="leftfloat">
                <div id="personal">
                    <h5>Personal Information</h5>
                </div>
                <span style="float: right;" class="formfont">DATE:<label id="">@DateTime.Now</label></span><br />
            </div><br>
            <div id="empname">
                <table>
                    <tbody>
                        <tr>
                            <td><b>YOUR NAME:</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Last:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="LastName" name="LastName" /></td>
                        </tr>
                        <tr>
                            <td>First:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="FirstName" name="FirstName" /></td>
                        </tr>
                        <tr>
                            <td>Middle:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="MiddleName" name="MiddleName" /></td>
                        </tr>
                        <tr>
                            <td><b>ADDRESS:</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Street Address:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="Street" name="Street" /></td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="City" name="City" /></td>
                        </tr>
                        <tr>
                            <td>State &amp; Zip Code:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="StateZip" name="StateZip" /></td>
                        </tr>
                        <tr>
                            <td>Home Phone No.:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="HomePhone" name="HomePhone" /></td>
                        </tr>
                        <tr>
                            <td>Cell No.:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="Cell" name="Cell" /></td>
                        </tr>
                        <tr>
                            <td>SS #:</td>
                            <td><input type="text" style="width: 250px;" class="textBox" id="SS" name="SS" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div style="font-size: 10pt;">
                <div style="width: 800px; padding: 5px;" class="leftfloat">
                    <span class="leftfloat padright5">Are you at least 16 years old? (Please check)</span>
                    <table border="0" id="">
                        <tbody>
                            <tr>
                                <td><input type="radio" value="Yes" name="Age16" id="Age16" /><label for="">Yes</label></td>
                                <td><input type="radio" value="No" name="Age16" id="Age16" /><label for="">No</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="width: 800px; padding: 5px;" class="leftfloat">
                    <span class="leftfloat padright5">Are you at least 18 years old? (Please check)</span>
                    <table border="0" id="">
                        <tbody>
                            <tr>
                                <td><input type="radio" value="Yes" name="Age18" id="Age18" /><label for="">Yes</label></td>
                                <td><input type="radio" value="No" name="Age18" id="Age18" /><label for="">No</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="width: 800px; padding: 5px;" class="leftfloat">
                    <span class="leftfloat padright5">Are you legally authorized for employment in the United	States? (Please check)</span>
                    <table border="0" id="">
                        <tbody>
                            <tr>
                                <td><input type="radio" value="Yes" name="UsaWorkPermit" id="UsaWorkPermit" /><label for="UsaWorkPermit">Yes</label></td>
                                <td><input type="radio" value="No" name="UsaWorkPermit" id="UsaWorkPermit" /><label for="UsaWorkPermit">No</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="width: 800px; padding: 5px;" class="leftfloat">
                    <span class="leftfloat padright5">If hired, will you be able to provide proof of legal	eligibility to work? (Please check)</span>
                    <table border="0" id="">
                        <tbody>
                            <tr>
                                <td><input type="radio" value="Yes" name="UsaWorkPermitProof" id="UsaWorkPermitProof" /><label for="">Yes</label></td>
                                <td><input type="radio" value="No" name="UsaWorkPermitProof" id="UsaWorkPermitProof" /><label for="">No</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div style="width: 800px; padding: 5px;" class="leftfloat">
                    <span class="leftfloat padright5">How did you hear we were hiring? </span><span class="leftfloat">
                        <input type="text" style="width: 350px;" class="textBox" id="HiringNewsSource" name="HiringNewsSource" />
                    </span>
                </div>
                <br />
            </div>
            <br>
            <div style="width: 90%" class="leftfloat">
                <h5>Employment Desired</h5><br />
            </div>
            <br />
            <table>
                <tbody>
                    <tr>
                        <td>Position:</td>
                        <td><input type="text" style="width: 250px;" class="textBox" id="Position" name="Position" /></td>
                        <td>Date You Can Start:</td>
                        <td><input type="text" style="width: 150px;" class="textBox" id="StartDate" name="StartDate" /></td>
                        <td>Salary Desired:</td>
                        <td><input type="text" style="width: 200px;" class="textBox" id="Salary" name="Salary"></td>
                    </tr>
                    <tr>
                        <td>Store:</td>
                        <td>
                            <select style="width: 200px;" id="Store" name="Store">
                                <option value="Darien" selected="selected">Darien</option>
                                <option value="Mokena">Mokena</option>
                                <option value="Burr Ridge">Burr Ridge</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>
                            <select style="width: 200px;" id="Department" name="Department">
                                <option value="Bakery" selected="selected">Bakery</option>
                                <option value="Carts">Carts</option>
                                <option value="Cashier">Cashier</option>
                                <option value="Customer Service">Customer Service</option>
                                <option value="Dairy">Dairy</option>
                                <option value="Deli">Deli</option>
                                <option value="Frozen">Frozen</option>
                                <option value="General">General</option>
                                <option value="Grocery">Grocery</option>
                                <option value="Kitchen/Catering">Kitchen/Catering</option>
                                <option value="Liquor">Liquor</option>
                                <option value="Management">Management</option>
                                <option value="Meat">Meat</option>
                                <option value="Pricing">Pricing</option>
                                <option value="Produce">Produce</option>
                                <option value="Receiving">Receiving</option>
                                <option value="Seafood">Seafood</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            Please list your availability to work:
            <table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
                <tbody>
                    <tr>
                        <td>Sunday</td>
                        <td>Monday</td>
                        <td>Tuesday</td>
                        <td>Wednesday</td>
                        <td>Thursday</td>
                        <td>Friday</td>
                        <td>Saturday</td>
                    </tr>
                    <tr>
                        <td class="workweek">
                            <textarea rows="2" cols="20" id="AvailableSunday" name="AvailableSunday"></textarea>
                        </td>
                        <td class="workweek">
                            <textarea rows="2" cols="20" id="AvailableMonday" name="AvailableMonday"></textarea>
                        </td>
                        <td class="workweek">
                            <textarea rows="2" cols="20" id="AvailableTuesday" name="AvailableTuesday"></textarea>
                        </td>
                        <td class="workweek">
                            <textarea rows="2" cols="20" id="AvailableWednesday" name="AvailableWednesday"></textarea>
                        </td>
                        <td class="workweek">
                            <textarea rows="2" cols="20" id="AvailableThursday" name="AvailableThursday"></textarea>
                        </td>
                        <td class="workweek">
                            <textarea rows="2" cols="20" id="AvailableFriday" name="AvailableFriday"></textarea>
                        </td>
                        <td class="workweek">
                            <textarea rows="2" cols="20" id="AvailableSaturday" name="AvailableSaturday"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div style="width: 100%; padding: 5px;" class="leftfloat">
                <span class="leftfloat padright5">
                    What is the number of maximum hours you can work per	week?
                    <input type="text" style="width: 250px;" class="textBox" id="MaxWorkingHour" name="MaxWorkingHour" />
                </span>
                <span class="leftfloat padright5">
                    What is the number of hours you prefer to work per week?
                    <input type="text" style="width: 250px;" class="textBox" id="PreferWorkingHour" name="PreferWorkingHour" />
                </span>
                <span class="leftfloat padright5">
                    To better serve our customers do you speak any languages other than English?
                    <input type="text" style="width: 250px;" class="textBox" id="OtherLanguage" name="OtherLanguage" />
                </span>
                <span class="leftfloat padright5">
                    <span class="leftfloat"><input type="checkbox" name="PreferNotAnswer" id="PreferNotAnswer" /><label for="">Prefer not to answer.</label></span>
                </span>
            </div>
            <div style="width: 100%; padding: 5px;" class="leftfloat">
                <span class="leftfloat padright5">
                    <span class="leftfloat">EVER APPLIED TO THIS COMPANY BEFORE?</span>
                    <span style="padding-right: 15px" class="leftfloat">
                        <table border="0" id="">
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="radio" value="Yes" name="AppliedBefore" id="AppliedBefore"><label for="">Yes</label>
                                    </td>
                                    <td>
                                        <input type="radio" value="No" name="AppliedBefore" id="AppliedBefore"><label for="">No</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                    WHERE?
                    <span class="addunderline">
                        <input type="text" style="width: 180px;" class="textBox" id="Where" name="Where">
                    </span> WHEN?
                    <span class="addunderline">
                        <input type="text" style="width: 180px;" class="textBox" id="When" name="When">
                    </span>
                </span>
            </div>
            <br />
            <br />
            <div style="width: 90%" class="leftfloat">
                <h5>Education History</h5>
                <br />
            </div>
            <table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; border-top: 1px solid black;	border-left: 1px solid black;" class="thistable">
                <tbody>
                    <tr>
                        <td style="border-right: none">
                            NAME &amp; LOCATION OF SCHOOL
                        </td>
                        <td style="border-left: none"></td>
                        <td>
                            Years Completed
                        </td>
                        <td>
                            STATUS
                        </td>
                        <td>
                            SUBJECT STUDIED
                        </td>
                    </tr>
                    <tr style="height: 60px;">
                        <td>
                            HIGH SCHOOL
                        </td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="HighSchoolName" name="HighSchoolName"></textarea>
                        </td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="HighSchoolComplete" name="HighSchoolComplete"></textarea>
                        </td>
                        <td style="vertical-align: top">
                            <table border="0" class="rblTable" id="">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Graduated/GED" name="HighSchoolStatus" id="HighSchoolStatus" /><label for="">Graduated/GED</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Still	in school" name="HighSchoolStatus" id="HighSchoolStatus" /><label for="">Still	in school</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Not	currently in school" name="HighSchoolStatus" id="HighSchoolStatus" /><label for="">Not	currently in school</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="HighSchoolSubject" name="HighSchoolSubject"></textarea>
                        </td>
                    </tr>
                    <tr style="height: 60px;">
                        <td>COLLEGE</td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="CollegeName" name="CollegeName"></textarea>
                        </td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="CollegeComplete" name="CollegeComplete"></textarea>
                        </td>
                        <td style="vertical-align: top">
                            <table border="0" class="rblTable" id="">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Graduated/GED" name="CollegeStatus" id="CollegeStatus" /><label for="">Graduated/GED</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Still in school" name="CollegeStatus" id="CollegeStatus" /><label for="">Still in school</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Not	currently in school" name="CollegeStatus" id="CollegeStatus" /><label for="">Not	currently in school</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="CollegeSubject" name="CollegeSubject"></textarea>
                        </td>
                    </tr>
                    <tr style="height: 60px;">
                        <td>OTHER</td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="OtherName" name="OtherName"></textarea>
                        </td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="OtherComplete" name="OtherComplete"></textarea>
                        </td>
                        <td style="vertical-align: top">
                            <table border="0" class="rblTable" id="">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Graduated/GED" name="OtherStatus" id="OtherStatus"><label for="">Graduated/GED</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Still	in school" name="OtherStatus" id="OtherStatus"><label for="">Still	in school</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" value="Not	currently in school" name="OtherStatus" id="OtherStatus"><label for="">Not	currently in school</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="vertical-align: top;">
                            <textarea rows="3" cols="20" id="OtherSubject" name="OtherSubject"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <div style="width: 90%" class="leftfloat">
                <h5>Employment Experience</h5>
                <span style="font-size: 8pt;">(Please list your employment experience, starting with	the most recent first.)</span>
                <br>
            </div>
            <div style="width: 100%; padding: 5px;" class="leftfloat">
                <span class="leftfloat">Are you currently employed?&nbsp;</span>
                <span style="padding-right: 15px" class="leftfloat">
                    <table border="0" id="">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" value="Yes" name="CurrentlyEmployed" id="CurrentlyEmployed" /><label for="">Yes</label>
                                </td>
                                <td>
                                    <input type="radio" value="No" name="CurrentlyEmployed" id="CurrentlyEmployed" /><label for="">No</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </div>
            <div style="width: 100%; padding: 5px;" class="leftfloat">
                <span class="leftfloat">If yes, may we contact your current employer? &nbsp;</span>
                <span style="padding-right: 15px" class="leftfloat">
                    <table border="0" id="">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" value="Yes" name="ContactCurrentEmployerPermission" id="ContactCurrentEmployerPermission" /><label for="">Yes</label>
                                </td>
                                <td>
                                    <input type="radio" value="No" name="ContactCurrentEmployerPermission" id="ContactCurrentEmployerPermission" /><label for="">No</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </span>
                <span style="font-size: 8pt;" class="leftfloat">
                    (Brookhaven Marketplace will
                    only contact current employer only if you consent. Our Company reserves the right
                    to contact the other employers listed without any further notice to you.)
                </span>
            </div>
            <br />
            <table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; border-top: 1px solid black; border-left: 1px solid black;" class="thistable">
                <tbody>
                    <tr style="text-align: center; height: 40px;">
                        <td style="width: 10%;">
                            <b>FROM</b><br />
                            <span style="font-size: 8pt;">MONTH &amp; YEAR</span>
                        </td>
                        <td style="width: 10%;">
                            <b>TO</b><br>
                            <span style="font-size: 8pt;">MONTH &amp; YEAR</span>
                        </td>
                        <td style="width: 25%; font-size: 9pt;">NAME, ADDRESS &amp; PHONE OF EMPLOYER</td>
                        <td style="width: 10%;">SALARY</td>
                        <td style="width: 15%;">POSITION/DUTIES</td>
                        <td style="width: 20%;">REASON FOR LEAVING</td>
                    </tr>
                    <tr style="height: 80px;">
                        <td>
                            <textarea rows="3" cols="20" id="FromMonthYear1" name="FromMonthYear1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="ToMonthYear1" name="ToMonthYear1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Employer1" name="Employer1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Salary1" name="Salary1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Position1" name="Position1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="LeavingReason1" name="LeavingReason1"></textarea>
                        </td>
                    </tr>
                    <tr style="height: 80px;">
                        <td>
                            <textarea rows="3" cols="20" id="FromMonthYear2" name="FromMonthYear2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="ToMonthYear2" name="ToMonthYear2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Employer2" name="Employer2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Salary2" name="Salary2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Position2" name="Position2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="LeavingReason2" name="LeavingReason2"></textarea>
                        </td>
                    </tr>
                    <tr style="height: 80px;">
                        <td>
                            <textarea rows="3" cols="20" id="FromMonthYear3" name="FromMonthYear3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="ToMonthYear3" name="ToMonthYear3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Employer3" name="Employer3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Salary3" name="Salary3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Position3" name="Position3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="LeavingReason3" name="LeavingReason3"></textarea>
                        </td>
                    </tr>
                    <tr style="height: 80px;">
                        <td>
                            <textarea rows="3" cols="20" id="FromMonthYear4" name="FromMonthYear4"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="ToMonthYear4" name="ToMonthYear4"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Employer4" name="Employer4"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Salary4" name="Salary4"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Position4" name="Position4"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="LeavingReason4" name="LeavingReason4"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="width: 90%" class="leftfloat">
                <h5>GENERAL INFORMATION</h5>
            </div>
            <br />
            <table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; height: 200px;	border-top: 1px solid black; border-left: 1px solid black;" class="thistable">
                <tbody>
                    <tr>
                        <td style="font-size: 8pt;">
                            <span>SUBJECT OF SPECIAL STUDY /RESERCH</span><br>
                            <span>WORK OR SPECIAL TRAINING/SKILLS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea rows="3" cols="60" id="SpecialStudy" name="SpecialStudy"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea rows="3" cols="60" id="SpecialTraining" name="SpecialTraining"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 8pt;">
                            Military Experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position/Supervisor
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div style="width: 100%" class="leftfloat">
                <h5>REFERENCES</h5>
                <span style="padding-left: 15px;">GIVE BELOW THE NAMES OF THREE PERSONS NOT RELATED TO YOU, WHOM YOU HAVEKNOWN AT LEAST ONE YEAR.</span>
                <br />
            </div>
            <table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; height: 200px;	border-top: 1px solid black; border-left: 1px solid black;" class="thistable">
                <tbody>
                    <tr style="text-align: center; height: 30px;">
                        <td style="width: 20%;"><b>NAME</b></td>
                        <td style="width: 30%;"><b>ADDRESS</b></td>
                        <td style="width: 15%;"><b>PHONE NUMBER</b></td>
                        <td style="width: 20%;"><b>BUSINESS</b></td>
                        <td style="width: 15%;"><b>Relationship</b></td>
                    </tr>
                    <tr>
                        <td>
                            <textarea rows="3" cols="20" id="Name1" name="Name1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Address1" name="Address1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="PhoneNumber1" name="PhoneNumber1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Business1" name="Business1"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Relationship1" name="Relationship1"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea rows="3" cols="20" id="Name2" name="Name2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Address2" name="Address2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="PhoneNumber2" name="PhoneNumber2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Business2" name="Business2"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Relationship2" name="Relationship2"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea rows="3" cols="20" id="Name3" name="Name3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Address3" name="Address3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="PhoneNumber3" name="PhoneNumber3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Business3" name="Business3"></textarea>
                        </td>
                        <td>
                            <textarea rows="3" cols="20" id="Relationship3" name="Relationship3"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <div style="width: 100%" class="leftfloat">
                <h5>PREVIOUS CONVICTION INFORMATION</h5>
                <br />
                <span style="font-weight: bold; font-size: 10pt;">
                    The existence of a conviction will not automatically disqualify you
                    as a job applicant.
                </span> <span style="padding-left: 5px; font-size: 9pt;">
                    Do not answer
                    “yes” if the conviction has been expunged, annulled, sealed, statutorily eradicated,
                    pardoned, dismissed upon condition of probation, or is only a minor traffic violation.
                </span>
                <br />
            </div>
            <div style="width: 100%; padding: 5px;" class="leftfloat">
                <span class="leftfloat">Have you ever been convicted of a crime other than a minor traffic violation?&nbsp;</span>
                <span style="padding-right: 15px" class="leftfloat">
                    <table border="0" id="">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" value="Yes" name="ConvictionExplaination" id="ConvictionExplaination" /><label for="">Yes</label>
                                </td>
                                <td>
                                    <input type="radio" value="No" name="ConvictionExplaination" id="ConvictionExplaination" /><label for="">No</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </div>
            <div style="width: 100%; padding: 5px;" class="leftfloat">
                <span class="leftfloat">If yes, please explain: &nbsp;</span>
                <textarea rows="3" cols="60" id="Explaination" name="Explaination"></textarea>
            </div>
            <div style="width: 100%" class="leftfloat">
                <h5>AUTHORIZATION</h5>
                <br />
            </div>
            <span style="width: 100%;" class="leftfloat">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“I
                certify that the fact contained in this application are true and complete to the
                best of my knowledge and understand that, if employed, falsified statements on this
                application shall be grounds for dismissal.
            </span> <span style="width: 100%;" class="leftfloat">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I authorized investigation of all statements
                contained herein and the references and employers listed above to give you any and
                all information concerning my previous employment and my any pertinent information
                they may have, personal or otherwise, and release the company from all liability
                for any damage that may result from utilization of such information.
            </span>
            <span style="width: 100%;" class="leftfloat">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I
                also understand and agree that no representative of the company has any authority
                to enter into any agreement for employment for any specified period of time, or
                to make any agreement contrary to the foregoing, unless it is in writing and signed
                by an authorized company representative.
            </span><span style="width: 100%;" class="leftfloat">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This waiver does not permit the release
                or use of disability-related or medical information in a manner prohibited by the
                Americans with Disabilities Act (ADA) and other relevant federal and state laws.”
            </span>
            <span style="width: 100%;" class="leftfloat">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
                application is just that, an application. It is not an offer, promise or contract
                of employment, either expressed or implied. All of our employees are “at will” employees,
                which means that employees can terminate the employment at any time, for any or
                no reason. Brookhaven Marketplace reserves the right to change and/or terminate
                an employee’s employment, with or without notice or cause at any time.
            </span>
            <div style="width: 100%" class="leftfloat">
                <br />
                <br />
                <span class="leftfloat">DATE:</span>
                <span class="leftfloat addunderline">
                    <input type="text" style="width: 250px;" class="textBox" id="DateToday" name="DateToday" />
                </span>
                <span class="leftfloat">SIGNATURE:</span>
                <span class="leftfloat addunderline">
                    <input type="text" style="width: 300px;" class="textBox" id="Signature" name="Signature" />
                </span>
            </div>
        </div>
    </div>
    <br />
    <input id="" class="btn" type="submit" value="Send" name="" />

}



