﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<section style="margin-top:30px; overflow:hidden;padding-bottom:30px;">
    <div class="container" style="max-width:1149px;">
        @Html.Widget("main_column_before")

        @RenderBody()
        @Html.Widget("main_column_after")
    </div>
</section>
