﻿@using Nop.Plugin.Recipe.Models
@model SpecialsModel


<div class="featured-items">
    <h4 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">Featured Items</span>
        <span class="solid_line"></span>
    </h4>
    @for (int i = 0; i < Model.Specials.Count; i++)
    {
        var item = Model.Specials[i];
        if (item.featured == "true")
        {
            <div class="featured_item">
                <div class="row clearfix">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="item_text">
                            <span class="brand">@item.brand</span>
                            <span class="product">@item.product</span>
                            <span class="discount-details">@item.description.Replace("'", "\\'")</span>
                            <div class="item_offer">@item.offer</div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="item_image">
                            <img src="@item.image" alt="image not found">
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                           <div class="shoppinglist-add">
                            <div id="">
                                @if (ViewBag.unregistered == false)
                                {
                                    if (ViewBag.dontshowaddshoppinglist == false)
                                    {
                                        if (@item.isAlreadyOnDatabase == "false")
                                        {
                                            <a class="sidebar-action" id="special_adding_@(item.id)" onclick="saveSpecialToShoppingList('@item.id', '@item.brand.Replace("'", "\\'")', '@item.product.Replace("'", "\\'")', '@item.description.Replace("'", "\\'")', '@item.offer.Replace("'", "\\'")', '@item.image','@item.recipe_title.Replace("'", "\\'")', '@item.recipe_id', '@item.featured.Replace("'", "\\'")')">
                                                <div class="AddIconSpecial">
                                                </div>
                                                Add to my Shopping List
                                            </a>
                                            <div id="special_added_@(item.id)" class="specialAdded">
                                                <div id="" class="AcceptIconCookBook">
                                                </div>
                                                <span>This is in your Shopping List</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="special_added_@(item.id)" class="newLine">
                                                <div id="" class="AcceptIconCookBook">
                                                </div>
                                                <span>This is in your Shopping List</span>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        <div id="special_added_@(item.id)">
                                            <div id="" class="AcceptIconSpecial">
                                            </div>
                                            <span>This is in your Shopping List</span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <a class="sidebar-action" id="special_adding_@(item.id)" href="@Url.RouteUrl("Login")">
                                        <div class="AddIconSpecial">
                                        </div>
                                        Add to my Shopping List
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

