﻿<div class="panel item-box-right">
    <h4 class="single-line">New at Prisco's Family Market</h4>
    <div class="picture">
        <img alt="Picture of EASTER BAKING RECIPES" src="/Themes/ProcoMarketing/Content/images/imagine-broth.jpg">
    </div>
    <div class="item-info">
        <p class="single-line"><strong>Imagine Broth - Chicken, Beef or Vegetable<br></strong></p>
        <p class="single-line">32 oz. carton</p>
        <p><a>view more</a></p>
    </div>
</div>


<div class="panel item-box-right">
    <h4 class="single-line">Our Chef Suggests</h4>
    <div class="picture">
        <img alt="Picture of EASTER BAKING RECIPES" src="/Themes/ProcoMarketing/Content/images/beef.jpg">
    </div>
    <div class="item-info">
        <p class="single-line"><strong>Prisco's homemade Italian Beef<br></strong></p>
        <p class="single-line">Anyone who tries it is hooked for life!</p>
        @*<p><a>view more</a></p>*@
    </div>
</div>


<div class="panel item-box-right">
    <h4 class="single-line">Featured Recipe</h4>
    <div class="picture">
        <img alt="Picture of EASTER BAKING RECIPES" src="/Themes/ProcoMarketing/Content/images/betty.jpg">
    </div>
    <div class="item-info">
        <p class="single-line"><strong>Apple Brown Betty<br></strong></p>
        <p class="single-line">Prep time: 15 minutes | Cook time: 60 minutes</p>
        <p><a>view more</a></p>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".picture").css('height', $(".picture").innerWidth() / 100 * 60 + "px");
    });
    $(window).resize(function () {
        $(".picture").css('height', $(".picture").innerWidth() / 100 * 60 + "px");
    });
</script>