﻿@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI
@{
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    if (supportRtl)
    {
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/responsive.css");
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/styles.rtl.css");
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/styles.css");
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/bootstrap-3.2.0/css/bootstrap.rtl.css");
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/font-awosome-3/css/font-awesome.rtl.css");
        Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    }
    else
    {
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/responsive.css");
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/styles.css");
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/bootstrap-3.2.0/css/bootstrap.min.css");
        Html.AppendCssFileParts("~/Themes/SouthTownHealthFoods/Content/font-awosome-3/css/font-awesome.css");
        Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
    }
    <meta name="viewport" content="width=device-width, initial-scale=1">
}