﻿@*<div class="navbar navbar-default navbar-fixed-top top-menu" role="navigation">*@
<section class="navbar navbar-default top-menu" role="navigation">
    <div class="container">
        <div class="row clearfix">
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".test">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse test">
            @Html.Widget("header")
            @Html.Action("HeaderLinks", "Common")
            @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
        </div>
    </div>
</section>
@*<div class="container">
    <div class="row clearfix">
        <div class="col-md-12">
            @Html.Partial("_Notifications")
        </div>
    </div>
</div>*@


