﻿@*@using Nop.Plugin.Events.Models
@model EventModel
*@
@*@using Telerik.Web.Mvc.UI;
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Title):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ShortDescription):
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.ShortDescription, new { style = "Width: 500px; Height: 150px;" })
            @Html.ValidationMessageFor(model => model.ShortDescription)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.FullDescription):
        </td>
        <td class="adminData">
            @Html.EditorFor(x => x.FullDescription, "RichEditor")
            @Html.ValidationMessageFor(model => model.FullDescription)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.DayTime):
        </td>

        <td class="adminData">
        @(Html.Telerik().DateTimePicker()
        .Name(ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty))
        //.Value(Model > DateTime.MinValue? Model : DateTime.Today)
        )
        </td>
    </tr>
    
</table>*@
