﻿@using Nop.Plugin.Other.Catering.Models
@model CateringCheckoutConfirmModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
<div class="checkout-data">
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_confirm_top" })
    <div>
        @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
        {
            @Model.MinOrderTotalWarning
        }
    </div>
    @if (Model.Warnings.Count > 0)
    {
        <div class="clear">
        </div>
        <div class="message-error">
            @for (int i = 0; i < Model.Warnings.Count; i++)
            {
                @Model.Warnings[i]
                if (i != Model.Warnings.Count - 1)
                {
                <br />
                }
            }
        </div>
    }
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "op_checkout_confirm_bottom" })
    <div class="clear">
    </div>
    <div class="order-completed">
        <div class="body">
            @Model.CurrentEventId
            @Html.Action("OrderNote", "Catering", new { eventID = @Model.CurrentEventId })
        </div>
    </div>
    <div class="order-summary-body">
        @Html.Action("OrderSummary", "ShoppingCart", new { isEditable = false })
    </div>
</div>
