﻿@model OnePageCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_CateringLayoutOne.cshtml";

    Html.AddScriptParts("~/Scripts/public.accordion.js");
    Html.AddScriptParts("~/Scripts/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

@{
    //step numbers
    int shippingMethodStepNumber = 1;
    int paymentMethodStepNumber = 2;
    int paymentInfoStepNumber = 3;
    int billingAddressStepNumber = 4;
    int confirmOrderStepNumber = 5;
    
    if (!ViewBag.RequiredBillingAddress)
    {
        //shippingMethodStepNumber--;
        //paymentMethodStepNumber--;
        //paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}

<h3>Catering Event</h3>
<div>
    @Html.Action("EventBrief", "Catering")
</div>

<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">
        <ol class="opc" id="checkout-steps">
            
            
            
            <li id="opc-shipping_method" class="tab-section">
                <div class="step-title">
                    <span class="number">@shippingMethodStepNumber</span>
                    <h2>@T("Checkout.ShippingMethod")</h2>
                </div>
                <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                    <form id="co-shipping-method-form" action="">
                    <div id="checkout-shipping-method-load">
                        @*shipping methods content will be loaded here*@
                        @Html.Action("CateringLoadShippingMethod", "Catering")
                    </div>
                    <script type="text/javascript">
                        ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/CateringSaveShippingMethod/');
                    </script>
                    <div class="buttons" id="shipping-method-buttons-container">
                        <input type="button" class="button-1 orange-btn shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                        <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                    </form>
                </div>
            </li>
            
            <li id="opc-payment_method" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentMethodStepNumber</span>
                    <h2>@T("Checkout.PaymentMethod")</h2>
                </div>
                <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-method-form">
                    <div id="checkout-payment-method-load">
                        @*payment methods content will be loaded here*@ 
                        @Html.Action("CateringLoadPaymentMethod", "Catering")
                        @*billing address content will be loaded here*@Payment is not required
                    </div>
                    </form>
                    <script type="text/javascript">
                        PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/CateringSavePaymentMethod/');
                    </script>
                    <div class="buttons" id="payment-method-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 orange-btn payment-method-next-step-button" onclick="PaymentMethod.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            
            <li id="opc-payment_info" class="tab-section">
                <div class="step-title">
                    <span class="number">@paymentInfoStepNumber</span>
                    <h2>@T("Checkout.PaymentInfo")</h2>
                </div>
                <div id="checkout-step-payment-info" class="step a-item" style="display: none;">
                    <form action="" id="co-payment-info-form">
                    <div id="checkout-payment-info-load">
                        @*payment info content will be loaded here*@ Payment is not required
                    </div>
                    </form>
                    <script type="text/javascript">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/CateringSavePaymentInfo/');
                    </script>
                    <div class="buttons" id="payment-info-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="billing orange-btn" onclick="api.loadBillingForm();" value="Add Billing Address" />
                        <input type="button" class="button-1 orange-btn payment-info-next-step-button" onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                        <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
                </div>
            </li>
            
            @if(ViewBag.RequiredBillingAddress)
            {
                <li id="opc-billing" class="tab-section allow">
                    <div class="step-title">
                        <span class="number">@billingAddressStepNumber</span>
                        <h2>@T("Checkout.BillingAddress")</h2>
                    </div>
                    <div id="checkout-step-billing" class="step a-item" style="display: none;">
                        <form id="co-billing-form" action="">
                        <div id="checkout-billing-load">
                            @Html.Action("OpcBillingForm", "Checkout")
                            @*billing address content will be loaded here*@
                        </div>
                        </form>
                        <script type="text/javascript">
                            Billing.init('#co-billing-form', '@(storeLocation)checkout/CateringSaveBilling/');
                            if ($("#billing-address-select").length > 0) {
                                Billing.newAddress(!$('#billing-address-select').val());
                            }
                            $("#BillingNewAddress_CountryId").val("1");
                            $("#BillingNewAddress_CountryId").trigger('change');
                        </script>
                        <div class="buttons" id="billing-buttons-container">
                            <p class="back-link"><a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                            <input type="button" title="@T("Common.Continue")" class="button-1 orange-btn new-address-next-step-button" onclick="Billing.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>
                    </div>
                </li>
            }
            <li id="opc-confirm_order" class="tab-section">
                <div class="step-title">
                    <span class="number">@confirmOrderStepNumber</span>
                    <h2>@T("Checkout.ConfirmOrder")</h2>
                </div>
                <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                    <div id="checkout-confirm-order-load">
                        @*confirm order content will be loaded here*@
                    </div>
                    <script type="text/javascript">
                        ConfirmOrder.init('@(storeLocation)checkout/CateringConfirmOrder/', '@(storeLocation)checkout/completed/');
                    </script>
                    <div class="buttons" id="confirm-order-buttons-container">
                        <p class="back-link">
                            <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a></p>
                        <input type="button" class="button-1 orange-btn confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                        <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <script type="text/javascript">
        Accordion.init('checkout-steps', '.step-title', true);
        
        //alert('@ViewBag.RequiredBillingAddress');
        Checkout.init('@(storeLocation)cart/');
        
        Accordion.openSection('#shipping_method');
        Checkout.gotoSection('shipping_method');
        
    </script>
</div>
