﻿@model SliderModel
@using Nop.Plugin.Widgets.BsSlider.Models;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            Add New Slider @Html.ActionLink("(" + T("Admin.ContentManagement.Events.BackToList") + ")", "List", "Plugin/BsSlider/Slider/")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.ValidationSummary(false)
    
    
    {
        @Html.Partial("_CreateOrUpdate", Model)              
    }
    
   
}

