﻿@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        @T("Admin.Customers.CustomerRoles")
    </div>
    <div class="options">
        <a href="@Url.Action("Create", "/Plugin/BsSlider/Slider/")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>


<table class="adminContent">
    <tr>
        <td>
            <div id="slider-grid"></div>

            <script>
    $(document).ready(function () {
        $("#slider-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "List",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(gridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Name",
                title: "Name"
            }, {
                field: "WidgetZone",
                title: "WidgetZone"
            }, {
                field: "Height",
                title: "Height"
            }, {
                field: "DisplayOrder",
                title: "Display Order"
            }, {
                field: "Effect",
                title: "Effect"
            },{
                field: "Published",
                title: "Published",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Published#.gif" />'
            },{
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 100,
                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
            }]
        });
    });
            </script>
        </td>
    </tr>
</table>