﻿@model SliderPictureModel
@using Nop.Plugin.Widgets.BsSlider.Models;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            Edit Slider Picture <a href="/Admin/Plugin/BsSlider/Slider/Edit/@Model.SliderId">(Back To List)</a>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="k-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="k-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.ValidationSummary(false)
    <fieldset>
        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture")</strong></legend>
        <table class="adminContent">

            @{
                @Html.Partial("_PictureCreateOrUpdate", Model)
            }
        </table>
    </fieldset>
}

