﻿@using Nop.Plugin.RecipeNew.Models
@model RecipeResults
@{
    Layout = "";
    if (ViewBag.noresult == "")
    { Html.AddTitleParts(Model.Title); }
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <br>
    <br>
    @if (ViewBag.noresult != null)
    {
        ViewBag.noresult;
    }
    else
    {
        <a href="/recipes/@ViewBag.recipeId" target="_blank">
            <span style="font-size: 18px;
        font-weight: bold; color: #30428d; font-family: Verdana,Arial,Helvetica,sans-serif;
        text-decoration: none">@ViewBag.recipe_title</span>
    </a>
        <table>
            <tr>
                <td valign="top">
                    <a href="/recipes/@ViewBag.recipeId" target="_blank">
                        <img src="@ViewBag.img_recipe_photo" border="0"><br>
                    </a><span style="font-size: 12px; font-weight: bold; color: #000000; font-family: Verdana,Arial,Helvetica,sans-serif">
                        Preparation time: @Html.Raw(Model.Preparation)<br>
                        Cooking time: @Html.Raw(Model.Cooking)
                    </span>
                    <br>
                </td>
                <td valign="top" style="padding-left: 30px">
                    <table>
                        <tr>
                            <td colspan="2" style="font-size: 14px; font-family: Verdana,Arial,Helvetica,sans-serif;
                            font-weight: bold">
                                Nutritional Info.
                            </td>
                        </tr>
                        @foreach (System.Data.DataRow row in Model.briefNutrientList.Rows)
                        {
                            <tr>
                                <td width="150" style="font-size: 12px; font-weight: bold; font-family: Verdana,Arial,Helvetica,sans-serif">
                                    @row.ItemArray[2]
                                </td>
                                <td style="font-size: 12px; font-family: Verdana,Arial,Helvetica,sans-serif">
                                    @row.ItemArray[4] @row.ItemArray[1]
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2" align="right">
                                <br>
                                <a href="/recipes/@ViewBag.recipeId" target="_blank">
                                    <span style="font-size: 12px; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none">
                                        click for full details &gt; &gt;
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
</body>
</html>
