﻿@using Nop.Plugin.RecipeNew.Models
@model System.Data.DataTable
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    //Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/recipe.js"));
}


        
            <h2>
                Recipes on my Shopping List</h2>
       @* </td>
        <td>
            Servings
        </td>
        <td>
            Prep Time
        </td>
        <td>
            Cook Time
        </td>
        <td>
            Calories
        </td>
        <td>
            Fat (g)
        </td>
        <td>
            Carbs (g)
        </td>*@
   <ul  data-role="listview" data-inset="true" data-filter="false" data-icon="false">
  
     @foreach (System.Data.DataRow row in Model.Rows)
     {
        <li id="@String.Format("row_{0}",row.ItemArray[0])" data-icon="false" >
           
	
             
                 <a id="ancTitle" href="@Url.RouteUrl("showSingleRecipe", new { recipeid = @row.ItemArray[0] })" class="width_80per">
                 <img src="@row.ItemArray[8]" />
                 @row.ItemArray[1]
                <div class="newLine">
                </div>
            
                    <label id="lblServings" runat="server">
                       serve: @row.ItemArray[2]</label>
           
                    <label id="lblPrepTime" runat="server">
                       Prep Time: @row.ItemArray[3]</label>
           
                    <label id="lblCookTime" runat="server"> 
                       Cook Time: @row.ItemArray[4]</label>
            
                    <label id="lblCalories" runat="server">
                       Calories: @row.ItemArray[5]</label>
            
                    <label id="lblFat" runat="server">
                      Fat: @row.ItemArray[6]</label>
            
                    <label id="lblCarbs" runat="server">
                       Cerbs: @row.ItemArray[7]</label>
            
                </a>
         
            
                 <a id="a_@(row.ItemArray[0])" href="javascript:deleteshoppinglistRecipe(@row.ItemArray[0],'true');" class="width_20per" data-icon="delete" Text="Delete" >Delete</a>
           
         
        </li>
     }
     

</ul>