﻿@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/smoothness/jquery-ui-1.8.17.custom.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Scripts/fullcalendar/fullcalendar.css"));
    Html.AddScriptParts(@Url.Content("https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"));
	Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/jquery-ui.min.js"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/fullcalendar/fullcalendar.js"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/recipe.js"));
}
<div class="mainContent">
    <div class="floatLeft">
        <span class="header2">Search for Recipes:</span>
        <div id="recipesearch">
            <input id="quicksearchRecipeCalender" type="text" maxlength="32" class="quicksearch" />
            <img id="imgSearchBtnRecipeCalender" class="imgSearchBtnRecipeCalender" alt="go"
                src="/Plugins/Recipe/Content/images/recipe_search_go.png"></img>
        </div>
        <div class="margin_top_10px">
            <div>
                <input id="radio_title" type="radio", name="radio" value="Title" @ViewBag.Title/>
                Title
            </div>
            <div>
                <input id="radio_Ingredients" type="radio", name="radio" value="Ingredients" @ViewBag.Ingredients/>
                Ingredients
            </div>
        </div>
    </div>
    <input type="hidden" id="pagename" value="index" />
    <br />
    <br />
     <div id='pagination' class="pagination floatLeft newLine">
    </div>
    <br />
    <div id='external-events' class="newLine">
    </div>
</div>
<div class="sidebarContent width_600">
    <h1 class="header1">
        Recipe Calender</h1>
    <br />
    <br />
    <div id='calendar'>
    </div>
</div>
<div id="addRecipeId" title="Add A Recipe">
    <form action="">
    <fieldset>
        <label>
            Add A recipe id here:
        </label>
        <input type="text" class="recipeIdText" id="recipeIdText" />
        <input type="hidden" name="date1" id="date1" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>
</div>
<div id="Edit" title="Browse Or Delete">
    <form action="">
    <fieldset>
        <label>
            Browse Recipe of this Day:
        </label>
        <a href="" class="url" id="url"></a>
        <input type="hidden" name="date" id="date" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>
</div>

