﻿@model string
@using Nop.Core;
@using Nop.Web.Framework.UI;
@{
	//register CSS and JS
	//Html.AddCssFileParts(@Url.Content("~/Administration/Content/fileuploader.css"));
    //Html.AddScriptParts(@Url.Content("~/Administration/Scripts/fileuploader.js"));

    Html.AddCssFileParts("~/Scripts/fineuploader/fineuploader-4.2.2.min.css");
    Html.AddScriptParts("~/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");
    Html.AddScriptParts("~/Content/tinymce/tinymce.min.js");
    
    

	//other variables
	var random = CommonHelper.GenerateRandomInteger();
	var clientId = "file" + random;
	//var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();
	//var picture = pictureService.GetPictureById(Model);
}
<div id="@(clientId + "value")">
	@Html.HiddenFor(x => x)
</div>
@*<div id="@(clientId + "image")">
    <img src="@(pictureService.GetPictureUrl(Model, 100, true))" />
</div>*@

<br />
<div id="@clientId">
	<noscript>
		<p>
			Please enable JavaScript to use file uploader.</p>
		<!-- or put a simple form for upload here -->
	</noscript>
</div>
<script type="text/template" id="@(clientId)-qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span>@T("Common.FileUploader.DropFiles")</span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>@T("Common.FileUploader.Upload")</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>@T("Common.FileUploader.Processing")</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>
<script type="text/javascript">
       $(document).ready(function() {

        $("#@(clientId)").fineUploader({
            request: {
                endpoint: '@(Url.Content("~/EmailMarketing/ZipFileUpload"))'
            },
            template: "@(clientId)-qq-template",
            multiple: false
        }).on("complete", function(event, id, name, responseJSON, xhr) {
            if (responseJSON.success) {
                $("#@(clientId + "value") input").val(responseJSON.uploadedFileName);
                //tinymce.getInstanceById("TemplateBody").getBody().innerHTML = responseJSON.templateHtml;
                tinyMCE.activeEditor.setContent(responseJSON.templateHtml);
            }
            else {
                alert(responseJSON.errorMessage);
            }
            
        });

        $("#@(clientId + "remove")").click(function(e) {
           
            $(this).hide();
        });
    });
</script>
