﻿<div class="featured-items">
    <h2>Featured Items</h2>
    <div class="featured_item">
        <div class="row clearfix">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="item_text">
                    <span class="brand">Nordic Naturals</span>
                    <span class="product">Children's DHA 225 mg Omega-3</span>
                    <span class="discount-details">Save 20%</span>
                    <div class="item_offer">$11.99 / Reg $14.95</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="item_image">
                    <img src="~/Themes/Caputomarkets/Content/images/featured-item1.jpg" alt="image not found">
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="shopping-list-add">
                    <a href="/login">
                        <img class="sblink-icon" src="~/Themes/Caputomarkets/Content/images/add.png" alt="">Add to my Shopping List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="featured_item">
        <div class="row clearfix">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="item_text">
                    <span class="brand"> Amazing Grass</span>
                    <span class="product">Green Superfood Pineapple Lemongrass</span>
                    <span class="discount-details">Save 30%</span>
                    <div class="item_offer">$20.99 / Reg $29.99</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="item_image">
                    <img src="~/Themes/Caputomarkets/Content/images/featured-item2.jpg" alt="image not found">
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="shopping-list-add">
                    <a href="/login">
                        <img class="sblink-icon" src="~/Themes/Caputomarkets/Content/images/add.png" alt="">Add to my Shopping List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="featured_item">
        <div class="row clearfix">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="item_text">
                    <span class="brand">Garden of Life</span>
                    <span class="product">Perfect Food® Berry 8.5 oz</span>
                    <span class="discount-details">Save 30%</span>
                    <div class="item_offer">$34.99 / Reg $46.69</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="item_image">
                    <img src="~/Themes/Caputomarkets/Content/images/featured-item3.jpg" alt="image not found">
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="shopping-list-add">
                    <a href="/login">
                        <img class="sblink-icon" src="~/Themes/Caputomarkets/Content/images/add.png" alt="">Add to my Shopping List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="featured_item">
        <div class="row clearfix">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="item_text">
                    <span class="brand">Food for Life</span>
                    <span class="product">Gluten Free Brown Rice Bread 24 oz</span>
                    <span class="discount-details">Save 39%</span>
                    <div class="item_offer">$4.79 / Reg. $7.79</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="item_image">
                    <img src="~/Themes/Caputomarkets/Content/images/featured-item4.jpg" alt="image not found">
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="shopping-list-add">
                    <a href="/login">
                        <img class="sblink-icon" src="~/Themes/Caputomarkets/Content/images/add.png" alt="">Add to my Shopping List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
