@{
    Layout = "~/Themes/Larryspw/Views/Shared/_ColumnsOneHomepage.cshtml";
}


@Html.Action("HomepageCategories", "Catalog")
<section class="well-come-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                @Html.Partial("_RecipeSearch")
                @*@Html.Partial("_FeaturedItems")*@
                @Html.Action("FeaturedProductAtHomePage", "Recipe", new { area = "" })
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div id="content_wrapper" class="devider-left">
					@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    @Html.Action("HomepageBestSellers", "Product")
    @Html.Action("HomePageNews", "News")
    @Html.Action("HomePagePolls", "Poll")
    @Html.Widget("home_page_bottom")
</section>
























