﻿@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;

<section id="myBar" class="header-menu">
    <div class="container">
        <div class="row clearfix">
            <nav role="navigation" class="navbar navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navbar-header">
                    @*<a class="pull-left" href="@Url.RouteUrl("HomePage")">
                            <img class="pull-left logo-img" src="~/Themes/SouthTownHealthFoods/Content/images/proco_logo.png" alt="image not found" />
                        </a>*@
                    <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="pull-right navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-example-navbar-collapse-1" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pull-right collapse navbar-collapse">
                    @Html.Widget("header_menu_before")
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/health-research/" style="background:#000;">HEALTH RESEARCH</a></li>
                        <li><a href="/recipes/">RECIPES</a></li>
                        <li><a href="/specials/">SPECIAL OFFERS</a></li>
                        <li><a href="/tipsandguides">TIPS &amp; GUIDES</a></li>
                        <li><a href="/favorite-links">LINKS</a></li>
                        <li><a style="border:none;" href="/shoppinglists/">SHOPPING LIST</a></li>
                    </ul>
                    @Html.Widget("header_menu_after")
                </div>
            </nav>
        </div>
    </div>
</section>
