﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

<section class="section-main">
    <div class="container">
        @Html.Widget("main_column_before")

        @RenderBody()
        @Html.Widget("main_column_after")
    </div>
</section>
