﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Extensions
@using Nop.Web.Models.Catalog;

@helper Text_Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(@input)
    }
    else
    {
        @Html.Raw(@input.Substring(0, length))<text>...</text>
    }
}

@helper Price_Modifier(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(@input)
    }
    else
    {
        @Html.Raw(@input.Substring(0, length))<text>...</text>
    }
}

<div class="product-item" data-productid="@Model.Id">
    <div class="white-box">
        <div class="picture">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </div>
        <div class="middle-content">
            <h3 class="product-title">
                @*<a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Text_Truncate(Model.Name, 30)</a>*@
                <a href="#">@Text_Truncate(Model.Name, 30)</a>
            </h3>
            <div class="description">
                @if (!String.IsNullOrEmpty(Model.ShortDescription))
                {
                    @Text_Truncate(Model.ShortDescription, 90)
                }
                else
                {
                    <p>&nbsp;</p>
                }
                <p>
                    @Model.ProductPrice.Price
                </p>
            </div>
            <div class="buttons">
                <a class="btn btn-meals-for-you" href="#">more</a>
                @*<a class="btn " href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">more</a>*@
            </div>
        </div>
    </div>
    @Html.Widget("productbox_add_info")
</div>
<script>
    $(document).ready(function () {
        var pictureWidth = $(".white-box .picture").innerWidth();
        var pictureHeight = (pictureWidth / 100) * 60;
        $(".white-box .picture").css('height', pictureHeight + "px");
    });
    $(window).resize(function () {
        var pictureWidth = $(".white-box .picture").innerWidth();
        var pictureHeight = (pictureWidth / 100) * 60;
        $(".white-box .picture").css('height', pictureHeight + "px");
    });
</script>
