﻿<section>
    <div class="navbar navbar-default top-menu" role="navigation">
        <div class="container">
            <div class="row clearfix">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".test">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a href="/" class="header-logo">
                       Larryspw
                    </a>*@
                </div>
                <div class="navbar-collapse collapse test">
                    @Html.Widget("header")
                    @Html.Action("HeaderLinks", "Common")
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 larryspw-logo reset-padding center">
                <a href="/">
                    <img src="~/Themes/Larryspw/Content/images/larryspw-logo.png" alt="image not found">
                    <h2>Fresh, Friendly, and Close to Home</h2>
                </a>
            </div>
        </div>
    </div>
</section>