﻿.mainContent
{
    float: left;
    width: 620px;
}

.UniqueCouponLists
{
    width:650px;
	height:235px;
	margin-top: 10px;
    margin-right: 10px;
    float: left;
	border-bottom-right-radius:10px; -moz-border-radius-bottomright:10px; border-top-right-radius:10px; -moz-border-radius-topright:10px;
	border:2px solid #999999;
    font-size: 15px;
    font-weight: bold;
}

.UniqueCouponLists img
{
   /* height: 65px;
    width: 400px;*/
}

.UniqueCouponLists a
{
    color: #083564;
    text-decoration: none;
}

.UniqueCouponLists .UniqueCouponTitle:hover
{
    text-decoration: underline;
}
.eventitem
{
    border-width:2px;
    border-color:Black;
}
.uPon-image{float:left;width:128px;}
.uPon-info-wrapper{width:500px;float:right;}
.uPon-left-wrapper{width:240px;}
.u-Pick-logo{margin:-20px -20px 0 0;}
.UniqueCouponTitle{color:#d01e00;font-size:24px;text-transform:uppercase;  font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;font-weight:normal;}
.UniqueCouponDescription{font-weight:normal;color:black;font-size:13px;line-height:1.3em;}
.UniqueCouponOffer{color:#699054;font-size:24px;padding:0 10px; 0 10px;letter-spacing:-1px;text-transform:lowercase;font-weight:normal;position:absolute;top:47px;right:25px;}
.uPon-available{font-family:Tahoma, sans-serif;font-size:14;color:black;font-weight:normal;width:90px;float:left;text-align:center;padding-top:5px;}
.uPon-Activation-box{width: 495px; background-color:#f9f5f0;-moz-box-shadow: 2px 2px 5px #888;-webkit-box-shadow: 2px 2px 5px #888;box-shadow: 2px 2px 5px #888;}
.uPon-Available-Quantity{font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;font-weight:normal;font-size:26px;}
.uPon-Activation-image{width:160px;height:49px;float:left;background:url('../../../Themes/ProcoDefault/Content/images/uPon-activate.png');margin-top:5px;}
.uPon-Time-Left-Text{font-family:Tahoma, sans-serif;color:black;font-weight:normal;letter-spacing:1px;font-size:15px;margin:0;padding;0}
.uPon-disclaimer-restrictions{position:absolute;top:205px;font-family:Tahoma, sans-serif;color:black;font-weight:normal;font-size:12px;}
.header1{font-size:40px;color:#747243}
div#tobecovered{
    position: relative;
	/*height: 262px;*/
}
div#tobecovered img.cover{
    position:absolute;
	width:100.6%;
	height:101%;
    top: 0; 
    left: 0;
	
	
}