﻿@model Nop.Plugin.EmailMarketing.Models.EmailCampaignModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
		<tr>
			<td class="adminTitle">
				@Html.NopLabelFor(model => model.Tokens):
			</td>
			<td class="adminData">
				@Html.DropDownListFor(model => model.Tokens, Model.Tokens, new { @onchange="AddToken(this.value);" })
				@Html.ValidationMessageFor(model => model.Tokens)
			</td>
		</tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Subject):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </td>
    </tr>
		<tr class="email-attachment">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.EmailAttachment):
        </td>
        <td class="adminData">
						@Html.EditorFor(model => model.EmailAttachment)
						@Html.ValidationMessageFor(model => model.EmailAttachment)
        </td>
    </tr>
		<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.To):
        </td>
        <td class="adminData">
						@Html.EditorFor(model => model.To)
						@Html.ValidationMessageFor(model => model.To)
        </td>
    </tr>
		<tr class="add-group">
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.GroupName):
        </td>
        <td class="adminData">
						@Html.EditorFor(model => model.GroupName)
						@Html.ValidationMessageFor(model => model.GroupName)
        </td>
    </tr>
		<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Cc):
        </td>
        <td class="adminData">
						@Html.ValidationMessageFor(model => model.Cc)
            @Html.EditorFor(model => model.Cc)
        </td>
    </tr>
		<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Bcc):
        </td>
        <td class="adminData">
						@Html.ValidationMessageFor(model => model.Bcc)
            @Html.EditorFor(model => model.Bcc)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Body):
        </td>
        <td class="rteHolder">
						@Html.ValidationMessageFor(model => model.Body)
            @Html.EditorFor(model => model.Body, "RichEditor")
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.AllowedTokens):
        </td>
        <td class="adminData">
            @Html.DisplayFor(model => model.AllowedTokens)
        </td>
    </tr>
</table>

<script type="text/javascript">
	//AddAutoComplete($("#to"));
	$('#@Html.FieldIdFor(model => model.To)').multiTokenAutoComplete({
		'url': '/Plugin/EmailMarketing/To',
		'customToken': true,
		'data': '@Model.To'
	});

	$('#@Html.FieldIdFor(model => model.Cc)').multiTokenAutoComplete({
		'url': '/Plugin/EmailMarketing/To',
		'customToken': true,
		'data': '@Model.Cc'
	});

	$('#@Html.FieldIdFor(model => model.Bcc)').multiTokenAutoComplete({
		'url': '/Plugin/EmailMarketing/To',
		'customToken': true,
		'data': '@Model.Bcc'
	});

	$('#@Html.FieldIdFor(model => model.GroupName)').multiTokenAutoComplete({
		'url': '/Admin/Plugin/EmailMarketing/GroupName',
		'customToken': true,
		'data': '@Model.GroupName'
	});

	function generateModelData() {


		var model = {

			Name: $('#@Html.FieldIdFor(model => model.Name)').val(),
			Subject: $('#@Html.FieldIdFor(model => model.Subject)').val(),
			EmailAttachment: $('.email-attachment').is(':visible') ? $.map($('ul.qq-upload-list>li>a'), function (elem, index) {
																											return $(elem).data('fileName');
																										}).join(",") : "",
			To: $('#@Html.FieldIdFor(model => model.To)').closest('div').data("tokenData"),
			Cc: $('#@Html.FieldIdFor(model => model.Cc)').closest('div').data("tokenData"),
			Bcc: $('#@Html.FieldIdFor(model => model.Bcc)').closest('div').data("tokenData"),
			GroupName: $('.add-group').is(':visible') ? $('#@Html.FieldIdFor(model => model.GroupName)').closest('div').data("tokenData") : "",
			Body: tinyMCE.getInstanceById("Body").getBody().innerHTML
		};
			
		return model;

	}

	function GenerateCampaignModelData(fromSchedule) {


		var model = {

			Id: $('#@Html.FieldIdFor(model => model.Id)').val(),
			Name: $('#@Html.FieldIdFor(model => model.Name)').val(),
			Subject: $('#@Html.FieldIdFor(model => model.Subject)').val(),
			EmailAttachment: $('.email-attachment').is(':visible') ? $.map($('ul.qq-upload-list>li>a'), function (elem, index) {
																											return $(elem).data('fileName');
																										}).join(",") : "",
			To: $('#@Html.FieldIdFor(model => model.To)').parent().data("tokenData"),
			Cc: $('#@Html.FieldIdFor(model => model.Cc)').parent().data("tokenData"),
			Bcc: $('#@Html.FieldIdFor(model => model.Bcc)').parent().data("tokenData"),
			GroupName: $('.add-group').is(':visible') ? $('#@Html.FieldIdFor(model => model.GroupName)').closest('div').data("tokenData") : "",
			FromSchedule: typeof(fromSchedule) === 'undefined' ? false:true,
			Body: tinyMCE.get('Body').getContent()
		};

		return model;

	}
</script>
