﻿@using Nop.Plugin.EmailMarketing.Models
@*@model Telerik.Web.Mvc.GridModel<LinkClickDetailModel>
@using Telerik.Web.Mvc.UI*@
@using Nop.Web.Framework.UI;
@{
		var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.DetailReport.LinkClicks.Title").Text;
}
@*<div class="section-header">
		<div class="title">
			<img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
			@T("Admin.EmailMarketing.Report.Header")
		</div>
		<div class="options">
			<a class="t-button" href="/Admin/Plugin/Other/EmailMarketing/DetailReportExportExcelAll?campaignId=" + $('.detailReportContent').data("CampaignId") + "&status=linkClick">Export to Excel (all)</a>
			<a class="t-button" href="/Admin/Plugin/Other/EmailMarketing/ReportExportXmlAll">Export to Xml (all)</a>
		</div>
		
</div>*@
<table class="adminContent">
	<tr>
		<td>
			@*@(Html.Telerik().Grid(Model.Data)
									.Name("link-click-detail-grid")
									.Columns(columns =>
									{
										//columns.Bound(x => x.Id)
										//              .Width(50);
										columns.Bound(x => x.EmailAddress)
																	.Width(250);
										

									})
									.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
									.DataBinding(dataBinding =>
									{
										dataBinding.Server().Select("LinkClickDetail", "Plugin/Other/EmailMarketing");
                    dataBinding.Ajax().Select("LinkClickDetail", "Plugin/Other/EmailMarketing", new { id = ViewBag.LinkId });
									})
									.EnableCustomBinding(true))*@
		</td>
	</tr>
</table>


