﻿@using Nop.Plugin.EmailMarketing.Models
@*@using Telerik.Web.Mvc.UI

@model Telerik.Web.Mvc.GridModel<SmartContactModel>*@
@using Nop.Web.Framework.UI;

@{
    //page title
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
		ViewBag.Title = @T("Admin.EmailMarketing.Groups.SmartContacts.Title").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.EmailMarketing.Groups.SmartContacts.Header")
				<a href="#/Group"> @T("Admin.EmailMarketing.Campaigns.BackToList") </a>
    </div>
    <div class="options">
        <a href="#/Group" class="t-button show-create-form">Back</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @*@(Html.Telerik().Grid<SmartContactModel>(Model.Data)
                    .Name("smart-contact-grid")
                    .Columns(columns =>
                    {
												columns.Bound(x => x.FirstName)
                                    .Width(300);
												columns.Bound(x => x.LastName)
                                    .Width(300);
                        columns.Bound(x => x.UserName)
                                    .Width(300);
                        columns.Bound(x => x.Email)
                                    .Width(300);
                        columns.Bound(x => x.CreatedOn)
                                    .Width(300);

                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Server().Select("SmartGroupAjax", "Plugin/Other/EmailMarketing");
                        dataBinding.Ajax().Select("SmartGroupAjax", "Plugin/Other/EmailMarketing", new { id = "", smartGroupId = ViewBag.SmartGroupId });
                    })
                    .EnableCustomBinding(true))*@
        </td>
    </tr>
</table>

