﻿
<link rel="stylesheet" href="/themes/ProcoDefault/Content/flexslider/flexslider.css" type="text/css">
<script src="/Scripts/jquery.flexslider.js"></script>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider({
          slideshowSpeed: 5000 
    });
  });
</script>

<div class="homepage_container">

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
@*@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "home_page_top" })*@
<div class="homepagebanners" >@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageBanners" })</div>
<div class="homepagebottom"> @Html.Action("TopicBlock", "Topic", new { systemName = "_home-page-bottom" })</div>

<div class="clear">
</div>
@Html.Action("HomepageCategories", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageProducts", "Catalog")
<div class="clear">
</div>
@Html.Action("HomepageBestSellers", "Catalog")
<div class="clear">
</div>
<!--<div class="homePage-event-wrapper">
	<div class="homePage-event-Titlebar"></div>
@*  @Html.Action("Eventlanding", "Event") *@
</div>
-->


@Html.Action("HomePageNews", "News")
<div class="clear">
</div>
@Html.Action("HomePagePolls", "Poll")
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "home_page_bottom" })


</div>

Test from procodefault