﻿@model CatalogPagingFilteringModel.SpecificationFilterModel
@using Nop.Web.Models.Catalog;
@{
    var notFilteredItemsGroups = Model.NotFilteredItems.GroupBy(x => x.SpecificationAttributeName);
}
@if (Model.Enabled)
{
    <div class="panel panel-default side-nav">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Filtering.SpecificationFilter")</span>
            <span class="solid_line"></span>
        </h3>
        @*<div class="panel-heading">
            <strong>@T("Filtering.SpecificationFilter")</strong>
        </div>*@
        <div class="panel-body">
            @if (Model.NotFilteredItems.Count > 0)
            {
                
                @*foreach (var group in notFilteredItemsGroups)
                {
                    var groupList = group.ToList();
                        
                    <ul class="nav">
                        <li class="title">
                            <strong>@groupList[0].SpecificationAttributeName</strong>
                        </li>

                        @foreach (var spec in groupList)
                        {
                            <li>
                                <a href="@spec.FilterUrl">@spec.SpecificationAttributeOptionName</a>
                            </li>
                        }
                    </ul> 
                }*@
                foreach (var group in notFilteredItemsGroups)
                {
                    var groupList = group.ToList();
                    //GQ
                    <div class="filterTitle"><strong>@groupList[0].SpecificationAttributeName</strong></div>
                    <ul class="nav filterSpecs">
                        @foreach (var spec in groupList)
                        {
                            <li>
                                <a href="@spec.FilterUrl">@spec.SpecificationAttributeOptionName</a>
                            </li>
                        }
                    </ul> 
                }
                
            }
            @if (Model.AlreadyFilteredItems.Count > 0)
            {
                <div class="panel-footer">
                    <div class="filter-title">
                        @T("Filtering.SpecificationFilter.CurrentlyFilteredBy")
                    </div>
                    @foreach (var item in Model.AlreadyFilteredItems)
                    {
                        <div class="item">
                            <strong>@(item.SpecificationAttributeName):</strong> @item.SpecificationAttributeOptionName
                        </div>
                    }
                    
                    <div class="remove-filter">
                        <a href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
                    </div>
                </div>
            }
        </div>
    </div>
}

