﻿@model PopularProductTagsModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AllProductTags").Text);
}
@using Nop.Web.Models.Catalog;
<div class="panel panel-default form-panel">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">@T("Products.Tags.All")</span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
        <h3>@T("Products.Tags.All")</h3>
    </div>*@
    <div class="panel-body">
        @if (Model.Tags.Count > 0)
        {
            <div class="entity">
                <div class="entity-body">
                    
                    @foreach (var item in Model.Tags)
                    {
                        <div class="col-md-3"><a href="@Url.RouteUrl("ProductsByTag", new { productTagId = item.Id, SeName = item.SeName })" class="producttag">
                                @item.Name</a> </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
