﻿@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;

<section id="myBar" class="header-menu">
    <div class="container">
        <div class="row clearfix">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
                @Html.Widget("header_menu_before")
                <ul class="nav navbar-nav">
                    <li><a href="/our-history">Our History</a></li>
                    <li><a href="/specials-pick-your-store">Special Offers</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="/tipsandguides">Tips &amp; Tools</a></li>
                    <li><a href="/our-stores">Our Stores</a></li>
                    <li><a href="/piggly-wiggly-club">Piggly Wiggly Club</a></li>
                </ul>
                @Html.Widget("header_menu_after")
            </nav>
        </div>
    </div>
</section>
<style>
    .stick { top: 0 !important; -webkit-animation-duration: 0.45s; -moz-animation-duration: 0.45s; -ms-animation-duration: 0.45s; -o-animation-duration: 0.45s; animation-duration: 0.45s; }
    .fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
    .animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        var navbar = $("#myBar");
        var navbarPosition = navbar.position();
        $(window).scroll(function () {
            if ($(window).innerWidth() > 767) {
                var windowpos = $(window).scrollTop();
                navbar.css('top', (navbarPosition.top - windowpos) + "px");
                if (windowpos >= navbarPosition.top) {
                    navbar.addClass("stick fadeInDown animated");
                } else {
                    navbar.removeClass("stick fadeInDown animated");
                }
            }
            else if ($(window).innerWidth() <= 767) {
                navbar.css('top', 0 + "px");
            }
        });
    });
</script>
