﻿@model IList<VendorModel>
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Vendors").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page vendor-list-page">
    <div class="panel panel-default form-panel">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Vendors.List")</span>
            <span class="solid_line"></span>
        </h3>
        @*<div class="panel-heading">
            <h3>@T("Vendors.List")</h3>
        </div>*@
        <div class="panel-body">
            @if (Model.Count > 0)
            {
                <ul class="vendor-list">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="@Url.RouteUrl("Vendor", new { vendorId = item.Id, SeName = item.SeName })" class="vendor">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
