﻿@model VendorNavigationModel
@using Nop.Web.Models.Catalog;
@if (Model.Vendors.Count > 0)
{
    <div class="panel panel-default side-nav">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Vendors")</span>
            <span class="solid_line"></span>
        </h3>
        @*<div class="panel-heading">
            <strong>@T("Vendors")</strong>
        </div>*@
        <div class="panel-body">
            <ul class="nav">
                @foreach (var vendor in Model.Vendors)
                {
                    <li>
                        <a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalVendors > Model.Vendors.Count)
            {
                <div class="view-all">
                    <a class="btn btn-sm btn-default" href="@Url.RouteUrl("VendorList")">@T("Vendors.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}