﻿@using Nop.Plugin.EmailMarketing.Lib
@model Nop.Plugin.EmailMarketing.Models.CriteriaModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;

@{
    //page title
	ViewBag.Title = @T("Admin.EmailMarketing.Groups.Title.EditGroup").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.EmailMarketing.Groups.Header.EditGroup") 
						<a href="#/Group"> @T("Admin.EmailMarketing.Groups.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitEditGroupForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" onclick="submitEditGroupForm(); return false;" class="t-button">@T("Admin.Common.SaveContinue")</button>
						<span id="group-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.EmailMarketing.Views.EmailMarketing._CreateOrUpdateGroup", Model)
}


