﻿@using Nop.Web.Framework.UI;
@model Nop.Plugin.EmailMarketing.Models.ScheduleModel
@{
	//page title
	ViewBag.Title = @T("Admin.EmailMarketing.Schedule.Title.Edit").Text;
}
@using(Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Common.AddNew") 
						<a href="#/Schedule"> @T("Admin.EmailMarketing.Schedule.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitEditScheduleForm(); return false;">@T("Admin.Common.Save")</button>
						<button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
						<span id="schedule-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.EmailMarketing.Views.EmailMarketing._CreateOrUpdateSchedule", Model)
}
