﻿@using Nop.Plugin.EmailMarketing.Models
@*@using Telerik.Web.Mvc.UI*@
@*@model Telerik.Web.Mvc.GridModel<CriteriaModel>*@
@using Nop.Web.Framework.UI;
@{
		var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.Groups.Title").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.EmailMarketing.Groups.Header")
    </div>
    <div class="options">
        <a href="#/CreateGroup" class="t-button show-create-form">@T("Admin.Common.AddNew")</a>
				<button name="delete" value="delete" class="t-button delete-group" onclick="DeleteGroup(); return false;">@T("Admin.Common.Delete.Selected")</button>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @*@(Html.Telerik().Grid<CriteriaModel>(Model.Data)
                    .Name("criteria-grid")
                    .Columns(columns =>
                    {
											  columns.Bound(x => x.Id)
														.Template(x => string.Format("<input type='checkbox' name='checkedRecords' value='{0}' class='checkboxGroups'/>", x.Id))
														.ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' class='checkboxGroups'/>")
														.Title("<input id='mastercheckbox' type='checkbox'/>")
														.Width(5)
														.HtmlAttributes(new { style = "text-align:center" })
														.HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Bound(x => x.Name)
														.Template(@<text><a href="#/SmartGroup/@item.Id"> @item.Name </a></text>)
														.ClientTemplate("<a href=\"#/SmartGroup/<#= Id #>\"> <#= Name #> </a>")
														.Width(100);
												columns.Bound(x => x.Query)
														.Width(600);
												columns.Bound(x => x.Id)
														.Width(50)
														.Template(@<text><a href="#/EditGroup/@item.Id">   @T("Admin.Common.Edit")  </a></text>)
														.ClientTemplate("<a href=\"#/EditGroup/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
														.Title(T("Admin.Common.Edit").Text);
                    })
										.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("Group", "Plugin/Other/EmailMarketing"))
                    .EnableCustomBinding(true))*@
        </td>
    </tr>
</table>

<script type="text/javascript">

	var selectedIds = [];

	$(document).ready(function () {


		$('#mastercheckbox').click(function () {
			$('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
		});

		//wire up checkboxes. 
		$('#criteria-grid input[type=checkbox][id!=mastercheckbox]').live('change', function (e) {
			var $check = $(this);
			if ($check.is(":checked") == true) {
				var checked = jQuery.inArray($check.val(), selectedIds);
				if (checked == -1) {
					//add id to selectedIds.  
					selectedIds.push($check.val());
				}
			}
			else {
				var checked = jQuery.inArray($check.val(), selectedIds);
				if (checked > -1) {
					//remove id from selectedIds.  
					selectedIds = $.grep(selectedIds, function (item, index) {
						return item != $check.val();
					});
				}
			}
			updateMasterCheckbox();
		});

	});



	function updateMasterCheckbox() {
		var numChkBoxes = $('#criteria-grid input[type=checkbox][id!=mastercheckbox]').length;
		var numChkBoxesChecked = $('#criteria-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
		$('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
	}

</script>
