﻿@using Nop.Plugin.EmailMarketing.Models
@*@model Telerik.Web.Mvc.GridModel<LinkModel>
@using Telerik.Web.Mvc.UI*@
@using Nop.Web.Framework.UI;
@{
		var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.DetailReport.Links.Title").Text;
}
<table class="adminContent">
	<tr>
		<td>
			@*@(Html.Telerik().Grid<LinkModel>(Model.Data)
									.Name("link-report-grid")
									.Columns(columns =>
									{
										columns.Bound(x => x.Id)
																	.Width(50);
										columns.Bound(x => x.CampaignId)
																	.Width(50);
										columns.Bound(x => x.LinkHref)
																	.Width(250);
										columns.Bound(x => x.Click)
																	.Width(50)
																	.Template(@<text><a href="#/DetailReport/LinkClickDetail/@item.Id"> @item.Click </a></text>)
																	.ClientTemplate("<a href=\"#/DetailReport/LinkClickDetail/<#= Id #>\"> <#= Click #> </a>");
										
									})
									.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
									.DataBinding(dataBinding =>
									{
										dataBinding.Server().Select("Link", "Plugin/Other/EmailMarketing");
                    dataBinding.Ajax().Select("Link", "Plugin/Other/EmailMarketing", new { id = ViewBag.CampaignId });
									})
									.EnableCustomBinding(true))*@
		</td>
	</tr>
</table>


