﻿@using Nop.Plugin.EmailMarketing.Models
@*@using Telerik.Web.Mvc.UI
@model Telerik.Web.Mvc.GridModel<EmailTemplateModel>*@
@using Nop.Web.Framework.UI;

@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.Template.Title").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.EmailMarketing.Template.Header")
    </div>
    <div class="options">
        <a href="../EmailMarketing/CreateTemplate" class="k-button show-create-form">@T("Admin.Common.AddNew")</a>
				<button name="delete" value="delete" class="t-button delete-template" onclick="DeleteTemplate(); return false;">@T("Admin.Common.Delete.Selected")</button>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @*@(Html.Telerik().Grid<EmailTemplateModel>(Model.Data)
                    .Name("template-grid")
                    .Columns(columns =>
                    {
												columns.Bound(x => x.Id)
														.Template(x => string.Format("<input type='checkbox' name='checkedRecords' value='{0}' class='checkboxGroups'/>", x.Id))
														.ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' class='checkboxGroups'/>")
														.Title("<input id='mastercheckbox' type='checkbox'/>")
														.Width(5)
														.HtmlAttributes(new { style = "text-align:center" })
														.HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Bound(x => x.Name)
                                .Width(200);
												columns.Bound(x => x.ThumbnailPath)
															.Template(@<text><img alt="@item.Name" src="@item.ThumbnailPath" width='150' /></text>)
															.ClientTemplate("<img alt='<#= Name #>' src='<#= ThumbnailPath #>' width='150' />")
															.ReadOnly();
												columns.Bound(x => x.Id)
																.Width(50)
																.Template(@<text><a href="#/EditTemplate/@item.Id" >  @T("Admin.Common.Edit") </a></text>)
                                .ClientTemplate("<a href=\"#/EditTemplate/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                                .Title(T("Admin.Common.Edit").Text);
                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
										.DataBinding(dataBinding =>
                    {
											dataBinding.Server().Select("TemplateList", "Plugin/Other/EmailMarketing");
											dataBinding.Ajax().Select("TemplateList", "Plugin/Other/EmailMarketing");
                    })
                    .EnableCustomBinding(true))*@
        </td>
    </tr>
</table>

<script type="text/javascript">

	var selectedIds = [];

	$(document).ready(function () {


		//$('#mastercheckbox').click(function () {
		//	$('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
		//});

		////wire up checkboxes. 
		//$('#template-grid input[type=checkbox][id!=mastercheckbox]').live('change', function (e) {
		//	var $check = $(this);
		//	if ($check.is(":checked") == true) {
		//		var checked = jQuery.inArray($check.val(), selectedIds);
		//		if (checked == -1) {
		//			//add id to selectedIds.  
		//			selectedIds.push($check.val());
		//		}
		//	}
		//	else {
		//		var checked = jQuery.inArray($check.val(), selectedIds);
		//		if (checked > -1) {
		//			//remove id from selectedIds.  
		//			selectedIds = $.grep(selectedIds, function (item, index) {
		//				return item != $check.val();
		//			});
		//		}
		//	}
		//	updateMasterCheckbox();
		//});

	});

	//function onScheduleDataBound(e) {

	//	$('#template-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
	//		var currentId = $(this).val();
	//		var checked = jQuery.inArray(currentId, selectedIds);
	//		//set checked based on if current checkbox's value is in selectedIds.  
	//		$(this).attr('checked', checked > -1);
	//	});

	//	updateMasterCheckbox();
	//}

	//function updateMasterCheckbox() {
	//	var numChkBoxes = $('#template-grid input[type=checkbox][id!=mastercheckbox]').length;
	//	var numChkBoxesChecked = $('#template-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
	//	$('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
	//}

</script>