﻿@model WishlistEmailAFriendModel
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.WishlistEmailAFriend").Text);
}
<div class="page email-a-friend-page">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">@T("Wishlist.EmailAFriend.Title")</span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
        <h1>@T("Wishlist.EmailAFriend.Title")</h1>
    </div>*@
    <div class="panel-body">
        @if (Model.SuccessfullySent)
        {
            <div class="result alert alert-success">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            <div class="form-fields">
                <div class="">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.FriendEmail, new { @class = "col-md-2 control-label" }, ":")
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FriendEmail, new { @class = "form-control", placeholder = T("Wishlist.EmailAFriend.FriendEmail.Hint") })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.FriendEmail)
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.YourEmailAddress, new { @class = "col-md-2 control-label" }, ":")
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.YourEmailAddress, new { @class = "form-control", placeholder = T("Wishlist.EmailAFriend.YourEmailAddress.Hint") })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.YourEmailAddress)
                        </div>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <div class="captcha-box">
                            @Html.Raw(Html.GenerateCaptcha())
                        </div>
                    }
                </div>
                <div class="inputs-right">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.PersonalMessage, new { @class = "col-md-2 control-label" }, ":")
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.PersonalMessage, new { @class = "form-control", placeholder = T("Wishlist.EmailAFriend.PersonalMessage.Hint"), rows = "7" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.PersonalMessage)
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" name="send-email" class="btn btn-meals-for-you" value="@T("Wishlist.EmailAFriend.Button")" />
            </div>
            }
        }
    </div>
</div>
