﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@using Nop.Core.Data
@using Nop.Data
@using Nop.Plugin.Widget.NopSlider.Domain
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
   
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
    }
}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="product-item" data-productid="@Model.Id" style="height: auto !important; width: auto !important">
            <div class="picture">
                <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
                </a>
            </div>
            <div class="details">
                <h2 class="product-title">
                    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a>
                </h2>
                @if (Model.ReviewOverviewModel.AllowCustomerReviews)
                {
                    int ratingPercent = 0;
                    if (Model.ReviewOverviewModel.TotalReviews != 0)
                    {
                        ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
                    }
                    <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                        <div class="rating">
                            <div style="width: @(ratingPercent)%">
                            </div>
                        </div>
                    </div>
                }
                <div class="description">
                    @Html.Raw(Model.ShortDescription)
                </div>
                <div class="add-info">
                    <div class="prices">
                        @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                        {
                            <span class="text-muted"><del>@Model.ProductPrice.OldPrice</del></span>
                            <br />
                        }
                        <span class="text-danger">@Model.ProductPrice.Price</span>
                    </div>
                    <div class="buttons">
                        @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
                        @if (!Model.ProductPrice.DisableBuyButton)
                        {
                            <input type="button" value="@(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" class="btn btn-danger" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink    ');return false;" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



