﻿@using System.Diagnostics
@using Nop.Web.Framework;
@using System.Linq;
@using Nop.Web.Framework.UI;
@model Nop.Plugin.Widget.NopSlider.Domain.NopSliderRecord

@{
    Layout = "_AdminLayout.cshtml";
    ViewBag.id = Model.NopSliderId;





}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        Add New Banner @Html.ActionLink("(" + "back to NopSlider list" + ")", "ManageNopSliders")
    </div>
</div>
<script>
    $(document).ready(function () {



        $("#slider-edit").kendoTabStrip({
            animation: {
                open: { effects: "fadeIN" }
            },
            select: tabstrip_on_tab_select
        });
        if ($('#ProgressBarYes').is(':checked')) {
            $('.ifProgressBarShow').show();
        } else {
            $('.ifProgressBarShow').hide();
        }

        $('#ProgressBarNo').click(function () {
            $('.ifProgressBarShow').hide();
        });
        $('#ProgressBarYes').click(function () {
            $('.ifProgressBarShow').show();
        });

    });
</script>

<div id="slider-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>Slider</li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>Images</li>
    </ul>
    <div>@CreateUpdate()</div>
    <div>@Images()</div>
</div>

@helper CreateUpdate()
{
    string ifcheckedBanner = (Model.IsBanner == true) ? "checked" : null;
    string ifcheckedCarousel = (Model.IsBanner == false) ? "checked" : null;
    using (Html.BeginForm())
    {
        <fieldset>

            <legend><strong>Manage Your Slider</strong></legend>
            <table class="adminContent">
                <tr>
                    <td class="adminData">@Html.HiddenFor(m => m.NopSliderId)</td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.NopSliderName):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.NopSliderName)
                        @Html.ValidationMessageFor(m => m.NopSliderName)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsActive):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.IsActive)
                        @Html.ValidationMessageFor(m => m.IsActive)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.Interval):</td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.Interval)
                        @Html.ValidationMessageFor(m => m.Interval)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.ZoneName):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.ZoneName, new SelectList(
                            new List<string>()
                            {
                                "productdetails_top",
                                "catagorydetails_after_breadcrumb",
                                "home_page_top"
                            }))
                        @Html.ValidationMessageFor(m => m.ZoneName)
                    </td>
                </tr>



                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.NavigationButtonPosition):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.NavigationButtonPosition, new SelectList(
                            new List<string>()
                            {
                                "banner_top",
                                "banner_bottom",
                            }))
                        @Html.ValidationMessageFor(m => m.NavigationButtonPosition)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsProgressBar):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IsProgressBar, true, new { id = "ProgressBarYes" }) Yes
                        @Html.RadioButtonFor(m => m.IsProgressBar, false, new { id = "ProgressBarNo" }) No
                        @Html.ValidationMessageFor(m => m.IsProgressBar)
                    </td>
                </tr>
                <tr class="ifProgressBarShow">
                    <td class="adminTitle">@Html.NopLabelFor(m => m.ProgressBarPostition):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.ProgressBarPostition, new SelectList(
                            new List<string>()
                            {
                                "banner_top",
                                "banner_bottom",

                            }))
                        @Html.ValidationMessageFor(m => m.ProgressBarPostition)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.TransitionStyle):</td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.TransitionStyle, new SelectList(
                            new List<string>()
                            {
                                "fade",
                                "backSlide",
                                "goDown",
                                "fadeUp"

                            }))
                        @Html.ValidationMessageFor(m => m.NavigationButtonPosition)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IconChevronActive):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IconChevronActive, true, new { id = "Yes" }) Yes
                        @Html.RadioButtonFor(m => m.IconChevronActive, false, new { id = "No" }) No
                        @Html.ValidationMessageFor(m => m.IsBanner)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">@Html.NopLabelFor(m => m.IsMouseDragOn):</td>
                    <td class="adminData">
                        @Html.RadioButtonFor(m => m.IsMouseDragOn, true, new { id = "Yes" }) Yes
                        @Html.RadioButtonFor(m => m.IsMouseDragOn, false, new { id = "No" }) No
                        @Html.ValidationMessageFor(m => m.IsBanner)
                    </td>
                </tr>
            </table>
        </fieldset>
        <br />

        <table class="adminContent">
            <tr>
                <td colspan="2">
                    <input type="submit" name="save" id="submit" class="K-button" value="Save" />
                </td>
            </tr>
        </table>



    }
}



@helper Images()
{
    if (Model.NopSliderId > 0)
    {
        @Html.Action("ManageNopItems", new { NopSliderId = Model.NopSliderId })
    }
}


