﻿@using Nop.Plugin.Widgets.NopSlider.Domain.Enum
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@model Nop.Plugin.Widget.NopSlider.Domain.NopItemRecord


    <script type="text/javascript">
        $(document).ready(function() {


            $('#addProductPicture').click(function(e) {
                e.preventDefault();

                var NopItemId = $("#@Html.FieldIdFor(model => model.NopItemId)").val();
                var NopSliderId = $("#@Html.FieldIdFor(model => model.NopSliderId)").val();
                var Caption = $("#@Html.FieldIdFor(model => model.Caption)").val();
                var Url = $("#@Html.FieldIdFor(model => model.Url)").val();
                var FilePath = $("#@Html.FieldIdFor(model => model.FilePath)").val();
                var DisplayOrder = $("#@Html.FieldIdFor(model => model.DisplayOrder)").val();

                $('#addProductPicture').attr('disabled', true);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("CreateNopItem", "NopSlider"))",
                    data: {
                        "NopItemId": NopItemId,
                        "Caption": Caption,
                        "NopSliderId": NopSliderId,
                        "Url": Url,
                        "DisplayOrder": DisplayOrder,
                        "FilePath": FilePath
                    },
                    success: function(data) {
                        var productpicturesGrid = $("#productpictures-grid");
                        productpicturesGrid.data('kendoGrid').dataSource.read();
                        $('#addProductPicture').attr('disabled', false);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert('Failed to add product picture.');
                        $('#addProductPicture').attr('disabled', false);
                    }
                });
                return false;
            });
        });
    </script>

    <div id="productpictures-grid"></div>

    <div style="padding: 25px 0">
        <form>
            <fieldset>
                <legend><strong>Add Items</strong></legend>
                <table class="adminContent">
                    <tr>
                        <td class="adminTitle">@Html.NopLabelFor(model => model.NopItemId):</td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.NopItemId)
                            @Html.ValidationMessageFor(model => model.NopItemId)
                        </td>
                    </tr>

                    <tr>
                        <td class="adminData">@Html.HiddenFor(model => model.NopSliderId)</td>
                    </tr>
                    <tr>
                        <td class="adminTitle">@Html.NopLabelFor(model => model.Caption):</td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.Caption)
                            @Html.ValidationMessageFor(model => model.Caption)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">@Html.NopLabelFor(model => model.Url):</td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.Url)
                            @Html.ValidationMessageFor(model => model.Url)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">@Html.NopLabelFor(model => model.DisplayOrder):</td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
            <table class="adminContent">
                <tr>
                    <td colspan="2">
                        <input type="submit" id="addProductPicture" name="save" class="K-button" value="Save" />
                    </td>
                </tr>
            </table>
        </form>

    </div>
    <script>
        $(document).ready(function() {
            $("#productpictures-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("GetNopItemsList", "NopSlider", new {NopSliderId = Model.NopSlider.NopSliderId}))",
                            type: "POST",
                            dataType: "json"
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("UpdateNopItem", "NopSlider"))",
                            type: "POST",
                            dataType: "json"
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("DeleteNopItem", "NopSlider"))",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "NopSliderId",
                            fields: {
                                DisplayOrder: { editable: true, type: "string" },
                                FilePath: { editable: false, type: "string" },
                                Caption: { editable: true, type: "string" },
                                Url: { editable: true, type: "string" },
                                NopItemId: { editable: false, visible: false, type: "number" },
                                NopSliderId: { editable: false, visible: false, type: "number" }
                            }
                        }
                    },
                    requestEnd: function(e) {
                        if (e.type == "update") {
                            this.read();
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: true,
                    mode: "inline"
                },
                scrollable: false,
                columns: [
                    {
                        field: "FilePath",
                        title: "Item",
                        template: '<img alt="#=NopSliderId#" src="#=FilePath#" width="150" />',
                        width: 200
                    }, {
                        field: "Caption",
                        title: "Caption",
                        //integer format
                        width: 150
                    },
                    {
                        field: "Url",
                        title: "Url",
                        //integer format
                        width: 150
                    },
                    {
                        field: "DisplayOrder",
                        title: "DisplayOrder",
                        //integer format
                        width: 150
                    }, {
                        command: [
                            {
                                name: "edit",
                                text: "Edit"
                            }, {
                                name: "destroy",
                                text: "Delete"
                            }
                        ],
                        width: 200
                    }
                ]
            });
        });
    </script>




