﻿@using Nop.Web.Framework;

@{
    Layout = "_AdminLayout.cshtml";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
        Manage NopSlider
    </div>
    <div class="options">
        <a href="@Url.Action("/CreateUpdateNopSliderBanner")" class="k-button">New Banner</a>
        <a href="@Url.Action("/CreateUpdateNopSliderCarousel")" class="k-button">New Carousel</a>
       
    </div>
</div>
<div id="sliders"></div>

<script>
          $(document).ready(function () {
              $("#sliders").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("ListNopSliders", "NopSlider"))",
                                type: "POST",
                                dataType: "json"
                            },
                            update: {
                                url:"@Html.Raw(Url.Action("UpdateNopSlider", "NopSlider"))",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("DeleteNopSlider", "NopSlider"))",
                                type: "POST",
                                dataType: "json"
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "NopSliderId",
                                fields: {
                                    NopSliderId: { editable: true, type: "number" },
                                    NopSliderName: { editable: false, type: "string" },
                                    IsActive: { editable: true, type: "boolean" },
                                    IsBanner: { editable: false, type: "boolean" },
                                    IconChevronActive: { editable: true, type: "boolean" }
                                   
                                  

                                }
                            }
                        },
                        requestEnd: function(e) {
                            if(e.type=="update") {
                                this.read();
                            }
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    editable: {
                        confirmation: true,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "NopSliderName",
                        title: "NopSliderName",
                        //template: '<a href="/NopSlider/CreateUpdateNopSliderBanner?NopSliderId=#=NopSliderId#">#=NopSliderName#</a>',
                        template: '#if(IsBanner) {#<a href="/NopSlider/CreateUpdateNopSliderBanner?NopSliderId=#=NopSliderId#">#=NopSliderName#</a> #} else {#<a href="/NopSlider/CreateUpdateNopSliderCarousel?NopSliderId=#=NopSliderId#">#=NopSliderName#</a> #}#',
                        width: 150
                    }, {
                        field: "IsActive",
                        title: "IsActive",
                        //integer format
                         width: 150
                    },
                     {
                         field: "IsBanner",
                         title: "IsBanner",
                         //integer format
                         width: 150
                     },
                    {
                        field: "IconChevronActive",
                        title: "IconChevronActive",
                        //integer format
                        width: 150
                    },
                    {
                        command: [{
                            name: "edit",
                            text: "@T("Admin.Common.Edit")"
                        }, {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });
            });
</script>
