﻿@model IList<ProductOverviewModel>
@using System.Web.Mvc.Html
@using Nop.Core.Data
@using Nop.Data
@using Nop.Plugin.Widget.NopSlider.Domain
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{

    <div class="product-grid home-page-product-grid">

        <div class="title">
            <strong>Carousel</strong>
        </div>
        @if (ViewBag.IsNavigationButton == 1)
        {
            if (ViewBag.NavigationButtonPosition == 1)
            {
                <div class="customNavigation row">
                    <a class="btn prev">Previous</a>
                    <a class="btn next">Next</a>
                </div>
            }
        }
        <div id="owl-demo" class="owl-carousel owl-theme">

            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_NopSliderProductBox", item)
                </div>
                @*<div class="item-box">1</div>
                    <div class="item-box">1</div>
                    <div class="item-box">1</div>
                    <div class="item-box">1</div>
                    <div class="item-box">1</div>
                    <div class="item-box">1</div>
                    <div class="item-box">1</div>
                    <div class="item-box">1</div>
                    <div class="item-box">1</div>*@
            }
        </div>
        @if (ViewBag.IsNavigationButton == 1)
        {
            if (ViewBag.NavigationButtonPosition == 0)
            {
                <div class="customNavigation row">
                    <a class="btn prev">Previous</a>
                    <a class="btn next">Next</a>
                </div>
            }
        }

    </div>
    <div class="hidden">


        <div class="NoOfItems">@ViewBag.NoOfItems</div>
        @if (ViewBag.IconChevronActive == 1)
        {
            <div class="IconChevronActiveCarousel">true</div>
        }
        else
        {

            <div class="IconChevronActiveCarousel">false</div>
        }
    </div>
}
<script>
    $(document).ready(function () {
        var itemNo = parseInt($(".NoOfItems").text(), 10);
        var owl = $("#owl-demo");
        var chevronActive = $(".IconChevronActiveCarousel").text();
        var chevronActive_bool = chevronActive == "true" ? true : false;
        owl.owlCarousel({
            items: itemNo,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            navigation: chevronActive_bool,
            navigationText: [
              "<i class='icon-chevron-left icon-white'><</i>",
              "<i class='icon-chevron-right icon-white'>></i>"
            ]
        });
        // Custom Navigation Events
        $(".next").click(function () {
            owl.trigger('owl.next');
        });
        $(".prev").click(function () {
            owl.trigger('owl.prev');

        });

    });
</script>