﻿@using Nop.Core.Data
@using Nop.Data
@using Nop.Plugin.Widget.NopSlider.Domain
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@model IEnumerable<Nop.Plugin.Widget.NopSlider.Domain.NopSliderRecord>

@{
    Layout = null;
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.carousel.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.theme.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/owl.transitions.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Content/Stylesheet1.css");
    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.NopSlider/Scripts/owl.carousel.js", true);
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/Content/bootstrap.min.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/font/glyphicons-halflings-regular.woff");
    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/Scripts/bootstrap.min.js", true);
    Html.AddScriptParts(ResourceLocation.Head, "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js", true);
    ViewBag.id = ViewBag.id;
}
@foreach(var item in Model)
{
    <div class="hidden">
        <div class="NopSliderId">@item.NopSliderId</div>
    </div>
    if (item.IsBanner == true)
    {
        if (item.NavigationButtonPosition == "banner_top")
        {
            <div class="customNavigation row">
                <a class="btn prev">Previous</a>
                <a class="btn next">Next</a>
                <a class="btn play">Autoplay</a>
                <a class="btn stop">Stop</a>
            </div>
        }
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div id="owl-demo-@item.NopSliderId" class="owl-carousel owl-theme">


                @foreach (var image in item.Items)
                {
                    if (image.ProductId == 0)
                    {
                        <div>
                            <a href="@image.Url" target="_blank"><img src="@image.FilePath" alt="@image.Caption" width="100%"></a>
                        </div>
                  
                    }
                }

            </div>
        </div>
    if (item.NavigationButtonPosition == "banner_bottom")
    {
        <div class="customNavigation">
            <a class="btn prev">Previous</a>
            <a class="btn next">Next</a>
            <a class="btn play">Autoplay</a>
            <a class="btn stop">Stop</a>
        </div>
    }
     <div class="hidden">
        <div class="IsProgressBar">@item.IsProgressBar</div>
        <div class="ProgressBarPosition">@item.ProgressBarPostition</div>
        <div class="TransitionStyle">@item.TransitionStyle</div>
        <div class="Interval">@item.Interval</div>
        @if (item.IconChevronActive == true)
        {
            <div class="IconChevronActive">true</div>
        }
        else
        {

            <div class="IconChevronActive">false</div>
        }
        @if (@item.IsMouseDragOn == true)
        {
            <div class="IsMouseDragOn">true</div>
        }
        else
        {
            <div class="IsMouseDragOn">false</div>
        }

    </div>
    
    }


    else
    {
        Html.RenderAction("NopSliderHomepageProducts", "NopSlider", new { NopSliderId = @item.NopSliderId });
    }
    <script>
    $(document).ready(function () {
        var time = parseInt($(".Interval").text(), 10); // time in seconds
        var $progressBar,
            $bar,
            $elem,
            isPause = false,
            tick,
            percentTime;
        chevronActive = $(".IconChevronActive").text();
        chevronActive_bool = chevronActive == "true" ? true : false;
        mouseDragOn = $(".IsMouseDragOn").text();
        mouseDragOn_bool = mouseDragOn == "true" ? true : false;
     
        var owl = $("#owl-demo-@item.NopSliderId");
        owl.owlCarousel({

            itemsDesktop: [1000, 2], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 1], // betweem 900px and 601px
            itemsTablet: [600, 1], //2 items between 600 and 0
            itemsMobile: false,  // itemsMobile disabled - inherit from itemsTablet option
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            afterInit: progressBar,
            afterMove: moved,
            startDragging: pauseOnDragging,
            mouseDrag: mouseDragOn_bool,
            transitionStyle: $(".TransitionStyle").show().html(),
            navigation: chevronActive_bool,
            navigationText: [
              "<i class='icon-chevron-left icon-white'><</i>",
              "<i class='icon-chevron-right icon-white'>></i>"
            ]
        });
        // Custom Navigation Events
        $(".next").click(function () {
            owl.trigger('owl.next');
        });
        $(".prev").click(function () {
            owl.trigger('owl.prev');
        });
        $(".play").click(function () {
            owl.trigger('owl.play', 7000); //owl.play event accept autoPlay speed as second parameter
            isPause = false;
        });
        $(".stop").click(function () {
            owl.trigger('owl.stop');
            isPause = true;
        });
        //$(".item").first().addClass("active");
        //$('.carousel-indicators li').first().addClass("active");

        // Init progressBar where elem is $("#owl-demo")
        function progressBar(elem) {
            $elem = elem;
            if ($(".IsProgressBar").show().html() == "True") {
                //build progress bar elements
                buildProgressBar();
                //start counting
                start();
            }
        }

        //create div#progressBar and div#bar then prepend to $("#owl-demo")
        function buildProgressBar() {
            if ($(".ProgressBarPosition").show().html() == "banner_top") {
                progressBarOnTop();
            }
            if ($(".ProgressBarPosition").show().html() == "banner_bottom") {
                progressBarOnBottom();
            }

        }
        function progressBarOnTop() {
            $progressBar = $("<div>", {
                id: "progressBar"
            });
            $bar = $("<div>", {
                id: "bar"
            });
            $progressBar.append($bar).prependTo($elem);
        }
        function progressBarOnBottom() {
            $progressBar = $("<div>", {
                id: "progressBar"
            });
            $bar = $("<div>", {
                id: "bar"
            });
            $progressBar.append($bar).appendTo($elem);
        }

        function start() {
            //reset timer
            percentTime = 0;
            //run interval every 0.01 second
            tick = setInterval(interval, 10);
        };

        function interval() {
            if (isPause === false) {
                percentTime += 1 / time;
                $bar.css({
                    width: percentTime + "%"
                });
                //if percentTime is equal or greater than 100
                if (percentTime >= 100) {
                    //slide to next item
                    $elem.trigger('owl.next');
                }
            }
        }

        //pause while dragging
        function pauseOnDragging() {
            isPause = true;
        }

        //moved callback
        function moved() {
            //clear interval
            clearTimeout(tick);
            //start again
            start();
        }

    });
</script>
}




