﻿@model GeneralCommonSettingsModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.GeneralCommon").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Settings.GeneralCommon")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.Action("StoreScopeConfiguration", "Setting")
    @Html.ValidationSummary(false)
    
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.StoreInformationSettings.StoreClosed)").click(toggleStoreClosed);
            $("#@Html.FieldIdFor(model => model.SecuritySettings.CaptchaEnabled)").click(toggleReCaptcha);

            toggleStoreClosed();
            toggleReCaptcha();
        });

        function toggleStoreClosed() {
            if ($('#@Html.FieldIdFor(model => model.StoreInformationSettings.StoreClosed)').is(':checked')) {
                $('#pnlStoreClosedAllowForAdmins').show();
            }
            else {
                $('#pnlStoreClosedAllowForAdmins').hide();
            }
        }

        function toggleReCaptcha() {
            if ($('#@Html.FieldIdFor(model => model.SecuritySettings.CaptchaEnabled)').is(':checked')) {
                $('#ssCaptchaShowOnLoginPagepnl').show();
                $('#ssCaptchaShowOnRegistrationPagepnl').show();
                $('#ssCaptchaShowOnContactUsPagepnl').show();
                $('#ssCaptchaShowOnEmailWishlistToFriendPagepnl').show();
                $('#ssCaptchaShowOnEmailProductToFriendPagepnl').show();
                $('#ssCaptchaShowOnBlogCommentPagepnl').show();
                $('#ssCaptchaShowOnNewsCommentPagepnl').show();
                $('#ssCaptchaShowOnProductReviewPagepnl').show();
                $('#ssReCaptchaPublicKeypnl').show();
                $('#ssReCaptchaPrivateKeypnl').show();
            }
            else {
                $('#ssCaptchaShowOnLoginPagepnl').hide();
                $('#ssCaptchaShowOnRegistrationPagepnl').hide();
                $('#ssCaptchaShowOnContactUsPagepnl').hide();
                $('#ssCaptchaShowOnEmailWishlistToFriendPagepnl').hide();
                $('#ssCaptchaShowOnEmailProductToFriendPagepnl').hide();
                $('#ssCaptchaShowOnBlogCommentPagepnl').hide();
                $('#ssCaptchaShowOnNewsCommentPagepnl').hide();
                $('#ssCaptchaShowOnProductReviewPagepnl').hide();
                $('#ssReCaptchaPublicKeypnl').hide();
                $('#ssReCaptchaPrivateKeypnl').hide();
            }
        }
    </script>


    <div id="generalsettings-edit">
        <ul>
            <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.GeneralCommon.StoreInformationSettings")
            </li>
            <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.GeneralCommon.SEOSettings")
            </li>
            <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.GeneralCommon.SecuritySettings")
            </li>
            <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.GeneralCommon.PdfSettings")
            </li>
            <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.GeneralCommon.LocalizationSettings")
            </li>
            <li @Html.RenderSelectedTabIndex(5, GetSelectedTabIndex())>
                @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings")
            </li>
        </ul>
        <div>
            @TabStoreInformationSettings()
        </div>
        <div>
            @TabSEOSettings()
        </div>
        <div>
            @TabSecuritySettings()
        </div>
        <div>
            @TabPdfSettings()
        </div>
        <div>
            @TabLocalizationSettings()
        </div>
        <div>
            @TabFullTextSettings()
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#generalsettings-edit").kendoTabStrip({
                animation:  {
                    open: {
                        effects: "fadeIn"
                    }
                },
                select: tabstrip_on_tab_select
            });
        });
    </script>

    {
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "generalsettings-edit");
        EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }


    
    
    @*save selected tab index*@
    <input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">
    
}
@helper TabStoreInformationSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.StoreClosed_OverrideForStore, model => model.StoreInformationSettings.StoreClosed, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.StoreClosed):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.StoreClosed)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.StoreClosed)
            </td>
        </tr>
        <tr id="pnlStoreClosedAllowForAdmins">
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.StoreClosedAllowForAdmins_OverrideForStore, model => model.StoreInformationSettings.StoreClosedAllowForAdmins, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.StoreClosedAllowForAdmins):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.StoreClosedAllowForAdmins)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.StoreClosedAllowForAdmins)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.DefaultStoreTheme_OverrideForStore, model => model.StoreInformationSettings.DefaultStoreTheme, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.DefaultStoreTheme):
            </td>
            <td class="adminData">
                <ul class="clearer" style="list-style: none;">
                    @foreach (var theme in Model.StoreInformationSettings.AvailableStoreThemes)
                    {
                        <li style="float: left; width: 210px;">
                            <p style="float: left; padding-top: 55px;">
                                <input type="radio" name="@Html.FieldNameFor(x => x.StoreInformationSettings.DefaultStoreTheme)" value="@theme.ThemeName" id="id_image_@theme.ThemeName"
                                       @if (theme.ThemeName == Model.StoreInformationSettings.DefaultStoreTheme) { <text> checked="checked" </text>   }>
                            </p>
                            <p style="float: left;">
                                <label for="id_image_@theme.ThemeName">
                                    <img src="@Url.Content(theme.PreviewImageUrl)" alt="@theme.PreviewText" title="@theme.PreviewText" width="175">
                                    <br />
                                    <label style="text-align:center;font-weight:bold;width:170px;">@theme.ThemeTitle</label>
                                </label>
                            </p>
                        </li>
                    }
                </ul>
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.DefaultStoreTheme)
                <em>@T("Admin.Configuration.Settings.GeneralCommon.DefaultStoreTheme.GetMore") <a href="http://www.nopcommerce.com/extensions-and-themes.aspx?category=4&utm_source=admin-panel&utm_medium=theme-settings&utm_campaign=admin-panel" target="_blank">http://www.nopcommerce.com/extensions-and-themes.aspx</a></em>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.AllowCustomerToSelectTheme_OverrideForStore, model => model.StoreInformationSettings.AllowCustomerToSelectTheme, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.AllowCustomerToSelectTheme):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.AllowCustomerToSelectTheme)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.AllowCustomerToSelectTheme)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.ResponsiveDesignSupported_OverrideForStore, model => model.StoreInformationSettings.ResponsiveDesignSupported, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.ResponsiveDesignSupported):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.ResponsiveDesignSupported)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.ResponsiveDesignSupported)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.DisplayEuCookieLawWarning_OverrideForStore, model => model.StoreInformationSettings.DisplayEuCookieLawWarning, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.DisplayEuCookieLawWarning):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.DisplayEuCookieLawWarning)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.DisplayEuCookieLawWarning)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StoreInformationSettings.ChainID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.ChainID)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.ChainID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StoreInformationSettings.ChainUserName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.ChainUserName)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.ChainUserName)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StoreInformationSettings.ChainPass):
            </td>
            <td class="adminData">
                @Html.PasswordFor(model => model.StoreInformationSettings.ChainPass)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.ChainPass)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.FacebookLink_OverrideForStore, model => model.StoreInformationSettings.FacebookLink, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.FacebookLink):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.FacebookLink)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.FacebookLink)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.TwitterLink_OverrideForStore, model => model.StoreInformationSettings.TwitterLink, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.TwitterLink):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.TwitterLink)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.TwitterLink)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.YoutubeLink_OverrideForStore, model => model.StoreInformationSettings.YoutubeLink, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.YoutubeLink):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.YoutubeLink)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.YoutubeLink)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.StoreInformationSettings.GooglePlusLink_OverrideForStore, model => model.StoreInformationSettings.GooglePlusLink, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.StoreInformationSettings.GooglePlusLink):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.StoreInformationSettings.GooglePlusLink)
                @Html.ValidationMessageFor(model => model.StoreInformationSettings.GooglePlusLink)
            </td>
        </tr>
    </table>
}
@helper TabSEOSettings()
{
    
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.PageTitleSeparator_OverrideForStore, model => model.SeoSettings.PageTitleSeparator, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.PageTitleSeparator):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.PageTitleSeparator)
                @Html.ValidationMessageFor(model => model.SeoSettings.PageTitleSeparator)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.PageTitleSeoAdjustment_OverrideForStore, model => model.SeoSettings.PageTitleSeoAdjustment, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.PageTitleSeoAdjustment):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.SeoSettings.PageTitleSeoAdjustment, Model.SeoSettings.PageTitleSeoAdjustmentValues)
                @Html.ValidationMessageFor(model => model.SeoSettings.PageTitleSeoAdjustment)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.DefaultTitle_OverrideForStore, model => model.SeoSettings.DefaultTitle, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.DefaultTitle):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.DefaultTitle)
                @Html.ValidationMessageFor(model => model.SeoSettings.DefaultTitle)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.DefaultMetaKeywords_OverrideForStore, model => model.SeoSettings.DefaultMetaKeywords, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.DefaultMetaKeywords):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.DefaultMetaKeywords)
                @Html.ValidationMessageFor(model => model.SeoSettings.DefaultMetaKeywords)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.DefaultMetaDescription_OverrideForStore, model => model.SeoSettings.DefaultMetaDescription, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.DefaultMetaDescription):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.DefaultMetaDescription)
                @Html.ValidationMessageFor(model => model.SeoSettings.DefaultMetaDescription)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.GenerateProductMetaDescription_OverrideForStore, model => model.SeoSettings.GenerateProductMetaDescription, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.GenerateProductMetaDescription):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.GenerateProductMetaDescription)
                @Html.ValidationMessageFor(model => model.SeoSettings.GenerateProductMetaDescription)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.ConvertNonWesternChars_OverrideForStore, model => model.SeoSettings.ConvertNonWesternChars, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.ConvertNonWesternChars):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.ConvertNonWesternChars)
                @Html.ValidationMessageFor(model => model.SeoSettings.ConvertNonWesternChars)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.CanonicalUrlsEnabled_OverrideForStore, model => model.SeoSettings.CanonicalUrlsEnabled, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.CanonicalUrlsEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.CanonicalUrlsEnabled)
                @Html.ValidationMessageFor(model => model.SeoSettings.CanonicalUrlsEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.WwwRequirement_OverrideForStore, model => model.SeoSettings.WwwRequirement, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.WwwRequirement):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.SeoSettings.WwwRequirement, Model.SeoSettings.WwwRequirementValues)
                @Html.ValidationMessageFor(model => model.SeoSettings.WwwRequirement)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.EnableJsBundling_OverrideForStore, model => model.SeoSettings.EnableJsBundling, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.EnableJsBundling):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.EnableJsBundling)
                @Html.ValidationMessageFor(model => model.SeoSettings.EnableJsBundling)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.EnableCssBundling_OverrideForStore, model => model.SeoSettings.EnableCssBundling, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.EnableCssBundling):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.EnableCssBundling)
                @Html.ValidationMessageFor(model => model.SeoSettings.EnableCssBundling)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.TwitterMetaTags_OverrideForStore, model => model.SeoSettings.TwitterMetaTags, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.TwitterMetaTags):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.TwitterMetaTags)
                @Html.ValidationMessageFor(model => model.SeoSettings.TwitterMetaTags)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.SeoSettings.OpenGraphMetaTags_OverrideForStore, model => model.SeoSettings.OpenGraphMetaTags, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.SeoSettings.OpenGraphMetaTags):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SeoSettings.OpenGraphMetaTags)
                @Html.ValidationMessageFor(model => model.SeoSettings.OpenGraphMetaTags)
            </td>
        </tr>
    </table>
}
@helper TabSecuritySettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.EncryptionKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.EncryptionKey)
                @Html.ValidationMessageFor(model => model.SecuritySettings.EncryptionKey)
                <input type="submit" name="changeencryptionkey" value="@T("Admin.Common.Change")" id="changeencryptionkey" class="adminButton" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.AdminAreaAllowedIpAddresses):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.AdminAreaAllowedIpAddresses)
                @Html.ValidationMessageFor(model => model.SecuritySettings.AdminAreaAllowedIpAddresses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.ForceSslForAllPages):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.ForceSslForAllPages)
                @Html.ValidationMessageFor(model => model.SecuritySettings.ForceSslForAllPages)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
                <br />
                A CAPTCHA is a program that can tell whether its user is a human or a computer.
                You've probably seen them — colorful images with distorted text at the bottom of
                Web registration forms. CAPTCHAs are used by many websites to prevent abuse from
                "bots," or automated programs usually written to generate spam. No computer program
                can read distorted text as well as humans can, so bots cannot navigate sites protected
                by CAPTCHAs. nopCommerce uses <a href="http://www.google.com/recaptcha" target="_blank">reCAPTCHA</a>.
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaEnabled)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaEnabled)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnLoginPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnLoginPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnLoginPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnLoginPage)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnRegistrationPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnRegistrationPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnRegistrationPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnRegistrationPage)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnContactUsPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnContactUsPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnContactUsPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnContactUsPage)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnEmailWishlistToFriendPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnEmailWishlistToFriendPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnEmailWishlistToFriendPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnEmailWishlistToFriendPage)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnEmailProductToFriendPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnEmailProductToFriendPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnEmailProductToFriendPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnEmailProductToFriendPage)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnBlogCommentPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnBlogCommentPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnBlogCommentPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnBlogCommentPage)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnNewsCommentPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnNewsCommentPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnNewsCommentPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnNewsCommentPage)
            </td>
        </tr>
        <tr id="ssCaptchaShowOnProductReviewPagepnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.CaptchaShowOnProductReviewPage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.CaptchaShowOnProductReviewPage)
                @Html.ValidationMessageFor(model => model.SecuritySettings.CaptchaShowOnProductReviewPage)
            </td>
        </tr>
        <tr id="ssReCaptchaPublicKeypnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.ReCaptchaPublicKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.ReCaptchaPublicKey)
                @Html.ValidationMessageFor(model => model.SecuritySettings.ReCaptchaPublicKey)
            </td>
        </tr>
        <tr id="ssReCaptchaPrivateKeypnl">
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SecuritySettings.ReCaptchaPrivateKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SecuritySettings.ReCaptchaPrivateKey)
                @Html.ValidationMessageFor(model => model.SecuritySettings.ReCaptchaPrivateKey)
            </td>
        </tr>
    </table>
}
@helper TabPdfSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.LetterPageSizeEnabled_OverrideForStore, model => model.PdfSettings.LetterPageSizeEnabled, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.PdfSettings.LetterPageSizeEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PdfSettings.LetterPageSizeEnabled)
                @Html.ValidationMessageFor(model => model.PdfSettings.LetterPageSizeEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.LogoPictureId_OverrideForStore, "pdf-logo-picture", Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.PdfSettings.LogoPictureId):
            </td>
            <td class="adminData" id="pdf-logo-picture">
                @Html.EditorFor(model => model.PdfSettings.LogoPictureId)
                @Html.ValidationMessageFor(model => model.PdfSettings.LogoPictureId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.InvoiceFooterTextColumn1_OverrideForStore, model => model.PdfSettings.InvoiceFooterTextColumn1, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.PdfSettings.InvoiceFooterTextColumn1):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.PdfSettings.InvoiceFooterTextColumn1, new { style = "Width: 250px; Height: 150px;" })
                @Html.ValidationMessageFor(model => model.PdfSettings.InvoiceFooterTextColumn1)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.OverrideStoreCheckboxFor(model => model.PdfSettings.InvoiceFooterTextColumn2_OverrideForStore, model => model.PdfSettings.InvoiceFooterTextColumn2, Model.ActiveStoreScopeConfiguration)
                @Html.NopLabelFor(model => model.PdfSettings.InvoiceFooterTextColumn2):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.PdfSettings.InvoiceFooterTextColumn2, new { style = "Width: 250px; Height: 150px;" })
                @Html.ValidationMessageFor(model => model.PdfSettings.InvoiceFooterTextColumn2)
            </td>
        </tr>
    </table>
}
@helper TabLocalizationSettings()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LocalizationSettings.UseImagesForLanguageSelection):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LocalizationSettings.UseImagesForLanguageSelection)
                @Html.ValidationMessageFor(model => model.LocalizationSettings.UseImagesForLanguageSelection)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LocalizationSettings.SeoFriendlyUrlsForLanguagesEnabled):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LocalizationSettings.SeoFriendlyUrlsForLanguagesEnabled)
                @Html.ValidationMessageFor(model => model.LocalizationSettings.SeoFriendlyUrlsForLanguagesEnabled)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LocalizationSettings.AutomaticallyDetectLanguage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LocalizationSettings.AutomaticallyDetectLanguage)
                @Html.ValidationMessageFor(model => model.LocalizationSettings.AutomaticallyDetectLanguage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)
                @Html.ValidationMessageFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LocalizationSettings.LoadAllLocalizedPropertiesOnStartup):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LocalizationSettings.LoadAllLocalizedPropertiesOnStartup)
                @Html.ValidationMessageFor(model => model.LocalizationSettings.LoadAllLocalizedPropertiesOnStartup)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LocalizationSettings.LoadAllUrlRecordsOnStartup):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LocalizationSettings.LoadAllUrlRecordsOnStartup)
                @Html.ValidationMessageFor(model => model.LocalizationSettings.LoadAllUrlRecordsOnStartup)
            </td>
        </tr>
    </table>
}
@helper TabFullTextSettings()
{
    <table class="adminContent">
        <tr>
            <td colspan="2">
                @if (Model.FullTextSettings.Supported)
                {
                    @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.Supported")
                }
                else
                {
                    @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.NotSupported")
                }
            </td>
        </tr>
        @if (Model.FullTextSettings.Supported)
        {
            <tr>
                <td colspan="2">
                    @if (Model.FullTextSettings.Enabled)
                    {
                        @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.CurrenlyEnabled")
                    }
                    else
                    {
                        @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.CurrenlyDisabled")
                    }
                    <input type="submit" name="togglefulltext" value="@(Model.FullTextSettings.Enabled ? T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.Disable").Text : T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.Enable").Text)" class="adminButton" />
                </td>
            </tr>
            if (Model.FullTextSettings.Enabled)
            {
                <td colspan="2">
                    @T("Admin.Configuration.Settings.GeneralCommon.FullTextSettings.NoiseWords")
                </td>
            }
            if (Model.FullTextSettings.Enabled)
                {
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.FullTextSettings.SearchMode):
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(model => model.FullTextSettings.SearchMode, Model.FullTextSettings.SearchModeValues)
                    @Html.ValidationMessageFor(model => model.FullTextSettings.SearchMode)
                </td>
            </tr>
                }
        }
    </table>
}
