﻿h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Roboto', sans-serif; font-weight: 600; }
body { font-family: 'Roboto', sans-serif; font-weight: 400; }
/*Reset Style*/
@import url(//fonts.googleapis.com/css?family=Roboto);
body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, form, input { margin: 0; padding: 0; }
body { font-family: 'Roboto', sans-serif; font-size: 14px; background: #fff; }
a { color: #3664A5; text-decoration: none; }
    a:hover { color: #3664A5; text-decoration: underline; cursor: pointer; }
img { border: 0; }
img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; image-rendering: -webkit-optimize-contrast; }
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }
p { margin: 12px 0; }
textarea { width: 100%; font-family: 'Roboto', sans-serif; font-size: 12px; }
checkbox, input, radio, select, button { font-family: 'Roboto', sans-serif; font-size: 12px; padding: 6px 4px; }
h5 { font: normal 12px/18px Adamina; color: #3c3c3c; }
h2 { font: normal 22px/22px Adamina; color: #3c3c3c; }
/*media all*/
ul, ol { padding: 0; margin: 5px 0 5px 5px; }
/*media all*/
a { color: #ce0227; text-decoration: none; }
    a:hover, a:focus { color: #f6bb1d; text-decoration: underline; }
/*media all*/
ul li { font-size: 14px; font-family: 'Roboto', sans-serif; }
/*Reset Style*/

button, a, .icon { transition: background-color 0.3s ease-in-out; }
.offer.offer-default ul li { list-style: none; }
.panel-body ul li { list-style: none; }
.col-md-3.layout-left { padding: 0 30px 0 0; }
.col-md-6.layout-middle { padding: 0; }
.col-md-3.layout-right { padding: 0 0 0 30px; }
.col-md-9.layout-right { padding: 0; }

/* Main marketing message and sign up button */
.jumbotron { text-align: center; background-color: transparent; }
    .jumbotron .btn { font-size: 21px; padding: 14px 24px; }

/* Customize the nav-justified links to be fill the entire space of the .navbar */
.masthead > .navbar { border: none; border-radius: 0px; }
.masthead .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: #fff; text-decoration: none; }
.top-menu ul.dropdown-menu > li > a { padding: 10px 15px; color: #2B2B2B; }
.top-menu ul.dropdown-menu { padding: 10px 15px; }
.top-menu ul.dropdown-menu { border: 1px solid black; padding: 0; border-radius: 0; }
.navbar-fixed-top.top-menu { height: 55px; width: 100%; top: 0; left: 0; background: #CE0227; -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); /*z-index: 999999;*/ color: #2B2B2B; /*background-color: #ecf0f1;
border-bottom: 1px solid #E2E4E6;*/ }

    .navbar-fixed-top.top-menu li { }
        .navbar-fixed-top.top-menu li > a { color: #000; }
            .navbar-fixed-top.top-menu li > a:hover { color: #FFF; }
            .navbar-fixed-top.top-menu li > a:active { background-color: #2B2B2B; color: #FFF; }
            .navbar-fixed-top.top-menu li > a:focus { color: #FFF; }
.masthead ul.dropdown-menu { border: none; padding: 0; border-radius: 0; }
    .masthead ul.dropdown-menu > li > a { padding: 10px 15px; color: #fff; }
.masthead .open > .dropdown-menu { animation-name: slidenavAnimation; animation-duration: .4s; animation-iteration-count: 1; animation-timing-function: ease; animation-fill-mode: forwards; -webkit-animation-name: slidenavAnimation; -webkit-animation-duration: .4s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease; -webkit-animation-fill-mode: forwards; -moz-animation-name: slidenavAnimation; -moz-animation-duration: .4s; -moz-animation-iteration-count: 1; -moz-animation-timing-function: ease; -moz-animation-fill-mode: forwards; }
.search-box { padding: 10px 0px; }

@keyframes slidenavAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes slidenavAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (min-width: 768px) {
    .nav-justified { max-height: 52px; }
        .nav-justified > li > a { border-left: 1px solid #fff; border-right: 1px solid #d5d5d5; }
        .nav-justified > li:first-child > a { border-left: 0; border-radius: 5px 0 0 5px; }
        .nav-justified > li:last-child > a { border-radius: 0 5px 5px 0; border-right: 0; }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead, .marketing, .footer { padding-left: 0; padding-right: 0; }
}

a { color: #000; }
.header-logo { float: left; margin-top: 5px; text-align: left; color: #ddd; }
    .header-logo:hover { color: #fff; text-decoration: none; }
    .header-logo i { zoom: 1.5; }
a.logo { background: url("images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; height: 130px; text-decoration: none; width: 215px; }
.title-box { margin: 70px 0 30px 0; }
.slide-container { padding: 0 3px; }
.mid-content-title { padding: 8px 12px 10px 0; background: none; }
.mid-content-body { padding: 8px 10px; }
.mid-content-title > h3 { padding: 0; margin: 0; }
.pull-right.item-container > div { margin-bottom: 5px; }
.panel-body > ul > li { list-style: none; }
.panel.panel-default.side-nav > .panel-body { padding: 15px; }
.footer-poweredby, .footer-disclaimer, .footer-store-theme { text-align: center; }
.top-menu-container { margin-bottom: 30px; }
.panel.panel-default.side-nav, .panel.panel-default.form-panel { border: 0; box-shadow: none; background: none; }
    .panel.panel-default.form-panel > .panel-heading > h3 { margin: 0; font-size: 20px; margin-top: 5px; color: #993300 !important; text-shadow: none; }
    .panel.panel-default.side-nav > .panel-heading { color: #000; border-radius: 0; cursor: default; }
div.panel-body { border: none; }
.panel.panel-default.side-nav > .panel-body > ul > li > a { color: #000; }
    .panel.panel-default.side-nav > .panel-body > ul > li > a:hover { background-color: #eee; }
.panel-body > .poll { padding: 10px; }
div.panel-body > div.poll > ul.poll-options { list-style: none; padding: 4px 0px 0px 10px; }
.panel-body .poll .poll-results { margin-top: 5px; }
.panel-body > .tags { padding: 5px 5px 10px 0; margin: 0 0 15px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.tags > a { color: #000; }
div.block-popular-tags div.view-all { padding: 0px 0px 10px 10px; }
div.panel-body > div.newsletter-subscribe-block { padding: 10px; }
div.newsletter-subscribe-block > div.newsletter-email { padding: 10px 0px; }
.alert-info { color: #000000; background-color: #eee; border-color: #FDFDFD; }
.home-page-best-seller .rating { margin-left: 32%; }
.required { color: red; }

/*footer*/
.footer { background: #3498DB; color: #fff; font-size: 12px; padding: 0; margin-top: 10px; bottom: 0; width: 100%; }
    .footer .first-footer { padding-bottom: 10px; }
    .footer li { line-height: 25px; float: left; }
    .footer a { color: #aaaaaa; }
        .footer a:hover { text-decoration: none; color: #eeeeee; }
    .footer .title { text-transform: uppercase; color: #aaaaaa; font-weight: 600; font-size: 13px; padding-bottom: 5px; }
    .footer .getintouch li { padding-bottom: 10px; }
        .footer .getintouch li:hover div.icon { background-color: #000; }
    .footer .getintouch div.icon { display: table-cell; width: 38px; height: 38px; background-color: #333333; border: 1px #444444 solid; vertical-align: middle; text-align: center; -webkit-transition: all 150ms ease-in-out; -moz-transition: all 150ms ease-in-out; -o-transition: all 150ms ease-in-out; -ms-transition: all 150ms ease-in-out; transition: all 150ms ease-in-out; }
    .footer .getintouch .fa { font-size: 15px; line-height: 27px; }
    .footer .getintouch span a { display: block; line-height: 0px; }
    .footer .getintouch div.c-info { display: table-cell; padding-left: 10px; }
    .footer .social-icons { padding: 10px 0; }
        .footer .social-icons ul li { display: block; margin-right: 1px; float: left; }
            .footer .social-icons ul li a { display: table-cell; vertical-align: middle; text-align: center; width: 50px; height: 50px; line-height: 0px; padding: 0px; background-color: #333333; }
                .footer .social-icons ul li a .fa { font-size: 18px; }
        .footer .social-icons .google-plus:hover a { background-color: #dc2310; }
        .footer .social-icons .youtube:hover a { background-color: #cd201f; }
        .footer .social-icons .twitter:hover a { background-color: #33bce9; }
        .footer .social-icons .facebook:hover a { background-color: #37528d; }
        .footer .social-icons .rss:hover a { background-color: #FF6600; }
    .footer .copyrights { padding-top: 5px; padding-bottom: 5px; }
        .footer .copyrights .copytxt { padding-bottom: 10px; display: inline-block; }
        .footer .copyrights .payment-icons { padding-bottom: 10px; float: right; text-align: center; }
            .footer .copyrights .payment-icons a { display: inline-block; padding-left: 10px; opacity: 0.2; }
                .footer .copyrights .payment-icons a:hover { opacity: 0.4; }
        .footer .copyrights .btmlinks { padding-left: 20px; }
    .footer ul { list-style-type: none; padding: 0px; margin: 0; overflow: hidden; margin-top: 5px; }
    .footer a { color: #ddd; padding-right: 15px; font-weight: normal; text-shadow: none; font-size: 13px; text-transform: uppercase; }
        .footer a:hover { text-decoration: none; color: #fff; }
.footer-logo { padding: 5px; max-height: 40px; }
/*footer   end*/
.offer { border: 0; margin: 0; overflow: hidden; }
.offer-default { border-color: #999999; padding: 0; }
.silde-show-offer { height: auto; margin-bottom: 25px; }
.picture { }
    .picture img { width: 100%; height: 100%; }
.prices { margin: 5px 0; font-size: 1.3em; font-weight: bold; }
.price.old-price { text-decoration: line-through; }
.page-title h1 { font-size: 24px; font-weight: 600; color: #000; }
h2.product-title { padding: 0; margin: 0; margin-bottom: 5px; }
    h2.product-title > a { color: #333; font-size: 20px; font-weight: 600; }
        h2.product-title > a:hover { text-decoration: none; cursor: pointer; }
h3.product-title { padding: 0; margin: 0; margin-bottom: 5px; }
    h3.product-title > a { color: #333; font-size: 20px; font-weight: 600; }
        h3.product-title > a:hover { text-decoration: none; cursor: pointer; }
h2.product-title, h3.product-title { margin: 0 0 10px 0; padding: 10px 0; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
h2.product-title { }
h3.product-title { }
.product-list .picture, .product-list.home-page-product-list .picture { float: left; margin: 0 4px; }
.product-list .middle-content { float: left; margin: 0 4px; width: 65%; }
.product-list.home-page-product-list .middle-content { float: left; margin: 0 4px; width: 55%; }
.product-list .add-info, .product-list.home-page-product-list .add-info { float: right; margin: 0 4px; }
.product-grid > .offer.offer-default { float: left; height: 400px; margin: 5px; text-align: center; width: 32%; }
.sub-category-grid .offer.offer-default { width: 25%; margin: 5px; text-align: center; float: left; }
.glyphicon { background: #fff; padding: 8px; border-radius: 20px; color: #3498DB; margin-right: 10px; }
.top-icon i { background: #fff; padding: 8px; border-radius: 20px; color: #3498DB; }
.top-icon .fa-facebook { padding: 8px 12px; }
.top-icon .glyphicon-cog { margin-right: 0; }
.panel-body table tr td { padding-left: 15px; }
.panel-body .table { margin-bottom: 0px; }
div.pager li > a,
div.pager li > span { border-radius: 0px; }
ul.group > li { list-style: none; }
ul.nav > li.title { background-color: #F0F0F0; display: block; padding: 5px 5px; }
.remove-filter > a { color: #000; font-weight: bold; }
th.cart { width: 100px; }
.cart.table th { background-color: #f5f5f5; }
.buttons { margin: 10px 0; }
.middle-content .buttons { margin: 10px 0; }

/*Start*/
ul { list-style-type: none; }
.address-item .left { padding-left: 40px; }
.space10 { margin-top: 10px; }
.space20 { margin-top: 20px; }
.down-space-30 { margin-bottom: 30px; }
.down-space-10 { margin-bottom: 10px; }
.alignright { text-align: right; }
.square-box { border-radius: 0px; }
.inheri-width { width: inherit; }
.pull-text-right { text-align: right; }
.pull-text-left { text-align: left; }
.pull-text-center { text-align: center; }
.home-page-product-grid .rating { margin-left: 32%; }
.offer.home-page-categories { height: 200px; }
    .offer.home-page-categories .img-responsive { display: inline; }

/*badge number css start*/
.op-number { font-size: 12px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; color: #ffffff; display: inline-block; line-height: 14px; text-align: center; padding: 2px; float: right; }
.dropdown-filter { height: 25px; padding-top: 0px; padding-bottom: 0px; }
/*badge number css end*/

/*------------------------------------*\
Page: One Page Shopping Cart  START
\*------------------------------------*/
.tab-section .step .box-content { padding: 15px; }
.noproot-opc-payment-info select { color: #696763; border-radius: 0; resize: none; background: #F0F0E9; border: 0 none; margin-bottom: 10px; padding: 10px; width: 100%; font-weight: 300; }
    .noproot-opc-payment-info select#ExpireMonth { width: 70px; }
    .noproot-opc-payment-info select#ExpireYear { width: 80px; }
.noproot-opc-payment-info input#CardholderName { color: #696763; border-radius: 0; resize: none; background: #F0F0E9; border: 0 none; margin-bottom: 10px; padding: 10px; width: 100%; font-weight: 300; }
.noproot-opc-payment-info input#CardNumber { color: #696763; border-radius: 0; resize: none; background: #F0F0E9; border: 0 none; margin-bottom: 10px; padding: 10px; width: 100%; font-weight: 300; }
.noproot-opc-payment-info input#CardCode { color: #696763; border-radius: 0; resize: none; background: #F0F0E9; border: 0 none; margin-bottom: 10px; padding: 10px; width: 100%; font-weight: 300; }
.rec-banner.deactive_position:hover { cursor: not-allowed; }
    .rec-banner.deactive_position:hover a { color: #FFF; }
        .rec-banner.deactive_position:hover a:hover { color: #FFF; }
        .rec-banner.deactive_position:hover a:active { color: #FFF; }
.rec-banner.active_position a { text-decoration: none; color: #FFF; }
    .rec-banner.active_position a:hover { text-decoration: none; color: #FFF; }
    .rec-banner.active_position a:active { text-decoration: none; color: #FFF; }
.active_position { border-radius: 4px; padding: 10px; }
.deactive_position { border-radius: 4px; padding: 10px; }
.rec-banner.deactive_position { color: #000; }
    .rec-banner.deactive_position a { text-decoration: none; color: #000; }
        .rec-banner.deactive_position a:hover, .rec-banner.deactive_position a:active { text-decoration: none; color: #000; }
/*------------------------------------*\
Page: Shopping Cart  END
\*------------------------------------*/

/*------------------------------------*\
Page: Homepage Slide Show START
\*------------------------------------*/
.title-carousel-control { padding: 10px; border-radius: 0px; text-decoration: none; }
/*------------------------------------*\
Page: Homepage Slide Show END
\*------------------------------------*/


/*------------------------------------*\
Page: Notification START
\*------------------------------------*/
.notifications { position: fixed; height: 55px; width: 100%; top: 55px; left: 0; color: #FFF; /*background: #000;*/ -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16); z-index: 999999; }
    .notifications.error { background: #8A0707; }
    .notifications.success { background: #092E20; }
    .notifications p { text-align: center; padding: 15px 0; }
    .notifications .close { background: url(images/ico-close-notification-bar.png) no-repeat; width: 20px; height: 20px; cursor: pointer; margin: 15px 20px; }
    .notifications a, .notifications a:hover { text-decoration: none; color: #FFF; }
/*------------------------------------*\
Page: Notification  END
\*------------------------------------*/

/*------------------------------------*\
Page: Blog START + News START
\*------------------------------------*/
.paddding-right0 { padding-right: 0px; }
.paddding-left0 { padding-left: 0px; }
.blogpost-page .post-date, .news-item-page .news-date { margin-top: 10px; }
.blogpost-page .tags { padding-left: 0px; }
.blog-posts legend, .news-items legend { padding: 15px 0px 5px 0px; }
.blogpost-page .new-comment .title, .news-item-page .new-comment .title { margin-bottom: 15px; }
.blogpost-page .blog-comment .comment-body, .news-item-page .news-comment .comment-total { padding: 10px; }
.news-item-page .input-comment-title { margin-bottom: 10px; }
.blogpost-page .blog-comment .avatar, .news-item-page .news-comment .avatar { padding-top: 10px; }
.header-rss { color: #ffffff; margin-right: 12px; }
.header-rss-icon { background-color: #FF6600; }
.header-rss:hover .header-rss-icon { color: #FF6600; background-color: #ffffff; }
/*------------------------------------*\
Page: Blog END + News END
\*------------------------------------*/

/*------------------------------------*\
Page: Forum START
\*------------------------------------*/
.forums-main-page .forums-main-header { padding-top: 30px; }
.forums-table-section .forums-table-section-title { padding: 30px 0px 10px 0px; }
    .forums-table-section .forums-table-section-title h4 { display: inline; }
.forums-table-section .forums-table-section-body thead th { padding-top: 20px; padding-bottom: 20px; }
.forums-table-section .forums-table-section-body .forum-name, .forums-table-section .forums-table-section-body .topic-name { padding-left: 20px; }
.forums-table-section .forums-table-section-body .topic-name { width: 60%; }
.forum-topic-page .topic-header, .forum-page .actions { background-color: #f0f0f0; padding-top: 20px; padding-bottom: 20px; }
.forum-topic-page .posts .forum-post .user-info .user-stats { padding: 0px; }
.forum-topic-page .posts .forum-post .post-body { padding: 10px; }

/*------------------------------------*\
Page: Forum START
\*------------------------------------*/
/*------------------------------------*\
Page: Product Details START
\*------------------------------------*/
.product-details-page { border: 1px solid #d3d3d3; margin-top: 10px; }
    .product-details-page .panel { margin-bottom: 0px; }
.product-collateral { margin-top: 10px; margin-bottom: 10px; clear: both; }
.product-essential { }
.product-details-page .gallery { margin-top: 25px; margin-bottom: 15px; }
    .product-details-page .gallery .picture { }
    .product-details-page .gallery .picture-thumbs { margin-top: 10px; }
        .product-details-page .gallery .picture-thumbs a { margin-right: 3px; }
.product-details-page .overview { padding: 10px; border: 1px solid #eee; }
.product-details-page .product-name { color: #5C5B5B; font-size: 1.3em; margin-bottom: 0.3em; padding-top: 10px; }
.product-details-page .short-description, .product-details-page .manufacturers, .product-details-page .sku, .product-details-page .manufacturer-part-number, .product-details-page .stock, .product-details-page .gtin, .product-details-page .delivery-date, .product-details-page .product-vendor { color: #555; margin-bottom: .3em; font-size: 1.1em; }
.product-details-page .free-shipping { background: url('images/free-shipping.png') left 0px no-repeat; font-size: 11px; height: 60px; width: 120px; line-height: 12px; padding: 18px 5px 0 4px; text-align: center; color: #fff; font-weight: normal; }
.product-details-page .full-description { border: 1px solid #eee; clear: both; color: #555; margin-bottom: .3em; padding: 10px; }
    .product-details-page .full-description ul, .product-details-page .full-description ol { margin-left: 25px; }
.product-details-page .back-in-stock-subscription { margin-top: 10px; margin-bottom: 10px; }
.product-details-page .email-a-friend { margin: 10px 5px 10px 0px; float: left; }
.product-details-page .compare-products { margin: 10px 0 10px 0px; float: left; }
.product-details-page .product-share-button { margin-top: 10px; margin-bottom: 10px; clear: both; }
.product-details-page .product-reviews-overview { margin-top: 20px; margin-bottom: 20px; }
    .product-details-page .product-reviews-overview .product-review-box { margin-right: 5px; }
.rating { height: 16px; width: 80px; background: url(images/star-x-inactive.png) 0 0 repeat-x; }
    .rating div { float: left; height: 16px; background: url(images/star-x-active.png) 0 0 repeat-x; }
.product-price label { font-size: 15px; }
.old-product-price { font-size: 15px; }
.tax-shipping-info { font-size: 15px; }
.product-details-page .product-reviews-overview .product-review-links .separator { margin: 0 2px; }
.product-details-page .product-reviews-overview .product-review-links { margin: 0; }
.product-details-page .product-reviews-overview .product-no-reviews a { text-decoration: underline; }
.product-details-page .product-variant-list { /*float: left;clear: none;*/ clear: both; padding: 10px 0; border: 0; /*margin-bottom:20px;*/ margin-top: 10px; }
    .product-details-page .product-variant-list .product-variant-line { border: 1px solid #EEEEEE; padding: 20px; margin: 10px 0; zoom: 1; }
        .product-details-page .product-variant-list .product-variant-line:after { content: "."; display: block; clear: both; height: 0; font-size: 0; line-height: 0; visibility: hidden; }
.add-to-cart-button { padding: 5px 10px; cursor: pointer; background: #7DB72F; background: -webkit-gradient(linear,left top,left bottom,from(#7DB72F),to(#4E7D0E)); background: -moz-linear-gradient(top,#7DB72F,#4E7D0E); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DB72F',endColorstr='#4E7D0E'); color: #fff; text-shadow: none; border-color: #999; border: 0 none; font-weight: 700; font-size: 1.3em; }
.product-details-page .product-variant-list .add-to-cart-button { margin-left: 0; display: block; }
.product-details-page .no-associated-products { font-weight: bold; }
.add-to-cart-button:hover { color: #fff; }
.add-to-wishlist-button { display: block; margin-top: 10px; }
.product-details-page .variant-picture { clear: both; float: left; margin-bottom: 15px; }
.product-details-page .variant-overview { float: left; width: 100%; }
.product-details-page .variant-name { color: #5C5B5B; font-size: 1.3em; margin-bottom: .3em; }
.product-details-page .variant-description { clear: both; color: #555; margin-bottom: .3em; }
.product-details-page .download-sample { clear: both; color: #555; margin-top: 15px; margin-bottom: 15px; }
    .product-details-page .download-sample .download-sample-button { -x-system-font: none !important; background: #F1F1F1 url(images/download-sample-bg.gif) repeat-x scroll 0 100%; border: 1px solid #B5B5B5; color: #444; cursor: pointer; font-family: arial,sans-serif !important; font-size: 11px !important; font-size-adjust: none !important; font-stretch: normal !important; font-style: normal !important; font-variant: normal !important; font-weight: 700 !important; line-height: normal !important; overflow: visible; padding: 1px 5px; text-align: center; text-transform: uppercase; vertical-align: middle; width: auto; }
        .product-details-page .download-sample .download-sample-button a { text-decoration: none; }
            .product-details-page .download-sample .download-sample-button a:hover { color: #444; }
.product-details-page .product-variant-line .prices { /*float:left;*/ padding-top: 10px; margin-right: 30px; }
.product-details-page .product-essential .prices { margin-top: 15px; margin-bottom: 15px; }
.product-details-page .prices .product-price { font-weight: bold; }
    .product-details-page .prices .product-price span { color: #B80709; font-size: 20px; }
.product-details-page .prices .old-product-price { color: #5C5B5B; }
    .product-details-page .prices .old-product-price span { text-decoration: line-through; }
.product-details-page .customer-entered-price { margin-bottom: 10px; }
.product-details-page .add-to-cart { padding-top: 10px; }
    .product-details-page .add-to-cart .qty-input { width: 75px; }
    .product-details-page .add-to-cart .add-to-cart-panel .form-control { padding: 6px 2px; }
.product-details-page .attributes { margin-bottom: 10px; }
    .product-details-page .attributes dl dt { margin: 0px 0 0; }
    .product-details-page .attributes .text-prompt { font-weight: bold; }
    .product-details-page .attributes .attribute-description { font-size: 11px; }
    .product-details-page .attributes ul.option-list { padding: 0px; margin: 0px; }
        .product-details-page .attributes ul.option-list li { list-style: none; }
    .product-details-page .attributes textarea { width: 300px; height: 150px; }
    .product-details-page .attributes ul.color-squares li { display: inline; }
    .product-details-page .attributes ul.color-squares .color-container { position: relative; display: inline-block; border: solid 1px #999; padding: 1px; margin-bottom: 5px; }
    .product-details-page .attributes ul.color-squares .selected-value .color-container { border-color: #075899; border-width: 2px; padding: 0; }
    .product-details-page .attributes ul.color-squares .color { display: inline-block; width: 18px; height: 18px; }
    .product-details-page .attributes ul.color-squares label { cursor: pointer; position: relative; }
    .product-details-page .attributes ul.color-squares input { height: 0; overflow: hidden; z-index: -10000; position: absolute; float: none; }
.product-details-page .giftcard { }
    .product-details-page .giftcard dt { clear: left; float: left; width: 150px; }
    .product-details-page .giftcard label { display: inline-block; width: 150px; vertical-align: top; }
    .product-details-page .giftcard .recipient-name { }
    .product-details-page .giftcard .recipient-email { }
    .product-details-page .giftcard .sender-name { }
    .product-details-page .giftcard .sender-email { }
    .product-details-page .giftcard .message { width: 300px; height: 100px; }
.related-products-grid, .also-purchased-products-grid { margin-top: 10px; }
    .related-products-grid .title, .also-purchased-products-grid .title { text-align: left; padding: 5px; font-weight: 700; clear: both; font-size: 1.1em; color: #5C5B5B; }
    .related-products-grid .item-box, .also-purchased-products-grid .item-box { padding-bottom: 10px; text-align: center; vertical-align: text-top; }
.product-specs-box { }
    .product-specs-box .data-table td { padding-left: 0px; }
    .product-specs-box .title { text-align: left; padding: 5px; font-weight: 700; clear: both; font-size: 1.1em; color: #5C5B5B; }
    .product-specs-box .data-table { margin: 5px; }
.product-tags-box { color: #555; zoom: 1; }
    .product-tags-box:after { content: "."; display: block; clear: both; height: 0; font-size: 0; line-height: 0; visibility: hidden; }
    .product-tags-box .title { text-align: left; padding: 5px; font-weight: 700; clear: both; font-size: 1.1em; color: #5C5B5B; }
    .product-tags-box .product-tags-list { }
        .product-tags-box .product-tags-list ul { padding-left: 0px; margin-left: 0px; }
        .product-tags-box .product-tags-list a { text-decoration: underline; }
        .product-tags-box .product-tags-list li { float: left; padding-left: 5px; list-style: none; }
.tier-prices { text-align: center; margin-bottom: 10px; }
    .tier-prices .prices-header { background: #3a3a3a; color: #FFF; padding: 3px; font-weight: 700; }
    .tier-prices .prices-list table { width: 100%; border-collapse: collapse; text-align: center; vertical-align: middle; background: #f3f3f3; }
    .tier-prices .prices-list td { border-bottom: solid 3px #d7d7d7; padding-top: 3px; padding-bottom: 3px; font-weight: 700; }
    .tier-prices .prices-list .field-header { font-weight: 700; text-align: center; }
    .tier-prices .prices-list .item-quantity { }
    .tier-prices .prices-list .item-price { color: #B80709; }
.remove_left_padding { padding-left: 0px; }
.remove_right_padding { padding-right: 0px; }
.padding_top_bottom { padding-top: 20px; padding-bottom: 20px; }
.add_left_padding { padding-left: 15px; }
.product-review-helpfulness { padding-top: 10px; }
.product-review-item { padding-bottom: 15px; }
.product-details-page .short-description .product-details-label { color: #444444; font-size: 15px; }
/* SLIM BOX (PRODUCT IMAGES) */
#lbOverlay { position: fixed; z-index: 9999; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; cursor: pointer; }
#lbCenter, #lbBottomContainer { position: absolute; z-index: 9999; overflow: hidden; background-color: #fff; }
.lbLoading { background: #fff url(images/loading.gif) no-repeat center; }
#lbImage { position: absolute; left: 0; top: 0; border: 10px solid #fff; background-repeat: no-repeat; }
#lbPrevLink, #lbNextLink { display: block; position: absolute; top: 0; width: 50%; outline: none; }
#lbPrevLink { left: 0; }
    #lbPrevLink:hover { background: transparent url(images/prevlabel.gif) no-repeat 0 15%; }
#lbNextLink { right: 0; }
    #lbNextLink:hover { background: transparent url(images/nextlabel.gif) no-repeat 100% 15%; }
#lbBottom { font-size: 10px; color: #666; line-height: 1.4em; text-align: left; border: 10px solid #fff; border-top-style: none; }
#lbCloseLink { display: block; float: right; width: 66px; height: 22px; background: transparent url(images/closelabel.gif) no-repeat center; margin: 5px 0; outline: none; }
#lbCaption, #lbNumber { margin-right: 71px; }
#lbCaption { font-weight: 700; }
/*------------------------------------*\
Page: Product Details END
\*------------------------------------*/

/*------------------------------------*\
Page: Search START
\*------------------------------------*/
.top_padding15 { padding-top: 15px; }
/*------------------------------------*\
Page: Search END
\*------------------------------------*/

/*------------------------------------*\
Product view START
\*------------------------------------*/
.product-list .add-info, .product-list.home-page-product-list .add-info { float: none; text-align: right; }
    .product-list .add-info .prices, .product-list.home-page-product-list .add-info .prices { font-size: 1.3em; }
    .product-list .add-info .new-prices { font-size: 1.3em; font-weight: bold; }
.product-grid .add-info { position: absolute; left: 0; text-align: center; bottom: 0; width: 100%; height: 28%; padding: 0px 16px 0px 16px; }
.product-grid .white-box { }
.white-box .picture { }
    .white-box .picture img { height: 100%; width: 100%; background: #fff; }
.product-grid .ash-box { height: 104px; background-color: #F5F5F5; padding-top: 2px; padding-bottom: 2px; }
    .product-grid .ash-box .prices { height: 25px; margin-top: 10px; font-size: 1.1em; }
    .product-grid .ash-box .new-prices { height: 25px; margin-top: 10px; font-size: 1.4em; font-weight: bold; }
    .product-grid .ash-box .buttons { margin-top: 15px; }
.category-ash-box { height: 70px; }
/*------------------------------------*\
Product view END
\*------------------------------------*/
/*------------------------------------*\
FLY OUT Shopping Cart Start
\*------------------------------------*/
#flyout-cart { padding: 10px 15px; width: 300px; max-height: 300px; overflow-y: auto; }
/*------------------------------------*\
FLY OUT Shopping Cart END
\*------------------------------------*/

/*Strating Fixed Top Menu*/
.top-menu { background: #3498db; border-radius: 0; margin-bottom: 10px; }
    .top-menu.navbar-default .navbar-nav > li > a { margin-right: 2px; font-size: 13px; font-weight: normal; color: #ddd; }
        .top-menu.navbar-default .navbar-nav > li > a:hover { color: #fff; }
    .top-menu ul.dropdown-menu { padding: 10px 15px; padding: 0; border: 0; z-index: 10000; background: #3498DB; box-shadow: 0 6px 12px rgba(0,0,0,.175); }
        .top-menu ul.dropdown-menu li { border-bottom: 1px dashed #d3d3d3; border-right: 0; }
            .top-menu ul.dropdown-menu li:last-child { border-bottom: none; }
        .top-menu ul.dropdown-menu > li > a { color: #ddd !important; background: #3498DB !important; font-size: 13px; }
            .top-menu ul.dropdown-menu > li > a:hover { color: #fff !important; background: #3498DB !important; }
    .top-menu .navbar-right { }
    .top-menu.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { background-color: #2B2B2B; color: #fff; }
.test.collapse { padding-right: 0px; padding-left: 0px; }
.navbar-collapse.test { background: none; padding: 0px; }
.navbar-collapse { padding: 0; }
.header-logo { color: #fff; display: inline-block; font-family: "Oswald",sans-serif; font-size: 20px; padding: 4px 12px; text-transform: uppercase; -webkit-transition: all 0.5; -o-transition: all 0.5; transition: all 0.5; font-weight: 700; font-style: italic; }
/*Ending of Fixed Top Menu*/
/*media query for auto hover dropdown on desktops start*/
@media (min-width:1024px) {
    .dropdown:hover .dropdown-menu { display: block; }
}
/*media query for auto hover dropdown on desktops end*/

/* media query for fixed header start */
/*@media (min-width:768px) {
    .nav > li > a { padding-right: 5px; padding-left: 5px; }
}

@media (min-width:1200px) {
    .nav > li > a { padding: 20px 15px; }
}*/

#myBar .nav > li > a { color: #333333; text-transform: uppercase; padding: 15px 10px; }
    #myBar .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:visited { background: none; }
    #myBar .nav > li > a:hover { color: #3498DB; cursor: pointer; text-decoration: none; }
#myBar .navbar-toggle { background: #ddd; }
    #myBar .navbar-toggle .icon-bar { background: #fff; }
#myBar navbar-header { border-bottom: 1px solid #ddd; }
/*media query for fixed header end*/

/* Cookie bar notification start */
.eu-cookie-bar-notification { display: none; left: 0; position: fixed; bottom: 0; width: 100%; z-index: 100000; background: none repeat scroll 0 0 #FFFFFF; border-top: 3px solid #FFFFFF !important; color: #5C5B5B; margin: 0px; border-bottom: 4px solid #000000; -moz-box-shadow: 3px 2px 3px 6px rgba(0, 0, 0, 0.16); -webkit-box-shadow: 3px 2px 3px 6px rgba(0, 0, 0, 0.16); box-shadow: 3px 2px 3px 6px rgba(0, 0, 0, 0.16); }
    .eu-cookie-bar-notification .content { padding: 0px 10px; margin: 10px 0px; zoom: 1; }
        .eu-cookie-bar-notification .content:after { content: "."; display: block; clear: both; height: 0; font-size: 0; line-height: 0; visibility: hidden; }
        .eu-cookie-bar-notification .content .text { float: left; padding-top: 5px; }
        .eu-cookie-bar-notification .content .ok-button { float: left; margin-left: 10px; }
        .eu-cookie-bar-notification .content a.learn-more { float: left; margin-left: 10px; padding-top: 5px; text-decoration: underline; color: #5C5B5B; }
            .eu-cookie-bar-notification .content a.learn-more:hover { text-decoration: none; color: #5C5B5B; }
/*Cookie bar notification End*/

/*------------------------------------*\
   Theme Color Picker style End
\*------------------------------------*/
.theme-color-picker { position: fixed; top: 200px; right: 0px; z-index: 9; }
.configure-button { background-color: #696763; color: #ffffff; height: 50px; width: 50px; position: absolute; right: 0px; padding: 11px 14px; transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; }
    .configure-button a:hover { color: #ffffff; }
.options-choosing-palette { padding: 10px 0px 10px 17px; }
.color-options { height: 150px; width: 140px; border: 1px solid #696763; right: -200px; position: absolute; transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; background: #ffffff; }
    .color-options h3 { padding: 0px 30px; }
    .color-options ul { padding: 0px; margin: 0px; margin-top: 10px; }

        .color-options ul li { padding: 5px 0px; margin: 0px; display: inline; margin-right: 10px; }
/*------------------------------------*\
   Theme Color Picker style End
\*------------------------------------*/

/*modal*/
@media screen and (min-width: 768px) {
    .modal-dialog { width: 800px; }
}

.modal-dialog { max-width: 800px; }
.masthead .navbar-collapse { max-height: 1000px; }
div#color-options h4 { margin-left: 10%; }
/*#accordion .collapse { padding-left: 12px; }*/
.pull-text-right { text-align: right; }
.recipesearch {
        margin-top: 18px;
}
.page.category-page .item-box .offer-default { height: 200px; }

/*Added by Jasim*/
/*common style*/
.reset-padding { padding: 0; }
.reset-margin { margin-top:25px; margin-right: 2px;}
.content-center { text-align: center; }
.content-left { text-align: left; }
.content-right { text-align: right; }
.content-justify { text-align: justify; }
.single-line { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.devider-right { border-right: 3px dotted #808080 !important; padding-right: 30px !important; overflow: hidden; }
.devider-left { border-left: 3px dotted #808080 !important; padding-left: 30px !important; overflow: hidden; }
.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6 { color: #993300 !important; text-shadow: none; }

/*common style*/

/*Modify Bootstrap*/
.navbar-inverse .navbar-nav > li > a { color: #d3d3d3; text-decoration: none; display: block; line-height: 1.7; text-transform: uppercase; padding: 15px 10px; letter-spacing: 1.5px; font-family: 'Roboto', sans-serif; font-weight: 400; font-style: normal; font-size: 13px; cursor: pointer; }
.navbar-inverse .navbar-nav > li:last-child > a { padding-right: 0; }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:active, .navbar-inverse .navbar-nav > li > a:focus { color: #fff; }
.navbar-inverse { padding: 0; background: none; border: 0; }
/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background: #fff; color: #000; }*/
.top-menu.navbar-default .navbar-nav > li > a:focus { background: #000; }
.top-menu .row { margin: 0; }
.navbar-nav { margin: 0px; }
.navbar { border: 0; min-height: 40px; margin: 0 auto; }
.panel-default > .panel-heading { border-radius: 0; background: none; border: 0; padding: 15px 0px; border-bottom: 1px solid #ddd; }
.panel-heading strong { font-size: 20px; text-shadow: none; }
.panel-body { padding: 30px 0; padding-top: 15px; }
.panel { border-radius: 0; background: none; box-shadow: none; }
.panel-group .panel { margin-bottom: 0; border-radius: 0; box-shadow: none; }
.panel-heading { padding: 15px 0px; border-bottom: 1px solid #ddd; text-shadow: none; box-shadow: none; }
.dropdown-menu { background-color: rgba(24, 27, 32, 0.7); }
    .dropdown-menu > li > a { color: #d3d3d3; background: none; }
        .dropdown-menu > li > a:hover { color: #fff; background: none; }
.navbar-nav.navbar-right:last-child { margin-right: 0px; }
/*Modify Bootstrap*/

/*Header Menu*/
.header-menu { padding: 0 50px; margin-bottom: 20px; }
/*ul.social li a img { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; width: 23px; height: 23px; }
ul.social li a:hover img { opacity: 1; filter: alpha(opacity=100); }
ul.social:hover img { opacity: 0.6; filter: alpha(opacity=60); }*/
Header Menu .banner { }
/*.slider-wrapper { padding: 0 50px; }*/
.nivoSlider { }
.theme-default .nivo-controlNav { display: none; }
.theme-default .nivoSlider { max-height: 400px !important; box-shadow: none !important; height: auto; }
    .theme-default .nivoSlider a { display: block; overflow: hidden; width: 100%; height: 100%; }
        .theme-default .nivoSlider a img { width: 100% !important; height: 100% !important; overflow: hidden; }
.logo-img { width: 100%; height: auto; overflow: hidden; }
/*.middle-content { padding: 15px; }*/
.description { min-height: 85px; overflow: hidden; }
.product-item-left { background: #000; height: auto; margin-bottom: 15px; overflow: hidden; }
    .product-item-left .buttons-area { padding-left: 10px; position: relative; overflow: hidden; }
        .product-item-left .buttons-area .buttons { position: absolute; width: 100%; left: 0; text-align: right; padding-right: 15px; margin: 0 auto; bottom: 10px; }
    .product-item-left a { color: #fff; }
    .product-item-left h3 { margin-top: 10px; }
        .product-item-left h3 .show-details { font-size: 21px; cursor: pointer; letter-spacing: -0.5px; line-height: 22px; }
    .product-item-left a.show-more { display: block; font-size: 13px; cursor: pointer; }
.btn-meals-for-you { background: #fff; color: #333 !important; padding: 8px 15px; font-size: 16px; font-weight: 400; border-radius: 0; }
    .btn-meals-for-you:hover, .btn-meals-for-you:focus, .btn-meals-for-you:active { background: #fff !important; color: #000 !important; }
/*Login*/
.login-offer { border-color: #999999; padding: 10px; text-align: center; border: 1px solid #ddd; height: 270px; position: relative; margin-bottom: 50px; }
    .login-offer .buttons { position: absolute; bottom: 20px; margin: 0 auto; width: 100%; left: 0; }
.item-box-right { padding: 10px; border: 1px solid #ddd; }
    .item-box-right h4 { margin-bottom: 15px; }
    .item-box-right a { color: #ce0227; }
        .item-box-right a:hover { color: #f6bb1d; }
.blog-month-list .panel-heading, .blog-month-list .panel-body { padding: 15px; }
.tags a { padding: 2px; margin-right: 3px; padding-left: 0; text-transform: capitalize; font-size: 100% !important; }
    .tags a::after { content: ","; }
/*Topics Strat*/
.topic-page { overflow: hidden; }
    .topic-page p { text-align: justify; }
    .topic-page .panel-heading { padding-bottom: 5px; }
        .topic-page .panel-heading h1, .topic-page .panel-heading h2, .topic-page .panel-heading h3, .topic-page .panel-heading h4 { padding-bottom: 10px; }
    .topic-page .panel-body { }
/*About us*/
.about-page .georgette { }
.about-page .left-img { float: left; padding-right: 10px; width: 150px; height: 170px; }
.about-page .left-img { float: right; padding-left: 10px; width: 150px; height: 170px; }

.about-page .georgette-img { float: left; padding-right: 10px; width: 150px; }
.about-page .bill { float: right; padding-left: 10px; width: 150px; height: 177px; }
.about-page .bill-info { color: #000000; font-family: Tahoma,Geneva,sans-serif; font-size: 12px; }
.about-page .margaret-img { float: left; padding-right: 10px; width: 150px; height: 155px; }
.about-page .kevin-img { float: right; padding-left: 10px; width: 150px; height: 165px; }
.about-page .beth-img { float: left; padding-right: 10px; width: 150px; height: 160px; }
.about-page .deb-img { float: right; padding-left: 10px; width: 150px; height: 170px; }
.about-page .jba { float: left; padding-right: 10px; width: 250px; height: 268px; }
.about-page .tony_ann { padding-left: 10px; float: right; width: 275px; }
.about-page .rob_above { width: 300px; height: 204px; display: block; margin-left: auto; margin-right: auto; }
.our-community { }
    .our-community ul li { list-style: disc; margin-left: 25px; }
/*Topics Strat*/
.buttons-area { }
#myBar { background: #fff; margin: 0 auto; padding: 0; z-index: 1000; width: 100%; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
    #myBar .dropdown-menu li { border-bottom: 1px solid #d3d3d3; padding: 5px 0; }
        #myBar .dropdown-menu li:last-child { border-bottom: none; }
    #myBar .row { margin: 0; }
/*Home page*/
#quicksearch { background: #fff !important; display: inline-block !important; width: 100% !important; height: auto !important; border: 1px solid #3498DB !important; z-index: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
#store-theme { padding: 2px 4px; margin-bottom: 5px; color: #5C5B5B; }
.font20 { background-color: rgba(24, 27, 32, 0.7) !important; }
/*#txtSearch { background: #fff url("images/search_left.png") !important; margin-bottom: 10px; display: inline-block !important; width: 80% !important; max-width: 250px; border: none; }*/
/*.search-section { background: #FEE393; padding: 10px 0px; padding-top: 30px; }*/
.search-section .header2 { color: #fff !important; font-weight: normal !important; }
.theme-default .nivoSlider { margin-bottom: 0 !important; }
#recipesearch { margin-top: 0px !important; }
.search-section .margin_top_10px { margin-top: 5px !important; color: #993300 !important; font-size: 13px !important; font-weight: 600 !important; text-shadow: none; }
.margin_top_10px label { vertical-align: top; margin-right: 25px; margin-bottom: 0; font-weight: normal; }
    .margin_top_10px label input { margin-top: 2px; }
#recipesearch .btn-go { color: #fff !important; background-color: #3498DB !important; border-color: #3498DB !important; }
/*.search-section #recipesearch .btn-go, .search-section #recipesearch #quicksearch { border: none !important; }*/
.well-come-section { margin: 15px auto; padding: 20px 0; }
/*.well-come-section h2 { line-height: 22px; font-size: 22px; text-align: left; color: #429B0C; }*/
.well-come { }
.well-come-details { }
    .well-come-details p a { color: #e2827e; }
        .well-come-details p a:hover { color: #699440; text-decoration: none; }
.more-btn, .more_link, .btn-meals-for-you { font-size: 12px; display: inline-block; background: #3498DB !important; padding: 5px 14px 4px; border-radius: 4px; margin-top: 17px; color: #fff !important; text-transform: uppercase; }
    .more-btn:hover, .btn-meals-for-you:hover, .more_link:hover { background: #115c8e !important; text-decoration: none; color: #fff !important; }
.header1 { margin-top: 0 !important; color: #993300 !important; text-shadow: none; }
.panel-body .nav > li > a { padding: 5px 0; }
.search-label { font-weight: normal; font-size: 20px; color: #993300; margin-bottom: 0; }
.search-title { font-weight: normal; font-size: 18px; display: block; overflow: hidden; margin-bottom: 5px; }
.featured_item { padding: 10px; margin: 0px 10px 30px 5px; background-color: #FEE393; font-size: 12px; border-radius: 5px; box-shadow: 3px 3px 10px -1px; -moz-box-shadow: rgba(0,0,0,0.5) 3px 3px 10px -1px; -webkit-box-shadow: rgba(0,0,0,0.5) 3px 3px 10px -1px; -moz-border-radius: 5px; }
    .featured_item .item_text { }
        .featured_item .item_text span { display: block; overflow: hidden; color: #000; }
        .featured_item .item_text .brand { font-weight: bold; }
        .featured_item .item_text .product { font-weight: bold; }
        .featured_item .item_text .discount-details { color: #000; }
        .featured_item .item_text .item_offer { color: #8D212F; font-weight: bold; text-shadow: none; }
.shopping-list-add a { color: #000; }
.featured_item .item_image { text-align: center; vertical-align: middle; }
    .featured_item .item_image img { }
.featured_item .shopping-list-add { }
.featured_item .shoppinglist-add .sblink-icon { }
.recipes-artical { border: 3px solid #429B0C; padding: 15px; margin-top: 10px; margin-bottom: 20px; overflow: hidden; }
.helth-insurance { width: 100%; height: auto; overflow: hidden; display: block; }
#recipe-title { clear: left; font-size: 14px; font-weight: bold; margin: 5px 0; display: block; }
#recipe-photo { /*margin-right: 25px;*/ }
#recipe-times { font-weight: bold; width: 375px; }
#recipe-nutrition-tiny { margin-top: 5px; width: 300px; }
.recipe-wick { margin-bottom: 20px; overflow: hidden; }
/*#content_wrapper { width: 100%; border-right: 3px dotted #808080; padding-right: 30px; overflow: hidden; }*/
#content_wrapper .recipe-img { width: 170px; height: 170px; border-radius: 100px; border: 5px solid #fff; }
#content_wrapper .row, .featured-items .row { margin-right: 0; margin-left: 0; }
/*.row { margin-right: 0; margin-left: 0; }*/
#content_wrapper h1 { color: #993300 !important; display: block; overflow: hidden; margin-bottom: 10px; }
#articlecontainer p { text-align: justify; }
.featured-items { width: 100%; height: auto; overflow: hidden; }
    .featured-items h2 { color: #993300; font-size: 20px; font-weight: bold; margin: 15px 0; margin-top: 0; border-bottom: 1px solid #993300; padding-bottom: 5px; }
#FavoriteLinks { overflow: hidden; }
td.favlinks_image { width: 160px; height: 170px; padding: 10px !important; padding-left: 0 !important; overflow: hidden; vertical-align: top; }
    td.favlinks_image img { width: 100%; height: auto; }
.favlinks_subdiv { padding-top: 10px; }
#sidebar ul { }
    #sidebar ul li { list-style-type: disc; }
#health-research td, #health-research th { display: table-cell; vertical-align: inherit; }
.research_title { font-size: 18px; font-weight: bold; color: #993300; }
.research-image { width: 80px; height: 80px; padding: 10px !important; padding-left: 0 !important; }
#article_toc_container_list { padding-left: 0; }
    #article_toc_container_list li { list-style: disc; }
        #article_toc_container_list li a { color: #333; }
            #article_toc_container_list li a:hover { text-decoration: none; cursor: pointer; color: #0f51a1; }
.recipeTitle { text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 2px auto; }
.recipe-search { margin-bottom: 20px; }
.larryspw-logo { text-align: center; display: block; width: 100%; overflow: hidden; margin: 0 auto; padding: 10px; }
    .larryspw-logo img { display: inline-block; width: 100px; height: 100px; vertical-align: middle; }
    .larryspw-logo h2 { display: inline-block; margin-left: 5px; font-size: 25px; line-height: 30px; font-style: italic; color: #333; }
/*valley-page-title*/
.valley-page-title { color: #3498DB; margin-bottom: 20px; font-family: 'Oswald', sans-serif; text-align: center; font-weight: 700; margin-top: 5px; text-transform: uppercase; position: relative; }
h1.valley-page-title { font-size: 25px; line-height: 25px; }
h2.valley-page-title { font-size: 23px; line-height: 23px; }
h3.valley-page-title { font-size: 20px; line-height: 20px; }
h4.valley-page-title { font-size: 18px; line-height: 18px; }
h5.valley-page-title { font-size: 15px; line-height: 15px; }
h6.valley-page-title { font-size: 14px; line-height: 14px; }
.valley-page-title .bold_line { bottom: 0; display: block; height: 10px; left: 0; position: absolute; width: 100%; }
    .valley-page-title .bold_line span { display: block; height: 100%; width: 100%; background: none; }
.valley-page-title .solid_line { background-color: #3498DB; bottom: 5px; display: block; height: 1px; left: 0; position: absolute; width: 100%; z-index: 0; }
.valley-page-title .title_text { letter-spacing: -1px; display: inline-block; padding: 0 10px; position: relative; top: 5px; z-index: 1; background-color: #fff; }
h1.valley-page-title .bold_line, h2.valley-page-title .bold_line { bottom: 2px; }
h1.valley-page-title .solid_line, h2.valley-page-title .solid_line { bottom: 7px; }
#mini_promos { margin: 20px auto; }
    #mini_promos img { width: 100%; height: auto; margin-bottom: 10px; }
.featuredrecipe { border: 2px solid #B9B909; padding: 10px; text-align: left; }
.special, .special .product { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#dvcookbook h2 { color: #3498DB !important; }
/*valley-page-title*/

/*Added by Jasim*/


