﻿@using Nop.Plugin.RecipeNew.Models
@model IList<RecipeGallary>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Recipe");
    Html.AddMetaDescriptionParts("Recipe");
    Html.AddMetaKeywordParts("Recipe");
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    //Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/jquery.mobile-1.0.1.min.js"));
    
}

 @Html.Action("Search", "Recipe", new { searchType ="title" })
    <br />
    @Html.Action("showAllCookBook", "RecipeNew")
    <h1 class="header1">
        Our Recipes</h1>
    <p>
        Browse this collection of recipes to find simple, healthy dishes to make eating
        healthier a snap. Look for lower fat, whole food ingredients. Try something new
        today!</p>@*horizontal_list_mobile*@
        <ul data-role="listview" data-inset="true" data-filter="false">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
         <li>
        <a href="@Url.RouteUrl("recipewithtagsnew", new { tags = @item.TagId })">
            <img src="@item.Photo" />
            <div class="recipeTitle">
            @item.RecipeTitle</div>
        </a>
        </li>
            
    }
    </ul>

    <input type="hidden" id="pagename" value="index" />