﻿@using Nop.Plugin.RecipeNew.Domain
@model IList<ShoppinglistOwnItems>
@{
    Layout = "";
        
}
<div id="divUserItems">
    @if (Model.Count != 0)
    {
        <h2>
            Other Items</h2>
    }
    @for (int i = 0; i < Model.Count; i++)
    {

        var item = Model[i];
        <div id="useritem">
            <div id="delete_@(item.Id)" class="deleteIconshoppinglistuseritem" onclick="deleteshoppinglistuseritem(@item.Id)">
            </div>
            <a>@item.ItemTitle</a>
        </div>
    }
</div>
<br />
<div>
    <h2>
        Add your own items</h2>
    <input type="text" id="ownItemtxt" class="" />
    <input type="button" id="addownitembtn" class="" value="Add" />
</div>
