﻿@using Nop.Plugin.RecipeNew.Models
@model System.Data.DataTable
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("RecipeNew");
    Html.AddMetaDescriptionParts("RecipeNew");
    Html.AddMetaKeywordParts("RecipeNew");
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
}

<div class="mainContent">
    <div class="header1">
        Recipe search results</div>
    <div id="displayableItems" runat="server">
        @Html.Raw(ViewBag.displayableItems)
    </div>
    <div id="pagination" class="pagination" runat="server">
        @Html.Raw(ViewBag.pager)
    </div>
    <div class="newLine">
    </div>
    <table id="Table1" runat="server" cellpadding="5" cellspacing="2">
        <thead>
            <tr>
                <td class="text_align_center showRecipeListTitleWidth" >
                    <b>@Html.Raw(ViewBag.cTitle)</b>
                </td>
                <td class="text_align_center showRecipeListcolumnsMinWidth">
                    <b>@Html.Raw(ViewBag.cServe)</b>
                </td>
                <td class="text_align_center showRecipeListcolumnsMinWidth">
                    <b>@Html.Raw(ViewBag.cTime)</b>
                </td>
                <td class="text_align_center showRecipeListcolumnsMinWidth">
                    <b>@Html.Raw(ViewBag.cCal)</b>
                </td>
                <td class="text_align_center showRecipeListcolumnsMinWidth">
                    <b>@Html.Raw(ViewBag.cFat)</b>
                </td>
                <td class="text_align_center showRecipeListcolumnsMinWidth">
                    <b>@Html.Raw(ViewBag.cCerbs)</b>
                </td>
            </tr>
        </thead>
        <tr id="itemPlaceholder" runat="server" />
        @foreach (System.Data.DataRow row in Model.Rows)
        { 
            <tr>
                <td>
                    <a href="@Url.RouteUrl("showSingleRecipenew", new { recipeid = @row.ItemArray[0] })">@row.ItemArray[1]</a>
                </td>
                <td>
                    @row.ItemArray[2]
                </td>
                <td>
                    @row.ItemArray[6]
                </td>
                <td>
                    @row.ItemArray[7]
                </td>
                <td>
                    @row.ItemArray[8]
                </td>
                <td>
                    @row.ItemArray[11]
                </td>
            </tr>
        }
    </table>
    <div id="divNoResults">
        @ViewBag.noResult
    </div>
     <input type="hidden" id="pagename" value="recipelist" />
</div>
<div class="sidebarContent">

@Html.Action("Search", "RecipeNew", new { searchType = ViewBag.searchType })

    
    <br />
    @Html.Action("showAllCookBook", "RecipeNew")
    @*<uc1:cookbook id="Cookbook1" runat="server" />*@
</div>
