﻿@using Nop.Plugin.RecipeNew.Models
@model SpecialsModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));

    //Html.AddScriptParts(@Url.Content("~/Plugins/RecipeNew/Scripts/recipe.js"));

    <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/recipe.js"></script>

}
<script type="text/javascript">


</script>
<div class="">
    <div class="header2">
        @ViewBag.StoreName<text>-@ViewBag.department_name- Specials</text>
        @*@if(ViewBag.StoreName.Equals("I do not live near a store", StringComparison.Ordinal) || ViewBag.StoreName.Equals("Guests", StringComparison.Ordinal) )
            {
                <text>Current Specials</text>
            }
            else
            {
                @ViewBag.StoreName <text> -- Current Specials</text>
            }*@
    </div>
    <div class="floatRight">

        <div class="shoppingListIconOnSpecial">
            <div class="floatLeft">
                <a class="" href="@Url.RouteUrl("Nop.Plugin.RecipeNew.ShoppingListnew")">
                    <div class="view_my_shopping_list">
                    </div>
                </a>
            </div>
            <div class="floatLeft">
                @*javascript: _gaq.push(['_trackPageview', '/downloads/map']);*@
                <a class="" href="/Themes/Caputos/Content/flyer/flyer.html">
                    <div class="view_entire_add">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="displayableItems" runat="server" class="floatLeft">
        @Html.Raw(ViewBag.displayableSpecialItems)
    </div>
    <div class="clear">
    </div>
    <div id="pagination" class="pagination" runat="server">
        @Html.Raw(ViewBag.specialpagination)
    </div>
    <div class="clear">
    </div>
    <div id="specials_search_form">
        <strong>
            <label>
                Select a department:
            </label>
        </strong>
        <select id="ddlSpecials_select_category" class="specials_select_category" runat="server"
                onchange='ondropdownchange("")'>
            <option id="department_idAll" value="All">All</option>
            @for (int j = 0; j < Model.Departments.Count; j++)
            {

                var department = Model.Departments[j];
                if (ViewBag.department_id == department.id)
                {
                    <option id='department_id@(department.id)' value="@(department.id)" selected>@department.name</option>
                }
                else
                {
                    <option id='department_id@(department.id)' value="@(department.id)">@department.name</option>
                }

            }
        </select>
        <strong>
            <label>
                Search:&nbsp;
            </label>
        </strong>
        <input type="text" id="specials_search" maxlength="32" height="18" runat="server" value="@ViewBag.search" />
        <strong>
            <label>
                Number of results per page:&nbsp;
            </label>
        </strong>

        <select id="pageSize" onchange="specialpageSizeChange()">
            @if (ViewBag.pagesize == "9")
            {
                <option id="option_1" value="9" selected>9</option>
            }
            else
            {
                <option id="option_2" value="9">9</option>

            }
            @if (ViewBag.pagesize == "25")
            {
                <option id="option_3" value="25" selected>25</option>
            }
            else
            {
                <option id="option_4" value="25">25</option>

            } @if (ViewBag.pagesize == "50")
            {
                <option id="option_5" value="50" selected>50</option>
            }
            else
            {
                <option id="option_6" value="50">50</option>

            }
            @if (ViewBag.pagesize == "100")
            {
                <option id="option_7" value="100" selected>100</option>
            }
            else
            {
                <option id="option_8" value="100">100</option>

            } @if (ViewBag.pagesize == "250")
            {
                <option id="option_9" value="250" selected>250</option>
            }
            else
            {
                <option id="option_10" value="250">250</option>

            }
            @if (ViewBag.pagesize == "All")
            {
                <option id="option_11" value="All" selected>All</option>
            }
            else
            {
                <option id="option_12" value="All">All</option>

            }
            @* <option id="option_2" value="25" @{if (ViewBag.pagesize == 25)} selected>25</option>
                <option id="option_3" value="50" @{if (ViewBag.pagesize == 50)} selected>50</option>
                <option id="option_4" value="100" @{if (ViewBag.pagesize == 100)} selected>100</option>
                <option id="option_5" value="250" @{if (ViewBag.pagesize == 250)} selected>250</option>
            *@
        </select>
    </div>
    <div class="clear">
    </div>
    <div class="row">
        @if (ViewBag.noresult == false)
        {
            for (int i = 0; i < Model.Specials.Count; i++)
            {
                var item = Model.Specials[i];
                if (item.featured == "true")
                {
                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div id="specials-box featured-box">
                            <div class="special">
                                <div class="special-image">
                                    <img alt="" src='@item.image'>
                                </div>
                                <span class="brand">
                                    <label id="litBrand" runat="server">
                                        @item.brand
                                    </label>
                                </span><span class="product">
                                    @item.product
                                </span>
                                <p class="special-offer">
                                    @item.offer
                                </p>
                                <a href='@Url.RouteUrl("showSingleRecipenew", new { recipeid = @item.recipe_id })'>
                                    @item.recipe_title
                                </a>
                                <div class="shoppinglist-add">
                                    <div id="">
                                        @if (ViewBag.unregistered == false)
                                        {
                                            if (ViewBag.dontshowaddshoppinglist == false)
                                            {
                                                if (@item.isAlreadyOnDatabase == "false")
                                                {
                                                    <a class="sidebar-action" id="special_adding_@(item.id)" onclick="saveSpecialToShoppingList('@item.id', '@item.brand.Replace("'", "\\'")', '@item.product.Replace("'", "\\'")', '@item.description.Replace("'", "\\'")', '@item.offer.Replace("'", "\\'")', '@item.image','@item.recipe_title.Replace("'", "\\'")', '@item.recipe_id', '@item.featured.Replace("'", "\\'")')">
                                                        <div class="AddIconSpecial">
                                                        </div>
                                                        Add to my Shopping List
                                                    </a>
                                                    <div id="special_added_@(item.id)" class="specialAdded">
                                                        <div id="" class="AcceptIconCookBook">
                                                        </div>
                                                        <span>This is in your Shopping List</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="special_added_@(item.id)" class="newLine">
                                                        <div id="" class="AcceptIconCookBook">
                                                        </div>
                                                        <span>This is in your Shopping List</span>
                                                    </div>
                                                }

                                            }
                                            else
                                            {
                                                <div id="special_added_@(item.id)">
                                                    <div id="" class="AcceptIconSpecial">
                                                    </div>
                                                    <span>This is in your Shopping List</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <a class="sidebar-action" id="special_adding_@(item.id)" href="@Url.RouteUrl("Login")">
                                                <div class="AddIconSpecial">
                                                </div>
                                                Add to my Shopping List
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                else
                {
                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div id="specials-box">
                            <div class="special">
                                <div class="special-image">
                                    <img alt="" src='@item.image'>
                                </div>
                                <span class="brand">
                                    <label id="litBrand" runat="server">
                                        @item.brand
                                    </label>
                                </span><span class="product">
                                    @item.product
                                </span>
                                <p class="special-offer">
                                    @item.offer
                                </p>
                                <a href='@Url.RouteUrl("showSingleRecipenew", new { recipeid = @item.recipe_id })'>
                                    @item.recipe_title
                                </a>
                                <div class="shoppinglist-add">
                                    <div id="">
                                        @if (ViewBag.unregistered == false)
                                        {
                                            if (ViewBag.dontshowaddshoppinglist == false)
                                            {
                                                if (@item.isAlreadyOnDatabase == "false")
                                                {
                                                    <a class="sidebar-action" id="special_adding_@(item.id)" onclick="saveSpecialToShoppingList('@item.id', '@item.brand.Replace("'", "\\'")', '@item.product.Replace("'", "\\'")', '@item.description.Replace("'", "\\'")', '@item.offer.Replace("'", "\\'")', '@item.image','@item.recipe_title.Replace("'", "\\'")', '@item.recipe_id', '@item.featured.Replace("'", "\\'")')">
                                                        <div class="AddIconSpecial">
                                                        </div>
                                                        Add to my Shopping List
                                                    </a>
                                                    <div id="special_added_@(item.id)" class="specialAdded">
                                                        <div id="" class="AcceptIconCookBook">
                                                        </div>
                                                        <span>This is in your Shopping List</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div id="special_added_@(item.id)" class="newLine">
                                                        <div id="" class="AcceptIconCookBook">
                                                        </div>
                                                        <span>This is in your Shopping List</span>
                                                    </div>
                                                }

                                            }
                                            else
                                            {
                                                <div id="special_added_@(item.id)">
                                                    <div id="" class="AcceptIconSpecial">
                                                    </div>
                                                    <span>This is in your Shopping List</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <a class="sidebar-action" id="special_adding_@(item.id)" href="@Url.RouteUrl("Login")">
                                                <div class="AddIconSpecial">
                                                </div>
                                                Add to my Shopping List
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        }
        else
        {
            <div id="divNoResults" class="header2" runat="server" visible="false">
                No specials were found.
            </div>
        }
    </div>
</div>
