﻿@using Nop.Plugin.RecipeNew.Models
@model IList<Tip>
@{
    Layout = "";
    
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/smoothness/jquery-ui-1.8.17.custom.css"));
   
    <script type="text/javascript" src="@Url.Content("~/Plugins/Recipe/Scripts/jquery-ui.min.js")"></script>
}


    <div>
        Search:
        <input id="txtSearch" type="text" maxlength="32" class="margin_6_px" />
    </div>
    @if (ViewBag.hidSearch == "false")
    {
       @* <div id="displayableItems" runat="server">
            @Html.Raw(ViewBag.displayableTipsItems)
        </div>
        <div id="pagination" class="pagination" runat="server">
            @Html.Raw(ViewBag.tipspagination)
        </div>*@
        <div class="newLine">
        </div>
        if (ViewBag.tipspagination != "")
        {
        <ul  data-role="listview" data-inset="true" data-filter="false" id="UlList_mobile">
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <li>
                        <a href="@Url.RouteUrl("tipsAndGuides", new { id = @item.id })">@item.title</a>
                   </li>
            }
        </ul>
        }
    }
    else
    {
   <a data-rel="back" data-direction="reverse" href="">Back</a>
    }
<div id="nextPageLoader" class="displayNone"><img  src="/Plugins/Recipe/Content/images/loader.gif"/></div>
<input type="hidden" class="displayNone" id="pagename" value="TipsList" />
<input type="hidden" class="displayNone" id="search" value="@ViewBag.search" />
<input type="hidden" class="displayNone" id="totalpage" value="@ViewBag.totalpage" />