﻿@using Nop.Plugin.EmailMarketing.Models
@using Nop.Web.Framework.UI;
@*@model Telerik.Web.Mvc.GridModel<EmailModel>*@
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
    ViewBag.Title = @T("Admin.Other.EmailMarketing.DetailReport.Title").Text;
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.EmailMarketing.DetailReport.Header")
        <a href="../Main"> @T("Admin.EmailMarketing.Report.BackToList") </a>
    </div>
    <div class="options">
        <button name="AllContacts" value="AllContacts" class="k-button" onclick="AllContacts(); return false;">@T("All Contacts")</button>
        <button name="Delivered" value="Delivered" class="k-button" onclick="Delivered(); return false;">@T("Delivered")</button>
        <button name="Bounced" value="Bounced" class="k-button" onclick="Bounced(); return false;">@T("Bounced")</button>
        <button name="Opened" value="Opened" class="k-button" onclick="Opened(); return false;">@T("Opened")</button>
        <button name="Link" value="Link" class="k-button" onclick="Link(); return false;">@T("Link")</button>
        <button name="ExporttoExcel(all)" value="ExporttoExcel(all)" class="k-button" onclick="ExporttoExcelall(); return false;">@T("Export to Excel (all)")</button>


    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="campaign-report-grid"></div>
            <script>
                $(document).ready(function () {
                    $("#campaign-report-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("DetailReport", "EmailMarketing", new { area = "" }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        Name: { editable: false, type: "string" },
                                        UpdatedTime: { editable: false, type: "date" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: @(gridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                             {
                                 field: "EmailAddress",
                                 title: "@T("EmailAddress")",
                                 width: 100
                             },
                                 {
                                     field: "UpdatedTime",
                                     title: "@T("UpdatedTime")",
                                     width: 100,
                                     type: "date",
                                     format: "{0:G}"
                                 },
                              {
                                  field: "SentStatus",
                                  title: "@T("SentStatus")",
                                  width: 100
                              },
                              {
                                  field: "OpenStatus",
                                  title: "@T("OpenStatus")",
                                  width: 100
                              }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
    <tr>
        <td>
            <div id="campaign-report-Delivered-grid" style="display:none;"></div>

            <script>
                $(document).ready(function () {
                    $("#campaign-report-Delivered-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("DeliveredReport", "EmailMarketing", new { id = '"' + @ViewBag.Id + '"', status = "Delivered" }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        Name: { editable: false, type: "string" },
                                        UpdatedTime: { editable: false, type: "date" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: @(gridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                             {
                                 field: "EmailAddress",
                                 title: "@T("EmailAddress")",
                                 width: 100
                             },
                                 {
                                     field: "UpdatedTime",
                                     title: "@T("UpdatedTime")",
                                     width: 100,
                                     type: "date",
                                     format: "{0:G}"
                                 },
                              {
                                  field: "SentStatus",
                                  title: "@T("SentStatus")",
                                  width: 100
                              },
                              {
                                  field: "OpenStatus",
                                  title: "@T("OpenStatus")",
                                  width: 100
                              }
                        ]
                    });
                });
            </script>
        </td>
    </tr>

    <tr>
        <td>
            <div id="campaign-report-Bounced-grid" style="display:none;"></div>

            <script>
                $(document).ready(function () {
                    $("#campaign-report-Bounced-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("BouncedReport", "EmailMarketing", new { id = '"' + @ViewBag.Id + '"', status = "bounced" }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        Name: { editable: false, type: "string" },
                                        UpdatedTime: { editable: false, type: "date" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: @(gridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                             {
                                 field: "EmailAddress",
                                 title: "@T("EmailAddress")",
                                 width: 100
                             },
                                 {
                                     field: "UpdatedTime",
                                     title: "@T("UpdatedTime")",
                                     width: 100,
                                     type: "date",
                                     format: "{0:G}"
                                 },
                              {
                                  field: "SentStatus",
                                  title: "@T("SentStatus")",
                                  width: 100
                              },
                              {
                                  field: "OpenStatus",
                                  title: "@T("OpenStatus")",
                                  width: 100
                              }
                        ]
                    });
                });
            </script>
        </td>
    </tr>

    <tr>
        <td>
            <div id="campaign-report-Opened-grid" style="display:none;"></div>

            <script>
                $(document).ready(function () {
                    $("#campaign-report-Opened-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("OpenedReport", "EmailMarketing", new { id = '"' + @ViewBag.Id + '"', status = "Opened" }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        Name: { editable: false, type: "string" },
                                        UpdatedTime: { editable: false, type: "date" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: @(gridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                             {
                                 field: "EmailAddress",
                                 title: "@T("EmailAddress")",
                                 width: 100
                             },
                                 {
                                     field: "UpdatedTime",
                                     title: "@T("UpdatedTime")",
                                     width: 100,
                                     type: "date",
                                     format: "{0:G}"
                                 },
                              {
                                  field: "SentStatus",
                                  title: "@T("SentStatus")",
                                  width: 100
                              },
                              {
                                  field: "OpenStatus",
                                  title: "@T("OpenStatus")",
                                  width: 100
                              }
                        ]
                    });
                });
            </script>
        </td>
    </tr>

    <tr>
        <td>
            <div id="campaign-report-Link-grid" style="display:none;"></div>

            <script>
                $(document).ready(function () {
                    $("#campaign-report-Link-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("Link", "EmailMarketing", new { id = '"' + @ViewBag.Id + '"' }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        CampaignId: { editable: false, type: "string" },
                                        LinkHref: { editable: false, type: "string" },
                                        Click: { editable: false, type: "string" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: @(gridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Id",
                                title: "@T("Id")",
                                width: 50
                            },
                            {
                                field: "CampaignId",
                                title: "@T("CampaignId")",
                                width: 50
                            },

                            {
                                field: "LinkHref",
                                title: "@T("LinkHref")",
                                width: 50
                            },
                               {
                                   field: "Click",
                                   title: "Click",
                                   width: 100,
                                   template: '<a href="/EmailMarketing/LinkClickDetail/#= Id #"> #= Click # </a>'
                               }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
</table>



<script type="text/javascript">
    $('.detailReportContent').data("CampaignId", +'@ViewBag.CampaignId');
    $('.detailReportContent').data("DetailReportStatus", + "All Contacts");
</script>
