﻿@model Nop.Plugin.EmailMarketing.Models.EmailTemplateModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;

@{
    //page title
    ViewBag.Title = @T("Admin.EmailMarketing.Template.Title.EditTemplate").Text;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/tinymce/tinymce.min.js");
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.Other.EmailMarketing.Template.Header.EditTemplate") 
            <a href="../Main"> @T("Admin.EmailMarketing.Template.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitEditEmailTemplateForm(); return false;">@T("Admin.Common.Save")</button>
						<span id="group-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateTemplate", Model)
}