﻿@using Nop.Plugin.EmailMarketing.Models
@using Nop.Web.Framework.UI;
@{
		var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.DetailReport.LinkClicks.Title").Text;
        Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}


<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Other.EmailMarketing.Template.Header")
    </div>
    <div class="options">
        <a class="t-button" href="/Plugin/Other/EmailMarketing/DetailReportExportExcelAll/">Export to Excel (all)</a>
        <a class="t-button" href="/Plugin/Other/EmailMarketing/ReportExportXmlAll">Export to Xml (all)</a>
    </div>
</div>
<table class="adminContent">
	<tr>
		<td>
            <div id="Link-ClickDetail-grid"></div>

            <script>
             
                $(document).ready(function () {
                    $("#Link-ClickDetail-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("LinkClickDetail", "EmailMarketing"))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        EmailAddress: { editable: false, type: "string" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: @(gridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Id",
                                title: "@T("Id")",
                                width: 50
                            },
                            {
                                field: "EmailAddress",
                                title: "@T("EmailAddress")",
                                width: 50
                            }
                        ]
                    });
                });
            </script>
		</td>
	</tr>
</table>


