﻿@using Nop.Plugin.EmailMarketing.Models
@using Nop.Web.Framework.UI;

@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
    ViewBag.Title = @T("Admin.EmailMarketing.Report.Title").Text;

}
<div class="detailReportContent">
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Other.EmailMarketing.Report.Header")
        </div>
        <div class="options">
            <a class="k-button" href="../EmailMarketing/ReportExportExcelAll">Export to Excel (all)</a>
            <a class="k-button" href="../EmailMarketing/ReportExportXmlAll">Export to Xml (all)</a>
        </div>

    </div>

    <table class="adminContent">
        <tr>
            <td>
                <div id="report-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#report-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("Report", "EmailMarketing", new { area = "" }))",
                                        type: "POST",
                                        dataType: "json"
                                    },

                                    parameterMap: function (data, operation) {
                                        if (operation != "read") {
                                            //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                            //products[0].Name="name"
                                            //products[0].Id = 1
                                            //products[1].Name="name"
                                            //products[1].Id = 1

                                            var result = {};

                                            for (var i = 0; i < data.models.length; i++) {
                                                var entity = data.models[i];

                                                for (var member in entity) {
                                                    result["products[" + i + "]." + member] = entity[member];
                                                }
                                            }

                                            return result;
                                        } else {
                                            //return JSON.stringify(data);
                                            return data;
                                        }
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Id: { editable: false, type: "number" },
                                            Name: { editable: false, type: "string" },
                                            BroadCastTime: { editable: false, type: "date" },
                                            Opened: { editable: false, type: "string" },
                                            CampaignId: { editable: false, type: "string" }

                                        }
                                    }
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                //bulk editing
                                batch: true,
                                pageSize: 15,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSize)]
                            },
                            editable: {
                                confirmation: false,
                                //bulk editing
                                mode: "incell"
                            },
                            scrollable: false,
                            columns: [
                                 {
                                     field: "Name",
                                     title: "@T("Name")",
                                     width: 100
                                 },
                                  {
                                      field: "Subject",
                                      title: "@T("Subject")",
                                      width: 100
                                  },
                                {
                                    field: "BroadCastTime",
                                    title: "@T("BroadCastTime")",
                                    width: 100,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                  {
                                      field: "Opened",
                                      title: "@T("Opened")",
                                      width: 100,
                                      template: "<text>#= OpenedPercentage #</text>"
                                  },
                                {
                                    field: "CampaignId",
                                    title: "@T("Preview Email")",
                                    width: 100,
                                    template: "<a href='/EmailMarketing/ShowTemplate/#= CampaignId #'> Preview Email </a>"
                                },
                                {
                                    field: "Id",
                                    title: "@T("Details")",
                                    width: 100,
                                    template: "<a href='/EmailMarketing/DetailReport/#= Id #\'> Details </a>"
                                }
                            ]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>

    <table class="adminContent">
        <tr>
            <td>
                @*@(Html.Telerik().Grid<CampaignReportModel>(Model.Data)
                    .Name("campaign-report-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name)
                                                    .Width(150);
                        columns.Bound(x => x.Subject)
                                                    .Width(150);
                        columns.Bound(x => x.BroadCastTime)
                                                    .Width(150);
                        columns.Bound(x => x.Delivered)
                                                    .Width(150)
                                                    .Template(@<text> @item.Delivered [ @item.DeliveredPercentage ] </text>)
                                                    .ClientTemplate("<#= Delivered #> [ <#= DeliveredPercentage #> ] ");
                        columns.Bound(x => x.Opened)
                                                    .Width(150)
                                                    .Template(@<text> @item.Opened [ @item.OpenedPercentage ] </text>)
                                                    .ClientTemplate("<#= Opened #> [ <#= OpenedPercentage #> ] ");
                        columns.Bound(x => x.ClickedThrough)
                                                    .Width(150);
                        columns.Bound(x => x.Id)
                                            .Width(50)
                                            .Template(@<text><a href="#/ShowTemplate/@item.CampaignId"> Preview Email </a></text>)
                                            .ClientTemplate("<a href=\"#/ShowTemplate/<#= CampaignId #>\"> Preview Email </a>")
                                            .Title("Preview");
                        columns.Bound(x => x.Id)
                                                    .Width(50)
                                                    .Template(@<text><a href="#/DetailReport/@item.Id"> Details	</a></text>)
                                                    .ClientTemplate("<a href=\"#/DetailReport/<#= Id #>\"> Details </a>")
                                                    .Title("Details");

                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Server().Select("Report", "Plugin/Other/EmailMarketing");
                        dataBinding.Ajax().Select("Report", "Plugin/Other/EmailMarketing");
                    })
                    .EnableCustomBinding(true))*@
            </td>
        </tr>
    </table>
</div>
