﻿.eventTitle
{
    font-size:16px;
    height:20px;
    overflow:hidden;
}
.eventShortDescription
{
    padding-top:2px;
    font-size:12px;
}
.eventDiv
{
    height:56px;
    overflow:hidden;
    padding-left:15px;
}
.eventListDiv
{
    padding : 0px 0px 5px 0px;
}
.newLine
{
    clear:both;
}
.eventsDate 
{
    color: #9A9A9A;
    font-style: italic;
}
#calendar
{
    width:300px;
    float:right;
    margin-top:10px;
}
.margin-bottom-0
{
    margin-bottom: 0px;
}
.homepage-eventlist-wrapper
{
    float:left;
}
.eventDetailsConteiner
{
    width:50%;
}
.floatLeft
{
    float:left;
}
.floatRight
{
    float:right;
}
.margin-left-10
{
    margin-left:10px;
}
.navigarion
{
    width:42%;
    margin-top:20px;
    
}