﻿@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure

<section class="footer">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
                <ul>
                    <li><a href="/">Top of page</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
                    <li><a href="http://www.procomarketing.com">Site Managed by:</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 content-right">
                <a href="http://www.procomarketing.com/">
                    <img class="footer-logo" src="/Themes/Larryspw/Content/images/proco_logo.gif" alt="proco_logo not found">
                </a>
            </div>
        </div>
        <div class="row clearfix">
            <div class="text-center">
                @Html.Action("StoreThemeSelector", "Common")
            </div>
        </div>
        @Html.Widget("footer")
    </div>
    @Html.Widget("footer")
</section>


