﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
}
<div class="page-not-found-page panel">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">@T("PageTitle.PageNotFound")</span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
        <h3>@T("PageTitle.PageNotFound")</h3>
    </div>*@
    @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
</div>
