﻿@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;

<section id="myBar" class="header-menu">
    <div class="container">
        <div class="row clearfix">
            <nav role="navigation" class="navbar navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navbar-header">
                    <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="pull-right navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <img src="~/Themes/Polsonsnatural/Content/images/logo-sm.png" alt="restaurante-logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-example-navbar-collapse-1" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pull-right collapse navbar-collapse">
                    @Html.Widget("header_menu_before")
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/recipes">Recipes</a></li>
                        <li><a href="/specials">Special Offers</a></li>
                        <li><a href="/tipsandguides">Tips &amp; Guides</a></li>
                        <li><a href="/health-research">Health Research</a></li>
                        <li><a href="/favorite-links">Favorite Links</a></li>
                        <li><a href="/shoppinglists">Shopping List</a></li>
                        <li><a href="/calendar">Meal Planner</a></li>
                    </ul>
                    @Html.Widget("header_menu_after")
                </div>
            </nav>
        </div>
    </div>
</section>
<style>
    .stick { top: 0 !important; }
</style>


<script type="text/javascript">

    $(document).ready(function () {
        var s = $("#myBar");
        var pos = s.position();
        $(window).scroll(function () {
            var windowpos = $(window).scrollTop();
            if (windowpos >= pos.top) {
                s.addClass("stick");
            } else {
                s.removeClass("stick");
            }
        });
    });

</script>
