﻿
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
    Layout = "_AdminLayout.cshtml";
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/Content/font-awesome.min.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/Content/bootstrap.min.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/Content/style.css");
    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/Scripts/fabric.min.js", true);
    Html.AddCssFileParts("~/Scripts/fineuploader/fineuploader-4.2.2.min.css");
    Html.AddScriptParts("~/Scripts/fineuploader/jquery.fineuploader-4.2.2.min.js");

    //other variables
    var random = CommonHelper.GenerateRandomInteger();
    var clientId = "picture" + random;
    var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();
    var picture = pictureService.GetPictureById(random);
    
}

@*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
<script type="text/template" id="@(clientId)-qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span>@T("Common.FileUploader.DropFiles")</span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>@T("Common.FileUploader.Upload")</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>@T("Common.FileUploader.Processing")</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>



@*sign design  *@
<div id="toolbar">

    <div class="btn-group" id="font-style">
        <button class="btn btn-default control-toggle" id="boldbutton" data-control="bold"><i class="fa fa-bold"></i></button>
        <button class="btn btn-default control-toggle" id="italicbutton" data-control="italic"><i class="fa fa-italic"></i></button>
        <button class="btn btn-default control-toggle" id="underlinebutton" data-control="underline"><i class="fa fa-underline"></i></button>
    </div>
    <div class="btn-group" id="text-align">
        <button type="button" class="btn btn-default control-prop" data-control="text-align" data-value="left" title="Text align left" disabled=""><i class="fa fa-align-left"></i></button>
        <button type="button" class="btn btn-default control-prop" data-control="text-align" data-value="center" title="Text align center" disabled=""><i class="fa fa-align-center"></i></button>
        <button type="button" class="btn btn-default control-prop" data-control="text-align" data-value="right" title="Text align right" disabled=""><i class="fa fa-align-right"></i></button>
        <button type="button" class="btn btn-default control-prop" data-control="text-align" data-value="justify" title="Text align justify" disabled=""><i class="fa fa-align-justify"></i></button>
    </div>

    <!-- font family -->
    <div class="btn-group">
        <select id="font-family" name="font-family" class="fake-select control-prop" data-control="font-family" title="Font family"  >
            <option style="font-family:'Bebas Neue'" value="bebas neue">Bebas Neue</option>
            <option style="font-family:'LeagueGothicRegular'" value="leaguegothicregular">LeagueGothicRegular</option>
            <option style="font-family:'Arial'" value="arial">Arial</option>
            <option style="font-family:'Times New Roman'" value="times new roman">Times New Roman</option>
            <option style="font-family:'Verdana'" value="verdana">Verdana</option>
            <option style="font-family:'Impact'" value="impact">Impact</option>
            <option style="font-family:'Pacifico'" value="pacifico">Pacifico</option>
            <option style="font-family:'Roboto'" value="roboto">Roboto</option>
            <option style="font-family:'Lobster'" value="lobster">Lobster</option>
            <option style="font-family:'Special Elite'" value="special elite">Special Elite</option>
            <option style="font-family:'Chewy'" value="chewy">Chewy</option>
            <option style="font-family:'Playball'" value="playball">Playball</option>
            <option style="font-family:'Bangers'" value="bangers">Bangers</option>
            <option style="font-family:'Oleo Script'" value="oleo script">Oleo Script</option>
            <option style="font-family:'Coda'" value="coda">Coda</option>
            <option style="font-family:'Alfa Slab One'" value="alfa slab one">Alfa Slab One</option>
            <option style="font-family:'Cinzel Decorative'" value="cinzel decorative">Cinzel Decorative</option>
            <option style="font-family:'Oleo Script Swash Caps'" value="oleo script swash caps">Oleo Script Swash Caps</option>
            <option style="font-family:'UnifrakturMaguntia'" value="unifrakturmaguntia">UnifrakturMaguntia</option>
            <option style="font-family:'Creepster'" value="creepster">Creepster</option>
            <option style="font-family:'Nosifer'" value="nosifer">Nosifer</option>
        </select>
    </div>

    <!-- font size -->
    <div class="btn-group">
        <div class="input-group">
            <input id="font-size" type="number" class="form-control control-prop" data-control="font-size" placeholder="1" value="20" min="15" max="100" disabled="">
        </div>
    </div>


    <!-- line height-->
    <div class="btn-group">
        <div class="input-group">
            <span class="input-group-addon">Line height</span>
            <input id="line-height" type="number" class="form-control control-prop" data-control="line-height" placeholder="1" value="1.4" min="1" max="5" step="any" disabled="">
        </div>
    </div>

    <!-- opacity-->
    <div class="btn-group">
        <div class="input-group">
            <span class="input-group-addon">Opacity</span>
            <input id="opacity" type="number" class="form-control control-prop" data-control="opacity" placeholder="100" value="100" min="0" max="100" >
        </div>
    </div>

    <div class="btn-group">
        <div class="input-group">
            <span class="input-group-addon nopad"><button class="btn i i-fill nodis colorfill"></button></span>
            <input type="text" id="color-fill" class="nodis form-control control-prop color {hash:true,pickerClosable:true}" data-control="fill" value="#FFFFFF" title="Fill color" autocomplete="off" style="color: rgb(0, 0, 0); background-image: none; background-color: rgb(255, 255, 255);">
        </div>
    </div>


    <div class="btn-group">
        <select id="stroke-width" class="fake-select control-prop" data-control="stroke-width" title="Stroke width"  >
            <option value="0">No stroke</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </div>
    <div class="btn-group">
        <div class="input-group">
            <span class="input-group-addon nopad"><button class="nodis btn i i-line"></button></span>
            <input type="text" id="stroke-color" class="nodis form-control control-prop color {hash:true,pickerClosable:true}" data-control="stroke-color" value="#000000" title="Stroke color" autocomplete="off" style="color: rgb(255, 255, 255); background-image: none; background-color: rgb(0, 0, 0);">
        </div>
    </div>
    <div class="btn-group">
        <button title="Align objects left" class="btn btn-default control i i-align-left" data-control="align-object" data-value="left" disabled=""></button>
        <button title="Align objects right" class="btn btn-default control i i-align-right" data-control="align-object" data-value="right" disabled=""></button>
        <button title="Align objects top" class="btn btn-default control i i-align-top" data-control="align-object" data-value="top" disabled=""></button>
        <button title="Align objects bottom" class="btn btn-default control i i-align-bottom" data-control="align-object" data-value="bottom" disabled=""></button>
        <button title="Align objects center vertically" class="btn btn-default control i i-align-centerv" data-control="align-object" data-value="centerv" disabled=""></button>
        <button title="Align objects center horizontally" class="btn btn-default control i i-align-centerh" data-control="align-object" data-value="centerh" disabled=""></button>
    </div>
    <div class="btn-group">
        <button title="Equalize width" class="btn btn-default control i i-equal-width" data-control="equal-object" data-value="width" disabled=""></button>
        <button title="Equalize height" class="btn btn-default control i i-equal-height" data-control="equal-object" data-value="height" disabled=""></button>
    </div>
    <div class="btn-group">
        <button title="Text split line" class="btn btn-default control i i-split-textline" data-control="split-text" data-value="line" disabled=""></button>
        <button title="Text split characters" class="btn btn-default control i i-split-textchar" data-control="split-text" data-value="char" disabled=""></button>
        <button title="Text split words" class="btn btn-default control i i-split-textword" data-control="split-text" data-value="word" disabled=""></button>
    </div>
</div>







@* body design *@
<div class="col-md-9" id="main" style="min-height: 543px;">
    <div id="sidebar">
        <div class="panel-group admin-menu" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="pull-right" href="#collapseZero">
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <a href="#" class="">
                            INSERT
                        </a>
                    </h4>
                </div>
                <div id="collapseZero" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="btn-group">
                            <button class="btn btn-default control-add i i-text" data-control="text" title="Text" onclick="Text()"></button>
                            <button class="btn btn-default control-add i i-rect" data-control="rectangle" title="Rectangle" onclick="Rectangle()"></button>
                            <button class="btn btn-default control-add i i-circle" data-control="circle" title="Circle" onclick="Circle()"></button>
                            <button class="btn btn-default control-add i i-triangle" data-control="triangle" title="Triangle" onclick="Triangle()"></button>
                            <button class="btn btn-default control-add i i-line" data-control="line" title="Line" onclick="Line()"></button>
                        </div>
                        <div style="margin-top:20px">

                            

                            <!-- Tab panes -->
                            <div class="tab-content">
                                @*<div class="tab-pane active" id="upload-image" style="text-align: center; position: relative;">

                                    <a id="upload" href="#" style="margin: 10px auto; position: relative; z-index: 1;" class="btn btn-default"><i class="fa fa-upload"></i> Upload image</a>

                                    <div id="html5_19i9ao65l1dj105h1csu1itpk783_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 10px; left: 44px; width: 131px; height: 34px; overflow: hidden; z-index: 0;"><input id="html5_19i9ao65l1dj105h1csu1itpk783" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div>
                                </div>*@
                                <div id="@clientId">
                                    <noscript>
                                        <p>
                                            Please enable JavaScript to use file uploader.
                                        </p>
                                        <!-- or put a simple form for upload here -->
                                    </noscript>
                                </div>
                                <div class="tab-pane" id="search-image">

                                    <form action="" style="margin-top:20px">
                                        <input id="img-search" type="text" class="form-control" placeholder="Search image from Pixabay">
                                    </form>
                                    <div id="img-result"></div>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" class="pull-right" href="#collapseOne">
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <a href="#" class="">
                            OBJECTS
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" style="padding:0">
                        <div id="layer" class="list-group">

                        </div>
                    </div>
                </div>
            </div>


        </div>



    </div><!--sidebars-->
    <div id="canvas-wrap" class="ui-resizable" style="position: absolute; top: auto; left: 280px; height: 537px;">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i></a>
                    <!--<div class="dropdown-menu pull-right">
                          <label class="btn btn-default"><input id="scale_object" style="margin:0" type="checkbox"> Scale objects on canvas resize</label>

                    </div>-->

                </div>

                <h4 class="panel-title">Canvas 1 <span>(800 x 499 pixels)</span></h4>
            </div>
            <div class="panel-body" style="padding: 0px; float: left;">
                <div class="canvas-container" style="width: 800px; height: 499px; position: relative; -webkit-user-select: none;">
                    <canvas width="800" height="499" class="lower-canvas" style="position: absolute; width: 800px; height: 499px; left: 0px; top: 0px; -webkit-user-select: none;"></canvas>
                    <canvas class="upper-canvas " id="myCanvas" width="800" height="499" style="position: absolute; width: 800px; height: 499px; left: 0px; top: 0px; -webkit-user-select: none; cursor: move;"></canvas>
                </div>
            </div>

        </div>
        <div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
    </div>

</div>
<script>
    $(document).ready(function () {

        $("#@(clientId)").fineUploader({
            request: {
                endpoint: '@(Url.Content("~/Admin/Picture/AsyncUpload"))'
            },
            template: "@(clientId)-qq-template",
            multiple: false
        }).on("complete", function (event, id, name, responseJSON, xhr) {
            if (responseJSON.success) {
                $("#@(clientId + "image")").html("<img src='" + responseJSON.imageUrl + "'/>");
                
                console.log(id);
                console.log(responseJSON);
                getImageUrl(responseJSON.pictureId);
                //addImage("@pictureService.GetPictureUrl(126)");
                $("#@(clientId + "value") input").val(responseJSON.pictureId);
                $("#@(clientId + "remove")").show();
            }
        });

        $("#@(clientId + "remove")").click(function (e) {
            $("#@(clientId + "image")").html("<img src='@pictureService.GetDefaultPictureUrl()'/>");
            $("#@(clientId + "value") input").val(0);
            $(this).hide();
        });
    });
    var num = 0;
    var object = [];
    var type;
    var canvas = new fabric.Canvas('myCanvas');


    function getImageUrl(id){
        $.ajax({
            type: "POST",
            url: "GetImageUrl",
            data: JSON.stringify({ id: id }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

    }

    function successFunc(data, status) {
        addImage(data);
    }

    function errorFunc() {
        alert('error');
    }

    function addImage(url) {
        fabric.Image.fromURL(url, function (oImg) {
            oImg.id = num;

            oImg.cornerColor = "black";
            object[num] = oImg;
            type = "Image";
            addItem(type);
        });
    }
    function Rectangle() {
        object[num] = new fabric.Rect({
            left: 100, top: 100, fill: 'red', width: 50, height: 50, cornerColor: 'black', id: num
        });
        type = "Rectangle";
        addItem(type);
    }
    function Line() {
        object[num] = new fabric.Line([50, 100, 200, 200], {
            left: 170, top: 150, stroke: 'red', cornerColor: 'black', id: num
        });
        type = "Line";
        addItem(type);
    }

    function Circle() {
        object[num] = new fabric.Circle({
            radius: 20, fill: 'green', left: 100, top: 100, cornerColor: 'black', id: num
        });
        type = "Circle";
        addItem(type);
    }
    function Text() {
        object[num] = new fabric.IText('Hello World', {
            fontFamily: 'arial black', fontSize: 20, left: 100, top: 100, cornerColor: 'black', id: num, fontWeight: 'bold'
        });
        type = "Text";
        addItem(type);
    }
    function Triangle() {
        object[num] = new fabric.Triangle({
            width: 50, height: 60, fill: 'blue', left: 50, top: 50, cornerColor: 'black', id: num
        });
        type = "Triangle";
        addItem(type);
    }

    function removeItem(id) {
        var element = itemSelection(id);
        element && canvas.remove(itemSelection(id));
    }

    function addItem(type) {
        
        canvas.add(object[num]);
        console.log(object[num]);
        addButton(type, num);
        num++;
        sortObjectByZindex();
        canvas.renderAll();
        canvas.calcOffset();
    }

    function selectedItemActive(idnum) {
        var objectItem = itemSelection(idnum);
        canvas.setActiveObject(objectItem);
    }

    function itemSelection(idnum) {
        for (var i = 0; i < canvas.getObjects().length; i++) {
            if (canvas.getObjects()[i].id == idnum) {
                return canvas.getObjects()[i];
            }
        }
    }

    function getActiveObject() {
        console.log('an object was clicked! ', canvas.getActiveObject().get('id'));
    }

    canvas.on('mouse:down', function (options) {
        if (options.target) {
            console.log('an object was clicked! ', canvas.getActiveObject().get('id'));
        }
    });

    function addButton(type, num) {
        /*
		<div class="row">

							<div class="col-lg-8">
								<a  class="list-group-item obj-layer" onclick="selectedItemActive(0)" href="#">Rectangle_0</a>
							</div>

							<div class="col-lg-4">
								<button type="button" onclick="deleteDiv(0)" class="btn btn-danger remove">remove!</button>
							</div>

						</div>
		*/


        var design = "<div class='row'"
					+ "id='" + num + "'"
					+ ">"
					+ "<div class='col-lg-8'>"
					+ "<a  class='list-group-item obj-layer'"
					+ "onclick='selectedItemActive(" + num + ")'"
					+ "href='#'>" + type + "_" + num + "</a>"
					+ "</div>"
					+ "<div class='col-lg-4'>"
					+ "<button type='button'"
					+ "onclick='deleteDiv(" + num + ")'"
					+ "class='btn btn-danger remove'>"
					+ "remove!"
					+ "</button>"
					+ "</div>"
					+ "</div>";

        $('#layer').prepend(design);
    }

    function getAllChildLabel() {
        var divArray = [];
        var all = $("#layer > div").map(function () {
            divArray.push(this.id);
        }).get();
        return divArray;
    }

    function sortObjectByZindex() {
        var arrayList = getAllChildLabel();
        console.log(arrayList);
        for (var i = arrayList.length - 1, index = 0; i >= 0; i--, index++) {
            canvas.moveTo(itemSelection(arrayList[i]), index);
        }
    }


    $(".list-group-item").click(function () {
        $(this).toggleClass("active");
    });

    $("#layer").sortable({
        stop: function () {
            sortObjectByZindex();
            console.log(canvas.getObjects());
        }
    });

    function deleteDiv(id) {
        var element = document.getElementById(id);
        element && element.remove();
        removeItem(id);
    };



    //color fill
    $(".colorfill").click(function () {
        
        canvas.getActiveObject() && (canvas.getActiveObject().fill = $("#color-fill").val());
        canvas.renderAll();
        
    });


    $("#opacity").change(function () {
        canvas.getActiveObject() && (canvas.getActiveObject().opacity = $("#opacity").val() / 100);
        canvas.renderAll();
    });

    
    $("#stroke-width").change(function () {
        console.log($("#stroke-width").val());
        if ($("#stroke-width").val() == 0) {
            canvas.getActiveObject() && (canvas.getActiveObject().stroke = null);
        }
        else {
            canvas.getActiveObject() && (canvas.getActiveObject().stroke = $("#stroke-color").val());
            canvas.getActiveObject() && (canvas.getActiveObject().strokeWidth = parseFloat($("#stroke-width").val()) * .3);
        }
        canvas.renderAll();
    });

    $(".i-line").click(function () {

        canvas.getActiveObject() && (canvas.getActiveObject().stroke= $("#stroke-color").val());
        canvas.renderAll();

    });


    $("#boldbutton").click(function () {
        console.log(canvas.getActiveObject().fontWeight);
        if (canvas.getActiveObject() && (canvas.getActiveObject().fontWeight=="normal")){
           canvas.getActiveObject().fontWeight = 'bold';
        }
        else {
            canvas.getActiveObject() && (canvas.getActiveObject().fontWeight = 'normal');
        }
        //canvas.getActiveObject() && (canvas.getActiveObject().fill = $("#color-fill").val());
        canvas.renderAll();

    });

    $("#italicbutton").click(function () {

        console.log(canvas.getActiveObject().fontStyle);
        if (canvas.getActiveObject() && (canvas.getActiveObject().fontStyle == "")) {
            canvas.getActiveObject().fontStyle = 'italic';
        }
        else {
            canvas.getActiveObject() && (canvas.getActiveObject().fontStyle = "");
        }
        canvas.renderAll();

    });

    $("#underlinebutton").click(function () {
        console.log(canvas.getActiveObject().textDecoration);
        
        if (canvas.getActiveObject() && (canvas.getActiveObject().textDecoration == "")) {
            canvas.getActiveObject().fontStyle = 'underline';
        }
        else {
            canvas.getActiveObject() && (canvas.getActiveObject().textDecoration = "");
        }
        canvas.renderAll();

    });
    /*
    $(document).on('click', 'body:not(#toolbar,#canvas-wrap)', function (e) {
        console.log("click outside");
    });
    */
    // create a rectangle object



    //canvas.add(rect,circle,triangle,text);


</script>
