﻿@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@model Nop.Plugin.Widget.PromoSlider.Domain.PromoSlderRecord
@{
Layout = null;

Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/Content/bootstrap.min.css");
Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.PromoSlider/fonts/glyphicons-halflings-regular.woff");

Html.AddScriptParts(ResourceLocation.Foot, "~/Plugins/Widgets.PromoSlider/Scripts/bootstrap.min.js", true);
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Images.Count; i++)
        {
            <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @foreach (var image in Model.Images)
        {
            <div class="item">
                <a href="@image.Url" target="_blank"><img src="@image.FilePath" alt="@image.Caption"></a>
                <div class="carousel-caption">
                    @image.Caption
                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script>
    $(document).ready(function () {
        $(".item").first().addClass("active");
        $('.carousel-indicators li').first().addClass("active");

        $('.carousel').carousel({
            interval: @Model.Interval
            })
    })
</script>