﻿@using Nop.Plugin.Recipe.Models
@model IList<Department_With_Special>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/recipe.js"));
}
<script type="text/javascript">
   
    
</script>
<div class="">
    <div class="header2">
        Our Current Specials</div>
    <div class="floatRight">
        
        <div class="shoppingListIconOnSpecial">
            <div class="floatLeft">
                <a class="" href="@Url.RouteUrl("Nop.Plugin.Recipe.ShoppingList")">
                    <div class="view_my_shopping_list">
                    </div>
                </a>
            </div>
            <div class="floatLeft">@*javascript: _gaq.push(['_trackPageview', '/downloads/map']);*@
                <a class="" href="/Themes/Caputos/Content/flyer/flyer.html">
                    <div class="view_entire_add">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="displayableItems" runat="server" class="floatLeft">
        @*@Html.Raw(ViewBag.displayableSpecialItems)*@
    </div>
    <div class="clear">
    </div>
    @*<div id="pagination" class="pagination" runat="server">
        @Html.Raw(ViewBag.specialpagination)
    </div>*@
    @*<div class="clear">
    </div>*@
    <div id="specials_search_form">
        <strong>
            <label>
                Select a department:</label></strong>
        <select id="ddlSpecials_select_category" class="specials_select_category" runat="server"
            onchange='ondropdownchange_mobile("")'>
            <option id="department_idAll" value="All" selected>All</option>
            @for (int j = 0; j < Model.Count; j++)
            {

                var department = Model[j].department;//.Departments[j];
               
                <option id='department_id@(department.id)' value="@(department.id)" >@department.name</option>
                

            }
        </select>
        <strong>
            <label>
                Search:&nbsp;</label></strong>
        <input type="text" id="specials_search_mobile" maxlength="32" height="18" runat="server" />
    </div>
    <input id="pageSize" value="All" type="hidden"/>
   @* <div class="clear">
    </div>*@
    @if (ViewBag.noresult == false)
    {
         for (int j = 0; j < Model.Count; j++)
         {
            <div class="color_red font20 newLine">@Model[j].department.name</div>
            for (int i = 0; i < Model[j].Specials.Count; i++)
            {
                var item = Model[j].Specials[i];
            <div id="specials-box">
                <div class="special">
                    <div class="special-image">
                        <img alt="" src='@item.image'>
                    </div>
                    <span class="brand">
                        <label id="litBrand" runat="server">
                            @item.brand
                        </label>
                    </span><span class="product">
                        @item.product</span>
                    <p class="special-offer">
                        @item.offer</p>
                    <a href='@Url.RouteUrl("showSingleRecipe", new { recipeid = @item.recipe_id })'>
                        @item.recipe_title</a>
                                                                                                                                                                                        <div class="shoppinglist-add">
                    <div id="">
                        @if (ViewBag.unregistered == false)
                        {
                            if (ViewBag.dontshowaddshoppinglist == false)
                            {
                                if (@item.isAlreadyOnDatabase == "false")
                                {
                            <a class="sidebar-action" id="special_adding_@(item.id)" onclick="saveSpecialToShoppingList('@item.id', '@item.brand.Replace("'", "\\'")', '@item.product.Replace("'", "\\'")', '@item.description.Replace("'", "\\'")', '@item.offer.Replace("'", "\\'")', '@item.image','@item.recipe_title.Replace("'", "\\'")', '@item.recipe_id', '@item.featured.Replace("'", "\\'")')">
                                <div class="AddIconSpecial">
                                </div>
                                Add to my Shopping List</a>
                            <div id="special_added_@(item.id)" class="specialAdded" >
                                <div id="" class="AcceptIconCookBook">
                                </div>
                                <span>This is in your Shopping List</span></div>
                                }
                                else
                                {
                            <div id="special_added_@(item.id)" class="newLine">
                                <div id="" class="AcceptIconCookBook">
                                </div>
                                <span>This is in your Shopping List</span></div>
                                }

                            }
                            else
                            {
                            <div id="special_added_@(item.id)">
                                <div id="" class="AcceptIconSpecial">
                                </div>
                                <span>This is in your Shopping List</span></div>
                            }
                        }
                        else
                        {
                            <a class="sidebar-action" id="special_adding_@(item.id)" href="@Url.RouteUrl("Login")">
                                <div class="AddIconSpecial">
                                </div>
                                Add to my Shopping List</a>
                        }
                    </div>
                </div>
               
                </div>
               
            </div>
            }
            <br /><br />
            <div class="newLine"></div>
         }

    }
    else
    {
        <div id="divNoResults" class="header2" runat="server" visible="false">
            No specials were found.
        </div>
    }
</div>
