﻿@using Nop.Plugin.Recipe.Models
@model IList<Tip>
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    
}

<div class="mainContent">
    <div>
        Search:
        <input id="txtSearch" type="text" maxlength="32" class="margin_6_px" />
    </div>
    <div id="displayableItems" runat="server">
        @Html.Raw(ViewBag.displayableTipsItems)
    </div>
    <div id="pagination" class="pagination" runat="server">
        @Html.Raw(ViewBag.tipspagination)
    </div>
    <div class="newLine">
    </div>
    @if (ViewBag.tipspagination != "")
    {
    <table id="Table1" runat="server" cellpadding="5" cellspacing="2">
        <tr id="itemPlaceholder" runat="server" />
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <tr>
                <td>
                    <a href="@Url.RouteUrl("tipsAndGuides", new { id = @item.id })">@item.title</a>
                </td>
            </tr>
        }
    </table>
    }
</div>
