﻿@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
}

<div class="panel panel-default form-panel">
    <div class="panel-heading">
        <h3>@T("PageTitle.ContactUs")</h3>
    </div>
    @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
    <div class="panel-body">
        @Html.Widget("contactus_top")
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            <div class="form-fields">
                <div class="inputs-left">

                    <div class="form-group row">
                        @Html.LabelFor(model => model.FullName, new { @class = "col-md-2 control-label" }, ":")
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = T("ContactUs.FullName.Hint") })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" }, ":")
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = T("ContactUs.Email.Hint") })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    @if (Model.DisplayCaptcha)
                    {
                        <div class="captcha-box">
                            @Html.Raw(Html.GenerateCaptcha())
                        </div>
                    }
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Enquiry, new { @class = "col-md-2 control-label" }, ":")
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry form-control", placeholder = T("ContactUs.Enquiry.Hint") })
                    </div>
                    <div class="col-md-4">
                        @Html.ValidationMessageFor(model => model.Enquiry)
                    </div>
                </div>
            </div>

            <div class="buttons content-center">
                <input type="submit" name="send-email" class="btn btn-meals-for-you" value="@T("ContactUs.Button")" />
            </div>
            }
        }
        @Html.Widget("contactus_bottom")
    </div>
</div>
