﻿@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure

<section class="footer">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-110 col-md-10 col-sm-9 col-xs-12">
                <ul>
                    <li><a href="/">TOP OF PAGE</a></li>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/privacy-policy">PRIVACY POLICY</a></li>
                    <li><a href="/terms-and-conditions">TERMS &amp; CONDITIONS</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 content-center">
                <img class="footer-logo" src="~/Themes/Polsonsnatural/Content/images/logo-sm.png" alt="proco_logo not found">
            </div>
        </div>
        <div class="row clearfix">
            <div class="text-center">
                @Html.Action("StoreThemeSelector", "Common")
            </div>
        </div>
    </div>
    @Html.Widget("footer")
</section>


