﻿/*Default Layout*/
body { padding: 52px 0; padding-bottom: 80px; }
.navbar-brand-text { display: none; }
.navbar-brand-image { display: inline-block; }
.caputomarkets-logo { max-height: 140px; max-width: 140px !important; }
.logo-img { width: 100%; max-width: 180px; height: auto; margin-top: 3px; margin-left: 15px; background: #fff; padding: 3px; border-radius: 10px; }
.navbar-header { padding: 0px; }
.navbar-address { margin-left: 140px; }
    .navbar-address a { vertical-align: top; }
        .navbar-address a i { display: inline-block; zoom: 3; color: #DC0000; vertical-align: top; margin-right: 0px; }
        .navbar-address a span { display: inline-block; color: #2A2A2A; }
.top-menu.navbar-default .navbar-nav > li > a { padding: 5px 10px; cursor: pointer; }
.top-menu.navbar-default .navbar-social li a { padding: 5px; margin: 5px 10px 5px 10px; color: red; background: #fff; border-radius: 31px; min-width: 30px; text-align: center; }
    .top-menu.navbar-default .navbar-social li a:hover { color: #DC0000; background: #ddd; }
    .top-menu.navbar-default .navbar-social li a i { }
.top-menu.navbar-default .navbar-social li .dropdown-menu { background: #DC0000 !important; }
    .top-menu.navbar-default .navbar-social li .dropdown-menu a { background: none !important; color: #ddd !important; text-align: left; }
        .top-menu.navbar-default .navbar-social li .dropdown-menu a:hover { background: none !important; color: #fff !important; }
.top-menu .navbar-right { background: #DC0000; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 0px 5px 5px 5px; }
.top-menu { position: fixed; }
#myBar { top: 55px; position: fixed; }
    #myBar li { padding: 15px 0px; border-bottom: 0; }
        #myBar li:last-child { border-bottom: 0; }
.section-main { margin: 100px auto 15px auto; }
.footer { position: fixed; }



/* Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body { padding: 52px 0; padding-bottom: 80px; }
    .navbar-header { padding: 0px; }
    .navbar-address { margin-left: 80px; }
        .navbar-address a { vertical-align: top; }
            /*.navbar-address a i { zoom: 3; }*/
            .navbar-address a span { display: inline-block; color: #2A2A2A; }
    .top-menu.navbar-default .navbar-nav > li > a { padding: 5px 10px; cursor: pointer; padding-right: 0; }
    .top-menu.navbar-default .navbar-social li a { padding: 5px; margin: 5px 10px 5px 10px; color: red; background: #fff; border-radius: 31px; min-width: 30px; text-align: center; }
        .top-menu.navbar-default .navbar-social li a:hover { color: #DC0000; background: #ddd; }
        .top-menu.navbar-default .navbar-social li a i { }
    .top-menu.navbar-default .navbar-social li .dropdown-menu { background: #DC0000 !important; }
        .top-menu.navbar-default .navbar-social li .dropdown-menu a { background: none !important; color: #ddd !important; text-align: left; }
            .top-menu.navbar-default .navbar-social li .dropdown-menu a:hover { background: none !important; color: #fff !important; }
    .navbar-brand-text { display: none; }
    .navbar-brand-image { display: inline-block; }
    .caputomarkets-logo { max-height: 120px; max-width: 120px !important; }
    .logo-img { margin-top: 7px; }
    .top-menu .navbar-right { background: #DC0000; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 0px 5px 5px 5px; }
    .top-menu { position: fixed; }
    #myBar { top: 55px; position: fixed; }
        #myBar li { padding: 15px 0px; border-bottom: 0; }
    .section-main { margin: 100px auto 15px auto; }
    .footer { position: fixed; }
}



/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {
    body { padding: 0px; padding-bottom: 0px; }
    .navbar-header { padding: 0px; }
    .navbar-social li, .navbar-address li { border-bottom: 1px solid #ddd; }
    .navbar-address { margin-left: 0px; }
        .navbar-address a { vertical-align: top; }
            .navbar-address a i { zoom: 2; }
            .navbar-address a span { display: inline-block; color: #2A2A2A; }
    .top-menu.navbar-default .navbar-social li .dropdown-menu { background: none !important; }
        .top-menu.navbar-default .navbar-social li .dropdown-menu a { color: #2A2A2A !important; }
            .top-menu.navbar-default .navbar-social li .dropdown-menu a:hover { color: #000 !important; }
    .top-menu.navbar-default .navbar-social li a { padding: 5px; margin: 5px; color: red; background: none; border: 0; text-align: left; }
        .top-menu.navbar-default .navbar-social li a:hover { background: none; }
        .top-menu.navbar-default .navbar-social li a i { color: #DC0000; zoom: 2; }
    .navbar-inverse .navbar-nav > li > a:hover { background: none; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { padding-left: 40px; }
    .navbar-brand-text { display: inline-block; }
    .navbar-brand-image { display: none; }
    .logo-img { margin-top: 2px; }
    .top-menu .navbar-right { background: none; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 0px; }
    .top-menu { position: relative; }
    #myBar { top: 0px; position: relative; }
        #myBar li { padding: 0; border-bottom: 1px solid #ddd; }
    .section-main { margin: 15px auto 15px auto; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
}



/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body { padding: 0px; padding-bottom: 0px; }
    .navbar-header { padding: 0px; }
    .navbar-social li, .navbar-address li { border-bottom: 1px solid #ddd; }
    .navbar-address { margin-left: 0px; }
        .navbar-address a { vertical-align: top; }
            /*.navbar-address a i { zoom: 2; }*/
            .navbar-address a span { display: inline-block; color: #2A2A2A; }
    .top-menu.navbar-default .navbar-social li a { padding: 5px; background: none; text-align: left; margin: 5px; }
        .top-menu.navbar-default .navbar-social li a:hover { background: none; }
        .top-menu.navbar-default .navbar-social li a i { color: #DC0000; }
    .top-menu.navbar-default .navbar-social li .dropdown-menu { background: none !important; }
        .top-menu.navbar-default .navbar-social li .dropdown-menu a { color: #2A2A2A !important; }
            .top-menu.navbar-default .navbar-social li .dropdown-menu a:hover { color: #000 !important; }
    .navbar-inverse .navbar-nav > li > a:hover { background: none; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { padding-left: 40px; }
    .navbar-brand-text { display: inline-block; }
    .navbar-brand-image { display: none; }
    .logo-img { margin-top: 2px; }
    .top-menu .navbar-right { background: none; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 0px; }
    .top-menu { position: relative; }
    #myBar { top: 0px; position: relative; }
        #myBar li { padding: 0; border-bottom: 1px solid #ddd; }
    .section-main { margin: 15px auto 15px auto; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
}


/*Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    body { padding-bottom: 0px; }
    .navbar-header { padding: 15px; }
    .navbar-social li, .navbar-address li { border-bottom: 1px solid #ddd; }
    .navbar-address { margin-left: 0px; }
        .navbar-address a { vertical-align: top; }
            .navbar-address a i { zoom: 2; }
            .navbar-address a span { display: inline-block; color: #2A2A2A; }
    .top-menu.navbar-default .navbar-nav > li > a { padding: 10px; }
    .navbar-inverse .navbar-nav > li > a:hover { background: none; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { padding-left: 40px; }
    .navbar-brand-text { display: inline-block; }
    .navbar-brand-image { display: none; }
    .logo-img { margin-top: 2px; }
    .top-menu .navbar-right { background: none; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 0px; }
    .top-menu.navbar-default .navbar-social li a { padding: 5px; margin: 5px; color: red; background: #fff; border-radius: 31px; min-width: 30px; text-align: center; }
        .top-menu.navbar-default .navbar-social li a:hover { background: none; }
        .top-menu.navbar-default .navbar-social li a i { color: #DC0000; zoom: 2; }
    .top-menu.navbar-default .navbar-social li .dropdown-menu { background: none !important; }
        .top-menu.navbar-default .navbar-social li .dropdown-menu a { color: #2A2A2A !important; }
            .top-menu.navbar-default .navbar-social li .dropdown-menu a:hover { color: #000 !important; }
    .top-menu { position: relative; }
    #myBar { top: 0px; position: relative; }
        #myBar li { padding: 0; border-bottom: 1px solid #ddd; }
    .section-main { margin: 15px auto 15px auto; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
}
