﻿@using Nop.Plugin.Recipe.Models
@model IList<Department>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}
<div class="header1 floatLeft">
    Burr Ridge, Darien -- Current Specials</div>
<div class="floatRight">
    <div class="shoppingListIconOnSpecial">
        <div class="shoppingListIconOnSpecial">
            <div class="floatLeft">
                <a class="" href="@Url.RouteUrl("Nop.Plugin.Recipe.ShoppingList")">
                    <div class="view_my_shopping_list">
                    </div>
                </a>
            </div>
            <div class="floatLeft">@*javascript: _gaq.push(['_trackPageview', '/downloads/map']);*@
                <a class="" href="/themes/ProcoDefault/Content/flyer/flyer.html">
                    <div class="view_entire_add">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="newLine"></div>
@for (int i = 0; i < Model.Count; i++)
{

    var item = Model[i];
    <div class="recipeGallary">
        <a href="@Url.RouteUrl("specialList", new { department_id = @item.id })">
            <img src="@item.image" />
            <div class="recipeTitle">
                @item.name</div>
        </a>
    </div>
                    
                
            
}
 <div class="recipeGallary">
        <a href="@Url.RouteUrl("specials_all")">
            <div class="special_view_all"></div>
            <div class="recipeTitle">
                View All Specials</div>
        </a>
    </div>
