﻿@using Nop.Plugin.RecipeNew.Models

@model IList<RecipeGallary>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("RecipeNew");
    Html.AddMetaDescriptionParts("RecipeNew");
    Html.AddMetaKeywordParts("RecipeNew");
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
}
<div class="mainContent">
    @*<p>@Html.Action("Public_recipe_display", "RecipeNew")</p>*@
    <h1 class="header1">
        Our Recipes</h1>
    <p>
        Browse this collection of recipes to find simple, healthy dishes to make eating
        healthier a snap. Look for lower fat, whole food ingredients. Try something new
        today!</p>
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
         <div class="recipeGallary">
        <a href="@Url.RouteUrl("recipewithtagsnew", new { tags = @item.TagId })">
            <img src="@item.Photo" />
            <div class="recipeTitle">
            @item.RecipeTitle</div>
        </a>
        </div>
            
    }
    <input type="hidden" id="pagename" value="index" />
</div>
<div class="sidebarContent">
    @Html.Action("Search", "RecipeNew", new { searchType ="title" })
    <br />
     
    @Html.Action("showAllCookBook", "RecipeNew")
</div>

