﻿@using Nop.Plugin.RecipeNew.Models
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/smoothness/jquery-ui-1.8.17.custom.css"));
    
    <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/recipe.js"></script>
    
           <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/jquery-ui.min.js"></script>
}
<div>
    <span class="header2">Recipe Search:</span>
    <div id="recipesearchMobile" class="">
        <input id="quicksearchMobile" type="text" maxlength="32" class="" />
    </div>
</div>
<div class="ui-grid-b">
    <div class="ui-block-a">
        <input type="radio" name="radio-choice-1" id="radio-mini-1" value="choice-1" @ViewBag.Title  onclick= "radio_button_clicked_for_search('title')"/>
        <label for="radio-mini-1">
            Title</label></div>
    <div class="ui-block-b">
        <input type="radio" name="radio-choice-1" id="radio-mini-2" value="choice-2" @ViewBag.Ingredients onclick= "radio_button_clicked_for_search('ingredient')" />
        <label for="radio-mini-2">
            Ingredients</label></div>
</div>
