﻿@using Nop.Plugin.RecipeNew.Models
@model RecipeResults
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    if (ViewBag.noresult == "")
    { Html.AddTitleParts(Model.Title); }

    Html.AddMetaDescriptionParts("Recipe");
    Html.AddMetaKeywordParts("Recipe");
    
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/bubbletip.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/bubbletip-IE.css"));
   
    
    //Html.AddScriptParts(@Url.Content("~/Plugins/RecipeNew/Scripts/recipe.js"));
    //Html.AddScriptParts(@Url.Content("~/Plugins/RecipeNew/Scripts/jQuery.bubbletip-1.0.6.js"));
}

<script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/recipe.js"></script>
<script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/jQuery.bubbletip-1.0.6.js"></script>

<div class="mainContent">
    @if (ViewBag.noresult != "")
    {
        <div id="displayableItems">
            @ViewBag.noresult
        </div>
    }
    else
    {
    
        <div id="recipe_text">
            <h1 id="recipe_title" runat="server">
                @ViewBag.recipe_title
            </h1>
        </div>
        <div id="recipe_time" runat="server" class="recipe_time">
            <span>Preparation:&nbsp; @Html.Raw(Model.Preparation)&nbsp;min.<span> <span>Cooking:&nbsp;@Html.Raw(Model.Cooking)&nbsp;min.<span>
                <span>Total:&nbsp;@Html.Raw(Model.Total)&nbsp;min.<span>
        </div>
        <div id="recipe_photo">
            <img id="img_recipe_photo" src="@ViewBag.img_recipe_photo" alt="Recipe photo" runat="server" />
        </div>
        <ul id="recipe_ingredients" runat="server">
            @foreach (var recipeingredient in Model.arr_ingredients)
            {
                <li>@Html.Raw(recipeingredient)</li>
            }
        </ul>
        <div id="recipe_instructions" runat="server">
            @Html.Raw(ViewBag.recipe_instructions)
        </div>
        <div id="recipe_nutrition">
            <div id="nutrition_brief" runat="server" class="nu_brief" style="padding: 10px;">
                @foreach (System.Data.DataRow row in Model.briefNutrientList.Rows)
                {
                    <div class="nutrient_brief">
                        <div>
                            <span>@row.ItemArray[2]</span>
                        </div>
                        <div>
                            <span>@row.ItemArray[4] @row.ItemArray[1]</span>
                        </div>
                    </div>
           
                }
                <br />
                <br />
            </div>
            <div id="nutrition_detail" runat="server" class="nu_detail" onclick="DisplayDetail();">
                <table>
                    <tr>
                        <td>
                            <div id="content_nutrients" runat="server" class="nutrient_detail_block">
                                <h3>
                                    Nutrients</h3>
                                @foreach (System.Data.DataRow row in Model.NutrientsDetailsTable.Rows)
                                {
                                    <table>
                                        <tr>
                                            <td class="nutrient_item">@row.ItemArray[2]
                                            </td>
                                            <td class="nutrient_item">
                                                &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                            </td>
                                            @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                                            {
                                                <td class="nutrient_item">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                                </td>

                                            }
                                        </tr>
                                    </table>
                                }
                            </div>
                        </td>
                        <td>
                            <div id="content_fats" runat="server" class="nutrient_detail_block">
                                <h3>
                                    Fats</h3>
                                @foreach (System.Data.DataRow row in Model.FatsDetailsTable.Rows)
                                {
                                    <table>
                                        <tr>
                                            <td class="nutrient_item">@row.ItemArray[2]
                                            </td>
                                            <td class="nutrient_item">
                                                &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                            </td>
                                            @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                                            {
                                                <td class="nutrient_item">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                                </td>

                                            }
                                        </tr>
                                    </table>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="content_vitamins" runat="server" class="nutrient_detail_block">
                                <h3>
                                    Vitamins</h3>
                                @foreach (System.Data.DataRow row in Model.VitaminsDetailsTable.Rows)
                                {
                                    <table>
                                        <tr>
                                            <td class="nutrient_item">@row.ItemArray[2]
                                            </td>
                                            <td class="nutrient_item">
                                                &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                            </td>
                                            @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                                            {
                                                <td class="nutrient_item">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                                </td>

                                            }
                                        </tr>
                                    </table>
                                }
                            </div>
                        </td>
                        <td>
                            <div id="content_minerals" runat="server" class="nutrient_detail_block">
                                <h3>
                                    Minerals</h3>
                                @foreach (System.Data.DataRow row in Model.MineralsDetailsTable.Rows)
                                {
                                    <table>
                                        <tr>
                                            <td class="nutrient_item">@row.ItemArray[2]
                                            </td>
                                            <td class="nutrient_item">
                                                &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                            </td>
                                            @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                                            {
                                                <td class="nutrient_item">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                                </td>

                                            }
                                        </tr>
                                    </table>
                                }
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="showDetailsingleRecipe">
                <a id="ancMore" onclick="DisplayDetail();" title="show">Click for more detail</a>
            </div>
        </div>
    }
</div>
<div class="sidebarContent">
    @Html.Action("Search", "Recipe")
    <br />
    @if (ViewBag.noresult == "")
    {
        <div class="floatLeft borderBottom">
            <div id="scaling" class="floatLeft">
                <label for="Serves">
                    Serves</label>
                <select id="servings" name="servings" onchange="btnScale_Click(@ViewBag.recipeId)">
                    @for (var i = 1; i <= 100; )
                    {
                        if (i == int.Parse(ViewBag.servings))
                        {
                        <option value="@i" selected="selected">@i</option>
                        }
                        else
                        {
                        <option value="@i">@i</option>
                        }
                        if (i < 10) { i++; }
                        else if (i > 9 && i < 14) { i += 2; }
                        else if (i >= 14 && i < 16) { i++; }
                        else if (i >= 16 && i < 20) { i += 2; }
                        else if (i == 20) { i += 4; }
                        else if (i == 24) { i++; }
                        else if (i == 25) { i += 5; }
                        else if (i == 30) { i += 2; }
                        else if (i == 32) { i += 4; }
                        else if (i == 36) { i += 4; }
                        else if (i == 40) { i += 8; }
                        else if (i == 48) { i += 2; }
                        else if (i == 50) { i += 10; }
                        else if (i == 60 || i == 72) { i += 12; }
                        else if (i == 84) { i += 16; }
                        else
                        {
                            i++;
                        }


                    }
                </select>
                @*<select id="units" name="units" runat="server" class="displayNone" >
                <option value="US" selected="selected">US</option>
            </select>*@
            </div>
            <div class="floatLeft marginleft_10">
                <a href="javascript:window.print();">
                    <div class="floatLeft">
                        <div class="DivPrint floatLeft">
                        </div>
                        <div class="floatLeft margin10">
                            Print This Recipe</div>
                    </div>
                </a>
                
            </div>
            
        </div>
<br />
         <br />
       
        <div id="why_register" class="newLine marginbottom10" runat="server">
            <br />
            @if (ViewBag.unregistered == true)
            {
                <a class="sidebar-action" id="shoppinglist_add_anon" href="@Url.RouteUrl("Login")">
                    <div class="AddIconCookBook newLine">
                    </div>
                    Add to my Shopping List</a>
                <br />
                <br />
                <a class="sidebar-action" id="AddIconCookBook" href="@Url.RouteUrl("Login")">
                    <div class="AddIconCookBook newLine">
                    </div>
                    Add to my Cookbook</a>
            }
            else
            {
                <div class="displayNone">
                </div>
                if (ViewBag.dontshowaddshoppinglist == false)
                {
                <a class="sidebar-action"  href="@Url.RouteUrl("Nop.Plugin.RecipeNew.AddToshoppingListnew", new { recipeid = @ViewBag.recipeId, servings = @ViewBag.servings })">
                    <div class="AddIconCookBook newLine">
                    </div>
                    Add to my Shopping List</a>
                }
                else
                {
                <div class="AcceptIconCookBook newLine">
                </div>
                <span>This is in your Shopping List</span>
                }
                <br />
                if (ViewBag.dontshowaddcookbook == false)
                {
                <a class="sidebar-action"  href="@Url.RouteUrl("Nop.Plugin.RecipeNew.AddTocookBooknew", new { recipeid = @ViewBag.recipeId, recipetitle = @ViewBag.recipe_title })">
                    <div class="AddIconCookBook newLine">
                    </div>
                    Add to my Cookbook</a>
                }
                if (ViewBag.dontshowaddcookbook == true)
                {
                <div class="AcceptIconCookBook newLine">
                </div>
                <span>This is in your Cookbook</span>
                }
                <br />
                <br />
                if (ViewBag.dontshowviewshoppinglist == false)
                {
                <a class="sidebar-action" href="@Url.RouteUrl("Nop.Plugin.RecipeNew.ShoppingListnew")">
                    <div class="showshoppinglistIconCookBook">
                    </div>
                    <span>View my Shopping List</span></a>
                }
            }
        </div>
       
        <div id="tip1_left" style="display: none; margin: 0; padding: 0">
            <pre class="tip">
<a href="@Url.RouteUrl("Login")"><u><strong>@T("Account.Login")</strong></u></a> or <a
    href="@Url.RouteUrl("Register")"><u><strong>@T("Account.Register")</strong></u></a> now to access these features:
    .  Save recipes to your own personal <strong>cookbook</strong>
    .  Build a personal <strong>shopping list</strong> from recipes
    and advertised specials  
</pre>
        </div>
        <div id="tip1_left1" style="display: none;">
            <pre class="tip">
<a href="@Url.RouteUrl("Login")"><u><strong>@T("Account.Login")</strong></u></a> or <a
    href="@Url.RouteUrl("Register")"><u><strong>@T("Account.Register")</strong></u></a> now to access these features:
    .  Save recipes to your own personal <strong>cookbook</strong>
    .  Build a personal <strong>shopping list</strong> from recipes
    and advertised specials  
</pre>
        </div>
       
    }
     <input type="hidden" id="pagename" value="singlerecipe" />
    @if (ViewBag.unregistered == false)
    {
        @Html.Action("showAllCookBook", "RecipeNew", new { searchType = "title" })
    }
</div>
