﻿@using Nop.Plugin.RecipeNew.Models
@model System.Data.DataTable
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("RecipeNew");
    Html.AddMetaDescriptionParts("RecipeNew");
    Html.AddMetaKeywordParts("RecipeNew");
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
    <script type="text/javascript" src="@Url.Content("~/Plugins/RecipeNew/Scripts/jquery.endless-scroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Plugins/RecipeNew/Scripts/listscrollformobile.js")"></script>
}

<div class="">
    @Html.Action("Search", "RecipeNew", new { searchType = ViewBag.searchType })
    <br />
    @Html.Action("showAllCookBook", "RecipeNew")
</div>
<div class="header1">
    Recipe search results</div>
@*<div id="displayableItems" runat="server">
    @Html.Raw(ViewBag.displayableItems)
</div>*@
@*<div id="pagination" class="pagination" runat="server">
    @Html.Raw(ViewBag.pager)
</div>*@
<div class="newLine">
</div>
<ul data-role="listview" data-inset="true" data-filter="false" data-theme="c" id="UlList_mobile">
    @foreach (System.Data.DataRow row in Model.Rows)
    { 
        <li><a href="@Url.RouteUrl("showSingleRecipenew", new { recipeid = @row.ItemArray[0] })">
            <img src="@row.ItemArray[3]" />
            @row.ItemArray[1]
            <div class="newLine">
            </div>
            Serve:@row.ItemArray[2],Time:@row.ItemArray[6],Cal:@row.ItemArray[7],Fat:@row.ItemArray[8],Carbs:@row.ItemArray[11]
        </a></li>  
           
    }
</ul>
<input type="hidden" class="displayNone" id="tag" value="@ViewBag.tags" />
<input type="hidden" class="displayNone" id="totalpage" value="@ViewBag.totalpage" />
<input type="hidden" class="displayNone" id="title" value="@ViewBag.title" />
<input type="hidden" class="displayNone" id="ingredient" value="@ViewBag.ingredient" />
<input type="hidden" class="displayNone" id="pagename" value="recipelist" />
<div id="nextPageLoader" class="displayNone"><img  src="/Plugins/Recipe/Content/images/loader.gif"/></div>
<div id="divNoResults">
    @ViewBag.noResult
</div>
