﻿@using Nop.Plugin.RecipeNew.Models
@model IList<Department>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}
<div class="header1 floatLeft">
    @if(string.IsNullOrEmpty(ViewBag.DontLiveNearStore))
	{
		<text>Current Specials for :: </text> @Html.DropDownList("RoleName", (SelectList)ViewBag.RoleName);
	}
	else
	{
		<text>Specials Store Selector </text> 
	}
</div>
<div class="floatRight">
    <div class="shoppingListIconOnSpecial">
        <div class="shoppingListIconOnSpecial">
            <div class="floatLeft">
                <a class="" href="@Url.RouteUrl("Nop.Plugin.RecipeNew.ShoppingListnew")">
                    <div class="view_my_shopping_list">
                    </div>
                </a>
            </div>
            <div class="floatLeft">@*javascript: _gaq.push(['_trackPageview', '/downloads/map']);*@
                <a class="" href="/themes/ProcoDefault/Content/flyer/flyer.html">
                    <div class="view_entire_add">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="newLine"></div>
<script type="text/javascript">
	$(document).ready(function () {
		$('#RoleName').change(function () {
		    window.location = "/SpecialsWithAdGroupnew/" + $(this).find('option:selected').text();
		});
		$("select#RoleName option:contains('@ViewBag.StoreName')").attr('selected', true);
	});
</script>
@if(Model != null)
{
	for(int i = 0; i < Model.Count; i++)
	{
		var item = Model[i];
		<div class="recipeGallary">
			<a href="@Url.RouteUrl("SpecialListWithAdGroupnew", new
			 {
				 storeName = ViewBag.StoreName,
				 department_id = @item.id
			 })">
				<img src="@item.image" />
				<div class="recipeTitle">@item.name</div>
			</a>
		</div>
	}
}
else
{
	<div>@Html.Raw(ViewBag.DontLiveNearStore)</div>
	return;
}
 <div class="recipeGallary">
        <a href="@Url.RouteUrl("AdGroupSpecialsAllnew", new
						{
							storeName = ViewBag.StoreName
						})">
            <div class="special_view_all"></div>
            <div class="recipeTitle">
                View All Specials</div>
        </a>
    </div>

