﻿@model Nop.Plugin.EmailMarketing.Models.ScheduleModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;
@using Nop.Plugin.EmailMarketing.Lib;

@Html.ValidationSummary(true)

@Html.HiddenFor(model => model.Id)

@{
    //page title
}

<table class="adminContent">  
   <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CampaignId):
        </td>
        <td class="adminData">
            @Html.DropDownListFor(model => model.CampaignId, Model.Campaign)
            @Html.ValidationMessageFor(model => model.CampaignId)
						@*@Html.DropDownListFor(x => x.intClient, ViewBag.Clients)*@
        </td>
    </tr>
		<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ScheduledTime):
        </td>
        <td class="adminData">
						@if(Model.Id > 0)
						{
								@*@Html.EditorFor(model => model.ScheduledTime)*@
								@*@(Html.Telerik().DateTimePicker()
													.Name("ScheduledTime")
													.Min(DateTime.Today)
													.Value(Model.ScheduledTime)							
									)*@
                            
                             @Html.EditorFor(model => model.ScheduledTime)
						}
						else
						{	
								@*@(Html.Telerik().DateTimePicker()
													.Name("ScheduledTime")
													.Min(DateTime.Today)
													.Value(DateTime.Now)
									)*@
                             @Html.EditorFor(model => model.ScheduledTime)
                            
						}
            @Html.ValidationMessageFor(model => model.ScheduledTime)
        </td>
    </tr>
		
		<tr>
				<td class="adminTitle">
						@Html.NopLabelFor(model => model.Type):
				</td>
				<td class="adminData">
					@Html.DropDownListFor(model => model.Type, ComboList.ScheduleType)
					@Html.ValidationMessageFor(model => model.Type)
				</td>
		</tr>
		
</table>

<script type="text/javascript">
	

	function GenerateScheduleModelData() {

		var userGivenDateTime = $('#@Html.FieldIdFor(model => model.ScheduledTime)').val();

		var model = {

			Id: $('#@Html.FieldIdFor(model => model.Id)').val(),
			CampaignId: $('#@Html.FieldIdFor(model => model.CampaignId)').val(),
			ScheduledTime: $('#@Html.FieldIdFor(model => model.ScheduledTime)').val(),//ConvertToUTC(userGivenDateTime),
			Type: $('#@Html.FieldIdFor(model => model.Type)').val()
		};
			
		return model;

	}

	function ConvertToUTC(selectedDateTime) {
		d = new Date();

		utc = Date.parse(selectedDateTime) + (d.getTimezoneOffset() * 60000);
		nd = new Date(utc);
		var then = nd.getFullYear() + '-' + (nd.getMonth() + 1) + '-' + nd.getDate();
		then += ' ' + nd.getHours() + ':' + nd.getMinutes();
		scheduleDate = then;
		return scheduleDate;
	}
	
</script>
