﻿@using Nop.Plugin.EmailMarketing.Models;
@using Nop.Web.Framework.UI;
@{
		var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.Other.EmailMarketing.Campaigns.Title").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
				@T("Admin.EmailMarketing.Campaigns.Header")
    </div>
    <div class="options">
        <a href="../EmailMarketing/Create" class="k-button">@T("Admin.Common.AddNew")</a>
        <button name="delete" value="delete" class="k-button delete-template" onclick="DeleteCampaigns(); return false;">@T("Admin.Common.Delete.Selected")</button>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="campaigns-grid"></div>

            <script>
                $(document).ready(function() {
                    $("#campaigns-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("Campaign", "EmailMarketing", new { area = "" }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function(data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        Name: { editable: false, type: "string" },
                                        CreatedOnUtc: { editable: false, type: "date" }
                                    }
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: 15,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSize)]
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                              {
                                  field: "Id",
                                  headerTemplate: "<input id='mastercheckboxcampaigns' type='checkbox'/>",
                                  headerAttributes: { style: "text-align:center" },
                                  attributes: { style: "text-align:center" },
                                  template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                  width: 50
                              },
                            {
                                field: "Name",
                                title: "@T("Name")",
                                width: 100
                            },
                            {
                                field: "CreatedOnUtc",
                                title: "@T("CreatedOnUtc")",
                                type: "date",
                                format: "{0:G}",
                                width: 150
                            },
                            {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                            }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
</table>

<script type="text/javascript">

    var selectedIds = [];

    $(document).ready(function () {


        $('#mastercheckboxcampaigns').click(function () {
            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
        });

        //wire up checkboxes.
        $('#campaigns-grid input[type=checkbox][id!=mastercheckboxcampaigns]').live('change', function (e) {
            var $check = $(this);
            if ($check.is(":checked") == true) {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked == -1) {
                    //add id to selectedIds.
                    selectedIds.push($check.val());
                }
            }
            else {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked > -1) {
                    //remove id from selectedIds.
                    selectedIds = $.grep(selectedIds, function (item, index) {
                        return item != $check.val();
                    });
                }
            }
            updateMasterCheckbox();
        });

    });



    function updateMasterCheckbox() {
        var numChkBoxes = $('#campaigns-grid input[type=checkbox][id!=mastercheckboxcampaigns]').length;
        var numChkBoxesChecked = $('#campaigns-grid input[type=checkbox][checked][id!=mastercheckboxcampaigns]').length;
        $('#mastercheckboxcampaigns').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }


</script>

