﻿@using Nop.Plugin.EmailMarketing.Lib
@model Nop.Plugin.EmailMarketing.Models.CriteriaModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;

@{
    ViewBag.Title = @T("Admin.Other.EmailMarketing.Groups.Title.AddNew").Text;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/tinymce/tinymce.min.js");

    
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.Other.EmailMarketing.Groups.Header.AddNew") 
            <a href="../EmailMarketing/Main"> @T("Admin.EmailMarketing.Groups.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitCreateGroupForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" onclick="submitCreateGroupFormSaveAndContinue(); return false;" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateGroup", Model)
}

<div id="dialog" title="Success" style="display:none;">
    <p>Data has been saved successfully</p>
</div>