﻿@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Kendoui;
@model Nop.Plugin.EmailMarketing.Models.EmailCampaignModel
@{
    //page title
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = @T("Admin.Other.EmailMarketing.Campaigns.Title.AddNew").Text;
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/editors/tinymce/tiny_mce.js");
    Html.AddScriptParts("~/Administration/Scripts/fileuploader.js");
    Html.AddCssFileParts("~/Plugins/EmailMarketing/Content/emailmarketing.css");
    Html.AddCssFileParts("~/Administration/Content/fileuploader.css");
}
<script>
    //$(document).ready(function () {
    //    var myWindow = $("#popupContentDiv"),
    //        undo = $("#undo");

    //    undo.click(function () {
    //        myWindow.data("kendoWindow").open();
    //        undo.fadeOut();
    //    });

    //    function onClose() {
    //        undo.fadeIn();
    //    }

    //    myWindow.kendoWindow({
    //        width: "600px",
    //        title: "About Alvar Aalto",
    //        visible: false,
    //        actions: [
    //            "Pin",
    //            "Minimize",
    //            "Maximize",
    //            "Close"
    //        ],
    //        close: onClose
    //    }).data("kendoWindow").center().open();
    //});
</script>

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Common.AddNew") 
            <a href="../EmailMarketing/Main"> @T("Admin.EmailMarketing.Campaigns.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="k-button" onclick="AddGroup(); return false;">@T("Add Group")</button>
            <button name="save" value="save" class="k-button" onclick="toggleAttachment(); return false;">@T("Attachment")</button>
            <button name="send" value="send" class="k-button" onclick="Preview(); return false;">@T("Preview")</button>
            <button name="send" value="send" class="k-button" onclick="UseTemplate(); return false;">@T("Use Template")</button>
            <button name="save" value="save" class="k-button" onclick="submitCreateCampainForm(); return false;">@T("Save")</button>
            <button name="send" value="send" class="k-button" onclick="SendCampaign(); return false;">@T("Admin.EmailMarketing.Campaigns.Button.SendCampaign")</button>

        </div>
        
    </div>
    @Html.Partial("_CreateOrUpdateCampaign", Model)
}
<div id="popupContentDiv">
</div>
