﻿@model Nop.Plugin.EmailMarketing.Models.EmailTemplateModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = @T("Admin.EmailMarketing.Template.Title.AddNew").Text;
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");    
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/tinymce/tinymce.min.js");
    
        
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.EmailMarketing.Template.Header.AddNew") 
            <a href="../EmailMarketing/Main"> @T("Admin.EmailMarketing.Template.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="k-button" onclick="submitCreateEmailTemplateForm(); return false;">@T("Admin.Common.Save")</button>
            <button name="save" value="save-continue" onclick="submitCreateEmailTemplateFormSaveAndContinue(); return false;" class="k-button">@T("Admin.Common.SaveContinue")</button>
            <button name="send" value="send" class="k-button" onclick="Preview(); return false;">@T("Preview")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateTemplate", Model)
}


<div id="dialog" title="Success" style="display:none;">
    <p>Data has been saved successfully</p>
</div>