﻿@using Nop.Plugin.EmailMarketing.Lib
@model Nop.Plugin.EmailMarketing.Models.CriteriaModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //Html.AddCssFileParts(@Url.Content("~/Plugins/EmailMarketing/Content/emailmarketing.css"));
    //Html.AddCssFileParts(@Url.Content("~/Administration/Content/fileuploader.css"));
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/tinymce/tinymce.min.js");
    //page title
	ViewBag.Title = @T("Admin.EmailMarketing.Groups.Title.EditGroup").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.EmailMarketing.Groups.Header.EditGroup") 
						<a href="../Main"> @T("Admin.EmailMarketing.Groups.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="k-button" onclick="submitEditGroupForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" onclick="submitEditGroupFormSaveAndContinue(); return false;" value="save-continue" class="k-button">@T("Admin.Common.SaveContinue")</button>
						<span id="group-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateGroup", Model)
}


<div id="dialog" title="Success" style="display:none;">
    <p>Data has been saved successfully</p>
</div>