﻿@*@using Telerik.Web.Mvc.UI*@
@using Nop.Web.Framework.UI;
@model Nop.Plugin.EmailMarketing.Models.EmailCampaignModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = @T("Admin.Other.EmailMarketing.Campaigns.Title.AddNew").Text;
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/editors/tinymce/tiny_mce.min.js");
    Html.AddScriptParts("~/Administration/Scripts/fileuploader.js");
    Html.AddCssFileParts("~/Plugins/EmailMarketing/Content/emailmarketing.css");
    Html.AddCssFileParts("~/Administration/Content/fileuploader.css");
	//page title
	ViewBag.Title = @T("Admin.EmailMarketing.Campaigns.Title.Edit").Text;
}
@using(Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Promotions.Campaigns.EditCampaignDetails") - @Model.Name
            <a href="../Main"> @T("BackToList") </a> 
        </div>
        <div class="options">
            <button name="save" value="save" class="k-button" onclick="submitEditForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" onclick="submitEditFormSaveAndContinue(); return false;" value="save-continue" class="k-button">@T("Admin.Common.SaveContinue")</button>
						<button name="send" value="send" class="k-button" onclick="SendCampaign(); return false;">@T("Admin.EmailMarketing.Campaigns.Button.SendCampaign")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateCampaign", Model)
}
<div id="dialog" title="Success" style="display:none;">
    <p>Data has been saved successfully</p>
</div>