﻿@using Nop.Web.Framework.UI;
@model Nop.Plugin.EmailMarketing.Models.ScheduleModel
@{
	//page title
	ViewBag.Title = @T("Admin.EmailMarketing.Schedule.Title.Edit").Text;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    
}
@using(Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Common.AddNew") 
            <a href="../Main"> @T("BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="k-button" onclick="submitEditScheduleForm(); return false;">@T("Admin.Common.Save")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateSchedule", Model)
}
