﻿@using Nop.Plugin.EmailMarketing.Models
@*@using Telerik.Web.Mvc.UI

    @model Telerik.Web.Mvc.GridModel<SmartContactModel>*@
@using Nop.Web.Framework.UI;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    ViewBag.Title = @T("Admin.EmailMarketing.Groups.SmartContacts.Title").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.EmailMarketing.Groups.SmartContacts.Header")
        <a href="../Main"> @T("Admin.EmailMarketing.Campaigns.BackToList") </a>
    </div>
    <div class="options">
        <a href="../Main" class=k-button show-create-form">Back</a>
    </div>
</div>

<table class="adminContent">
    <tr>
        <td>
            <div id="smartlist-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#smartlist-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("SmartGroup", "EmailMarketing", new { Id = ViewBag.SmartGroupId, area = "" }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function (data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        Name: { editable: false, type: "string" },
                                        CreatedOn: { editable: false, type: "date" }
                                    }
                                }
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: 15,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSize)]
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "FirstName",
                                title: "@T("FirstName")",
                                width: 100
                            },
                                {
                                    field: "LastName",
                                    title: "@T("LastName")",
                                    width: 100
                                },
                                 {
                                     field: "UserName",
                                     title: "@T("UserName")",
                            width: 100
                                 },
                                  {
                                      field: "Email",
                                      title: "@T("Email")",
                            width: 100
                },
                             {
                                 field: "CreatedOn",
                                 title: "@T("CreatedOn")",
                                 type: "date",
                                 format: "{0:G}",
                                 width: 100
                             }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
</table>

<table class="adminContent">
    <tr>
        <td>
            @*@(Html.Telerik().Grid<SmartContactModel>(Model.Data)
                .Name("smart-contact-grid")
                .Columns(columns =>
                {
                                            columns.Bound(x => x.FirstName)
                                .Width(300);
                                            columns.Bound(x => x.LastName)
                                .Width(300);
                    columns.Bound(x => x.UserName)
                                .Width(300);
                    columns.Bound(x => x.Email)
                                .Width(300);
                    columns.Bound(x => x.CreatedOn)
                                .Width(300);

                })
                .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                .DataBinding(dataBinding =>
                {
                    dataBinding.Server().Select("SmartGroupAjax", "Plugin/Other/EmailMarketing");
                    dataBinding.Ajax().Select("SmartGroupAjax", "Plugin/Other/EmailMarketing", new { id = "", smartGroupId = ViewBag.SmartGroupId });
                })
                .EnableCustomBinding(true))*@
        </td>
    </tr>
</table>

