@{
    Layout = "~/Themes/SouthTownHealthFoods/Views/Shared/_ColumnsOneHomepage.cshtml";
}

@Html.Action("HomepageCategories", "Catalog")

<section class="search-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <label class="search-label">Recipe Search</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                @Html.Action("Search", "Recipe", new { searchType = "title" })
            </div>
        </div>
    </div>
</section>



<section class="well-come-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div id="content_wrapper" class="devider-right">
                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <p>@Html.Action("Public_recipe_display", "Recipe")</p>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>This Week's Featured Article:</h1>
                            <div class="col-lg-4">
                                <img src="~/Themes/SouthTownHealthFoods/Content/images/article_pic.jpg" class="recipe-img" alt="">
                            </div>
                            <div id="articlecontainer" class="col-lg-8">
                                <h2>
                                    <a style="color:inherit" href="/themes/southtownhealthfoods/content/images/insight.pdf#page=3">Think Clearly</a>
                                </h2>
                                <p>
                                    <strong>Nutrients help brain function in old and young</strong>
                                </p>
                                <p>Vitamin D in older adults -</p>
                                <p>Doctors know that low levels of vitamin D impair the form and function of the brain but wanted to understand how quickly these changes take place. In this study, doctors measured vitamin D levels in 382 men and women of white, African-American, and Hispanic ethnicities, average age 75. About half the participants had normal brain function, one-third were mildly impaired, and just under one in five had a diagnosis of dementia...<br></p>
                                <div class="buttons">
                                    <a class="more_link" href="/themes/southtownhealthfoods/content/images/insight.pdf#page=3">Continue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>No Health Insurance ?</h1>
                            <div class="col-lg-4">
                                <img src="~/Themes/SouthTownHealthFoods/Content/images/Department-3.jpg" class="recipe-img" alt="">
                            </div>
                            <div id="articlecontainer" class="col-lg-8">
                                <h2>
                                    High Deductibles ?
                                </h2>
                                <p>On the 1st Thursday of every month from </p>
                                <p>9:30 am - 11:00 am, Healthchek -- in partnership</p>
                                <p>with Southtown Health Foods -- brings affordable</p>                             
                                <p>wellness screenings and other low-cost medical</p>
                                <p>testing directly to you.</p>
                                <div class="buttons">
                                    <a class="more_link" href="/themes/southtownhealthfoods/content/images/healthchek.pdf">Continue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      
		@Html.Action("FeaturedProductAtHomePage", "Recipe", new { area = "" })
			   <br>
			   <br>
			   <br>
			   <img align="right" width="200" src="/themes/southtownhealthfoods/content/images/inf-logo.jpg">
            </div>
        </div>
    </div>
</section>
<section>
    @Html.Action("HomepageBestSellers", "Product")
    @Html.Action("HomePageNews", "News")
    @Html.Action("HomePagePolls", "Poll")
    @Html.Widget("home_page_bottom")
</section>








