﻿@model Nop.Plugin.Misc.LiveAnnouncement.Models.AnnouncementModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.HomePageProduct").Text;

    <script src="~/Plugins/LiveAnnouncement/Scripts/jscolor.min.js"></script>
}

<script>
    $(document).ready(function() {
        
    });
</script>
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Go To Announcement List") @Html.ActionLink("LiveAnnouncement", "AnnouncementList")
    </div>
    <div class="options">
        <a href="../LiveAnnouncement/Announcement" class="k-button">Add</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="Announcement-grid"></div>

            <script>
    $(document).ready(function () {
        $("#Announcement-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url:  "@Html.Raw(Url.Action("AnnouncementList", "LiveAnnouncement", new { area = "" }))",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "Name",
                            width: 100
                        }, {
                            field: "Body",
                            title: "Body",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        },
                        {
                            field: "IsActive",
                            title: "IsActive",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        },
                        {
                            title: "Edite",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>

            @*<script type="text/javascript">
                function editeAnnouncement(Id) {
                    var postData = {
                        Id: Id
                    };

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "/LiveAnnouncement/EditeAnnouncement",
                        data: postData,
                        success: function(data) {
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Opps! Some thing going wrong');
                        }
                    });

                }

                function additionalData()
                {
                    return {
                        BackgroundColor: $("#BackgroundColor").val(),
                        ShowDuration:$("#ShowDuration").val()
                    };
                }

            </script>*@
        </td>
    </tr>
</table>

