﻿@model Nop.Plugin.Misc.LiveAnnouncement.Models.AnnouncementModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.HomePageProduct").Text;

    <script src="~/Plugins/LiveAnnouncement/Scripts/jscolor.min.js"></script>
}

<script>
    $(document).ready(function () {
        //$('#UpdateToastDesignBtn').click(function () {
        //    UpdateOrCreate("UpdateToastDesign", false);
        //});

        //function UpdateOrCreate(updateorcreate, isUpdate) {
        //    var Id = $("#toastDesignId").val();
        //    var BackgroundColor = $("#BackgroundColor").val();
        //    var ShowDuration = $("#ShowDuration").val();
        //    var HideDuration = $("#HideDuration").val();
        //    var TimeOut = $("#TimeOut").val();
        //    var ExtendedTimeOut = $("#ExtendedTimeOut").val();

        //    var postData = {
        //        Id: Id,
        //        BackgroundColor: BackgroundColor,
        //        ShowDuration: ShowDuration,
        //        HideDuration: HideDuration,
        //        TimeOut: TimeOut,
        //        ExtendedTimeOut: ExtendedTimeOut
        //    };

        //    $.ajax({
        //        cache: false,
        //        type: "POST",
        //        url: "/LiveAnnouncement/" + updateorcreate,
        //        data: postData,
        //        success: function (data) {
        //            if (data.Result != true) {
        //                alert(data.Result);
        //            }
        //            else {
        //            }
        //        },
        //        error: function (xhr, ajaxOptions, thrownError) {
        //            alert('Can not add category');
        //        }
        //    });
        //}
    });
</script>
<input type="hidden" id="toastDesignId" />


@using (Html.BeginForm())
{
     <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Go To Announcement List") @Html.ActionLink("LiveAnnouncement", "AnnouncementList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    <table width="100%">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Name):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Body):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.Body, "RichEditor")
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.IsActive):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.IsActive)
            </td>
        </tr>
        @*<tr>
            <td>
                <input type="submit" id="announcementCreateBtn" class="k-button" value="Create" />
            </td>
            <td>
                @if (Model.IsActive)
                {
                    <input type="submit" id="announcementUpdateBtn" class="k-button" value="Update" />
                }
            </td>
        </tr>*@

    </table>
}

