﻿@{
    Layout = "";
}

    <table class="adminContent">
        <tr>
            <td class="adminTitle" colspan="2">
                <p>
                    Live Announcement plugin designed by Sina for the NopCommerce community.
                </p>
            </td>
        </tr>
        <tr> 
    </table>

