﻿@model AnnouncementHomePageModel
@using Nop.Plugin.Misc.LiveAnnouncement.Models;
@using Nop.Core;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@{

    @*<script src="~/Plugins/LiveAnnouncement/Scripts/jquery.signalr-2.0.3.js"></script>
<script src="../SignalR/hubs"></script>
<script src="~/Plugins/LiveAnnouncement/Scripts/LiveAnnouncement.js"></script>

    <script src="~/Plugins/LiveAnnouncement/Scripts/jquery.signalr-2.0.3.js"></script>*@
    
    Html.AddScriptParts("~/Plugins/LiveAnnouncement/Scripts/jquery.signalr-2.0.3.js");
    Html.AddScriptParts("~/SignalR/hubs");        
    Html.AddScriptParts("~/Plugins/LiveAnnouncement/Scripts/LiveAnnouncement.js");    
    Html.AddCssFileParts("~/Plugins/LiveAnnouncement/Content/toastr.min.css");
    Html.AddScriptParts("~/Plugins/LiveAnnouncement/Scripts/toastr.js");
    Html.AddCssFileParts("~/Plugins/LiveAnnouncement/Content/TodayOrder.css");
    
    }

<script>
    $(document).ready(function () {
        toastr.options.onclick = function () {
            $("html, body").animate(
               { scrollTop: 0 },
               1000);
        }

        $(".toast").click(function () {
            $("html, body").animate(
                 { scrollTop: 0 },
                 1000);
        });

        $(".toast-info").click(function () {
            $("html, body").animate(
             { scrollTop: 0 },
             1000);
        });

        toastr.options = {
            onclick: function () {
                $("html, body").animate(
                       { scrollTop: 0 },
                       1000);
            }
        }

        $(".accouncemantToast").live( "click", function() {
            $("html, body").animate(
              { scrollTop: 0 },
              1000);
        });
        $.ajax({
            url: '/LiveAnnouncement/GetAnnouncement',
            type: 'POST'
        }).success(function (result) {
            if (result.success == true) {
                $(".announcementPage").empty();
                $(".announcementPage").append(result.announcement);
            }
        });
    });
</script>

    <div class="announcementPage">
    </div>

