<style>
    .rating {
        color: #a9a9a9;
        margin: 0;
        padding: 0;
    }

    ul.rating {
        display: inline-block;
    }

    .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
    }

    .rating .filled {
        color: #21568b;
    }
</style>

<div ng-controller="filmManageController" style="margin-top:20px;">
    <label>
        Search:
        <input ng-model="searchText" ng-keyup="showCategoryCount()"></label>
    {{num}}
       <ul ng-repeat="(key, value) in movies | groupBy: 'category'">
           <h3>{{ key }}  <span>{{(value|filter:searchText).length}} </span></h3>
           <li ng-repeat="movie in value | filter:{ title : searchText} " style="list-style:none;">
               <div ng-init="rating =  movie.rating">
                   <div fundoo-rating rating-value="rating">
                   </div>
               </div>
               <a href="http://www.imdb.com/find?q={{ movie.title }}" target="_blank">{{ movie.title }} </a>

           </li>
       </ul>


</div>
