﻿@model Nop.Plugin.EmailMarketing.Models.EmailTemplateModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<p>
	<strong>@T("Admin.EmailMarketing.Template.Header.Hint")</strong>
</p>
<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.NopLabelFor(model => model.Name):
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.NopLabelFor(model => model.Tokens):
		</td>
		<td class="adminData">
			@Html.DropDownListFor(model => model.Tokens, Model.Tokens, new { @onchange="AddToken(this.value);" })
			@Html.ValidationMessageFor(model => model.Tokens)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.NopLabelFor(model => model.PictureId):
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.PictureId)
			@Html.ValidationMessageFor(model => model.PictureId)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.NopLabelFor(model => model.TemplatePath):
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.TemplatePath)
			@Html.ValidationMessageFor(model => model.TemplatePath)
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.NopLabelFor(model => model.TemplateBody):
		</td>
		<td class="adminData">
			@Html.EditorFor(model => model.TemplateBody, "RichEditor")
			@Html.ValidationMessageFor(model => model.TemplateBody)
		</td>
	</tr>
	
</table>
<script type="text/javascript">

	function createEmailTemplatePostModel() {


		var model = {
			Id: $('#@Html.FieldIdFor(model => model.Id)').val(),
			Name: $('#Name').val(),
			PictureId: $('#@Html.FieldIdFor(model => model.PictureId)').val(),
			TemplatePath: $('#@Html.FieldIdFor(model => model.TemplatePath)').val(),
			TemplateBody: tinyMCE.getInstanceById("TemplateBody").getBody().innerHTML
		};

		return model;

	}

</script>
