﻿@using Nop.Web.Framework.Menu;
@model Nop.Plugin.EmailMarketing.Models.EmailCampaignModel
@{
    //page title
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
		ViewBag.Title = @T("Admin.EmailMarketing.Campaigns.Title.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Common.AddNew") 
						<a href="#/Campaign"> @T("Admin.EmailMarketing.Campaigns.BackToList") </a>
        </div>
        @*<div class="options">
            @{ Html.kendoMenu()
										.Name("Menu")
										.ClientEvents(events => events.OnSelect("onSelect"))
										.Items(menu =>
										{

											menu.Add()
													.Text("Add Group");
											menu.Add()
													.Text("Attachment");
											menu.Add()
													.Text("Preview");
											menu.Add()
													.Text("Schedule");
											menu.Add()
													.Text("Use Template");
											menu.Add()
													.Text(T("Admin.Common.Save").Text);
											//menu.Add()
											//    .Text(T("Admin.Common.SaveContinue").Text);
											menu.Add()
													.Text("Start Campaign");
										})
										.Render();
						}
        </div>*@
    </div>
    @Html.Partial("_CreateOrUpdateCampaign", Model)
}