﻿@using Nop.Plugin.Recipe.Models
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/smoothness/jquery-ui-1.8.17.custom.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/recipe.js"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/jquery-ui.min.js"));
}

<div>
    <span class="header2">Recipe Search:</span>
    <div id="recipesearch">
        <input id="quicksearch" type="text" maxlength="32" class="quicksearch" />
        @*<input type="button" class="recipeSearchGo"  *@
       @* <img id="imgSearchBtn" class="imgSearchBtn" alt="go"></img>*@
         <img id="imgSearchBtn" class="imgSearchBtn" alt="go" src="/Plugins/Recipe/Content/images/recipe_search_go.png"></img>
        @*<img id="imgSearchBtn"   class="recipeSearchGo" ></img>*@
    </div>
    <div class="margin_top_10px">
        <div>
            <input id="radio_title" type="radio", name="radio" value="Title" @ViewBag.Title/>
            Title
        </div>
        <div>
            <input id="radio_Ingredients" type="radio", name="radio" value="Ingredients" @ViewBag.Ingredients/>
            Ingredients
        </div>
    </div>
</div>
<script type="text/javascript">
//    $(document).ready(function () {
//        var availableTags = [
//			"ActionScript",
//			"AppleScript",
//			"Asp",
//			"BASIC",
//			"C",
//			"C++",
//			"Clojure",
//			"COBOL",
//			"ColdFusion",
//			"Erlang",
//			"Fortran",
//			"Groovy",
//			"Haskell",
//			"Java",
//			"JavaScript",
//			"Lisp",
//			"Perl",
//			"PHP",
//			"Python",
//			"Ruby",
//			"Scala",
//			"Scheme"
//		];
//        $("#quicksearch").autocomplete({
//            source: availableTags
//        });
//    });
</script>
