﻿@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@model Nop.Plugin.Misc.MegaBulkProductEdit.Model.MegaBulkEditListModel
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    //page title
    ViewBag.Title = T("Admin.Catalog.BulkEdit").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />@T("Admin.Catalog.BulkEdit")
            <a href="@Url.RouteUrl("Plugin.Misc.MegaBulkProductEdit.ExportSettings")">(back to settings)</a>
        </div>
        <div class="options">
            <a href="@Url.Action("ExportExcelAllProduct", "MiscMegaBulkProductEdit", new { area = "" })" class="k-button">@T("Admin.Common.ExportToExcel.All")</a>
            <input type="submit" id="exportexcel-selected-search" class="k-button" value="@T("Admin.Common.ExportToExcel.Searched")" />
        </div>
    </div>

    <table width="100%">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StartDate) :
            </td>
            <td class="adminData">
                From : @Html.EditorFor(model => model.StartDate)  To : @Html.EditorFor(modle => Model.EndDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchProductName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchProductName)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchCategoryId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchIncludeSubCategories):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.SearchIncludeSubCategories)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchManufacturerId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchManufacturerId", Model.AvailableManufacturers)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PriceFrom)
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.PriceFrom) To: @Html.EditorFor(model => model.PriceTo)  [NB: Value 0 means all; To serch a specific value, put it in "From" and put 0 in "To' ]
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StockQuantityFrom) :
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.StockQuantityFrom) To: @Html.EditorFor(model => model.StockQuantityTo)  [NB: Value -1 means all; To serch a specific value, put it in "From" and put -1 in "To" ]
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchStoreId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchStoreId", Model.AvailableStores)
            </td>
        </tr>
        <tr @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchVendorId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchVendorId", Model.AvailableVendors)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchWarehouseId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchWarehouseId", Model.AvailableWarehouses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchProductTypeId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchProductTypeId", Model.AvailableProductTypes)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DisableBuyButton):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.DisableBuyButton, Model.AvailableDisableBuyButton)
            </td>
        </tr>
        <tr>
            <td class="adminData">
                @Html.NopLabelFor(model => model.ManageInventoryMethodValue):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ManageInventoryMethodValue, Model.AvailableInventoryType)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="search-products" class="k-button" value="@T("Admin.Common.Search")" />
            </td>
        </tr>
    </table>
    <table class="adminContent">
        <tr>
            <td>
                <div id="products-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#products-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("BulkEditJson", "MiscMegaBulkProductEdit", new { area = "" }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("BulkEditUpdate", "MiscMegaBulkProductEdit",new{area=""}))",
                                        type: "POST",
                                        dataType: "json"
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("BulkEditDelete", "MiscMegaBulkProductEdit",new{area=""}))",
                                        type: "POST",
                                        dataType: "json"
                                    },
                                    parameterMap: function(data, operation) {
                                        if (operation != "read") {
                                            //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                            //products[0].Name="name"
                                            //products[0].Id = 1
                                            //products[1].Name="name"
                                            //products[1].Id = 1

                                            var result = {};

                                            for (var i = 0; i < data.models.length; i++) {
                                                var entity = data.models[i];

                                                for (var member in entity) {
                                                    result["products[" + i + "]." + member] = entity[member];
                                                }
                                            }

                                            return result;
                                        } else {
                                            //return JSON.stringify(data);
                                            return data;
                                        }
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            Id: { editable: false, type: "number" },
                                            Name: { editable: false, type: "string" },
                                            ProductId: { editable: false, type: "number" },
                                            Sku: { editable: true, type: "string" },
                                            Price: { editable: true, type: "number" },
                                            OldPrice: { editable: true, type: "number" },
                                            ManageInventoryMethod: { editable: false, type: "string" },
                                            StockQuantity: { editable: false, type: "number" },
                                            Add:{editable:true,type:"number"},
                                            Delete:{editable:true,type:"number"},
                                            Published: { editable: true, type: "boolean" },
                                            DisableBuyButton: { editable: true, type: "boolean" },
                                            ProductCost: { editable: true, type: "number" },
                                            AdditionalShippingCharge: { editable: true, type: "number" },
                                        }
                                    }
                                },
                                requestEnd: function (e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                //bulk editing
                                batch: true,
                                pageSize: @(defaultGridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [@(gridPageSizes)]
                            },
                            toolbar: ["save", "cancel"],
                            editable: {
                                confirmation: false,
                                //bulk editing
                                mode: "incell"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Id",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.ProductName")",
                                    template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=Id#">#:Name#</a>'
                                },
                                {
                                    field: "Sku",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.Sku")",
                                    width: 150
                                },
                                {
                                    field: "Price",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.Price")",
                                    width: 150,
                                    editor: function (container, options) {
                                        $('<input name="' + options.field + '"/>')
                                            .appendTo(container)
                                            .kendoNumericTextBox({
                                                format: "{0:n4}",
                                                decimals: 4
                                            });
                                    }
                                },
                                {
                                    field: "OldPrice",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.OldPrice")",
                                    width: 150,
                                    editor: function (container, options) {
                                        $('<input name="' + options.field + '"/>')
                                            .appendTo(container)
                                            .kendoNumericTextBox({
                                                format: "{0:n4}",
                                                decimals: 4
                                            });
                                    }
                                },
                                {
                                    field: "ManageInventoryMethod",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.ManageInventoryMethod")",
                                    width: 150
                                },
                                {
                                    field: "StockQuantity",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.StockQuantity")",
                                    //integer format
                                    format: "{0:0}",
                                    width: 150
                                },
                                {
                                    field: "Add",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.Add")",
                                    //integer format
                                    format: "{0:0}",
                                    width: 100
                                },
                                {
                                    field: "Delete",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.Delete")",
                                    //integer format
                                    format: "{0:0}",
                                    width: 100
                                },
                                {
                                    field: "Published",
                                    title: "@T("Admin.Catalog.BulkEdit.Fields.Published")",
                                    width: 200
                                },
                                {
                                    field: "DisableBuyButton",
                                    title: "@T("Admin.Catalog.Products.Variants.Fields.DisableBuyButton")",
                                    width: 100
                                },
                                {
                                    field: "ProductCost",
                                    title: "@T("Admin.Catalog.Products.Variants.Fields.ProductCost")",
                                    width: 100
                                },
                                {
                                    field: "AdditionalShippingCharge",
                                    title: "@T("Admin.Catalog.Products.Variants.Fields.AdditionalShippingCharge")",
                                    width: 100
                                },
                                {
                                    command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                    title: "@T("Admin.Common.Delete")",
                                    width: 100
                                }
                            ]
                        });
                    });
                </script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        var grid = $("#products-grid").data("kendoGrid");
                        var wrapper = $('<div class="k-pager-wrap k-grid-pager pagerTop"/>').insertBefore(grid.element.children("table"));
                        grid.pagerTop = new kendo.ui.Pager(wrapper, $.extend({}, grid.options.pageable, { dataSource: grid.dataSource }));
                        grid.element.height("").find(".pagerTop").css("border-width", "0 0 1px 0");

                        $('#search-products').click(function () {
                            var grid = $('#products-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            grid.dataSource.refresh();

                            return false;
                        });

                        $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                            if (event.keyCode == 13) {
                                $("#search-products").click();
                                return false;
                            }
                        });
                    });

                    function additionalData()
                    {
                        return {
                            StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
                            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
                            SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                            SearchCategoryId: $('#@Html.FieldIdFor(model => model.SearchCategoryId)').val(),
                            SearchIncludeSubCategories: $('#@Html.FieldIdFor(model => model.SearchIncludeSubCategories)').is(':checked'),
                            SearchManufacturerId: $('#SearchManufacturerId').val(),
                            PriceFrom: $('#@Html.FieldIdFor(model => model.PriceFrom)').val(),
                            PriceTo: $('#@Html.FieldIdFor(model => model.PriceTo)').val(),
                            StockQuantityFrom: $('#@Html.FieldIdFor(model => model.StockQuantityFrom)').val(),
                            StockQuantityTo: $('#@Html.FieldIdFor(model => model.StockQuantityTo)').val(),
                            SearchStoreId: $('#SearchStoreId').val(),
                            SearchWarehouseId: $('#SearchWarehouseId').val(),
                            SearchVendorId: $('#SearchVendorId').val(),
                            SearchProductTypeId: $('#SearchProductTypeId').val(),
                            DisableBuyButton: $('#@Html.FieldIdFor(model => model.DisableBuyButton)').val(),
                            ManageInventoryMethodValue: $('#@Html.FieldIdFor(model => model.ManageInventoryMethodValue)').val(),
                        };
                    }

                    $('#exportexcel-selected-search').click(function () {
                        var post_data = '';
                        post_data = post_data + 'SearchProductName=' + $('#@Html.FieldIdFor(model => model.SearchProductName)').val();
                        post_data = post_data + '&SearchCategoryId=' + $('#@Html.FieldIdFor(model => model.SearchCategoryId)').val();
                        post_data = post_data + '&SearchManufacturerId=' + $('#@Html.FieldIdFor(model => model.SearchManufacturerId)').val();
                        post_data = post_data + '&StartDate=' + $('#@Html.FieldIdFor(model => model.StartDate)').val();
                        post_data = post_data + '&EndDate=' + $('#@Html.FieldIdFor(model => model.EndDate)').val();
                        post_data = post_data + '&PriceFrom=' + $('#@Html.FieldIdFor(model => model.PriceFrom)').val();
                        post_data = post_data + '&PriceTo=' + $('#@Html.FieldIdFor(model => model.PriceTo)').val();
                        post_data = post_data + '&StockQuantityFrom=' + $('#@Html.FieldIdFor(model => model.StockQuantityFrom)').val();
                        post_data = post_data + '&StockQuantityTo=' + $('#@Html.FieldIdFor(model => model.StockQuantityTo)').val();
                        post_data = post_data + '&ProductType=' + $('#@Html.FieldIdFor(model => model.ProductType)').val();
                        post_data = post_data + '&DisableBuyButton=' + $('#@Html.FieldIdFor(model => model.DisableBuyButton)').val();
                        post_data = post_data + '&ManageInventoryMethodValue=' + $('#@Html.FieldIdFor(model => model.ManageInventoryMethodValue)').val();

                        post_data = post_data + '&SearchVendorId=' + $('#SearchVendorId').val();

                        post_data = post_data + '&SearchIncludeSubCategories=' + $('#@Html.FieldIdFor(model => model.SearchIncludeSubCategories)').is(':checked');

                        console.log(post_data);

                        setLocation('/MiscMegaBulkProductEdit/ExportExcelSearchedProduct?' + post_data);

                        return false;
                    });

                </script>
            </td>
        </tr>
    </table>
}