﻿@model Nop.Plugin.Misc.MegaBulkProductEdit.Model.ProductVariantExportSettingModel
@using Nop.Core.Domain.Catalog
@using Nop.Admin.Models.Catalog
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = T("Admin.Catalog.BulkEdit").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            Bulk Product Edit Settings <a href="@Url.RouteUrl("Plugin.Misc.MegaBulkProductEdit.Manage")" >(back to manage)</a>
        </div>
    </div>
    
    <table width="100%">
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableProductId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableProductId)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableProductVariantId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableProductVariantId)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableProductVariantName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableProductVariantName)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableProductDescription):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableProductDescription)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnablePrice):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnablePrice)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableCategory):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableCategory)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableManufacturer):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableManufacturer)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableCreatedOnUtc):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableCreatedOnUtc)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableProductCost):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableProductCost)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableStockQuantity):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableStockQuantity)
            </td>
        </tr>
        <tr>
            <td class ="adminTitle">
                @Html.NopLabelFor(model => model.EnableDisableBuyButton):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.EnableDisableBuyButton)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" class="k-button" value="Update" />
            </td>
        </tr>
    </table>
}