﻿@model BlogPostTagListModel
@using Nop.Web.Models.Blogs
@if (Model.Tags.Count > 0)
{
    <div class="block-popular-blogtags  panel panel-default side-nav">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Blog.TagCloud")</span>
            <span class="solid_line"></span>
        </h3>
        @*<div class="panel-heading">
            <strong>@T("Blog.TagCloud")</strong>
        </div>*@
        <div class="listbox listbox panel-body">
            <ul class="tags">
                @foreach (var item in Model.Tags)
                {
                   <a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                    
                }
            </ul>
        </div>
    </div>
}