﻿@model BlogPostListModel
@using Nop.Web.Extensions;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        @Html.Action("BlogMonths", "Blog")
        @Html.Action("BlogTags", "Blog")
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="blog-page  panel panel-default form-panel">
            <h3 class="valley-page-title">
                <span class="bold_line"><span></span></span>
                <span class="title_text">
                    @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
                    {
                        if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                        {
                            @String.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
                        }
                        else
                        {
                            @T("Blog")
                        }
                    }
                    else
                    {
                        @String.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
                    }
                </span>
                <span class="solid_line"></span>
            </h3>
            <div class="alignright">
                <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="pull-right header-rss" title="@T("Blog.RSS.Hint")"><i class="fa fa-rss fa-2x header-rss-icon"></i></a>
            </div>
            @*<div class="panel-heading">
                    <div class="alignright">
                        <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="pull-right header-rss" title="@T("Blog.RSS.Hint")"><i class="fa fa-rss fa-2x header-rss-icon"></i></a>
                    </div>
                    <h3>
                        @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
                            {
                                if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                                {
                            @String.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
                                }
                                else
                                {
                            @T("Blog")
                                }
                            }
                            else
                            {
                            @String.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
                            }
                    </h3>
                </div>*@

            <div class="panel-body">
                @Html.Widget("bloglist_page_before_posts")
                <div class="blog-posts">
                    @foreach (var item in Model.BlogPosts)
                    {
                        <div class="post">
                            <div class="post-head">
                                <div class="row">
                                    <div class="col-md-8 pull-text-left">
                                        <h4><a class="post-title" href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">@item.Title</a></h4>
                                    </div>
                                    <div class="col-md-4 pull-text-right">
                                        <h5><span class="post-date">@item.CreatedOn.ToString("D")</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                @Html.Raw(item.Body)
                            </div>
                            @if (item.Tags.Count > 0)
                            {
                                <div class="tags">
                                    <label><strong>@T("Blog.Tags"):</strong></label>

                                    @for (int i = 0; i < item.Tags.Count; i++)
                                    {
                                        var tag = item.Tags[i];
                                        <a href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a>
                                        if (i != item.Tags.Count - 1)
                                        {
                                            <span class="separator">,</span>
                                        }
                                    }

                                </div>
                            }
                            @if (item.AllowComments)
                            {
                                <div class="blog-details">
                                    <a href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">
                                        <strong> @string.Format(T("Blog.CommentsLink").Text, item.NumberOfComments)</strong>
                                    </a>
                                </div>
                            }
                            @Html.Widget("bloglist_page_inside_post")
                        </div>
                        <legend></legend>
                    }
                </div>
                <div class="pager">
                    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                </div>
                @Html.Widget("bloglist_page_after_posts")
            </div>
        </div>
    </div>
</div>








