﻿@using Telerik.Web.Mvc.UI
@model Nop.Plugin.Other.SpecialEvent.Models.SpecialEventModel
@{
	//page title
	ViewBag.Title = @T("Admin.Plugin.Other.SpecialEvent.EditEvent").Text;
}
@using(Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @Html.ActionLink("(" + T("Admin.Plugin.Other.SpecialEvent.BackToList") + ")", "List", "/Plugin/Other/SpecialEvent")
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
						<button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
            @*<span id="campaign-delete" class="t-button">@T("Admin.Common.Delete")</span>*@
        </div>
    </div>
    @Html.Partial("Nop.Plugin.Other.SpecialEvent.Views.SpecialEvent._CreateOrUpdate", Model)
}
@*@Html.DeleteConfirmation("campaign-delete")*@
