﻿@using Nop.Plugin.Events.Models;
@model EventItemModel
           
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Events/Content/Events.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Events/Scripts/fullcalendar/fullcalendar.css"));
    Html.AppendScriptParts("~/Plugins/Events/Scripts/Events.js");
    Html.AppendScriptParts("~/Plugins/Events/Scripts/fullcalendar/fullcalendar.js");
    Html.AddTitleParts(Model.Title);
}
<div class="eventDetailsConteiner floatLeft">
<div class="eventitem">
    <div class="page-title">
        <h1>@Model.Title</h1>
    </div>
    <div class="clear">
    </div>
    <div class="Eventsdate">
        @Model.DayTime.ToLongDateString(), Store Names: 

        @Model.CustomerRoles
    </div>
    <div class="Eventsbody">
        @Html.Raw(Model.FullDescription)
    </div>
</div>

 @if (Model.AllowComments)
    {
        <div class="eventscomments">
            <div class="title">
              
            </div>
            <div class="clear">
            </div>
            <div class="newcomment">
                @using (Html.BeginForm())
                {
                    <table>
                        <tr>
                            <td colspan="2" class="leavetitle">
                                <strong>
                                    @T("Events.Comments.LeaveYourComment")
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.AddNewComment.CommentTitle):
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.AddNewComment.CommentTitle, new { @class = "commenttitle" })
                                @Html.ValidationMessageFor(model => model.AddNewComment.CommentTitle)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.AddNewComment.CommentText):
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.AddNewComment.CommentText, new { @class = "commenttext" })
                                @Html.ValidationMessageFor(model => model.AddNewComment.CommentText)
                            </td>
                        </tr>
                        @{
                            string result = TempData["nop.events.addcomment.result"] as string;
                        }                        
                        @if (!String.IsNullOrEmpty(result))
                        {
                            <tr>
                                <td class="result" colspan="2">
                                        @result
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="message-error" colspan="2">
                                @Html.ValidationSummary(true)
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td class="buttons">
                                <input type="submit" id="add-comment" name="add-comment" class="eventitemaddcommentbutton" value="@T("Events.Comments.SubmitButton")" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="clear">
            </div>
            <div class="commentlist">
                @foreach (var comment in Model.Comments)
                {
                    <div class="newscomment">
                        <div class="commentinfo">
                            <div class="userinfo">
                                @if (comment.AllowViewingProfiles)
                                {
                                    <a href="@Url.RouteUrl("CustomerProfile", new { id = comment.CustomerId })" class="username">@(comment.CustomerName)</a>
                                }
                                else
                                {
                                    <span class="username">@(comment.CustomerName)</span>
                                }
                                <div class="avatar">
                                    @if (!String.IsNullOrEmpty(comment.CustomerAvatarUrl))
                                    {
                                        <img src="@(comment.CustomerAvatarUrl)" class="avatar-img" title="avatar" alt="avatar" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="commentcontent">
                            <div class="commenttime">
                                @T("Events.Comments.CreatedOn"): <span class="statvalue">@comment.createdOn.ToString("g")</span>
                            </div>
                            <div class="commenttitle">
                                <span class="commenttext">@comment.CommentTitle</span>
                            </div>
                            <div class="commentbody">
                                <span class="commenttext">@Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(comment.CommentText, false, true, false, false, false, false))</span>
                            </div>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                }
            </div>
        </div>
    }
 </div>   
<script>
        $(document).ready(function () {

            showCalender('@ViewBag.totalStore')

        });
</script>
<div class="floatRight margin-left-10 navigarion">
Showing Stores For:   @Html.Raw(ViewBag.storeRoleSelectorString)
<br />

<div id='calendar'></div>

<br />
</div>