﻿@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;

<section id="myBar" class="header-menu">
    <div class="container">
        <div class="row clearfix">
            <nav role="navigation" class="navbar navbar-inverse">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navbar-header">
                    <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="pull-right navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="bs-example-navbar-collapse-1" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pull-right collapse navbar-collapse">
                    @Html.Widget("header_menu_before")
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/t/History">History</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">La Bella Romana</a>
                                    @*<ul class="dropdown-menu" role="menu">
                                        <li><a href="/t/LaBellaRomana-CannedTomato">Canned Tomatoes</a></li>
                                        <li><a href="/t/LaBellaRomana-Condiments">Condiments</a></li>
                                        <li><a href="/t/LaBellaRomana-Oil">Olive Oil</a></li>
                                        <li><a href="/t/LaBellaRomana-Pasta">Pasta</a></li>
                                    </ul>*@
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Our Ad</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a title="Web Ad" href="/specials">Web Ad</a></li>
                                <li><a title="Print Ad Flash" href="../Themes/Caputos/Content/flyer/flyer.html">Print Ad (Flash)</a></li>
                                <li><a target="_blank" title="Print Ad PDF" href="../themes/Caputos/Content/flyer/pdf/flyer.pdf">Print Ad (PDF)</a></li>
                                <li><a target="_blank" title="Sneak Preview" href="../themes/Caputos/Content/flyer/pdf/Sneak.pdf">Sneak Preview</a></li>
                            </ul>
                        </li>
                        <li><a title="Our Stores" href="/t/StoresLanding">Our Stores</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Departments</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a title="Departments" href="/t/Departments-Bakery">Bakery</a></li>
                                <li><a title="Departments" href="/t/Departments-Cucina">Cucina &amp; Catering</a></li>
                                <li><a title="Departments" href="/t/Departments-Deli">Deli</a></li>
                                <li><a target="_blank" title="Departments" href="/Themes/Caputos/Content/images/glutenfree.pdf">Gluten Free</a></li>
                                <li><a title="Departments" href="/t/Departments-Grocery">Grocery</a></li>
                                <li><a title="Departments" href="/t/Departments-Meat">Meat</a></li>
                                <li><a title="Departments" href="/t/Departments-Produce">Produce</a></li>
                                <li><a title="Departments" href="/t/Departments-Seafood">Seafood</a></li>
                            </ul>
                        </li>
                        <li><a title="Shop Online" href="/t/ShopOnline">Shop Online</a></li>
                        <li><a title="Recipe" href="/recipes">Recipe</a></li>
                        <li><a title="Food Tips" href="/t/FoodTips-Landing">Food Tips</a></li>
                        <li><a href="/blog">Food Blog</a></li>
                    </ul>
                    @Html.Widget("header_menu_after")
                </div>
            </nav>
        </div>
    </div>
</section>