﻿@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Blog.BlogPosts").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.ContentManagement.Blog.BlogPosts")
    </div>
    <div class="options">
        <a href="@Url.Action("Create", "/Plugin/Other/AnotherBlog/")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="blogpost-grid"></div>

            <script>
                    $(document).ready(function () {
                        $("#blogpost-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "/Admin/Plugin/Other/AnotherBlog/AdminList",
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(gridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Title",
                                title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.Title")"
                            }, {
                                field: "LanguageName",
                                title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.Language")"
                            },  {
                                    field: "ShortDescription",
                                    title: "Short Description"
                            }, {
                                field: "StartDate",
                                title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.StartDate")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "EndDate",
                                title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.EndDate")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            },  {
                                field: "CreatedOn",
                                title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.CreatedOn")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                            }]
                        });
                    });
            </script>
        </td>
    </tr>
</table>
