﻿@{
    Layout = "~/Views/Shared/_Root.Head.Mobile.cshtml";
}
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_body_start_html_tag_after" })
<div data-role="page" data-theme="b" id="mainpage">
    <!--<div data-role="header" data-position="inline">
        @*do not use @Html.Partial("Header")
            use sections right here so they can be overriden in the views*@
        @if (IsSectionDefined("top-left-button"))
        {
            @RenderSection("top-left-button")
        }
        else
        {
            <a href="@Url.RouteUrl("HomePage")" data-icon="home">@T("Common.Home")</a>
        }
        @*title*@
        <h1>@Html.NopTitle(false)</h1>
        @if (IsSectionDefined("top-right-button"))
        {
            @RenderSection("top-right-button")
        }
        else
        {
            @*<a href="#" data-rel="back" data-icon="back">Back</a>*@
            @Html.Action("ConfigButton", "Common")
        }
    </div>-->
    @if (IsSectionDefined("headerlinks"))
    {
        @RenderSection("headerlinks")
    }
    else
    {
        <div data-role="header" data-position="inline">
            @Html.Action("HeaderLinks", "Common")
        </div>
    }
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_content_before" })
    <div data-role="content">
        @Html.Partial("_Notifications")
        @RenderBody()
    </div>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_content_after" })
    @if (IsSectionDefined("footer"))
    {
        @RenderSection("footer")
    }
    else
    {
        <div data-role="footer">
            @Html.Action("Footer", "Common")
        </div>
    }
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "mobile_body_end_html_tag_after" })
