﻿@model CustomerBackInStockSubscriptionsModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Catalog
@using Nop.Web.Models.Customer
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddTitleParts(T("PageTitle.BackInStockSubscriptions").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.BackInStockSubscriptions })
}
<div class="page account-page back-in-stock-subscription-list-page">
    <div class="panel panel-default form-panel">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Account.MyAccount") - @T("Account.BackInStockSubscriptions")</span>
            <span class="solid_line"></span>
        </h3>
        @*<div class="panel-heading">
            <h3>@T("Account.MyAccount") - @T("Account.BackInStockSubscriptions")</h3>
        </div>*@
        <div class="panel-body">
            @if (Model.Subscriptions.Count > 0)
            {
                <div class="description">
                    @T("Account.BackInStockSubscriptions.Description")
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {

                        $('#selectall').click(function () {
                            $('.subscription-list .rowcheckbox').attr('checked', $(this).is(':checked')).change();
                        });

                        $('.subscription-list .rowcheckbox').on('change', function (e) {
                            var numChkBoxes = $('.subscription-list .rowcheckbox').length;
                            var numChkBoxesChecked = $('.subscription-list .rowcheckbox:checked').length;
                            $('#selectall').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        });
                    });
                </script>
                using (Html.BeginRouteForm("CustomerBackInStockSubscriptions", FormMethod.Post))
                {
                    <div class="subscription-list">
                        <table class="data-table table table-bordered table-hover">
                            <colgroup>
                                <col width="1" />
                                <col />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="a-center select-boxes">
                                        <input type="checkbox" id="selectall" />
                                    </th>
                                    <th class="a-center product">
                                        @T("Account.BackInStockSubscriptions.ProductColumn")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Subscriptions.Count; i++)
                                {
                                    var item = Model.Subscriptions[i];
                                    <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                        <td class="a-center select-boxes">
                                            <input type="checkbox" name="biss@(item.Id)" class="rowcheckbox" />
                                        </td>
                                        <td class="a-left product">
                                            @Html.RouteLink(item.ProductName, "Product", new { SeName = item.SeName })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="pager">
                            @Html.Pager(Model.PagerModel)
                        </div>
                        <div class="buttons">
                            <input type="submit" value="@T("Account.BackInStockSubscriptions.DeleteSelected")" class="button-2 btn btn-default" />
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="no-data">
                    @T("Account.BackInStockSubscriptions.NoSubscriptions")
                </div>
            }
        </div>
    </div>
</div>
