﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}




@*<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @Html.Widget("home_page_top")
        </div>
    
    </div>
</div>*@
<div class="container">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="sequence-theme">
                <div id="sequence">

                    <img class="sequence-prev" src="~/Themes/NopStation/Content/images/Slider/bt-prev-blue.png" alt="Previous Frame" />
                    <img class="sequence-next" src="~/Themes/NopStation/Content/images/Slider/bt-next-blue.png" alt="Next Frame" />

                    <ul class="sequence-canvas">
                        <li class="animate-in">
                            <h2 class="title">Built using Sequence.js</h2>
                            <h3 class="subtitle">The Responsive Slider with Advanced CSS3 Transitions</h3>
                            <img class="model img-responsive" src="~/Themes/NopStation/Content/images/Slider/model_1.png" alt="Model 1" />
                        </li>
                        <li>
                            <h2 class="title">Creative Control</h2>
                            <h3 class="subtitle">Create unique sliders using CSS3 transitions</h3>
                            <img class="model img-responsive" src="~/Themes/NopStation/Content/images/Slider/model_1.png" alt="Model 2" />
                        </li>
                        <li>
                            <h2 class="title">Cutting Edge</h2>
                            <h3 class="subtitle">Supports modern browsers, old browsers (IE7+), touch devices and responsive designs</h3>
                            <img class="model img-responsive" src="~/Themes/NopStation/Content/images/Slider/model_1.png" alt="Model 3" />
                        </li>
                    </ul>

                   @* <ul class="sequence-pagination">
                        <li><img src="~/Themes/NopStation/Content/images/Slider/tn-model1.png" alt="Model 1" /></li>
                        <li><img src="~/Themes/NopStation/Content/images/Slider/tn-model2.png" alt="Model 2" /></li>
                        <li><img src="~/Themes/NopStation/Content/images/Slider/tn-model3.png" alt="Model 3" /></li>
                    </ul>*@

                </div>
            </div>
        </div>
    
    </div>
</div>
<div class="space15px">&nbsp;<div class="space15px">&nbsp;</div></div>

@*<div>

<div class="container">
    <div class="row">
       
        <div class="col-lg-12">
            @Html.Widget("main_column_before")
            @RenderBody()
            @Html.Widget("main_column_after")
        </div>
                
    </div>
</div>
</div>*@


           
@Html.Widget("main_column_before")
@RenderBody()
@Html.Widget("main_column_after")