﻿@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI
@{
     var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    if (supportRtl)
    {
        
         Html.AppendCssFileParts("~/Themes/NopStation/Content/customStyle.css");
         Html.AppendCssFileParts("~/Themes/NopStation/Content/styles.rtl.css");
         Html.AppendCssFileParts("~/Themes/NopStation/Content/styles.css");
        
        Html.AppendCssFileParts("~/Themes/NopStation/Content/sequencejs-theme.modern-slide-in.css");
         Html.AppendCssFileParts("~/Themes/NopStation/Content/bootstrap-3.0.2/css/bootstrap.rtl.css"); 
         Html.AppendCssFileParts("~/Themes/NopStation/Content/font-awosome-3/css/font-awesome.rtl.css");
         Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");

    }
    else
    {
         Html.AppendCssFileParts("~/Themes/NopStation/Content/customStyle.css");
        Html.AppendCssFileParts("~/Themes/NopStation/Content/styles.css");
        
        Html.AppendCssFileParts("~/Themes/NopStation/Content/bootstrap-3.0.2/css/bootstrap.css");
        Html.AppendCssFileParts("~/Themes/NopStation/Content/font-awosome-3/css/font-awesome.css");
        Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");
Html.AppendCssFileParts("~/Themes/NopStation/Content/sequencejs-theme.modern-slide-in.css");
       

    }

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    ////add browser specific CSS files
    //var browser = Request.Browser;
    //if (browser.Browser == "IE" && browser.MajorVersion == 6)
    //{
    //    Html.AppendCssFileParts("~/Themes/DefaultClean/Content/ie6.css");
    //}
    //else if (browser.Browser == "IE" && browser.MajorVersion == 7)
    //{
    //    Html.AppendCssFileParts("~/Themes/DefaultClean/Content/ie7.css");
    //}
    
    ////add main CSS file
    //var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    //if (supportRtl)
    //{
    //    Html.AppendCssFileParts("~/Themes/DefaultClean/Content/styles.rtl.css");
    //}
    //else
    //{
    //    Html.AppendCssFileParts("~/Themes/DefaultClean/Content/styles.css");
    //}
}