﻿@using Nop.Plugin.Other.Catering.Models
@model ReportSummaryModel
@using Nop.Web.Extensions

@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
        @T("Admin.Plugin.Other.Catering.Report")
    </div>
    <div class="options">
        @*<a href="/Admin/Plugin/Other/Catering/ReportSummary?generatePdf=true&&pagenumber=@ViewBag.PageNumber" class="k-button">Invoice (PDF)</a>*@
        <a href="javascript:void(0)" onclick="GeneratePDF();" class="k-button generate-pdf">Invoice (PDF)</a>
    </div>
</div>
<form action="/Admin/Plugin/Other/Catering/ReportSummary" id="report-search">
    <table width="100%">


        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.DeliveryStartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.DeliveryStartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.DeliveryEndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.DeliveryEndDate)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.EndDate)
            </td>
        </tr>
        @*<tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.CustomerEmail):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.CustomerEmail)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.ShippingStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("ShippingStatusId", Model.CateringOrderList.AvailableShippingStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.OrderStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("OrderStatusId", Model.CateringOrderList.AvailableOrderStatuses)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.PaymentStatusId):
            </td>
            <td class="adminData">
                @Html.DropDownList("PaymentStatusId", Model.CateringOrderList.AvailablePaymentStatuses)
            </td>
        </tr>*@

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.StoreId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SupplierStoreId", Model.CateringOrderList.AvailableStores)
            </td>
        </tr>


        <tr>
            <td colspan="2">
                <input type="submit" id="btnSearch" class="k-button" value="@T("Admin.Common.Search")" />
            </td>
        </tr>

    </table>
</form>
<p>
</p>


<p>
</p>
@foreach (var reportItem in Model.GroupedOrderItems)
{
    if(reportItem.DarienEventOrder.Count()>0)
    { 
        <div class="root-div">
            <div class="table-title">
                <span class="title">SUMMARY - CATERING PRODUCTION REPORT</span>
                <span class="date">@reportItem.OrderDay.Value.ToString("MM/dd/yy")</span>
            </div>

            <div class="main-table-div">
                <table class="main-table">
                    <thead>
                        <tr>
                            <td class="darien-th">
                                DARIEN
                            </td>
                            <td class="qty-th">
                                QTY
                            </td>
                            <td class="size-th">
                                SIZE
                            </td>
                            <td class="item-th">
                                ITEM
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in reportItem.DarienEventOrder)
                    {
                        <tr>
                            <td class="darien-td">@*@product.StoreName*@</td>
                            <td class="qty-td">@product.Quantity</td>
                            <td class="size-td">@product.Size</td>
                            <td class="item-td">
                                <b>@product.ProductName</b> <br> <span>@Html.Raw(product.Attribute)</span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    }
    if (reportItem.MokenaEventOrder.Count() > 0)
    { 
        <div class="root-div">
            <div class="table-title">
                <span class="title">SUMMARY - CATERING PRODUCTION REPORT</span>
                <span class="date">@reportItem.OrderDay.Value.ToString("MM/dd/yy")</span>
            </div>

            <div class="main-table-div">
                <table class="main-table">
                    <thead>
                        <tr>
                            <td class="darien-th">
                                MOKENA
                            </td>
                            <td class="qty-th">
                                QTY
                            </td>
                            <td class="size-th">
                                SIZE
                            </td>
                            <td class="item-th">
                                ITEM
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in reportItem.MokenaEventOrder)
                    {
                        <tr>
                            <td class="darien-td">@*@product.StoreName*@</td>
                            <td class="qty-td">@product.Quantity</td>
                            <td class="size-td">@product.Size</td>
                            <td class="item-td">
                                <b>@product.ProductName</b> <br> <span>@Html.Raw(product.Attribute)</span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    }
    if (reportItem.BurridgeEventOrder.Count() > 0)
    { 
        <div class="root-div">
            <div class="table-title">
                <span class="title">SUMMARY - CATERING PRODUCTION REPORT</span>
                <span class="date">@reportItem.OrderDay.Value.ToString("MM/dd/yy")</span>
            </div>

            <div class="main-table-div">
                <table class="main-table">
                    <thead>
                        <tr>
                            <td class="darien-th">
                                BURR RIDGE
                            </td>
                            <td class="qty-th">
                                QTY
                            </td>
                            <td class="size-th">
                                SIZE
                            </td>
                            <td class="item-th">
                                ITEM
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in reportItem.BurridgeEventOrder)
                    {
                        <tr>
                            <td class="darien-td">@*@product.StoreName*@</td>
                            <td class="qty-td">@product.Quantity</td>
                            <td class="size-td">@product.Size</td>
                            <td class="item-td">
                                <b>@product.ProductName</b> <br> <span>@Html.Raw(product.Attribute)</span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    }
   
}

<div class="pager">
    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(".pager a").each(function (index) {
            var changedlink = $(this).attr("href").replace("Admin", "Admin/Plugin/Other");
            $(this).attr("href", changedlink)
            console.log(index + ": " + $(this).text());
        });
        //if($('li.current-page>span').text() != "1")
        //{
        //    $(".pdf-button").attr("href", $(".pdf-button").attr("href") + "&&pagenumber=" + );
        //    console.log("test");
        //}
    });
    function GeneratePDF() {
        if (window.location.search === "") {
            window.location = "?generatePdf=true";
        }
        else {
            window.location = window.location + "&&generatePdf=true";
        }
    }
</script>