﻿@using Nop.Plugin.Recipe.Models
@model System.Data.DataSet
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("My Shopping List");
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}
<div class="mainContent">
    <div class="header1">
        My Shopping list (<a href="/DeleteAllRecipeFromshoppinglist"> Clear My Shopping List </a>)
    </div>
    <div id="displayableItems" runat="server">
        @if (ViewBag.showIstable == true)
        {
            <div id="divAisleSet">
                @for (int i = 0; i < Model.Tables.Count; i++)
                {

           
                    <div id="divParent" class="shoppinglist-column">
                        <h2>@Model.Tables[i].TableName</h2>
                        <div>
                            <ul id="ul_specials_normal_view">
                                @for (int j = 0; j < Model.Tables[i].Rows.Count; j++)
                                {
                                    if (!string.IsNullOrEmpty(Model.Tables[i].Rows[j]["recipe_ids"].ToString()))
                                    {
                                    <li id="liNormal">@Model.Tables[i].Rows[j]["value"].ToString() </li>
                                    }
                                    else
                                    {
                                        var specialId = Model.Tables[i].Rows[j]["special_id"];
                                    <li id="li_@(Model.Tables[i].Rows[j]["special_id"])" class="color_green">
                                        <div id="delete_@(Model.Tables[i].Rows[j]["special_id"])" class="deleteIconSpecial" onclick="deletespecial(@specialId,'false')" >
                                        </div>
                                        Special: @Model.Tables[i].Rows[j]["value"].ToString()
                                        <span class="color_red">Offer: @Model.Tables[i].Rows[j]["Offer"].ToString()</span>
                                    </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
           
                }
            </div>
            if (ViewBag.isRegistered == true)
            {
            <hr class="newLine" />
           @Html.Action("ShoppingListUserItems", "Recipe")
            }
            <br />
             <hr class="newLine" />
            <br />
            @Html.Action("RecipesOnMyShoppingList", "Recipe")
        }
    </div>
    <div class="newLine">
    </div>
</div>
<div class="sidebarContent">
    @Html.Action("Search", "Recipe")
    <br />
    <div class="floatLeft">
        <a href="javascript:window.print();">
            <div class="floatLeft">
                <div class="DivPrint floatLeft">
                </div>
                <div class="floatLeft margin10">
                    Print my Shopping List</div>
            </div>
        </a>
    </div>
    <br />
    <br />
    @Html.Action("showAllCookBook", "Recipe")
</div>
