﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
<link href="/themes/ProcoDefault/Content/flyout/flyout.css" rel="stylesheet" type="text/css" />
<script src="/themes/ProcoDefault/Content/flyout/flyout.js" type="text/javascript"></script>

<div class="social_container">
	<div><a target="_blank" href="http://www.facebook.com/pages/Brookhaven-Marketplace/33148540039"><img src="/Content/Images/uploaded/social/big_facebook_icon.png" alt="Facebook"></a></div>
	<div><a target="_blank" href="https://twitter.com/#!/brookhavenmkt"><img src="/Content/Images/uploaded/social/Twitter.png" alt="Twitter"></a></div>
	<div><a target="_blank" href="http://pinterest.com/brookhavenmkrt/"><img src="/Content/Images/uploaded/social/icon_pinterest.png" alt="Pinterest"></a></div>
	</div>

<div class="login">	
	<a href="#login-box" class="login-window">My Account</a>
</div>
<a class="see-u-picks" href="../../../specialcouponoffer"><img src="/content/images/uploaded/See-current-upick-offer-btn.png" /></a>	


	<div id="login-box" class="login-popup">
	<a href="#" class="close"><img src="/Content/Images/uploaded/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>

<div class="header-links">
	<h1>My Account</h1>
    <ul>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_links_before" })
        <li>
            <span class="impersonate">
                (@(string.Format(T("Account.ImpersonatedAs").Text, Model.CustomerEmailUsername)))
                - <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                )
            </span>
        </li>
        @*@if (Model.IsCustomerImpersonated)
        {
            <li><span class="impersonate">(@(string.Format(T("Account.ImpersonatedAs").Text, Model.CustomerEmailUsername)))
                - <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                ) </span></li>
        }
        @if (Model.DisplayAdminLink)
        {
            <li><a href="@Url.Content("~/admin")" class="ico-admin">@T("Account.Administration")</a></li>
        }*@@*Have to check*@
        @if (Model.IsAuthenticated)
        {
		<li><a href="/ShoppingList">Shopping List</a></li>
            <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">Preferences</a></li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
            
            if (Model.AllowPrivateMessages)
            {
            <li><a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox">@T("PrivateMessages.Inbox")</a>
                @Model.UnreadPrivateMessages</li>
                if (!string.IsNullOrEmpty(Model.AlertMessage))
                {
            <script type="text/javascript">
                $(document).ready(function () {
                    displayPopupNotification('@(Model.AlertMessage)', 'success', false);
                });
            </script>
                }
            }
        }
        else
        {
            <li><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></li>
            <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink"><a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">@T("ShoppingCart")</a>
                <a href="@Url.RouteUrl("ShoppingCart")" class="cart-qty">(@Model.ShoppingCartItems)</a>
            </li>
            <script type="text/javascript">
                $('#topcartlink').live('mouseenter', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('#topcartlink').live('mouseleave', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('#flyout-cart').live('mouseenter', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('#flyout-cart').live('mouseleave', function () {
                    $('#flyout-cart').removeClass('active');
                });
            </script>
        }
        @if (Model.WishlistEnabled)
        {
           <li><a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">@T("Wishlist")</a> <a href="@Url.RouteUrl("Wishlist")" class="wishlist-qty">
                (@Model.WishlistItems)</a> </li>
        }
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_links_after" })
    </ul>
</div>
<div class="topdownclickme">
<div class="ico-myaccount">My Account</div></div>
<script>$('.topdownclickme').click(function() {
  $('.header-links').slideToggle('slow', function() {
    // Animation complete.
  });
});
</script>

</div>