<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/jquery-1.10.2.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="css/demostyle.css" rel="stylesheet" />
<script src="js/carryModule.js"></script>
<script src="js/app/carryController.js"></script>
<script src="js/app/carrierAddController.js"></script>
<div ng-app="firebaseinaction">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header" style=" margin-left: 82px; ">
            <a class="navbar-brand" href="#">Demo Site</a>
        </div>
        <div class="container-fluid header">
            <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>-->
        </div>
    </nav>
    <div ng-view>
    </div>
</div>
