﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<div class="password-recovery-page">
    <div class="panel panel-default form-panel">

        <div class="panel-heading">
            <h3>@T("Account.PasswordRecovery")</h3>
        </div>
        <div class="panel-body">
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @using (Html.BeginForm())
            {
                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" }, ":")
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="btn btn-meals-for-you" value="@T("Account.PasswordRecovery.RecoverButton")" />
                </div>
            }
        </div>
    </div>
</div>
