﻿@using Nop.Plugin.Events.Models
@using Nop.Web.Framework
@model EventModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.Events.AddNew") @Html.ActionLink("(" + T("Admin.ContentManagement.Events.BackToList") + ")", "List", "/Plugin/Events/Event/")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="k-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="k-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Title):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
       <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerRoles):
            </td>
            <td class="adminData">
                @foreach (var customerRole in Model.AllCustomerRoles)
                {
                    <input type="checkbox" name="SelectedCustomerRoleIds" value="@customerRole.Id"

               @if (Model.SelectedCustomerRoleIds != null && Model.SelectedCustomerRoleIds.Contains(customerRole.Id))
               {
                    <text>checked="checked"</text>
               }
                />@customerRole.Name
              
                    <br />
                }
                @Html.ValidationMessageFor(model => model.SelectedCustomerRoleIds)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ShortDescription):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.ShortDescription, new { style = "Width: 500px; Height: 150px;" })
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.FullDescription):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.FullDescription, "RichEditor")
                @Html.ValidationMessageFor(model => model.FullDescription)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DayTime):
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.DayTime)
                
            </td>
        </tr>
         <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AllowComments):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AllowComments)
                @Html.ValidationMessageFor(model => model.AllowComments)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Published):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Published)
                @Html.ValidationMessageFor(model => model.Published)
            </td>
        </tr>
    </table>
   
}