﻿@{
   
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugin.Events.EventList").Text;
}


<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.ContentManagement.Events")
    </div>
    <div class="options">
        <a href="@Url.Action("Create", "/Plugin/Events/Event/")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>


<table class="adminContent">
    <tr>
        <td>
            <div id="comment-grid"></div>

            <script>
                    $(document).ready(function () {
                        $("#comment-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "/Admin/Plugin/Events/Event/List",
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(gridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Title",
                                title: "@T("Admin.ContentManagement.Events.Fields.Title")"
                            }, {
                                field: "CustomerRoles",
                                title: "@T("Admin.ContentManagement.Events.Fields.StoreName")"
                            }, {
                                field: "EventComments",
                                title: "@T("Admin.ContentManagement.Events.Fields.Comments")",
                                width: 100,
                                template: '<div><a href=\"/Admin/Plugin/Events/Event/Comment/filterByEventItemId/#=Id #\">@T("Admin.ContentManagement.Events.Fields.Comments") - #=  totalComments # </a></div>'
                            }, {
                                field: "Published",
                                title: "@T("Admin.ContentManagement.Events.Fields.Published")",
                                width: 100
                            }, {
                                field: "DayTime",
                                title: "@T("Admin.ContentManagement.Events.Fields.DayTime")",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            },{
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                            }]
                        });
                    });
            </script>
        </td>
    </tr>
</table>

