@{
    Layout = "~/Themes/Polsonsnatural/Views/Shared/_ColumnsOneHomepage.cshtml";
}

@Html.Action("HomepageCategories", "Catalog")

<section class="search-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <label class="search-label">Recipe Search</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                @Html.Action("Search", "Recipe", new { searchType = "title" })
            </div>
        </div>
    </div>
</section>



<section class="well-come-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div id="content_wrapper" class="devider-right">
                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>Recipe of the Week</h1>
                            <div class="col-lg-8">
                                <span id="recipe-title">Asian Apricot Chicken</span>
                                <span id="recipe-times"><span class="recipe-time">Preparation:&nbsp;10&nbsp;min.</span> <span class="recipe-time">Cooking:&nbsp;10&nbsp;min.</span> <span class="recipe-time">Total:&nbsp;20&nbsp;min.</span></span>
                                <table id="recipe-nutrition-tiny">
                                    <tbody>
                                        <tr>
                                            <td>Calories: 310 Cal</td>
                                            <td>Fat: 7.1 g</td>
                                        </tr>
                                        <tr><td>Carbs: 30 g</td><td>Protein: 29 g</td></tr>
                                        <tr><td>Fiber: 4.1 g</td><td>Sugar: 21 g</td></tr>
                                        <tr><td>Cholesterol: 73 mg</td><td>Sodium: 520 mg</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="recipe-photo" class="col-lg-4">
                                <img src="~/Themes/Polsonsnatural/Content/images/r-w.gif" alt="Recipe photo" class="recipe-img">
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>This Week's Featured Article:</h1>
                            <div id="articlecontainer" class="col-lg-8">
                                <h2>
                                    <a style="color:inherit" href="/assets/24/insight.pdf#page=2">What About Adult Asthma?</a>
                                </h2>
                                <p>
                                    <strong>Two new studies reveal vitamin D benefits in adult asthma</strong>
                                </p>
                                <p>Vitamin D helps control asthma flares -</p>
                                <p>Many of the earlier studies on asthma have focused on young children. This large new study is unique because the young adults who participated did not have other diseases that could complicate the findings...Doctors compared levels of vitamin D and asthma in 308,000 men and women, aged 22 to 50. About one in 14 had asthma, and vitamin D levels were...</p>
                                <div class="buttons">
                                    <a class="more_link" href="/assets/28/insight.pdf#page=1">Continue</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/Themes/Polsonsnatural/Content/images/article_pic.jpg" class="recipe-img" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>This Issue</h1>
                            <div id="articlecontainer" class="col-lg-8">
                                <div>
                                    <ul id="article_toc_container_list">
                                        <li>
                                            <a>There are vitamin D benefits in adult asthma</a>
                                        </li>
                                        <li>
                                            <a>Vitamin E benefits brain and bone in young and old</a>
                                        </li>
                                        <li>
                                            <a>nutrients protect against cancer and DNA damage in women</a>
                                        </li>
                                        <li>
                                            <a>Protein supplements help preserve and build muscle</a>
                                        </li>
                                        <li>
                                            <a >Mediterranean Barley</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="buttons">
                                    <a class="more_link" href="#">Continue</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/Themes/Polsonsnatural/Content/images/natural_insights_header.jpg" class="recipe-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @Html.Partial("_FeaturedItems")
            </div>
        </div>
    </div>
</section>
<section>
    @Html.Action("HomepageBestSellers", "Product")
    @Html.Action("HomePageNews", "News")
    @Html.Action("HomePagePolls", "Poll")
    @Html.Widget("home_page_bottom")
</section>








