@{
    Layout = "~/Themes/Polsonsnatural/Views/Shared/_ColumnsOneHomepage.cshtml";
}

@Html.Action("HomepageCategories", "Catalog")

<section class="search-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <label class="search-label">Recipe Search</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                @Html.Action("Search", "Recipe", new { searchType = "title" })
            </div>
        </div>
    </div>
</section>



<section class="well-come-section">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div id="content_wrapper" class="devider-right">
                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>Recipe of the Week</h1>
                            <p>@Html.Action("Public_recipe_display", "Recipe")</p>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>This Week's Featured Article:</h1>
                            <div id="articlecontainer" class="col-lg-8">
                                <h2>
                                    <a style="color:inherit" href="/themes/polsonsnatural/content/images/insight.pdf#page=3"">Think Clearly</a>
                                </h2>
                                <p>
                                    <strong>Nutrients help brain function in old and young</strong>
                                </p>
                                <p>Vitamin D in older adults -</p>
                                <p>Doctors know that low levels of vitamin D impair the form and function of the brain but wanted to understand how quickly these changes take place. In this study, doctors measured vitamin D levels in 382 men and women of white, African-American, and Hispanic ethnicities, average age 75. About half the participants had normal brain function, one-third were mildly impaired, and just under one in five had a diagnosis of dementia...</p>
                                <div class="buttons">
                                    <a class="more_link" href="/themes/polsonsnatural/content/images/insight.pdf#page=3">Continue</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="/Themes/Polsonsnatural/Content/images/article_pic.jpg" class="recipe-img" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="row clearfix">
                        <div class="recipe-wick">
                            <h1>This Issue</h1>
                            <div id="articlecontainer" class="col-lg-8">
                                <div>
                                    <ul id="article_toc_container_list">
                                        <li>
                                            <a>Nutrients reduce chances for common eye diseases</a>
                                        </li>
                                        <li>
                                            <a>Nutrients may reduce chances for AD and preserve brain function</a>
                                        </li>
                                        <li>
                                            <a>Vitamins D and B12 help brain function in young and old</a>
                                        </li>
                                        <li>
                                            <a>PNutrients help athletes do their best</a>
                                        </li>
                                        <li>
                                            <a>Nutrients improve mental and physical control</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="buttons">
                                    <a class="more_link" href="/themes/polsonsnatural/content/images/insight.pdf#page=1">Continue</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img src="~/Themes/Polsonsnatural/Content/images/natural_insights_header.jpg" class="recipe-img" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @*@Html.Partial("_FeaturedItems")*@
		@Html.Action("FeaturedProductAtHomePage", "Recipe", new { area = "" })
				<br>
			   <br>
			   <br>
			   <img align="right" width="200" src="/themes/polsonsnatural/content/images/inf-logo.jpg">
            </div>
        </div>
    </div>
</section>
<section>
    @Html.Action("HomepageBestSellers", "Product")
    @Html.Action("HomePageNews", "News")
    @Html.Action("HomePagePolls", "Poll")
    @Html.Widget("home_page_bottom")
</section>








