﻿@using Nop.Plugin.RecipeNew.Models
@{
    Layout = "";
    Html.AddCssFileParts(Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
    Html.AddCssFileParts(Url.Content("~/Plugins/RecipeNew/Content/smoothness/jquery-ui-1.8.17.custom.css"));
    
    
    //Html.AddScriptParts(Url.Content("~/Plugins/RecipeNew/Scripts/recipe.js"));
    //Html.AddScriptParts(Url.Content("~/Plugins/RecipeNew/Scripts/jquery-ui.min.js"));
    
    @*<script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/recipe.js"></script>*@

    @*<script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/jquery-ui.min.js"></script>*@
    Html.AppendScriptParts("~/Plugins/RecipeNew/Scripts/recipe_bubbleTip.js");
    Html.AppendScriptParts("~/Plugins/RecipeNew/Scripts/jQuery.bubbletip-1.0.6.js");
    Html.AppendScriptParts("~/Plugins/RecipeNew/Scripts/recipe.js");
    Html.AppendScriptParts("~/Plugins/RecipeNew/Scripts/fullcalendar/fullcalendar.js");
}

<div>
 
        <span class="header2">Recipe Search:</span>
        <div id="recipesearch">
            <input id="quicksearch" type="text" name="title" maxlength="32" class="quicksearch" />
            @*<input type="button" class="recipeSearchGo"  *@
            @* <img id="imgSearchBtn" class="imgSearchBtn" alt="go"></img>*@
            <img id="imgSearchBtn" class="imgSearchBtn" alt="go" src="/Plugins/RecipeNew/Content/images/recipe_search_go.png"></img>
            @*<img id="imgSearchBtn"   class="recipeSearchGo" ></img>*@
        </div>
        <div class="margin_top_10px">
            <div>
                <input id="radio_title" type="radio" , name="radio" value="Title" @ViewBag.Title />
                Title
            </div>
            <div>
                <input id="radio_Ingredients" type="radio" , name="radio" value="Ingredients" @ViewBag.Ingredients />
                Ingredients
            </div>
        </div>

</div>
<script type="text/javascript">
    //    $(document).ready(function () {
    //        var availableTags = [
    //			"ActionScript",
    //			"AppleScript",
    //			"Asp",
    //			"BASIC",
    //			"C",
    //			"C++",
    //			"Clojure",
    //			"COBOL",
    //			"ColdFusion",
    //			"Erlang",
    //			"Fortran",
    //			"Groovy",
    //			"Haskell",
    //			"Java",
    //			"JavaScript",
    //			"Lisp",
    //			"Perl",
    //			"PHP",
    //			"Python",
    //			"Ruby",
    //			"Scala",
    //			"Scheme"
    //		];
    //        $("#quicksearch").autocomplete({
    //            source: availableTags
    //        });
    //    });
</script>
