﻿@using Nop.Plugin.RecipeNew.Models
@model System.Data.DataSet
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("My Shopping List");
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}
@Html.Action("Search", "RecipeNew")
<br />
<a href="javascript:window.print();" data-role="button">Print my Shopping List</a>
<div class="header1">
    My Shopping list</div>
<div id="displayableItems" runat="server">
    @if (ViewBag.showIstable == true)
    {
       
        <div id="divAisleSet">
            @for (int i = 0; i < Model.Tables.Count; i++)
            {

           
                <div id="divParent">
                    <h2>@Model.Tables[i].TableName</h2>
                    <div>
                        <ul id="ul_specials_normal_view">
                            @for (int j = 0; j < Model.Tables[i].Rows.Count; j++)
                            {
                                if (!string.IsNullOrEmpty(Model.Tables[i].Rows[j]["recipe_ids"].ToString()))
                                {
                                <li id="liNormal">@Model.Tables[i].Rows[j]["value"].ToString() </li>
                                }
                                else
                                {
                                    var specialId = Model.Tables[i].Rows[j]["special_id"];
                                <li id="li_@(Model.Tables[i].Rows[j]["special_id"])" class="color_green">Special: @Model.Tables[i].Rows[j]["value"].ToString()<span
                                    class="color_red">Offer: @Model.Tables[i].Rows[j]["Offer"].ToString()</span> <a href="javascript:deletespecial(@specialId,'true')" >
                                        <div class="deletespecial">
                                        </div>
                                    </a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
           
            }
        </div>
         if (ViewBag.isRegistered == true)
         {
            <hr class="newLine" />
           @Html.Action("ShoppingListUserItems", "RecipeNew")
         }
            <br />
       
        <hr class="newLine" />
        <br />
        @Html.Action("RecipesOnMyShoppingList", "RecipeNew")
    }
</div>
