﻿@using Nop.Plugin.RecipeNew.Models
@model RecipeResults
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    if (ViewBag.noresult == "")
    { Html.AddTitleParts(Model.Title); }

    //Html.AddMetaDescriptionParts("Recipe");
    //Html.AddMetaKeywordParts("Recipe");
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/bubbletip.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/bubbletip-IE.css"));
    
    
    //Html.AddScriptParts(@Url.Content("~/Plugins/RecipeNew/Scripts/recipe.js"));
    //Html.AddScriptParts(@Url.Content("~/Plugins/RecipeNew/Scripts/jQuery.bubbletip-1.0.6.js"));
    
    <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/recipe.js"></script>
    <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/jQuery.bubbletip-1.0.6.js"></script>


}
<div class="">
    @Html.Action("Search", "RecipeNew")
    <br />
    @if (ViewBag.noresult == "")
    {
        <div id="scaling">
            <div id="why_register" class="newLine" runat="server" data-role="controlgroup">
                @if (ViewBag.unregistered == true)
            {
                    <a class="sidebar-action" id="shoppinglist_add_anon" href="@Url.RouteUrl("Login")" data-role="button">
                        <div class="AddIconCookBook newLine">
                        </div>
                        Add to my Shopping List</a>
                
                    <a class="sidebar-action" id="AddIconCookBook" href="@Url.RouteUrl("Login")" data-role="button">
                        <div class="AddIconCookBook newLine">
                        </div>
                        Add to my Cookbook</a>
            }

            else
            {
                    <div class="ui-grid-b">
                        <div id="divshoppingList" class="ui-block-a">
                            @if (ViewBag.dontshowaddshoppinglist == false)
                        {
                                <a class="sidebar-action"  href="javascript:addshoppinglist_Mobie(@ViewBag.recipeId,'@ViewBag.servings')" data-role="button" id="addToshoppingList">
                                    <div class="AddIconCookBook newLine">
                                    </div>
                                    Add to my Shopping List</a>
                        }
                        else
                        {
                                <a  href="javascript:deleteshoppinglistRecipe_mobile(@ViewBag.recipeId)" data-role="button" data-icon="delete" class="bg_Red" id="removefromshoppinglist">
                                    Remove this from your Shopping List </a>  

                        }
                        </div>
                        <div id="divCookBook" class="ui-block-b">
                            @if (ViewBag.dontshowaddcookbook == false)
                        {
                                <a id="addToCookbook" class="sidebar-action" href="javascript:addCookbookRecipe_Mobie()"
                                    data-role="button">
                                    <div class="AddIconCookBook newLine">
                                    </div>
                                    Add to my Cookbook</a>
                        }
                            @if (ViewBag.dontshowaddcookbook == true)
                        {
                                <a class="bg_Red"  href="javascript:deleteCookbookRecipe_Mobie(@ViewBag.recipeId)" data-icon="delete" data-role="button" id="removeCookBook">
                                    <span>Remove this From your Cookbook</span></a>
               
                        }
                        </div>
                        <div id="divviewshoppingList" class="ui-block-c">
                            @if (ViewBag.dontshowviewshoppinglist == false)
                        {
                                <a id="viewshoppinglist" class="sidebar-action" href="@Url.RouteUrl("Nop.Plugin.Recipe.ShoppingList")" data-role="button">
                                    <div class="showshoppinglistIconCookBook">
                                    </div>
                                    <span>View my Shopping List</span></a>
                        }
                        </div>
                    </div>
            }
            </div>
        </div>
        <div id="tip1_left" style="display: none; margin: 0; padding: 0">
            <pre class="tip">
<a href="@Url.RouteUrl("Login")"><u><strong>@T("Account.Login")</strong></u></a> or <a
    href="@Url.RouteUrl("Register")"><u><strong>@T("Account.Register")</strong></u></a> now to access these features:
    .  Save recipes to your own personal <strong>cookbook</strong>
    .  Build a personal <strong>shopping list</strong> from recipes
    and advertised specials  
</pre>
        </div>
        <div id="tip1_left1" style="display: none;">
            <pre class="tip">
<a href="@Url.RouteUrl("Login")"><u><strong>@T("Account.Login")</strong></u></a> or <a
    href="@Url.RouteUrl("Register")"><u><strong>@T("Account.Register")</strong></u></a> now to access these features:
    .  Save recipes to your own personal <strong>cookbook</strong>
    .  Build a personal <strong>shopping list</strong> from recipes
    and advertised specials  
</pre>
        </div>
        <input type="hidden" class="displayNone" id="recipeTitle" value="@ViewBag.recipe_title" />
        <input type="hidden" class="displayNone" id="recipeid" value="@ViewBag.recipeId" />
        <input type="hidden" class="displayNone" id="sevings" value="@ViewBag.servings" />
        <input type="hidden" class="displayNone" id="totalshoppinglistitems" value="@ViewBag.totalshoppinglistitems" />
    }
     
                <a href="javascript:window.print();" data-role="button">
                    
                            Print This Recipe
                   
                </a>
                
            
</div>

    <div class="">
    @if (ViewBag.noresult == "")
    {
        <div id="recipe_text">
            <h1 id="recipe_title" runat="server">
                @ViewBag.recipe_title
            </h1>
        </div>
        <div id="recipe_time" runat="server" class="recipe_time">
            <span>Preparation:&nbsp; @Html.Raw(Model.Preparation)&nbsp;min.<span> <span>Cooking:&nbsp;@Html.Raw(Model.Cooking)&nbsp;min.<span>
                <span>Total:&nbsp;@Html.Raw(Model.Total)&nbsp;min.<span>
        </div>
        <div id="recipe_photo">
            <img id="img_recipe_photo" src="@ViewBag.img_recipe_photo" alt="Recipe photo" runat="server" />
        </div>
        <ul id="recipe_ingredients" runat="server">
            @foreach (var recipeingredient in Model.arr_ingredients)
        {
                <li>@Html.Raw(recipeingredient)</li>
        }
        </ul>
        <div id="recipe_instructions" runat="server">
            @Html.Raw(ViewBag.recipe_instructions)
        </div>
        <div id="recipe_nutrition">
            <div id="nutrition_brief" runat="server" class="nu_brief">
                <table>
                    @foreach (System.Data.DataRow row in Model.briefNutrientList.Rows)
                {
@* <div class="newLine">
                    <div class="floatLeft">
                        <span>@row.ItemArray[2]</span></div>
                    <div class="floatLeft ">
                        &nbsp;&nbsp;&nbsp;<span>@row.ItemArray[4] @row.ItemArray[1]</span>
                    </div>
                </div>*@
                
                        <tr>
                            <td class="">@row.ItemArray[2]
                            </td>
                            <td class="">
                                &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                            </td>
                        </tr>
                    
               
                }
                </table>
            </div>
            <div id="nutrition_detail" runat="server" class="nu_detail" onclick="DisplayDetail();">
                @* <table>
                <tr>
                    <td>*@
                <div id="content_nutrients" runat="server" class="">
                    <h3>
                        Nutrients</h3>
                    @foreach (System.Data.DataRow row in Model.NutrientsDetailsTable.Rows)
                {
                        <table>
                            <tr>
                                <td class="nutrient_item">@row.ItemArray[2]
                                </td>
                                <td class="nutrient_item">
                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                </td>
                                @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                            {
                                    <td class="nutrient_item">
                                        &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                    </td>

                            }
                            </tr>
                        </table>
                }
                </div>
                @*  </td>
                    <td>*@
                <div id="content_fats" runat="server" class="">
                    <h3>
                        Fats</h3>
                    @foreach (System.Data.DataRow row in Model.FatsDetailsTable.Rows)
                {
                        <table>
                            <tr>
                                <td class="nutrient_item">@row.ItemArray[2]
                                </td>
                                <td class="nutrient_item">
                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                </td>
                                @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                            {
                                    <td class="nutrient_item">
                                        &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                    </td>

                            }
                            </tr>
                        </table>
                }
                </div>
                @*</td>
                </tr>
                <tr>
                    <td>*@
                <div id="content_vitamins" runat="server" class="">
                    <h3>
                        Vitamins</h3>
                    @foreach (System.Data.DataRow row in Model.VitaminsDetailsTable.Rows)
                {
                        <table>
                            <tr>
                                <td class="nutrient_item">@row.ItemArray[2]
                                </td>
                                <td class="nutrient_item">
                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                </td>
                                @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                            {
                                    <td class="nutrient_item">
                                        &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                    </td>

                            }
                            </tr>
                        </table>
                }
                </div>
                @* </td>
                    <td>*@
                <div id="content_minerals" runat="server" class="">
                    <h3>
                        Minerals</h3>
                    @foreach (System.Data.DataRow row in Model.MineralsDetailsTable.Rows)
                {
                        <table>
                            <tr>
                                <td class="nutrient_item">@row.ItemArray[2]
                                </td>
                                <td class="nutrient_item">
                                    &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[4] @row.ItemArray[1]
                                </td>
                                @if (row.ItemArray[3].ToString().Trim() != string.Empty)
                            {
                                    <td class="nutrient_item">
                                        &nbsp;&nbsp;&nbsp;&nbsp;@row.ItemArray[3]&nbsp;%
                                    </td>

                            }
                            </tr>
                        </table>
                }
                </div>
                @*</td>
                </tr>
            </table>*@
            </div>
            <div class="showDetailsingleRecipe">
                <a id="ancMore" onclick="DisplayDetail();" title="show">Click for more detail</a>
            </div>
        </div>
        <hr />
        } 
        else {
        <div id="displayableItems">
            @ViewBag.noresult
        </div>
        }
         <input type="hidden" id="pagename" value="singlerecipe" />
        @if (ViewBag.unregistered == false)
        {
                @Html.Action("showAllCookBook", "RecipeNew", new { searchType = "title" })
        }
    </div>
