﻿@using Nop.Plugin.RecipeNew.Models
@model TipDetail
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(Model.title);
    
    Html.AddCssFileParts(@Url.Content("~/Plugins/RecipeNew/Content/recipe.css"));
   
    <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/recipe.js"></script>
     <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/jquery.endless-scroll.js"></script>
    <script type="text/javascript" src="~/Plugins/RecipeNew/Scripts/listscrollformobile.js"></script>
}


      
         @Html.Action("TipsdisplayableItems", "RecipeNew", new { search = ViewBag.search, page = ViewBag.page, hidSearch = ViewBag.hidSearch })
      

    <div class="mainContentTips">
        
        <div class="recipeList">
            <div class="header1">
                Food & Cooking Tips</div>
            <div class="newLine">
            </div>
            <hr class="newLine"/>
           
            <div id="tip">
             <div id="divDefault">
                <p>@Html.Raw(ViewBag.title)
                   </p>
                <p>@Html.Raw(ViewBag.body)
                    
                </p>   
                </div>            
            </div>
            
            <div class="floatLeft">
              @*  <div id="divNoResults" class="header2" runat="server" visible="false" >
                    No recipes were found.
                </div>*@
            </div>
        </div>
    </div>
   

