﻿@using Nop.Plugin.Other.Catering.Models
@model CateringEventModel

<div class="label">
    @Html.LabelFor(m => m.NumberOfPeople)
</div>
<div class="clear"></div>
<div class="brief-detail people-number" data-people-number="@Model.NumberOfPeople">
    @Model.NumberOfPeople
</div>
<div class="clear"></div>
<div class="label">
    @Html.LabelFor(m => m.DeliveryTime)
</div>
<div class="clear"></div>
<div class="brief-detail">
    @Model.DeliveryTime
</div>
<div class="clear"></div>
<div class="label">
    @Html.LabelFor(m => m.ShippingAddress)
</div>
<div class="clear"></div>
<div class="brief-detail">
    @Model.ShippingAddress
</div>
<div class="clear"></div>
@if(Model.CafePickup)
{
    <div class="label">
        Pick Up:
    </div>
    <div class="clear"></div>
    <div class="brief-detail">
        Pickup from Store @Model.SupplierStoreName 
    </div>
}
else
{
    <div class="label">
        Delivery:
    </div>
    <div class="clear"></div>
    <div class="brief-detail">
        Delivery from @Model.SupplierStoreName to @Model.ShippingAddress
    </div>

}

<div id="next" style="float:left">
    @*@if(!Model.EventInProgress)
    {
        <a onclick="api.editShippingForm();" href="javascript:void(0)">Add Event</a>
    }*@
    @if(!Model.CafePickup)
    {
        <a onclick="api.editShippingForm();" href="javascript:void(0)">Change</a>
    }
    else
    {
        <a onclick="api.editStoreSelect();" href="javascript:void(0)">Change</a>
    }

    <a class="cancel-btn" onclick="api.cancelEvent(@Model.Id);" href="javascript:void(0)">Cancel</a>
</div>

<div class="clear"></div>

