﻿<div class="label">
    <b>No events scheduled at this time</b>
</div>

<div id="next" style="float:left">
    <a onclick="api.editShippingForm();" href="javascript:void(0)">Add Event</a>
</div>
<div class="clear"></div>