﻿@using Nop.Plugin.Other.Catering.Models
@model CateringProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    string productDetailLink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
    }    
    addtocartlink = string.Format("#/addToCart{0}", addtocartlink);
    productDetailLink = string.Format("#/productDetail{0}/{1}", Url.RouteUrl("Product", new { SeName = Model.SeName }), quantity);
}
<div class="product-item" data-productid="@Model.Id">
    
    <div class="picture">
        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
    </div>
    
    <h2 class="product-title">
        @if (Model.IsTimeRestricted)
        {
            <a href="javascript:void(0)">@Model.Name</a>
        }
        else
        {
            <a href="@productDetailLink">@Model.Name</a>
        }
    </h2>
    @if (Model.ReviewOverviewModel.AllowCustomerReviews)
    {
        int ratingPercent = 0;
        if (Model.ReviewOverviewModel.TotalReviews != 0)
        {
            ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
        }
        <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>
    }
   
        
    <div class="prices">
        @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
        {
            <span class="price old-price">@Model.ProductPrice.OldPrice</span>
        }
        <span class="price actual-price">@Model.ProductPrice.Price</span>
    </div>
    <div class="buttons">
        @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@
        @if (!Model.ProductPrice.DisableBuyButton)
        {
            @*<input class="red-button" type="button" value="@(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />*@
            if (Model.IsTimeRestricted)
            {
                <a class="red-button" href="javascript:void(0)">This product cannot be delivered within desired time</a>
            }
            else
            {
                @*<a class="red-button time-alert" href="javascript:void(0)">This product cannot be delivered within desired time</a>*@
                <a class="red-button detail-button" href="@productDetailLink">Item Details</a>
            }
        }
    </div>
    @*@if (!Model.IsTimeRestricted)
    {
        <div class="quantity-selector counter">
            <a id="minus" href="javascript:void(0)" class="minus btn btn-4 round remove-one-397">-</a>
            <input type="text" class="amount counterfor397" value="1" style="display: none;">
	        <span class="value">@quantity</span>
            <a id="plus" href="javascript:void(0)" class="plus btn btn-2 round add-one-397">+</a>
        </div>
    }*@
     <div class="description">
        <a class="show-description" href="#">
            Description
            <div class="content">
                @Html.Raw(Model.ShortDescription)
            </div>
        </a>
    </div>
    
    @Html.Widget("productbox_add_info")
        
    
</div>
