﻿@using Nop.Plugin.Other.Catering.Models
@model List<CategoryAccordionModel>

<div class="search-box">
    @Html.Action("SearchBox", "Catering")
</div>

<!--Start Accordion-->

<div id="accordion-container">
    <a class="large" href="/catering">Party Planning Guide</a>
    @foreach(var category in Model)
    {
        
        
        if(category.SubCategories.Count > 0)
        {
            <h2 class="accordion-header"><a href="@Url.Content("#/category/" + category.Id)">@category.Name</a></h2>
            <div class="accordion-content">
                @foreach(var subCategory in category.SubCategories)
                {
                    <a href="@Url.Content("#/product/" + subCategory.Id)">@subCategory.Name</a>
                }
            </div>
        }
        else
        {
            <a href="@Url.Content("#/product/" + category.Id)"><h2 class="accordion-header">@category.Name</h2></a>
            <div style="display:none"></div>
        }
        
    }
</div>		

<div class="help-text">
    <h3>Need Help?</h3>
    <p>For Catering Assistance, please call our Catering Specialist at<br />1-855-55CATER (22837)</p>
</div>
		
<div class="left-login">
    <div class="login-block">
        <h3>LOGIN</h3>
        <form action="/login?ReturnUrl=/catering/foodmenu" id="left-login" method="post" novalidate="novalidate">
            <table class="login-table-container">
                <tbody>
                    <tr class="row">
                        <td class="item-name">
                            <label for="Email">Email</label> :
                        </td>
                        <td class="item-value">
                            <input id="Email" name="Email" type="text" value="">
                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="item-name">
                            <label for="Password">Password</label> :
                        </td>
                        <td class="item-value">
                            <input id="Password" name="Password" type="password">
                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                   

                    <tr class="row">
                        <td colspan="2">
                            <div class="buttons">
                                <button class="loginbutton red-button" type="submit">Log in</button>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </form>
    </div>
</div>

<!--End Accordion-->
    
