﻿@using Nop.Plugin.Other.Catering.Models;
@model CateringEventSearchModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}

    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Plugin.Other.Catering.EventList")
        </div>

        <div class="options">
            <a href="@Url.Action("CreateEmail", "/Plugin/Other/Catering/")" class="k-button">@T("Admin.Common.AddNew")</a>
        </div>

    </div>
   

    <p>
    </p>


    <table class="adminContent">
        <tr>
            <td>
                <div id="catering-email-grid"></div>

                <script>
                        $(document).ready(function () {
                            $("#catering-email-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "EmailList",
                                            type: "POST",
                                            dataType: "json"
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(gridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "StoreId",
                                    title: "Store Name"
                                }, {
                                    field: "EmailAddress",
                                    title: "Email Address"
                                }, {
                                    field: "EmailType",
                                    title: "Email Address Type"
                                },{
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                                }]
                            });
                        });
                </script>
            </td>
        </tr>
    </table>

   
