﻿@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
        @T("Admin.Customers.CustomerRoles")
    </div>
</div>


<table class="adminContent">
    <tr>
        <td>
            <div id="customerroles-grid"></div>

            <script>
                    $(document).ready(function () {
                        $("#customerroles-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "List",
                                        type: "POST",
                                        dataType: "json"
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: @(gridPageSize),
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Name",
                                title: "Name"
                            }, {
                                field: "StoreRole",
                                title: "StoreRole"
                            }, {
                                field: "StoreId",
                                title: "StoreId"
                            }, {
                                field: "AdGroupId",
                                title: "AdGroupId"
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Create/#=Id#">Store Address</a>'
                            }]
                        });
                    });
            </script>
        </td>
    </tr>
</table>