﻿@if (ViewBag.IsExistGlutenFree != null)
{
    <div class="gluten-free">Gluten Free</div>
}

@if (ViewBag.IsExistVegeterian != null)
{
    <div class="vegeterian">Vegeterian</div>
}

@if (ViewBag.IsTimeRestricted == true)
{
    <div class="time-restrict">
        <p>
            <b><i>Time Restriction</i></b> <br />
            Sorry. Unfortunately this product is
            not available for your pickup time.
            Please call our Catering Specialist
            for custom catering requirements at
            1-855-55CATER (22837)
        </p>
    </div>
}