﻿<label>Quantity:</label>
<input name="paQuantity" type="text" class="textbox quantity @ViewBag.ProductAttributeId" id="paQuantity" value="@ViewBag.ProductAttributeQuantity" />
<input type="button" value="Add" onclick="api.updateAttributeQuantity('@ViewBag.ProductAttributeId');" />

