﻿@using System;
@using System.Text.RegularExpressions;
@using Nop.Admin.Models.Customers;
@model List<CustomerRoleModel>

@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
}
<div class="dialog-header">
    <span class="orange">
        Catering 
    </span>
    <span class="black">
        Pick Up
    </span>
</div>

<div id="header-menu">
    <ul class="progress">
        <li class="active" onclick="api.loadShippingForm();" href="javascript:void(0)">Delivery PickUp</li>
        <li class="inactive" onclick="api.loadEventDetail();" href="javascript:void(0)">Event Details</li>
    </ul>
</div>
<div class="clear"></div>
<div id="next" style="float:left">
    <a href="/login?ReturnUrl=/catering/foodmenu">Already registered? Sign in Here</a>
    <a class="cancel-btn" href="/register">Not Registered? Start Here!</a>
</div>
<div class="clear"></div>
<div class="checkout-data">
    <div class="enter-address"> 
        <div class="serve-options">
            <ul>
                <li>
                    <a onclick="api.loadShippingForm();" href="javascript:void(0)">
  	                  <span class="title">Delivery</span>
  	                </a>
                </li>
                <li class="active">
                    <a onclick="api.storeSelect();" href="javascript:void(0)">
  	                    <span class="title">PickUp in Store</span>
  	                </a>
                </li>
            </ul>
        </div>     
        <div class="clear"></div>
            
        <div class="ajax-content">
        
            <label class="store-select">Pick Up Location:</label>
            <div class="store-list">
                @foreach(var store in Model) {
                    var storeName = Regex.Replace(store.Name, @"\s+", "");
                    @Html.RadioButton("SelectStore", store.Id, new { id = "SelectStore"+store.Id, @class = "select-store"}) <label for="SelectStore@(store.Id)">@store.Name</label>
                } @*<a onclick="api.viewMap('@storeName-map');" href="javascript:void(0)"> View Map </a> <br />*@
            </div>
            <div class="store-map">

            </div>
            <div id="next">
                <a onclick="api.pickUpNextClick();" href="javascript:void(0)">Next</a>
            </div>
            
        </div>
        <div class="clear"></div>
        <div class="popfooter">
            <p>
                We make it easy to order your favorite Brookhaven Catering meals with no wait.
                <br> Just place and pay for your order online, choose a time and your order will be fresh and ready for you when you arrive. Just go to Customer Service at your Order 
                <br> Location at your pickup time & we will have your order ready to serve!
                <br>Please check items online for time restrictions.  
            </p>
        </div>
    </div>
</div>