﻿@model AddressModel
@using Nop.Web.Framework;
@using Nop.Web.Models.Common;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    string storeId = ViewBag.StoreId.ToString();
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.Events.AddNew") @Html.ActionLink("(" + T("Admin.ContentManagement.Events.BackToList") + ")", "List", "Plugin/Catering/StoreAddress/")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.ValidationSummary(false)
    @Html.Hidden("StoreId", storeId)
    <table class="adminContent">
        @{
            var dataDictAddress = new ViewDataDictionary();
            //Merge ModelState (required for validation)
            dataDictAddress.ModelState.Merge(ViewData.ModelState);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "StoreAddress";
            @Html.Partial("_CreateOrUpdateAddress", Model)              
        }
    </table>
   
}

