﻿@using Nop.Plugin.Recipe.Models
@model IList<Department>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}
<div class="col-md-5 col-sm-5 col-xs-12">
	<div class="row">
		<div class="floatLeft">
			<a class="" target="_blank" href="http://brookhavenmarket.com/themes/ProcoDefault/Content/flyer/pdf/flyer.pdf">
				<div class="view_pdf">
				</div>
			</a>
		</div>
	</div>
	<div class="row content-image">
		@Html.Action("TopicBlock", "Topic", new { systemName = "special-flyer" })
	</div>
</div>
<div class="col-md-7 col-sm-7 col-xs-12">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12 ">
			<div class="floatLeft special-header">
				View by department
			</div>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12 ">
			<div class="floatRight">
				<div class="shoppingListIconOnSpecial">
					<div class="shoppingListIconOnSpecial">
						<div class="floatLeft">@*javascript: _gaq.push(['_trackPageview', '/downloads/map']);*@
							<a class="" href="/specials_all">
								<div class="view_entire_add">
								</div>
							</a>
						</div>
						<div class="floatLeft">
							<a class="" href="@Url.RouteUrl("Nop.Plugin.Recipe.ShoppingList")">
								<div class="view_my_shopping_list">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		   
			@for (int i = 0; i < Model.Count; i++)
			{

				var item = Model[i];
				<div class="recipeGallary">
					<a href="@Url.RouteUrl("specialList", new { department_id = @item.id })">
						<img src="@item.image" />
						<div class="recipeTitle">
							@item.name</div>
					</a>
				</div>
						
					
				
			}


			<div class="recipeGallary">
				<a href="@Url.RouteUrl("specials_all")">
					<div class="special_view_all"></div>
					<div class="recipeTitle">
						View All Specials</div>
				</a>
			</div>
		</div>
	</div>
</div>






