﻿@using Nop.Plugin.Recipe.Models
@model RecipeResults
@{
    Layout = "";
    if (ViewBag.noresult == "")
    { Html.AddTitleParts(Model.Title); }
}
<table>
    <tbody>
        <tr>
            <td style="font-family: Tahoma, Geneva, sans-serif;">
                <h1 style="font-size: 24.0px; color: #993300; margin: 0.0px;">Recipe of the Week</h1>
                <span id="recipe-title" style="font-size: 16.0px; color: black; font-weight: bold; margin: 5.0px 0.0; display: block;"><a href="http://bluegoosemarket.com/recipes/@ViewBag.recipeId" style="color: #996600; color: #000;">@ViewBag.recipe_title</a></span>
            </td>
        </tr>
        <tr>
            <td style="font-family: Tahoma, Geneva, sans-serif;">
                <span id="recipe-times" style="font-weight: bold; font-size: 14.0px; display: block;">
                    <span class="recipe-time" style="padding-right: 0.7em;">Preparation time: @Html.Raw(Model.Preparation)&nbsp;</span>
                    <span class="recipe-time" style="padding-right: 0.7em;">Cooking time: @Html.Raw(Model.Cooking)</span>
            </td>
        </tr>
        <tr>
            <td style="font-family: Tahoma, Geneva, sans-serif;">
                <table id="recipe-nutrition-tiny" style="margin-top: 5.0px; width: 300.0px;">
                    <tbody>
                        @foreach (System.Data.DataRow row in Model.briefNutrientList.Rows)
                        {
                            <tr>
                                <td width="150" style="font-family: Tahoma, Geneva, sans-serif; font-size: 14.0px;">
                                    @row.ItemArray[2]
                                </td>
                                <td style="font-family: Tahoma, Geneva, sans-serif; font-size: 14.0px;">
                                    @row.ItemArray[4] @row.ItemArray[1]
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<td valign="top" style="font-family: Tahoma, Geneva, sans-serif;">
    <div id="recipe-photo"><a href="http://bluegoosemarket.com/recipes/@ViewBag.recipeId" style="color: #996600;"><img src="@ViewBag.img_recipe_photo" alt="Recipe photo" style="border: 0.0; border: 2.0px solid #9DB014;"></a></div>
</td>