﻿@using Nop.Plugin.Recipe.Models
@model System.Data.DataTable
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe.js");
}

<table id="shoppinglist_head" class="shoppinglist">
    <tr id="row_header">
        <td>
        </td>
        <td class="title-cell">
            <h2>
                Recipes on my Shopping List</h2>
        </td>
        <td>
            Servings
        </td>
        <td>
            Prep Time
        </td>
        <td>
            Cook Time
        </td>
        <td>
            Calories
        </td>
        <td>
            Fat (g)
        </td>
        <td>
            Carbs (g)
        </td>
    </tr>
     @foreach (System.Data.DataRow row in Model.Rows)
     {
        <tr id="@String.Format("row_{0}",row.ItemArray[0])">
            <td>
                <button class="deleteIconCookBook btn-danger" onclick='deleteshoppinglistRecipe(@row.ItemArray[0],"false")'>Remove</button>
            </td>
            <td class="title-cell">
                <a id="ancTitle" href="@Url.RouteUrl("showSingleRecipe", new { recipeid = @row.ItemArray[0] })">@row.ItemArray[1]</a>
            </td>
            <td>
                <label id="lblServings" runat="server">
                    @row.ItemArray[2]</label>
            </td>
            <td>
                <label id="lblPrepTime" runat="server">
                    @row.ItemArray[3]</label>
            </td>
            <td>
                <label id="lblCookTime" runat="server"> 
                   @row.ItemArray[4]</label>
            </td>
            <td>
                <label id="lblCalories" runat="server">
                    @row.ItemArray[5]</label>
            </td>
            <td>
                <label id="lblFat" runat="server">
                   @row.ItemArray[6]</label>
            </td>
            <td>
                <label id="lblCarbs" runat="server">
                    @row.ItemArray[7]</label>
            </td>
        </tr>
     }
</table>

