﻿@using Nop.Plugin.Recipe.Models
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));


    //Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe_bubbleTip.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/jQuery.bubbletip-1.0.6.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe.js");
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/fullcalendar/fullcalendar.js");

}

<div class="row reset-margin">
    <div id="recipesearch">
        <div class="input-group">
            <input id="quicksearch" type="text" class="form-control" placeholder="Search for Recipe...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-go" type="button">Go!</button>
            </span>
        </div>
        <div class="loadrecipesearch" style="display:none;">
            <img src="/Plugins/Recipe/Content/images/loader.gif" style="    width: 25px; float: right; margin-right: -26px; margin-top: -32px;" />
        </div>
    </div>
    <div class="margin_top_10px">
        <label>
            <input id="radio_title" type="radio" name="radio" value="Title" @ViewBag.Title />
            Title
        </label>
        <label>
            <input id="radio_Ingredients" type="radio" name="radio" value="Ingredients" @ViewBag.Ingredients />
            Ingredients
        </label>
    </div>
</div>