﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="carrierAddController">
        <div class="row bootRow">
            <div class="container alineText" style="margin-bottom:50px;">
                <div class="md-col-6">
                    <div class="form-group" style="width: 25%; text-align: left;">
                        <label for="carriername">Name:</label>
                        <input type="text" ng-model="carriername" class="form-control" id="carriername">
                    </div>
                    <div class="form-group" style="width: 25%; text-align: left;">
                        <label for="enclosed">Enclosed:</label>
                        <input type="checkbox" ng-model="enclosed" id="enclosed">
                    </div>
                    <div class="form-group" style="width: 25%; text-align: left;">
                        <label for="open">Open:</label>
                        <input type="checkbox" ng-model="open" id="open">
                    </div>
                    <div class="row-fluid" style="margin-top:20px;">
                        <div style="text-align:left; margin-bottom:10px;">
                            <strong>Service Area</strong>
                        </div>
                        <table>
                            <tr ng-repeat="r in rows">
                                <td><input class="form-control" placeholder="Name" ng-model="r.nameOfservice"></td>
                                <td><input class="form-control" ng-model="r.serviceNote" placeholder="Note"></td>
                        </table>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <div class="md-col-6" style="text-align:left; margin-top:50px;">
                    <button ng-click="addCarrier();" class="btn btn-success">Save Carrier</button>
                    <button ng-click="addField()" class="btn btn-primary">Add Service Area</button>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="container alineText">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width='30%'>Carrier</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="buildHTML in serverData" class="borderCell">
                            <td>{{buildHTML.name}}</td>
                            <td ng-repeat="(key, value) in  buildHTML.serviceArea" class="borderCell">
                                {{value.notes}}
                            </td>
                            <td>
                                <button ng-click="editField(itemNumber=$index)" class="btn btn-primary">Edit Carrier</button>
                            </td>

                            <!--<td ng-repeat="(key, value) in buildHTML.serviceArea">
                                {{key}} : {{value.notes}}
                            </td>
                            <td>{{buildHTML.name}}</td>
                            <td>{{buildHTML.enclosed}}</td>
                            <td>{{buildHTML.open}}</td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
