﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div ng-controller="carrierController as crc">
        <div class="row bootRow">
            <div class="container alineText" style="margin-bottom:50px;">
                <div class="md-col-6">
                    <div class="form-group" style="width: 25%; text-align: left;">
                        <label for="firstzone">First Zone:</label>
                        <input type="text" ng-model="firstTxt" class="form-control" id="firstzone">
                    </div>
                    <div class="form-group" style="width: 25%; text-align: left;">
                        <label for="secondzone">Second Zone:</label>
                        <input type="text" ng-model="secondTxt" class="form-control" id="secondzone">
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div style="clear:both;"></div>
                <div class="md-col-6" style="text-align:left;">
                        <button ng-click="carryWrap();" class="btn btn-primary">GO</button>
                        <button ng-click="addCarrier();" class="btn btn-primary">Go To Add Carrier</button>
                    <button ng-click="removePreviousSearch();" class="btn btn-primary">Remove previous Search</button>

                </div>
            </div>
            <div style="clear:both;"></div>

            <div class="container alineText">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width='30%'>Carrier</th>
                            <th width='30%'>{{firstHead}}</th>
                            <th width='30%'>{{secondHead}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="buildHTML in buildHTMLS" class="borderCell">
                            <td>{{buildHTML.name}}</td>
                            <td ng-repeat="noteMany in buildHTML.note" class="borderCell">
                                {{noteMany.note}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
