﻿#toptodayorderlink {
}
#toptoadyorderlink a {
	padding: 0 0 0 20px;
}

.flyout-todayorder {
	position: absolute;
	top: 45px;
	right: 0;
	z-index: 100;
	width: 300px;
	box-shadow: 0 0 2px rgba(0,0,0,0.25);
	background-color: #fff;
}

.flyout-todayorder {
	display: none;
}

.flyout-todayorder.active {
	display: block;
}
.mini-todayorder-cart {
	padding: 12px;
	text-align: left;
	font-size: 12px;
}
.mini-todayorder-cart .count {
	padding: 5px 0 15px;
	color: #444;
}
.mini-todayorder-cart .count a {
	margin: 0 2px;
	font-weight: bold;
	color: #444;
}
.mini-todayorder-cart .items {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
}
.mini-todayorder-cart .item {
	overflow: hidden;
	padding: 10px 0;
}
.mini-todayorder-cart .picture {
	float: left;
	width: 70px;
	text-align: center;
}
.mini-todayorder-cart .picture a {
	display: block;
	position: relative;
	overflow: hidden;
}
.mini-todayorder-cart .picture a:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.mini-todayorder-cart .picture img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 100%;
}
.mini-todayorder-cart .picture + .product {
	margin: 0 0 0 80px;
}
.mini-todayorder-cart .name {
	margin: 0 0 10px;
	font-size: 14px;
}
.mini-todayorder-cart .name a {
	color: #4ab2f1;
}
.mini-todayorder-cart .name a:hover {
	color: #248ece;
}
.mini-todayorder-cart .attributes {
	margin: 5px 0;
	color: #444;
}
.mini-todayorder-cart .totals {
	margin: 0 0 12px;
	font-size: 14px;
}
.mini-todayorder-cart .totals strong {
	font-size: 16px;
	color: #444;
}
.mini-todayorder-cart .buttons {
	margin: 0 0 5px;
}
.mini-todayorder-cart input[type="button"] {
	display: inline-block;
	border: none;
	background-color: #4ab2f1;
	padding: 10px 20px;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.mini-todayorder-cart input[type="button"]:hover {
	background-color: #248ece;
}

.flyout-todayorder.active {
	display: block;
}