﻿@model NewsItemListModel
@using Nop.Web.Extensions;
@using Nop.Web.Models.News;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
}
<div class="news-list-page panel panel-default form-panel">
    <h3 class="valley-page-title">
        <span class="bold_line"><span></span></span>
        <span class="title_text">
            @T("News")
            <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="pull-right header-rss" title="@T("News.RSS.Hint")"><i class="fa fa-rss fa-2x header-rss-icon"></i></a>
        </span>
        <span class="solid_line"></span>
    </h3>
    @*<div class="panel-heading">
       <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="pull-right header-rss" title="@T("News.RSS.Hint")"><i class="fa fa-rss fa-2x header-rss-icon"></i></a>
       <h3>@T("News")</h3>
    </div>*@
    <div class="panel-body">
        @Html.Widget("newslist_page_before_items")
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                <div class="item">
                    <div class="row">
                        <div class="col-md-8 pull-text-left">
                            <h4><a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h4> 
                        </div>
                        <div class="col-md-4 pull-text-right">
                            <h5><span class="news-date">@item.CreatedOn.ToString("D")</span></h5>
                        </div>

                        
                    </div>

                    <div class="news-details">
                        @Html.Raw(item.Short)
                    </div>
                    <div class="row down-space-10 clearfix"></div>
                    
                    <div class="row">
                        <div class="col-md-12 pull-text-right">
                            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="btn btn-default read-more">
                                @T("News.MoreInfo")</a>        
                        </div>
                    </div>
                    <div class="row down-space-10 clearfix"></div>
                    
                    @Html.Widget("newslist_page_inside_item")
                </div>
                <legend></legend>
            }
        </div>
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
        </div>
        @Html.Widget("newslist_page_after_items")
    </div>
</div>



