﻿@model TodayOrderDetailListHomePageModel
@using Nop.Plugin.Misc.LiveNotification.Models;
@using Nop.Core;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;


@if (Model.ShowOrderedProductAtHomePage){
<div class="product-grid home-page-product-grid latestSell">
    <div class="title">
        <strong>@T("LatestSellProducts")</strong>
    </div>
    <div class="item-grid">
        @foreach (var item in Model.Products)
        {
            <div class="item-box">
                @Html.Partial("_ProductBox", item)
            </div>
        }
    </div>
</div>
}
