﻿@model TodayOrderModelList
@using Nop.Plugin.Misc.LiveNotification.Models;
<div id="flyout-todayorder" class="flyout-todayorder">
    <div class="mini-todayorder-cart">
        <div class="items todayOrderFly">
            @for (int i = 0; i < Model.TodayOrder.Count; i++)
            {
                var item = Model.TodayOrder[i];
                <div class="item @(i == 0 ? "first" : null)">
                    <div class="picture">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })">
                            <img src="@item.ImgUrl" />
                        </a>
                    </div>
                    <div class="product">
                        <div class="name" style=" overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })">@item.ProductName</a>
                        </div>
                        <div class="price" style="margin-top:-31px;">@T("ShoppingCart.Mini.UnitPrice"): <span>@item.Price</span></div>
                    </div>
                </div>
            }
        </div>
        <div style="text-align:center">
            <a href="/LiveNotification/GetAllOrderedProduct">
                See all Ordered product
            </a>
        </div>
    </div>
</div>
