﻿@using Nop.Plugin.Donation.Models;
@using Nop.Web.Framework
@model DonationModel

@functions
{
    string checkedImagePath(string decission, string modelValue)
    {
        if (decission == modelValue)
        {
            return "http://brookhavenmarket.com/content/donation/checked.png";
        }
        else
        {
            return "http://brookhavenmarket.com/content/donation/unchecked.png";
        }
    }
}

<div>
    <style type="text/css">
        td { font-family: Times New Roman; font-size: 11pt; vertical-align: top; white-space: normal; }
        .clear { clear: both; }
        .leftfloat { float: left; }
        .padright5 { padding-right: 5px; }
        #content { width: 900px; font-family: Times New Roman; font-size: 11pt; }
        #mailheader { width: 100%; float: left; height: 100px; }
        #imglogo { width: 137px; float: left; height: 78px; }
        #headertext { font-family: Times New Roman; text-transform: uppercase; font-weight: bold; font-size: 20pt; padding: 40px 0 0 100px; float: left; text-decoration: underline; }
        .headers { /*font-family: Franklin Gothic Medium;*/ text-transform: uppercase; font-weight: bold; float: left; font-size: 11pt; }
        .formfont { font-family: Franklin Gothic Medium; font-size: 10pt; }
        #empname td { width: 330px; text-align: center; height: 15px; text-transform: uppercase; }
        .imgcheck { height: 16px; width: 18px; }
        .value { width: 100%; text-transform: none; text-decoration: underline; margin: 0 5px; }
        .thistable td { border-right: 1px solid black; border-bottom: 1px solid black; margin: 0; padding: 2px; }
        .workweek { height: 50px; vertical-align: top; width: 120px; }
        .addunderline { text-decoration: underline; margin: 0 5px; }
        p.MsoNormal { margin-bottom: .0001pt; font-size: 12.0pt; font-family: "Times New Roman", "serif"; margin-left: 0in; margin-right: 0in; margin-top: 0in; }
        /*Donation Form*/
        table.donation label { display: block; font-weight: 600; margin-bottom: 5px; }
    </style>
    <div id="content">
        <div class="mailheader">
            <div>
                <img id="imglogo" src="http://brookhavenmarket.com/content/donation/logo.jpg" />
            </div>
            <div id="headertext">
                Donation Application
            </div>
        </div>
        <div class="clear">
        </div>
        <br />
        @Model.StoreName is an equal donation opportunity employer. Our company
        will provide reasonable accommodations with the application process upon your request
        consistent with applicable laws.
        <br />
        <br />
        <div class="leftfloat" style="width: 90%">
            <span class="headers">Donation Desired</span>
            <br />
        </div>
        <br />
        <table class="donation">
            <tr>
                <td>
                    <label style="font-weight:600">Store Name :</label><br />
                    @Model.StoreName
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Apply Date :</label><br />

                    @Model.CurrentDate
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Event Date :</label><br />

                    @Model.EventDate
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Organization :</label><br />

                    @Model.Organization
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Contact:</label><br />

                    @Model.Contact
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Title :</label><br />

                    @Model.Title
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Address :</label><br />

                    @Model.Address
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">State :</label><br />

                    @Model.State
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Zip Code :</label><br />

                    @Model.Zip
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Phone Number :</label><br />

                    @Model.Phone
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Fax Number :</label><br />

                    @Model.Fax
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">E-mail Address :</label><br />

                    @Model.Email
                </td>
            </tr>

            <tr>
                <td>
                    <label style="font-weight:600">Tell Us About Your Organization :</label><br />

                    @Model.OrganizationDetail
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Organization Achievements & Impact on the Community :</label><br />

                    @Model.OrganizationAchievement
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Event Name, Date, Location, and Mission :</label><br />

                    @Model.EventDetail
                </td>
            </tr>
            
            <tr>
                <td>
                    <label style="font-weight:600">Has your organization received a donation from Brookhavenmarket in the past? :</label><br />

                    @Model.PreviousDonation
                </td>
            </tr>
            
            <tr>
                <td class="">
                    <label style="font-weight:600">Items Requested  :</label><br />

                    @Model.RequestedItem
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">How will Brookhavenmarket be recognized? :</label><br />

                    @Model.Benifit
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Tax ID Number  :</label><br />

                    @Model.TaxId
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
