﻿@using Nop.Plugin.Upon.Models;
@*@model List<UniqueCouponModel>*@
@model Telerik.Web.Mvc.GridModel<UniqueCouponModel>
@using Telerik.Web.Mvc;
@using Telerik.Web.Mvc.UI
@{
   
    var gridPageSize =  Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "";

}
<table class="adminContent">
    <tr>
        <td>
            @*@(Html.Telerik().Grid(Model)
                        .Name("AvailableUpons-report-grid")
                .Columns(columns =>
                {
                    columns.Bound(x => x.Id);
                    columns.Bound(x => x.Title);
                    columns.Bound(x => x.Description);
                    columns.Bound(x => x.Offer);
                    columns.Bound(x => x.Quantity);
                    columns.Bound(x => x.DateRange);
                })
                         .DataBinding(dataBinding => dataBinding.Ajax().Select("AvailableUponsReportList", "/Plugin/Upon/uPonDashboard/"))
                .EnableCustomBinding(true))*@
                @(Html.Telerik().Grid<UniqueCouponModel>()
                    .Name("uniquecouponitem-grid")
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        //var url = "/Admin/Plugin/Events/Event/Edit/";
                        columns.Bound(x => x.Id).Width(150);
                        columns.Bound(x => x.Title).Width(300);
                        columns.Bound(x => x.Description).Width(300);
                        columns.Bound(x => x.Offer).Width(300);
                        columns.Bound(x => x.Quantity).Width(300);
                        columns.Bound(x => x.DateRange).Width(300);
                                            
                       
                        columns.Bound(x => x.Id)
                            .Template(@<text><a href="Edit/@item.Id">Edit</a></text>)
                            .ClientTemplate("<a href=\"/Admin/Plugin/Upon/UniqueCoupon/Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Width(50)
                            //.Centered()
                            .HeaderTemplate(T("Admin.Common.Edit").Text)
                            ;
                    
                           
                      })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                                        .DataBinding(dataBinding => dataBinding.Ajax().Select("Admin.Plugin.Upon.uPonDashboard.AvailableUponsReportList"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
