﻿@{
    //page title
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
   // ViewBag.Title = @T("Admin.Dashboard").Text;
}
<div class="section-title">
    <img src="@Url.Content("~/Administration/Content/images/ico-dashboard.png")" alt="" />
    @T("Admin.uPonDashboard")
</div>

<div class="options">
<a class="t-button" href="">View All uPons</a>
<a class="t-button" href="">View Active uPons</a>
</div>
@*
<table class="dashboard">
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "admin_dashboard_top" })
    <tr>
        <td class="maincol">
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-stat1.gif")" alt="" />
                    @T("Admin.Dashboard.StoreStatistics")
                </div>
            </div>
            <table class="stats">
                <tbody>
                    <tr>
                        <td class="orderaveragereport">
                            <div class="statisticsTitle">
                                @T("Admin.SalesReport.Average")
                            </div>
                            @Html.Action("OrderAverageReport", "Order")
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="stats">
                <tbody>
                    <tr>
                        <td class="orderstatistics">
                            <div class="statisticsTitle">
                                @T("Admin.SalesReport.Incomplete")
                            </div>
                            @Html.Action("OrderIncompleteReport", "Order")
                        </td>
                        <td class="customerstatistics">
                        <div class="statisticsTitle">
                            @T("Admin.Customers.Reports.RegisteredCustomers")
                        </div>
                            @Html.Action("ReportRegisteredCustomers", "Customer")
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="stats">
                <tr>
                    <td class="bestsellers">
                        <div class="statisticsTitle">
                            @T("Admin.SalesReport.BestSellers.ByQuantity")
                        </div>
                            @Html.Action("BestsellersBriefReportByQuantity", "Order")
                    </td>
                    <td class="bestsellers">
                        <div class="statisticsTitle">
                            @T("Admin.SalesReport.BestSellers.ByAmount")
                        </div>
                            @Html.Action("BestsellersBriefReportByAmount", "Order")
                    </td>
                </tr>
            </table>
        </td>
        <td class="rightcol">
            @Html.Action("NopCommerceNews", "Home")
        </td>
    </tr>
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "admin_dashboard_bottom" })
</table>
*@