﻿@using Nop.Plugin.Recipe.Domain
@model IList<CookBook>
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/recipe.js"));
}



<div id="cookbook" runat="server">
    <div id="dvcookbook">
        <h2 class="header2">
            My Cookbook</h2>
        <ul id="cookbook_recipes" class="horizontal_list" runat="server">
        @if (Model != null)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
      
                <li id="li_@(item.RecipeID)">
                    <div class="deleteIconCookBook1" onclick="deleteCookbookRecipe(@item.RecipeID)"> </div>
                    <div id="cookbookItem"><a href="@Url.RouteUrl("showSingleRecipe", new { recipeid = @item.RecipeID })">
                        @if(item.RecipeTitle.Length>37){var s = item.RecipeTitle.Substring(0,37) + ".."; @s} else{@item.RecipeTitle}</a></div> </li> 
            }
        }
        </ul>
    </div>@*@Url.RouteUrl("Nop.Plugin.Recipe.DeleteRecipeFromCookBook", new { recipeid = @item.RecipeID }*@
</div>
