﻿@using Nop.Plugin.Recipe.Models
@model SpecialsModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
   
    <script type="text/javascript" src="@Url.Content("~/Plugins/Recipe/Scripts/recipe.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Plugins/Recipe/Scripts/jquery.endless-scroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Plugins/Recipe/Scripts/listscrollformobile.js")"></script>
}
<script type="text/javascript">
   
    
</script>
<div class="">
    <div class="header2">
			@if(ViewBag.StoreName.Equals("I do not live near a store", StringComparison.Ordinal) || ViewBag.StoreName.Equals("Guests", StringComparison.Ordinal) )
			{
				<text>Current Specials</text>
			}
			else
			{
				@ViewBag.StoreName <text> -- Current Specials</text>
			}
		</div>
    <div class="floatRight">
        <div class="shoppingListIconOnSpecial">
            <div class="shoppingListIconOnSpecial">
                <div class="floatLeft">
                    <a class="" href="@Url.RouteUrl("Nop.Plugin.Recipe.ShoppingList")">
                        <div class="view_my_shopping_list">
                        </div>
                    </a>
                </div>
                <div class="floatLeft">@*javascript: _gaq.push(['_trackPageview', '/downloads/map']);*@
                    <a class="" href="/Themes/Caputos/Content/flyer/flyer.html">
                        <div class="view_entire_add">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @*  <div id="displayableItems" runat="server" class="floatLeft">
        @Html.Raw(ViewBag.displayableSpecialItems)
    </div>*@
    <div class="clear">
    </div>
    @* <div id="pagination" class="pagination" runat="server">
        @Html.Raw(ViewBag.specialpagination)
    </div>*@ @*<div class="clear">
    </div>*@
    <div id="specials_search_form">
        <strong>
            <label>
                Select a department:</label></strong>
        <select id="ddlSpecials_select_category" class="specials_select_category" runat="server"
            onchange='ondropdownchange_mobile("")'>
            <option id="department_idAll" value="All">All</option>
            @for (int j = 0; j < Model.Departments.Count; j++)
            {

                var department = Model.Departments[j];
                if (ViewBag.department_id == department.id)
                {
                <option id='department_id@(department.id)' value="@(department.id)" selected >@department.name</option>
                }
                else
                {
                <option id='department_id@(department.id)' value="@(department.id)" >@department.name</option>
                }

            }
        </select>
        <strong>
            <label>
                Search:&nbsp;</label></strong>
        <input type="text" id="specials_search_mobile" maxlength="32" height="18" runat="server" value="@ViewBag.search" />
    </div>
    <div class="clear">
    </div>
    @if (ViewBag.noresult == false)
    {
        <ul class="horizontal_list_mobile" id="UlList_mobile">
            @for (int i = 0; i < Model.Specials.Count; i++)
            {
                var item = Model.Specials[i];
                <li>
                    <div id="specials-box">
                        <div class="special_mobile">
                            <div class="special-image">
                                <img alt="" src='@item.image'>
                            </div>
                            <span class="brand">
                                <label id="litBrand" runat="server">
                                </label>
                            </span><span class="product">
                                @item.product</span>
                            <p class="special-offer">
                                @item.offer</p>
                            <a href='@Url.RouteUrl("showSingleRecipe", new { recipeid = @item.recipe_id })'>
                                @item.recipe_title</a>
                            <div class="shoppinglist-add">
                                <div id="">
                                    @if (ViewBag.unregistered == false)
                                    {
                                        if (ViewBag.dontshowaddshoppinglist == false)
                                        {
                                            if (@item.isAlreadyOnDatabase == "false")
                                            {
                                        <a class="sidebar-action" id="special_adding_@(item.id)" onclick="saveSpecialToShoppingList('@item.id', '@item.brand.Replace("'", "\\'")', '@item.product.Replace("'", "\\'")', '@item.description.Replace("'", "\\'")', '@item.offer.Replace("'", "\\'")', '@item.image.Replace("'", "\\'")','@item.recipe_title.Replace("'", "\\'")', '@item.recipe_id', '@item.featured.Replace("'", "\\'")')">
                                            <div class="AddIconSpecial">
                                            </div>
                                            Add to my Shopping List</a>
                                        <div id="special_added_@(item.id)" class="specialAdded" >
                                            <div id="" class="AcceptIconCookBook">
                                            </div>
                                            <span>This is in your Shopping List</span></div>
                                            }
                                            else
                                            {
                                        <div id="special_added_@(item.id)" class="newLine">
                                            <div id="" class="AcceptIconCookBook">
                                            </div>
                                            <span>This is in your Shopping List</span></div>
                                            }

                                        }
                                        else
                                        {
                                        <div id="special_added_@(item.id)">
                                            <div id="" class="AcceptIconSpecial">
                                            </div>
                                            <span>This is in your Shopping List</span></div>
                                        }
                                    }
                                    else
                                    {
                                        <a class="sidebar-action" id="special_adding_@(item.id)" href="@Url.RouteUrl("Login")">
                                            <div class="AddIconSpecial">
                                            </div>
                                            Add to my Shopping List</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div id="divNoResults" class="header2" runat="server" visible="false">
            No specials were found.
        </div>
    }
</div>
<div id="nextPageLoader" class="displayNone">
    <img src="/Plugins/Recipe/Content/images/loader.gif" /></div>
<input type="hidden" class="displayNone" id="pagename" value="specials" />
<input type="hidden" class="displayNone" id="departmentId" value="@ViewBag.department_id" />
<input type="hidden" class="displayNone" id="search" value="@ViewBag.search" />
<input type="hidden" class="displayNone" id="unregistered" value="@ViewBag.unregistered" />
<input type="hidden" class="displayNone" id="dontshowaddshoppinglist" value="@ViewBag.dontshowaddshoppinglist" />
<input type="hidden" class="displayNone" id="totalpage" value="@ViewBag.totalpage" />
