﻿@using Nop.Plugin.Recipe.Models
@model IList<Department>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
}

    <div class="header2 floatLeft">
			@if(string.IsNullOrEmpty(ViewBag.DontLiveNearStore))
			{
				<text>Current Specials for  </text> @Html.DropDownList("RoleName", (SelectList)ViewBag.RoleName);
			}
			else
			{
				<text>Specials Store Selector </text> 
			}
		</div>
    <div class="floatRight">
        <div class="shoppingListIconOnSpecial">
            <div class="shoppingListIconOnSpecial">
                <div class="floatLeft">
                    <a class="" href="@Url.RouteUrl("Nop.Plugin.Recipe.ShoppingList")">
                        <div class="view_my_shopping_list">
                        </div>
                    </a>
                </div>
                <div class="floatLeft">@*javascript: _gaq.push(['_trackPageview', '/downloads/map']);*@
                    <a class="" href="/Themes/Caputos/Content/flyer/flyer.html">
                        <div class="view_entire_add">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="newLine"></div>
    <ul data-role="listview" data-inset="true" data-filter="false">
        @for (int i = 0; i < Model.Count; i++)
        {

            var item = Model[i];
            <li><a href="@Url.RouteUrl("specialList", new { department_id = @item.id })">
                <img src="@item.image" />
                <div class="recipeTitle">
                    @item.name</div>
            </a></li>
                    
                
            
        }
				@if(Model != null)
				{
					for(int i = 0; i < Model.Count; i++)
					{
						var item = Model[i];
						<div class="recipeGallary">
							<a href="@Url.RouteUrl("SpecialListWithAdGroup", new
							 {
								 storeName = ViewBag.StoreName,
								 department_id = @item.id
							 })">
								<img src="@item.image" />
								<div class="recipeTitle">@item.name</div>
							</a>
						</div>
					}
				}
				else
				{
					<div>@Html.Raw(ViewBag.DontLiveNearStore)</div>
					return;
				}
         <li>
						<a href="@Url.RouteUrl("AdGroupSpecialsAll", new
								{
									storeName = ViewBag.StoreName
								})">
								<img src="/Plugins/Recipe/Content/images/specials_view_all.jpg"/>
								<div class="recipeTitle">
										View All Specials</div>
						</a>
				 </li>
         

    </ul>

