﻿@using Nop.Plugin.Recipe.Models
@model TipDetail
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(Model.title);
    
    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
   
    <script type="text/javascript" src="@Url.Content("~/Plugins/Recipe/Scripts/recipe.js")"></script>
}


    <div class="mainContentTips">
        
        <div class="recipeList">
            <div class="header1">
                Food & Cooking Tips</div>
            <div class="newLine">
            </div>
           
            <div id="tip">
             <div id="divDefault">
                <p>@Html.Raw(ViewBag.title)
                   </p>
                <p>@Html.Raw(ViewBag.body)
                    
                </p>   
                </div>            
            </div>
            
            <div class="floatLeft">
              @*  <div id="divNoResults" class="header2" runat="server" visible="false" >
                    No recipes were found.
                </div>*@
            </div>
        </div>
    </div>
    <div class="sidebarContentTips" >
      
         @Html.Action("TipsdisplayableItems", "Recipe", new { search = ViewBag.search, page = ViewBag.page})
      

    </div>

