﻿<center>
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td id="bodycell" style="border: 2.0px solid #D8D8B1; width: 700.0px;">
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr><td colspan="6"><a target="_blank" href="http://southtown.procomarketing.com/"><img src="http://southtown.procomarketing.com/EmailImage/email_header.jpg" alt="Home" style="border: 0.0;"></a></td></tr>
                            <tr>
                                <td><a target="_blank" href="http://southtown.procomarketing.com/health-research/"><img src="http://southtown.procomarketing.com/EmailImage/email_tab_healthresearch.png" alt="Health Research" style="border: 0.0;"></a></td>
                                <td><a target="_blank" href="http://southtown.procomarketing.com/recipes/"><img src="http://southtown.procomarketing.com/EmailImage/email_tab_recipes.png" alt="Recipes" style="border: 0.0;"></a></td>
                                <td><a target="_blank" href="http://southtown.procomarketing.com/specials/"><img src="http://southtown.procomarketing.com/EmailImage/email_tab_specials.png" alt="Special Offers" style="border: 0.0;"></a></td>
                                <td><a target="_blank" href="http://southtown.procomarketing.com/tips/"><img src="http://southtown.procomarketing.com/EmailImage/email_tab_tips.png" alt="Tips and Guides" style="border: 0.0;"></a></td>
                                <td><a target="_blank" href="http://southtown.procomarketing.com/favorite-links/"><img src="http://southtown.procomarketing.com/EmailImage/email_tab_links.png" alt="Links" style="border: 0.0;"></a></td>
                                <td><a target="_blank" href="http://southtown.procomarketing.com/shoppinglists/"><img src="http://southtown.procomarketing.com/EmailImage/email_tab_shoppinglist.png" alt="Shopping List" style="border: 0.0;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td valign="top" id="content_table" style="padding-left: 10.0px;">
                                    <table cellspacing="0" cellpadding="10" align="center">
                                        <tbody>
                                            <tr>
                                                <td id="recipe_cell" valign="top" style="width: 420.0px; font-family: Tahoma, Geneva, sans-serif;">
                                                    @*For Change the look and feel of this section please go to Themes==>SouthTownHealthFoods==>Views==>Recipe==>DailyRecipeEmail.cshtml*@
                                                    <p>@Html.Action("Public_recipe_displayforEmail", "Recipe")</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="font-family: Tahoma, Geneva, sans-serif;">
                                                    @*For Change the look and feel of this section please go to Admin==>Content Management==>WeeklyFeaturedArticle==>Edit From Browser*@
                                                    @Html.Action("TopicBlock", "Topic", new { systemName = "WeeklyFeaturedArticle" })
                                                    @*For Change the look and feel of this section please go to Admin==>Content Management==>NaturalInsight==>Edit From Browser*@
                                                    @Html.Action("TopicBlock", "Topic", new { systemName = "NaturalInsight" })
                                                </td>
                                                <td valign="top" style="font-family: Tahoma, Geneva, sans-serif;">
                                                    <h1 style="font-size: 24.0px; color: #993300; margin: 0.0px;">Featured Items</h1>
                                                    @*For Change the look and feel of this section please go to Themes==>SouthTownHealthFoods==>Views==>Shared==>_FeaturedItemsEmail.cshtml*@
                                                    @Html.Action("FeaturedProductAtEmail", "Recipe", new { area = "" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</center>
