﻿@model TopicModel
@using Nop.Web.Models.Topics;
@{
    var isPopup = ViewBag.IsPopup;
    if (isPopup == null || isPopup == false)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        /*pop-up windows*/
        Layout = "~/Views/Shared/_RootPopup.cshtml";
    }

    if (!Model.IsPasswordProtected)
    {
        Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
        Html.AddMetaDescriptionParts(Model.MetaDescription);
        Html.AddMetaKeywordParts(Model.MetaKeywords);
    }
}
@if (Model.IsPasswordProtected)
{
    // For popup topics, use a minimal layout that includes the Ajax and jQuery scripts
    if (isPopup != null && isPopup == true)
    {
        Layout = "~/Views/Shared/_RootPopup.cshtml";
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ph-topic').hide();
            $('#ph-password #password').select().focus();
        });
        function OnAuthenticateSuccess(context) {
            if (context.Authenticated) {
                $('#ph-title .page-title h1').html(context.Title);
                if ($('#ph-title .page-title h1').text().length == 0) {
                    $('#ph-title').hide();
                }
                $('#ph-topic .page-body').html(context.Body);
                $('#ph-password').hide();
                $('#ph-topic').show();
            }
            else {
                $('#password-error').text(context.Error);
                $('#ph-password #password').select().focus();
            }
        }
    </script>
    <div class="topic-password" id="ph-password">
        @using (Ajax.BeginRouteForm("TopicAuthenticate", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "OnAuthenticateSuccess",
            LoadingElementId = "authenticate-progress"
        }))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="enter-password-title">
                @T("Topic.EnterPassword")
            </div>
            <div class="enter-password-form">
                @Html.Password("password")
                <input type="submit" value="@T("Topic.Button")" class="button-1 topic-password-button" />
                <span id="authenticate-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            </div>
            <div class="password-error">
                <span id="password-error"></span>
            </div>
        }
    </div>
}
<div class="row clearfix">
    <div class="topic-page">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div class="panel panel-default form-panel devider-right" id="ph-topic">
                <div class="panel-heading">
                    <h3>@Model.Title</h3>
                </div>
                <div class="panel-body">
                    @Html.Raw(Model.Body)
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            @Html.Partial("_RecipeSearch")
            @Html.Partial("_FeaturedItemsLoginPage", Model.SpecialsModel)
        </div>
    </div>
</div>
