@model string
@using Nop.Core;
@using Nop.Web.Framework.UI;
@{
    //register CSS and JS
    //Html.AddCssFileParts(@Url.Content("~/Administration/Content/fileuploader.css"));
    //Html.AddScriptParts(@Url.Content("~/Administration/Scripts/fileuploader.js"));

    //other variables
    var random = CommonHelper.GenerateRandomInteger();
    var clientId = "file" + random;
    //var pictureService = EngineContext.Current.Resolve<Nop.Services.Media.IPictureService>();
    //var picture = pictureService.GetPictureById(Model);
}
<div id="@(clientId + "value")">
    @Html.HiddenFor(x => x)
</div>
@*<div id="@(clientId + "image")">
        <img src="@(pictureService.GetPictureUrl(Model, 100, true))" />
    </div>*@

<br />
<div id="@clientId">
    <noscript>
        <p>
            Please enable JavaScript to use file uploader.
        </p>
        <!-- or put a simple form for upload here -->
    </noscript>
</div>
<script type="text/javascript">
  
    (function ($) {
        var uploader@(clientId) = new qq.FileUploader({
            element: document.getElementById('@clientId'),
            action: '@(Url.Content("/fileupload"))',
            onComplete: function (id, fileName, responseJSON) {
                if (responseJSON.success) {
                    $("#@(clientId + "value") input").val(responseJSON.uploadedFileName);
                    tinyMCE.getInstanceById("TemplateBody").getBody().innerHTML = responseJSON.templateHtml;
                }
                else {
                    alert(responseJSON.errorMessage);
                }

            },
            strings: {
                upload: "@T("Common.FileUploader.Upload")",
                drop: "@T("Common.FileUploader.DropFiles")",
                cancel: "@T("Common.FileUploader.Cancel")",
                failed: "@T("Common.FileUploader.Failed")"
            }
        });
    })(jQuery);
</script>
