﻿@using Nop.Plugin.OrderForm.Models;
@using Nop.Web.Framework
@*@using Telerik.Web.Mvc.UI*@
@model OrderFormModel

@functions 
{
	string checkedImagePath(string decission, string modelValue)
	{
		if(decission == modelValue)
		{
			return "http://brookhavenmarket.com/content/employment/checked.png";
		}
		else
		{
			return "http://brookhavenmarket.com/content/employment/unchecked.png";
		}
	}
}				 

<div>
	<style type="text/css">
		td
		{
			font-family: Times New Roman;
			font-size: 11pt;
			vertical-align: top;
			white-space: normal;
		}
		.clear
		{
			clear: both;
		}
		.leftfloat
		{
			float: left;
		}
		.padright5
		{
			padding-right: 5px;
		}
		#content
		{
			width: 900px;
			font-family: Times New Roman;
			font-size: 11pt;
		}
		#mailheader
		{
			width: 100%;
			float: left;
			height: 100px;
		}
		#imglogo
		{
			width: 137px;
			float: left;
			height: 78px;
		}
		#headertext
		{
			font-family: Times New Roman;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20pt;
			padding: 40px 0 0 100px;
			float: left;
			text-decoration: underline;
		}
		.headers
		{
			/*font-family: Franklin Gothic Medium;*/
			text-transform: uppercase;
			font-weight: bold;
			float: left;
			font-size: 11pt;
		}
		.formfont
		{
			font-family: Franklin Gothic Medium;
			font-size: 10pt;
		}
		#empname td
		{
			width: 330px;
			text-align: center;
			height: 15px;
			text-transform: uppercase;
		}
		.imgcheck
		{
			height: 16px;
			width: 18px;
		}
		.value
		{
			width: 100%;
			text-transform: none;
			text-decoration: underline;
			margin: 0 5px;
		}
		.thistable td
		{
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			margin: 0;
			padding: 2px;
		}
		.workweek
		{
			height: 50px;
			vertical-align: top;
			width: 120px;
		}
		.addunderline
		{
			text-decoration: underline;
			margin: 0 5px;
		}
		p.MsoNormal
		{
			margin-bottom: .0001pt;
			font-size: 12.0pt;
			font-family: "Times New Roman" , "serif";
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0in;
		}
	</style>
	<div id="content">
		<div class="mailheader">
			<div>
				<img id="imglogo" src="http://brookhavenmarket.com/content/employment/logo.jpg" /></div>
			<div id="headertext">
                <b> Prisco Family Market Holiday Orders</b></div>
		</div>
        <div class="clear"></div><br>
        Place your special holiday order for Fresh locallly raised Ho-Ka turkeys and our delicious Farmer's Market Pies.
        Please note, if you are ordering for multiple pick-up dates fill out a separate order for each pick-up date.<br><br>
        <b><u>Watch for Order Condfirmation</u></b>&nbsp; Once you send us your holidy special order watch your email.
        You should recieve an order confirmation response within 24 hours of the time you send it.  If you do not recieve an confirmation call the store at <b>(630) 264-9400</b>.
        <div style="width: 90%" class="leftfloat">
            <div id="personal">
                <span class="headers">Personal Information</span>
            </div>
            <span class="formfont" style="float: right; text-decoration: underline;">DATE: @DateTime.Now </span>
        </div>
		<br />
		<div id="empname">
			<table>
				<tr>
					<td style="text-align: left; height: 20px;">
						<b>YOUR NAME:</b>
					</td>
				</tr>
				<tr>
					<td>
						<span class="value">______________ @Model.FirstName ______________</span>
					</td>
					<td>
						<span class="value">______________ @Model.MiddleName ______________</span>
					</td>
					<td>
						<span class="value">______________ @Model.LastName ______________</span>
					</td>
				</tr>
				<tr>
					<td>
						Last
					</td>
					<td>
						First
					</td>
					<td>
						Middle
					</td>
				</tr>
				<tr>
					<td style="text-align: left; height: 20px;">
						<b>ADDRESS:</b>
					</td>
				</tr>
				<tr>
					<td>
						<span class="value">_____ @Model.Street _____</span><br />
						Street Address
					</td>
					<td style="text-align: left;">
						Home Phone No. <span class="value">_____ @Model.HomePhone _____</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="value">____________ @Model.City ____________</span><br />
						City
					</td>
					<td style="text-align: left;">
						Cell No. <span class="value">_____ @Model.Cell _____</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="value">_____________ @Model.StateZip _____________</span>
					</td>
					<td style="text-align: left;">
						SS # <span class="value">__________ @Model.SS __________</span>
					</td>
				</tr>
			</table>
		</div>
		<br />
		<div style="font-size: 11pt;">
			<div class="leftfloat" style="width: 800px;">
				<span class="leftfloat padright5">Are you at least 16 years old? (Please check)</span>
				<span class="leftfloat">Yes<img alt="0" src='@checkedImagePath("Yes", Model.Age16)'
					class="imgcheck" />No<img alt="1" src='@checkedImagePath("No", Model.Age16)'
						class="imgcheck"></span>
			</div>
			<br />
			<div class="leftfloat" style="width: 800px;">
				<span class="leftfloat padright5">Are you at least 18 years old? (Please check)</span>
				<span class="leftfloat">Yes<img alt="0" src='@checkedImagePath("Yes", Model.Age18)'
					class="imgcheck" />No<img alt="1" src='@checkedImagePath("No", Model.Age18)'
						class="imgcheck"></span>
			</div>
			<br />
			<div class="leftfloat" style="width: 800px;">
				<span class="leftfloat padright5">Are you legally authorized for employment in the
					United States? (Please check) </span><span class="leftfloat">Yes<img alt="0" src='@checkedImagePath("Yes", Model.UsaWorkPermit)'
						class="imgcheck" />No<img alt="1" src='@checkedImagePath("No", Model.UsaWorkPermit)'
							class="imgcheck"></span>
			</div>
			<br />
			<div class="leftfloat" style="width: 800px;">
				<span class="leftfloat padright5">If hired, will you be able to provide proof of legal
					eligibility to work? (Please check)</span> <span class="leftfloat">Yes<img alt="0"
						src='@checkedImagePath("Yes", Model.UsaWorkPermitProof)' class="imgcheck" />No<img
							alt="1" src='@checkedImagePath("No", Model.UsaWorkPermitProof)'
							class="imgcheck"></span>
			</div>
			<br />
			<div class="leftfloat" style="width: 800px;">
				<span class="leftfloat padright5">How did you hear we were hiring? </span><span class="leftfloat">
					<span class="leftfloat addunderline">I________ @Model.HiringNewsSource ______</span></span>
			</div>
			<br />
		</div>
		<br />
		<div class="leftfloat" style="width: 90%">
			<span class="headers">Employment Desired</span>
			<br />
		</div>
		<br />
		<table>
			<tr>
				<td>
					Position:
				</td>
				<td class="addunderline">
					@Model.Position
				</td>
				<td style="padding-left: 10px">
					Date You Can Start:
				</td>
				<td class="addunderline">
					@Model.StartDate
				</td>
				<td style="padding-left: 10px">
					Salary Desired:
				</td>
				<td class="addunderline">
					@Model.Salary _______
				</td>
			</tr>
			<tr>
				<td>
					Store:
				</td>
				<td class="addunderline">
					@Model.Store _________
				</td>
			</tr>
			<tr>
				<td>
					Department:
				</td>
				<td class="addunderline">
					@Model.Department ________
				</td>
			</tr>
		</table>
		<br />
		Please list your availability to work:
		<table class="thistable" width="100%" border="0" cellspacing="0" cellpadding="0"
			style="border-top: 1px solid black; border-left: 1px solid black;">
			<tr>
				<td>
					Sunday
				</td>
				<td>
					Monday
				</td>
				<td>
					Tuesday
				</td>
				<td>
					Wednesday
				</td>
				<td>
					Thursday
				</td>
				<td>
					Friday
				</td>
				<td>
					Saturday
				</td>
			</tr>
			<tr>
				<td class="workweek">
					@Model.AvailableSunday
				</td>
				<td class="workweek">
					@Model.AvailableMonday
				</td>
				<td class="workweek">
					@Model.AvailableTuesday
				</td>
				<td class="workweek">
					@Model.AvailableWednesday
				</td>
				<td class="workweek">
					@Model.AvailableThursday
				</td>
				<td class="workweek">
					@Model.AvailableFriday
				</td>
				<td class="workweek">
					@Model.AvailableSaturday
				</td>
			</tr>
		</table>
		<br />
		<div class="leftfloat" style="width: 100%; padding: 5px;">
			<span class="leftfloat padright5">What is the number of maximum hours you can work
				per week? <span class="addunderline">@Model.MaxWorkingHour</span> What is the number
				of hours you prefer to work per week? <span class="addunderline">@Model.PreferWorkingHour ______</span></span>
			<span class="leftfloat padright5">To better serve our customers do you speak any languages
				other than English? <span class="addunderline">@Model.OtherLanguage __________________</span>
				<img alt="prefernotto" src='@checkedImagePath("on", Model.PreferNotAnswer)'
					height="16" width="18" />Prefer not to answer. </span>
		</div>
		<br />
		<br />
		<div class="leftfloat" style="width: 100%; padding: 5px;">
			<span class="leftfloat padright5"><span class="leftfloat">EVER APPLIED TO THIS COMPANY
				BEFORE?&nbsp;</span><span class="leftfloat">Yes<img alt="0" src='@checkedImagePath("Yes", Model.AppliedBefore)'
					class="imgcheck" />No<img alt="1" src='@checkedImagePath("No", Model.AppliedBefore)'
						class="imgcheck"></span> WHERE? <span class="addunderline">@Model.Where _______________</span>
				WHEN? <span class="addunderline">@Model.When _______________</span></span>
		</div>
		<br />
		<br />
		<div class="leftfloat" style="width: 90%">
			<span class="headers">Education History</span>
			<br />
		</div>
		<table class="thistable" width="100%" cellpadding="0" cellspacing="0" style="border-top: 1px solid black;
			border-left: 1px solid black;">
			<tr>
				<td style="border-right: none; width: 150px; white-space: nowrap;">
					NAME & LOCATION OF SCHOOL
				</td>
				<td style="border-left: none">
				</td>
				<td>
					Years Completed
				</td>
				<td>
					STATUS
				</td>
				<td>
					SUBJECT STUDIED
				</td>
			</tr>
			<tr style="height: 80px;">
				<td>
					HIGH SCHOOL
				</td>
				<td>
					@Model.HighSchoolName
				</td>
				<td>
					@Model.HighSchoolComplete
				</td>
				<td>
					<img alt="0" src='@checkedImagePath("Graduated/GED", Model.HighSchoolStatus)'
						class="imgcheck">
					Graduated/GED
					<br />
					<img alt="1" src='@checkedImagePath("Still in school", Model.HighSchoolStatus)'
						class="imgcheck">
					Still in school
					<br />
					<img alt="2" src='@checkedImagePath("Not	currently in school", Model.HighSchoolStatus)'
						class="imgcheck">
					Not currently in school
				</td>
				<td>
					@Model.HighSchoolSubject
				</td>
			</tr>
			<tr style="height: 80px;">
				<td>
					COLLEGE
				</td>
				<td>
					@Model.CollegeName
				</td>
				<td>
					@Model.CollegeComplete
				</td>
				<td>
					<img alt="0" src='@checkedImagePath("Graduated/GED", Model.CollegeStatus)'
						class="imgcheck">
					Graduated/GED
					<br />
					<img alt="1" src='@checkedImagePath("Still in school", Model.CollegeStatus)'
						class="imgcheck">
					Still in school
					<br />
					<img alt="2" src='@checkedImagePath("Not	currently in school", Model.CollegeStatus)'
						class="imgcheck">
					Not currently in school
				</td>
				<td>
					@Model.CollegeSubject
				</td>
			</tr>
			<tr style="height: 80px;">
				<td>
					OTHER
				</td>
				<td>
					@Model.OtherName
				</td>
				<td>
					@Model.OtherComplete
				</td>
				<td>
				<img alt="0" src='@checkedImagePath("Graduated/GED", Model.OtherStatus)'
						class="imgcheck">
					Graduated/GED @Model.OtherStatus
					<br />
					<img alt="1" src='@checkedImagePath("Still in school", Model.OtherStatus)'
						class="imgcheck">
					Still in school
					<br />
					<img alt="2" src='@checkedImagePath("Not	currently in school", Model.OtherStatus)'
						class="imgcheck">
					Not currently in school
				</td>
				<td>
					@Model.OtherSubject
				</td>
			</tr>
		</table>
		<br />
		<br />
		<div class="leftfloat" style="width: 90%">
			<span class="headers">Employment Experience</span><span style="font-size: 8pt;">(Please
				list your employment experience, starting with the most recent first.)</span>
			<br />
		</div>
		<div class="leftfloat" style="width: 100%; padding: 5px;">
			<span class="leftfloat">Are you currently employed?&nbsp;</span><span class="leftfloat">Yes<img
				alt="0" src='@checkedImagePath("Yes", Model.CurrentlyEmployed)'
				class="imgcheck" />No<img alt="1" src='@checkedImagePath("No", Model.CurrentlyEmployed)'
					class="imgcheck"></span>
		</div>
		<div class="leftfloat" style="width: 100%; padding: 5px;">
			<span class="leftfloat">If yes, may we contact your current employer?&nbsp;</span><span
				class="leftfloat">Yes<img alt="0" src='@checkedImagePath("Yes", Model.ContactCurrentEmployerPermission)'
					class="imgcheck" />No<img alt="1" src='@checkedImagePath("No", Model.ContactCurrentEmployerPermission)'
						class="imgcheck"></span> <span class="leftfloat" style="font-size: 9pt;">(Brookhaven
							Marketplace will only contact current employer only if you consent. Our Company
							reserves the right to contact the other employers listed without any further notice
							to you.)</span>
		</div>
		<br />
		<table class="thistable" width="100%" cellpadding="0" cellspacing="0" style="border-top: 1px solid black;
			border-left: 1px solid black;">
			<tr style="text-align: center; height: 40px;">
				<td style="width: 10%;">
					<b>FROM</b>
					<br />
					<span style="font-size: 8pt;">MONTH & YEAR</span>
				</td>
				<td style="width: 10%;">
					<b>TO</b>
					<br />
					<span style="font-size: 8pt;">MONTH & YEAR</span>
				</td>
				<td style="width: 30%; font-size: 9pt;">
					NAME, ADDRESS & PHONE OF EMPLOYER
				</td>
				<td style="width: 10%;">
					SALARY
				</td>
				<td style="width: 20%;">
					POSITION/DUTIES
				</td>
				<td style="width: 20%;">
					REASON FOR LEAVING
				</td>
			</tr>
			<tr style="height: 30px;">
				<td>
					@Model.FromMonthYear1

				</td>
				<td>
					@Model.ToMonthYear1
				</td>
				<td>
					@Model.Employer1
				</td>
				<td>
					@Model.Salary1
				</td>
				<td>
					@Model.Position1
				</td>
				<td>
					@Model.LeavingReason1
				</td>
			</tr>
			<tr style="height: 30px;">
				<td>
					@Model.FromMonthYear2

				</td>
				<td>
					@Model.ToMonthYear2
				</td>
				<td>
					@Model.Employer2
				</td>
				<td>
					@Model.Salary2
				</td>
				<td>
					@Model.Position2
				</td>
				<td>
					@Model.LeavingReason2
				</td>
			</tr>
			<tr style="height: 30px;">
				<td>
					@Model.FromMonthYear3

				</td>
				<td>
					@Model.ToMonthYear3
				</td>
				<td>
					@Model.Employer3
				</td>
				<td>
					@Model.Salary3
				</td>
				<td>
					@Model.Position3
				</td>
				<td>
					@Model.LeavingReason3
				</td>
			</tr>
			<tr style="height: 30px;">
				<td>
					@Model.FromMonthYear4

				</td>
				<td>
					@Model.ToMonthYear4
				</td>
				<td>
					@Model.Employer4
				</td>
				<td>
					@Model.Salary4
				</td>
				<td>
					@Model.Position4
				</td>
				<td>
					@Model.LeavingReason4
				</td>
			</tr>
		</table>
		<div class="leftfloat" style="width: 90%">
			<span class="headers">GENERAL INFORMATION</span>
		</div>
		<br />
		<table class="thistable" width="100%" cellpadding="0" cellspacing="0" style="table-layout: fixed;
			height: 200px; border-top: 1px solid black; border-left: 1px solid black;">
			<tr>
				<td style="font-size: 8pt;">
					<span>SUBJECT OF SPECIAL STUDY /RESERCH</span><br />
					<span>WORK OR SPECIAL TRAINING/SKILLS</span>
				</td>
			</tr>
			<tr>
				<td>
					@Model.SpecialStudy
				</td>
			</tr>
			<tr>
				<td>
					@Model.SpecialTraining
				</td>
			</tr>
			<tr>
				<td style="font-size: 8pt;">
					Military Experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position/Supervisor
				</td>
			</tr>
		</table>
		<br />
		<div class="leftfloat" style="width: 100%">
			<span class="headers">REFERENCES</span><span style="padding-left: 10px; font-size: 9pt;">GIVE
				BELOW THE NAMES OF THREE PERSONS NOT RELATED TO YOU, WHOM YOU HAVEKNOWN AT LEAST
				ONE YEAR.</span>
			<br />
		</div>
		<table class="thistable" width="100%" cellpadding="0" cellspacing="0" style="border-top: 1px solid black;
			border-left: 1px solid black;">
			<tr style="text-align: center; height: 30px;">
				<td style="width: 20%; white-space: pre-wrap">
					<b>NAME</b>
				</td>
				<td style="width: 30%;">
					<b>ADDRESS</b>
				</td>
				<td style="width: 15%;">
					<b>PHONE NUMBER</b>
				</td>
				<td style="width: 20%;">
					<b>BUSINESS</b>
				</td>
				<td style="width: 15%;">
					<b>Relationship</b>
				</td>
			</tr>
			<tr style="height: 30px;">
				<td>
					@Model.Name1
				</td>
				<td>
					@Model.Address1
				</td>
				<td>
					@Model.PhoneNumber1
				</td>
				<td>
					@Model.Business1
				</td>
				<td>
					@Model.Relationship1
				</td>
			</tr>
			<tr style="height: 30px;">
				<td>
					@Model.Name2
				</td>
				<td>
					@Model.Address2
				</td>
				<td>
					@Model.PhoneNumber2
				</td>
				<td>
					@Model.Business2
				</td>
				<td>
					@Model.Relationship2
				</td>
			</tr>
			<tr style="height: 30px;">
				<td>
					@Model.Name3
				</td>
				<td>
					@Model.Address3
				</td>
				<td>
					@Model.PhoneNumber3
				</td>
				<td>
					@Model.Business3
				</td>
				<td>
					@Model.Relationship3
				</td>
			</tr>
		</table>
		<br />
		<div class="leftfloat" style="width: 100%">
			<span class="headers">PREVIOUS CONVICTION INFORMATION</span><br />
			<br />
			<span style="font-weight: bold; font-size: 10pt;">The existence of a conviction will
				not automatically disqualify you as a job applicant.</span> <span style="padding-left: 5px;
					font-size: 9pt;">Do not answer "yes" if the conviction has been expunged, annulled,
					sealed, statutorily eradicated, pardoned, dismissed upon condition of probation,
					or is only a minor traffic violation.</span>
		</div>
		<div class="leftfloat" style="width: 100%; padding: 5px;">
			<span class="leftfloat">Have you ever been convicted of a crime other than a minor
				traffic violation?&nbsp;</span><span class="leftfloat">Yes<img alt="0" src='@checkedImagePath("Yes", Model.ConvictionExplaination)'
					class="imgcheck" />No or No Record<img alt="1" src='@checkedImagePath("No", Model.ConvictionExplaination)'
						class="imgcheck"></span>
		</div>
		<div class="leftfloat" style="width: 100%;">
			<span class="leftfloat">If yes, please explain: &nbsp;</span><span class="addunderline">____ @Model.Explaination ___</span>
		</div>
		<div class="leftfloat" style="width: 100%">
			<span class="headers">AUTHORIZATION</span><br />
		</div>
		<span class="leftfloat" style="width: 100%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"I
			certify that the fact contained in this application are true and complete to the
			best of my knowledge and understand that, if employed, falsified statements on this
			application shall be grounds for dismissal.</span> <span class="leftfloat" style="width: 100%;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I authorized investigation of all statements
				contained herein and the references and employers listed above to give you any and
				all information concerning my previous employment and my any pertinent information
				they may have, personal or otherwise, and release the company from all liability
				for any damage that may result from utilization of such information.</span>
		<span class="leftfloat" style="width: 100%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I
			also understand and agree that no representative of the company has any authority
			to enter into any agreement for employment for any specified period of time, or
			to make any agreement contrary to the foregoing, unless it is in writing and signed
			by an authorized company representative. </span><span class="leftfloat" style="width: 100%;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This waiver does not permit the release
				or use of disability-related or medical information in a manner prohibited by the
				Americans with Disabilities Act (ADA) and other relevant federal and state laws."</span>
		<span class="leftfloat" style="width: 100%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
			application is just that, an application. It is not an offer, promise or contract
			of employment, either expressed or implied. All of our employees are "at will" employees,
			which means that employees can terminate the employment at any time, for any or
			no reason. Brookhaven Marketplace reserves the right to change and/or terminate
			an employee’s employment, with or without notice or cause at any time.</span>
		<div class="leftfloat" style="width: 100%">
			<br />
			<br />
			<span class="leftfloat">DATE:</span><span class="leftfloat addunderline">@Model.DateToday ____________________</span>
			<span class="leftfloat">SIGNATURE:</span><span class="leftfloat addunderline">
				@Model.Signature ________________________</span>
		</div>
	</div>
</div>
