﻿<div>
	    <style type="text/css">
        .master-wrapper-center-1
        {
            margin-left: 5px;
        }
        .btn
        {
            width: 70px;
        }
        td
        {
            font-family: Calibri;
            font-size: 10pt;
            vertical-align: middle;
        }
        .clear
        {
            clear: both;
        }
        .leftfloat
        {
            float: left;
        }
        .padright5
        {
            padding-right: 5px;
        }
        #content
        {
            width: 900px;
            font-family: Calibri;
            font-size: 11pt;
        }
        #mailheader
        {
            width: 100%;
            float: left;
            height: 100px;
        }
        #imglogo
        {
            width: 150px;
            float: left;
            height: 100px;
        }
        #headertext
        {
            font-family: Times New Roman;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20pt;
            padding: 15px 0 0 220px;
            float: left;
            text-decoration: underline;
        }
        h5
        {
            /*font-family: Franklin Gothic Medium;*/
            text-transform: uppercase;
            font-weight: bold;
            float: left;
        }
        .formfont
        {
            font-family: Franklin Gothic Medium;
            font-size: 10pt;
        }
        #empname td
        {
            /*width: 250px;
            text-align: center;*/
        }
        .thistable td
        {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            margin: 0;
            padding: 1px 5px 1px 1px;
        }
        .rblTable td
        {
            border: none;
        }
        .workweek
        {
            height: 50px;
            vertical-align: top;
        }
    </style>
    <div id="content">
			<div class="mailheader">
				<div id="headertext">Prisco Family Market Holiday Orders</div>
			</div>
        <div class="clear"></div><br>
        Place your special holiday order for Fresh locallly raised Ho-Ka turkeys and our delicious Farmer's Market Pies.
        Please note, if you are ordering for multiple pick-up dates fill out a separate order for each pick-up date.<br><br>
        <b>Watch for Order Condfirmation</b>Once you send us your holidy special order watch your email.  You should recieve an order confirmation response within 24 hours of the time you send it.  If you do not recieve an confirmation call the store at (630) 264-9400.
        <div style="width: 90%" class="leftfloat">
            <div id="personal">
                <h5>Personal Information</h5>
            </div>
            <span style="float: right;" class="formfont">DATE:<label id="">12/18/2012</label></span><br />
        </div><br />
			<div id="empname">
				<table>
					<tbody>
						<tr>
							<td><b>YOUR NAME:</b></td>
							<td></td>
						</tr>
						<tr>
							<td>Last:</td>
							<td>%EmailCv.LastName%</td>
						</tr>
						<tr>
							<td>First:</td>
							<td>%EmailCv.FirstName%</td>
						</tr>
						<tr>
							<td>Middle:</td>
							<td>%EmailCv.MiddleName%</td>
						</tr>
						<tr>
							<td><b>ADDRESS:</b></td>
							<td></td>
						</tr>
						<tr>
							<td>Street Address:</td>
							<td>%EmailCv.Street%</td>
						</tr>
						<tr>
							<td>City:</td>
							<td>%EmailCv.City%</td>
						</tr>
						<tr>
							<td>State &amp; Zip Code:</td>
							<td>%EmailCv.StateZip%</td>
						</tr>
						<tr>
							<td>Home Phone No.:</td>
							<td>%EmailCv.HomePhone%</td>
						</tr>
						<tr>
							<td>Cell No.:</td>
							<td>%EmailCv.Cell%</td>
						</tr>
						<tr>
							<td>SS #:</td>
							<td>%EmailCv.SS%</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br />
			<div style="font-size: 10pt;">
				<div style="width: 800px; padding: 5px;" class="leftfloat">
					<span class="leftfloat padright5">Are you at least 16 years old? (Please check)</span>
					<table border="0" id="">
						<tbody>
							<tr>
								<td>%EmailCv.Age16%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
				<div style="width: 800px; padding: 5px;" class="leftfloat">
					<span class="leftfloat padright5">Are you at least 18 years old? (Please check)</span>
					<table border="0" id="">
						<tbody>
							<tr>
								<td>%EmailCv.Age18%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
				<div style="width: 800px; padding: 5px;" class="leftfloat">
					<span class="leftfloat padright5">Are you legally authorized for employment in the United	States? (Please check)</span>
					<table border="0" id="">
						<tbody>
							<tr>
								<td>%EmailCv.UsaWorkPermit%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
				<div style="width: 800px; padding: 5px;" class="leftfloat">
					<span class="leftfloat padright5">If hired, will you be able to provide proof of legal	eligibility to work? (Please check)</span>
					<table border="0" id="">
						<tbody>
							<tr>
								<td>%EmailCv.UsaWorkPermitProof%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<br />
				<div style="width: 800px; padding: 5px;" class="leftfloat">
					<span class="leftfloat padright5">How did you hear we were hiring? </span>
					<span class="leftfloat">%EmailCv.HiringNewsSource%</span>
				</div>
				<br />
			</div>
			<br />
			<div style="width: 90%" class="leftfloat">
				<h5>Employment Desired</h5><br />
			</div>
			<br />
			<table>
				<tbody>
					<tr>
						<td>Position:</td>
						<td>%EmailCv.Position%</td>
						<td>Date You Can Start:</td>
						<td>%EmailCv.StartDate%</td>
						<td>Salary Salary:</td>
						<td>%EmailCv.Salary%</td>
					</tr>
					<tr>
						<td>Store:</td>
						<td>%EmailCv.Store%</td>
					</tr>
					<tr>
						<td>Department:</td>
						<td>%EmailCv.Department%</td>
					</tr>
				</tbody>
			</table>
			<br />
			Please list your availability to work:
			<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
				<tbody>
					<tr>
						<td>Sunday</td>
						<td>Monday</td>
						<td>Tuesday</td>
						<td>Wednesday</td>
						<td>Thursday</td>
						<td>Friday</td>
						<td>Saturday</td>
					</tr>
					<tr>
						<td class="workweek">%EmailCv.AvailableSunday%</td>
						<td class="workweek">%EmailCv.AvailableMonday%</td>
						<td class="workweek">%EmailCv.AvailableTuesday%</td>
						<td class="workweek">%EmailCv.AvailableWednesday%</td>
						<td class="workweek">%EmailCv.AvailableThursday%</td>
						<td class="workweek">%EmailCv.AvailableFriday%</td>
						<td class="workweek">%EmailCv.AvailableSaturday%</td>
					</tr>
				</tbody>
			</table>
			<br>
			<div style="width: 100%; padding: 5px;" class="leftfloat">
				<span class="leftfloat padright5">What is the number of maximum hours you can work per	week?
					%EmailCv.MaxWorkingHour%				</span> 				<span class="leftfloat padright5">What is the number of hours you prefer to work per week?
					%EmailCv.PreferWorkingHour%
				</span>
				<span class="leftfloat padright5">To better serve our customers do you speak any languages other than English?
					%EmailCv.OtherLanguage%				</span> 
				<span class="leftfloat padright5">
					<span class="leftfloat"><label	for="">Prefer not to answer.</label> %EmailCv.PreferNotAnswer%</span>
				</span>
			</div>
			<div style="width: 100%; padding: 5px;" class="leftfloat">
				<span class="leftfloat padright5">
					<span class="leftfloat">EVER APPLIED TO THIS COMPANY BEFORE?</span> 
					<span style="padding-right: 15px" class="leftfloat">
						<table border="0" id="">
							<tbody>
								<tr>
									<td>%EmailCv.AppliedBefore%</td>
								</tr>
							</tbody>
						</table>
					</span>
					WHERE? 
					<span class="addunderline">%EmailCv.Where%</span> 
					WHEN? 
					<span class="addunderline">%EmailCv.When%</span>
				</span>
			</div>
			<br />
			<br />
			<div style="width: 90%" class="leftfloat">
				<h5>Education History</h5><br />
			</div>
			<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; border-top: 1px solid black;	border-left: 1px solid black;" class="thistable">
				<tbody>
					<tr>
						<td style="border-right: none">
							NAME &amp; LOCATION OF SCHOOL
						</td>
						<td style="border-left: none"></td>
						<td>
							Years Completed
						</td>
						<td>
							STATUS
						</td>
						<td>
							SUBJECT STUDIED
						</td>
					</tr>
					<tr style="height: 60px;">
						<td>
							HIGH SCHOOL
						</td>
						<td style="vertical-align: top;">
							%EmailCv.HighSchoolName%
						</td>
						<td style="vertical-align: top;">
							%EmailCv.HighSchoolComplete%
						</td>
						<td style="vertical-align: top">
							%EmailCv.HighSchoolStatus%
						</td>
						<td style="vertical-align: top;">
							%EmailCv.HighSchoolSubject%
						</td>
					</tr>
					<tr style="height: 60px;">
						<td>COLLEGE</td>
						<td style="vertical-align: top;">
							%EmailCv.CollegeName%
						</td>
						<td style="vertical-align: top;">
							%EmailCv.CollegeComplete%
						</td>
						<td style="vertical-align: top">
							%EmailCv.CollegeStatus%
						</td>
						<td style="vertical-align: top;">
							%EmailCv.CollegeSubject%
						</td>
					</tr>
					<tr style="height: 60px;">
						<td>COLLEGE</td>
						<td style="vertical-align: top;">
							%EmailCv.OtherName%
						</td>
						<td style="vertical-align: top;">
							%EmailCv.OtherComplete%
						</td>
						<td style="vertical-align: top">
							%EmailCv.OtherStatus%
						</td>
						<td style="vertical-align: top;">
							%EmailCv.OtherSubject%
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<br>
			<div style="width: 90%" class="leftfloat">
				<h5>Employment Experience</h5>
				<span style="font-size: 8pt;">(Please list your employment experience, starting with	the most recent first.)</span>
				<br>
			</div>
			<div style="width: 100%; padding: 5px;" class="leftfloat">
				<span class="leftfloat">Are you currently employed?&nbsp;</span>
				<span style="padding-right: 15px"	class="leftfloat">
					<table border="0" id="">
						<tbody>
							<tr>
								<td>%EmailCv.CurrentlyEmployed%</td>
							</tr>
						</tbody>
					</table>
				</span>
			</div>
			<div style="width: 100%; padding: 5px;" class="leftfloat">
				<span class="leftfloat">If yes, may we contact your current employer? &nbsp;</span>
				<span style="padding-right: 15px" class="leftfloat">
					<table border="0" id="">
						<tbody>
							<tr>
								<td>%EmailCv.ContactCurrentEmployerPermission%</td>
							</tr>
						</tbody>
					</table>
				</span>
				<span style="font-size: 8pt;" class="leftfloat">(Brookhaven Marketplace will
						only contact current employer only if you consent. Our Company reserves the right
						to contact the other employers listed without any further notice to you.)
				</span>
			</div>
			<br />
			<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; border-top: 1px solid black; border-left: 1px solid black;" class="thistable">
				<tbody>
					<tr style="text-align: center; height: 40px;">
						<td style="width: 10%;"><b>FROM</b><br />
							<span style="font-size: 8pt;">MONTH &amp; YEAR</span>
						</td>
						<td style="width: 10%;"><b>TO</b><br>
							<span style="font-size: 8pt;">MONTH &amp; YEAR</span>
						</td>
						<td style="width: 25%; font-size: 9pt;">NAME, ADDRESS &amp; PHONE OF EMPLOYER</td>
						<td style="width: 10%;">SALARY</td>
						<td style="width: 15%;">POSITION/DUTIES</td>
						<td style="width: 20%;">REASON FOR LEAVING</td>
					</tr>
					<tr style="height: 80px;">
						<td>%EmailCv.FromMonthYear1%</td>
						<td>%EmailCv.ToMonthYear1%</td>
						<td>%EmailCv.Employer1%</td>
						<td>%EmailCv.Salary1%</td>
						<td>%EmailCv.Position1%</td>
						<td>%EmailCv.LeavingReason1%</td>
					</tr>
					<tr style="height: 80px;">
						<td>%EmailCv.FromMonthYear2%</td>
						<td>%EmailCv.ToMonthYear2%</td>
						<td>%EmailCv.Employer2%</td>
						<td>%EmailCv.Salary2%</td>
						<td>%EmailCv.Position2%</td>
						<td>%EmailCv.LeavingReason2%</td>
					</tr>
					<tr style="height: 80px;">
						<td>%EmailCv.FromMonthYear3%</td>
						<td>%EmailCv.ToMonthYear3%</td>
						<td>%EmailCv.Employer3%</td>
						<td>%EmailCv.Salary3%</td>
						<td>%EmailCv.Position3%</td>
						<td>%EmailCv.LeavingReason3%</td>
					</tr>
					<tr style="height: 80px;">
						<td>%EmailCv.FromMonthYear4%</td>
						<td>%EmailCv.ToMonthYear4%</td>
						<td>%EmailCv.Employer4%</td>
						<td>%EmailCv.Salary4%</td>
						<td>%EmailCv.Position4%</td>
						<td>%EmailCv.LeavingReason4%</td>
					</tr>
				</tbody>
			</table>
			<div style="width: 90%" class="leftfloat">
				<h5>GENERAL INFORMATION</h5>
			</div>
			<br />
			<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; height: 200px;	border-top: 1px solid black; border-left: 1px solid black;" class="thistable">
				<tbody>
					<tr>
						<td style="font-size: 8pt;">
							<span>SUBJECT OF SPECIAL STUDY /RESERCH</span><br />
							<span>WORK OR SPECIAL TRAINING/SKILLS</span>
						</td>
					</tr>
					<tr>
						<td>%EmailCv.SpecialStudy%</td>
					</tr>
					<tr>
						<td>%EmailCv.SpecialTraining%</td>
					</tr>
					<tr>
						<td style="font-size: 8pt;">
							Military Experience&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Position/Supervisor
						</td>
					</tr>
				</tbody>
			</table>
			<br />
			<div style="width: 100%" class="leftfloat">
				<h5>REFERENCES</h5>
				<span style="padding-left: 15px;">GIVE BELOW THE NAMES OF THREE PERSONS NOT RELATED TO YOU, WHOM YOU HAVEKNOWN AT LEAST ONE YEAR.</span>
				<br />
			</div>
			<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed; height: 200px;	border-top: 1px solid black; border-left: 1px solid black;" class="thistable">
				<tbody>
					<tr style="text-align: center; height: 30px;">
						<td style="width: 20%;"><b>NAME</b></td>
						<td style="width: 30%;"><b>ADDRESS</b></td>
						<td style="width: 15%;"><b>PHONE NUMBER</b></td>
						<td style="width: 20%;"><b>BUSINESS</b></td>
						<td style="width: 15%;"><b>Relationship</b></td>
					</tr>
					<tr>
						<td>%EmailCv.Name1%</td>
						<td>%EmailCv.Address1%</td>
						<td>%EmailCv.PhoneNumber1%</td>
						<td>%EmailCv.Business1%</td>
						<td>%EmailCv.Relationship1%</td>
					</tr>
					<tr>
						<td>%EmailCv.Name2%</td>
						<td>%EmailCv.Address2%</td>
						<td>%EmailCv.PhoneNumber2%</td>
						<td>%EmailCv.Business2%</td>
						<td>%EmailCv.Relationship2%</td>
					</tr>
					<tr>
						<td>%EmailCv.Name3%</td>
						<td>%EmailCv.Address3%</td>
						<td>%EmailCv.PhoneNumber3%</td>
						<td>%EmailCv.Business3%</td>
						<td>%EmailCv.Relationship3%</td>
					</tr>
				</tbody>
			</table>
			<br />
			<div style="width: 100%" class="leftfloat">
				<h5>PREVIOUS CONVICTION INFORMATION</h5>
				<br />
				<span style="font-weight: bold; font-size: 10pt;">The existence of a conviction will not automatically disqualify you
						as a job applicant.</span> <span style="padding-left: 5px; font-size: 9pt;">Do not answer
								“yes” if the conviction has been expunged, annulled, sealed, statutorily eradicated,
								pardoned, dismissed upon condition of probation, or is only a minor traffic violation.</span>
				<br />
			</div>
			<div style="width: 100%; padding: 5px;" class="leftfloat">
				<span class="leftfloat">Have you ever been convicted of a crime other than a minor traffic violation?&nbsp;</span>
				<span style="padding-right: 15px" class="leftfloat">
					<table border="0" id="">
						<tbody>
							<tr>
								<td>%EmailCv.ConvictionExplaination%</td>
							</tr>
						</tbody>
					</table>
				</span>
			</div>
			<div style="width: 100%; padding: 5px;" class="leftfloat">
				<span class="leftfloat">If yes, please explain: &nbsp;</span>
				%EmailCv.Explaination%
			</div>
			<div style="width: 100%" class="leftfloat">
				<h5>AUTHORIZATION</h5>
				<br />
			</div>
			<span style="width: 100%;" class="leftfloat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“I
					certify that the fact contained in this application are true and complete to the
					best of my knowledge and understand that, if employed, falsified statements on this
					application shall be grounds for dismissal.</span> <span style="width: 100%;" class="leftfloat">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I authorized investigation of all statements
							contained herein and the references and employers listed above to give you any and
							all information concerning my previous employment and my any pertinent information
							they may have, personal or otherwise, and release the company from all liability
							for any damage that may result from utilization of such information.
			</span>
			<span style="width: 100%;" class="leftfloat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I
					also understand and agree that no representative of the company has any authority
					to enter into any agreement for employment for any specified period of time, or
					to make any agreement contrary to the foregoing, unless it is in writing and signed
					by an authorized company representative. </span><span style="width: 100%;" class="leftfloat">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This waiver does not permit the release
							or use of disability-related or medical information in a manner prohibited by the
							Americans with Disabilities Act (ADA) and other relevant federal and state laws.”
			</span>
			<span style="width: 100%;" class="leftfloat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
					application is just that, an application. It is not an offer, promise or contract
					of employment, either expressed or implied. All of our employees are “at will” employees,
					which means that employees can terminate the employment at any time, for any or
					no reason. Brookhaven Marketplace reserves the right to change and/or terminate
					an employee’s employment, with or without notice or cause at any time.
			</span>
			<div style="width: 100%" class="leftfloat">
				<br />
				<br />
				<span class="leftfloat">DATE:</span>
				<span class="leftfloat addunderline">
					%EmailCv.DateToday%
				</span> 
				<span class="leftfloat">SIGNATURE:</span>
				<span class="leftfloat addunderline">
					%EmailCv.Signature%
				</span>
			</div>
			</div>
	</div>
	<br />
	