


<div>
    <style type="text/css">
        td {
            font-family: Times New Roman;
            font-size: 11pt;
            vertical-align: top;
            white-space: normal;
        }

        .clear {
            clear: both;
        }

        .leftfloat {
            float: left;
        }

        .padright5 {
            padding-right: 5px;
        }

        #content {
            width: 900px;
            font-family: Times New Roman;
            font-size: 11pt;
        }

        #mailheader {
            width: 100%;
            float: left;
            height: 100px;
        }

        #imglogo {
            width: 137px;
            float: left;
            height: 78px;
        }

        #headertext {
            font-family: Times New Roman;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20pt;
            padding: 40px 0 0 100px;
            float: left;
            text-decoration: underline;
        }

        .headers {
            /*font-family: Franklin Gothic Medium;*/
            text-transform: uppercase;
            font-weight: bold;
            float: left;
            font-size: 11pt;
        }

        .formfont {
            font-family: Franklin Gothic Medium;
            font-size: 10pt;
        }

        #empname td {
            width: 200px;
            text-align: left;
            height: 15px;
            text-transform: uppercase;
        }

        .imgcheck {
            height: 16px;
            width: 18px;
        }

        .value {
            width: 100%;
            text-transform: none;
            text-decoration: underline;
            margin: 0 5px;
        }

        .thistable td {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            margin: 0;
            padding: 2px;
        }

        .workweek {
            height: 50px;
            vertical-align: top;
            width: 120px;
        }

        .addunderline {
            text-decoration: underline;
            margin: 0 5px;
        }

        p.MsoNormal {
            margin-bottom: .0001pt;
            font-size: 12.0pt;
            font-family: "Times New Roman", "serif";
            margin-left: 0in;
            margin-right: 0in;
            margin-top: 0in;
        }
    </style>
    <div id="content">
        <div class="mailheader">
            <div>
                <img id="imglogo" src="http://www.priscosfamilymarket.com/themes/ProcoDefault/Content/images/logo.png" />
            </div>
            <div id="headertext">
                <b> &nbsp;</b>
            </div>
        </div>
        <div class="clear"></div>
        <br>
            <div class="htmlcontent">
        <div class="htmlcontent-body">
            <div class="mailheader">
<div id="headertext"><strong>Prisco Family Market Holiday Orders</strong></div>
</div>
<div class="clear">&nbsp;</div>
<p><br />Place your special holiday order for Fresh locally raised HO-KA turkeys and our delicious Farmer's Market Pies. Please note, if you are ordering for multiple pick-up dates fill out a separate order for each pick-up date.<br /><br /><strong><span style="text-decoration: underline;">Watch for Order Confirmation</span></strong>&nbsp; Once you send us your holiday special order watch your email. You should receive an order confirmation response within 24 hours of the time you send it. If you do not receive a confirmation call the store at&nbsp;<strong>(630) 264-9400</strong>.&nbsp;</p>
        </div>
    </div>

        <br />
        <br />
        <div id="empname">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><span class="value">Md. Abu Sina</span></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><span class="value">islam</span></td>
                </tr>
                <tr>
                    <td>Email Address:</td>
                    <td><span class="value">anik@biponee.com</span></td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td><span class="value">0168715481</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Order Pick-up Date:</td>
                    <td><span class="value">11/06/2015</span></td>
                </tr>
            </table>
        </div>
        <br />
        <div style="font-size: 11pt;">
            <div style="width: 600px; padding: 5px;" class="leftfloat">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="width:50%"><b>Turkeys</b></td>
                            <td style="width:25%"><b>Turkeys</b></td>
                            <td style="width:25%"><b>Price</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div style="clear:both;"></div>
            <div>
                <b>Note: &nbsp;</b> If you wish to order more than one turkey tell us in the comment box.
            </div>
            <br />
            <br />
            <br />
            <div style=" text-align: center; margin-bottom: 24px; margin-left: -300px;"><strong><a href="../../../content/images/uploaded/pie-palooza/flyer/flyer.html" target="_blank">See pictures and learn details about our pies.</a></strong></div>
            <div style="width: 800px; padding: 5px;" class="leftfloat">
                <table style="width:80%;">
                    <tbody>
                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%"><b>Farmer's Market - 9 inch Pies</b></td>
                            <td style="width: 25%;">
                                <b style="margin-left:30px;">Full Pies</b>
                            </td>
                            <td style="width: 25%; text-align: center;">
                                <b>Half Pies</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">&nbsp;</td>
                            <td style="width:25%">
                                <div>
                                    <div style="float:left; width:65px;">Price</div>
                                    <div>Quantity</div>
                                </div>
                            </td>
                            <td style="width: 25%; text-align: right;">
                                <div style="margin-left: 14px;">
                                    <div style="float: left; width: 40px; margin-left: -24px;">Price</div>
                                    <div style="text-align: center;margin-left: 42px;">Quantity</div>
                                </div>
                            </td>
                        </tr>
                                                                                                    <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Apple Berry Delight</td>

                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">$8.99</div>
                                            <div>1</div>
                                        </div>
                                    </td>
                                                                                            </tr>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
            <div style="width: 800px; padding: 5px;" class="leftfloat">
                <b>Please provide any special instructions or comments that you wish pertaining to your order.</b>
                <br />
                <br />
                <div style="border:1px solid black;"></div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>

