﻿@using Nop.Plugin.Other.EmailMarketing.Lib
@model Nop.Plugin.Other.EmailMarketing.Models.CriteriaModel
@using Nop.Web.Framework
@using Telerik.Web.Mvc.UI;

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

<div class="input-holder">
	@Html.NopLabelFor(model => model.Name) : 
	@Html.EditorFor(model => model.Name)
  @Html.ValidationMessageFor(model => model.Name)

	@*<textarea cols=10 rows=10> </textarea>*@

	@Html.HiddenFor(model => model.Query)
</div>
 
<div id="criteria-holder" class="criteria-holder">
	Criteria Options : 
	
	@Html.DropDownListFor(model => model.Columns, ComboList.ColumnList)
  @Html.ValidationMessageFor(model => model.Columns)

	@Html.DropDownListFor(model => model.Conditions, ComboList.ConditionList)
  @Html.ValidationMessageFor(model => model.Conditions)

	@Html.EditorFor(model => model.KeyWord)
	<input type="text" class="date" />
	@Html.ValidationMessageFor(model => model.KeyWord)

	@Html.DropDownListFor(model => model.AndOr, ComboList.AndOrList)
  @Html.ValidationMessageFor(model => model.AndOr)
</div>



<script type="text/javascript">

	/*$(document).ready(function() {
		$("#Columns").change(function () {
			var selectedItem = $(this).val().split(".")[1];
			if (selectedItem.indexOf("Date") !== -1 || selectedItem === "Created on") {
				$(this).parent().find("#KeyWord").datepicker();
			}
			else {
				$(this).parent().find("#KeyWord").datepicker("destroy");
			}
		});
	});*/

	$("#criteria-holder").cloneObject({ 'data': '@Model.Query' });


	function GenerateModelData() {

		var tables, filterKey, conditions, keyWord, adnOr, query;

		tables = $.map($(".criteria-holder").find('#Columns'), function (elem, index) {

			if (index < $(".criteria-holder").length - 1) {
				return $(elem).val().split(".")[0];
			}

		}).join(",");

		var temp = [];
		$.each(tables.split(","), function (i, el) {
			if ($.inArray(el, temp) === -1) {
				temp.push(el);
			}
		});

		tables = temp.join(",");

		filterKey = $.map($(".criteria-holder").find('#Columns'), function (elem, index) {

			if (index < $(".criteria-holder").length-1) {
				return $(elem).val(); //.split(".")[1];
			}

		}).join(",");

		conditions = $.map($(".criteria-holder").find('#Conditions'), function (elem, index) {

			if (index < $(".criteria-holder").length - 1) {
				return $(elem).val();
			}

		}).join(",");

		keyWord = $.map($(".criteria-holder").find('#KeyWord'), function (elem, index) {

			if (index < $(".criteria-holder").length - 1) {
				return $(elem).val();
			}

		}).join(",");

		adnOr = $.map($(".criteria-holder").find('#AndOr'), function (elem, index) {

			if (index < $(".criteria-holder").length - 2) {
				return $(elem).val();
			}

		}).join(",");

		query = $.map($(".criteria-holder"), function (elem, index) {

			if (index < $(".criteria-holder").length - 1) {
				var keyWord = ($(elem).find("#KeyWord").is(":visible")) ? $(elem).find("#KeyWord").val() : $(elem).find(".date").val();
				return $(elem).find("#Columns").val() + "^" + $(elem).find("#Conditions").val() + "^" + keyWord + "^" + $(elem).find("#AndOr").val(); //.split("^")[1]
			}
			/*else if (index === $(".criteria-holder").length - 2) {
			return $(elem).find("#Columns").val() + "^" + $(elem).find("#Conditions").val() + "^" + $(elem).find("#KeyWord").val(); //.split("^")[1]
			}*/

		}).join(",");

		//query = "Select Distinct Customers$$.Email from " + tables + " Where " + query;


		var model = {
			Id: $('#@Html.FieldIdFor(model => model.Id)').val(),
		  Name:  $('#@Html.FieldIdFor(model => model.Name)').val(),
			Columns: filterKey,
			Conditions: conditions,
			KeyWord: keyWord,
			AndOr: adnOr,
			Query: query
		};

		return model;

	}



</script>
