﻿@using Nop.Admin.Models.Messages
@model Telerik.Web.Mvc.GridModel<CampaignModel>
@using Telerik.Web.Mvc.UI
@{
    //page title
    ViewBag.Title = @T("Admin.Promotions.Campaigns").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Promotions.Campaigns")
    </div>
    <div class="options">
        <a href="#/Create" class="t-button show-create-form">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<CampaignModel>(Model.Data)
                    .Name("campaigns-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name)
                            .Width(400);
                        columns.Bound(x => x.CreatedOn)
                            .Width(100);
                        columns.Bound(x => x.Id)
                            .Width(50)
														.Template(@<text><a href="#/Edit/@item.Id"> Edit </a></text>)
														.ClientTemplate("<a href=\"#/Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
														.Title(T("Admin.Common.Edit").Text);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("Campaign", "Admin/Plugin/Other/EmailMarketing"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>


