﻿@using Telerik.Web.Mvc.UI
@model Nop.Admin.Models.Messages.CampaignModel
@{
    //page title
    ViewBag.Title = @T("Admin.Promotions.Campaigns.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Promotions.Campaigns.AddNew") 
						<a href="#/Campaign"> @T("Admin.Promotions.Campaigns.BackToList") </a>
        </div>
        <div class="options">
            @{ Html.Telerik().Menu()
										.Name("Menu")
										.ClientEvents(events => events.OnSelect("onSelect"))
										.Items(menu =>
										{

											menu.Add()
													.Text("Add Group");
											menu.Add()
													.Text("Attachment");
											menu.Add()
													.Text("Preview");
											menu.Add()
													.Text("Schedule");
											menu.Add()
													.Text("Use Template");
											menu.Add()
													.Text("Save");
											menu.Add()
													.Text("Save and Continue Edit");
											menu.Add()
													.Text("Send");
										})
										.Render();
						}
        </div>
    </div>
    @Html.Partial("Nop.Plugin.Other.EmailMarketing.Views.EmailMarketing._CreateOrUpdateCampaign", Model)
}