﻿@using Nop.Plugin.Other.EmailMarketing.Models
@using Telerik.Web.Mvc.UI
@model Telerik.Web.Mvc.GridModel<EmailModel>
@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
    ViewBag.Title = @T("Admin.Promotions.Groups").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Promotions.Groups")
				<a href="#/Report"> @T("Admin.Promotions.Campaigns.BackToList") </a>
    </div>
		<div class="options">
        @{ Html.Telerik().Menu()
								.Name("DetailReportMenu")
								.ClientEvents(events => events.OnSelect("onSelectDetailReportMenu"))
								.Items(menu =>
								{
									menu.Add()
											.Text("All Contacts");
									menu.Add()
											.Text("Delivered");
									menu.Add()
											.Text("Bounced");
									menu.Add()
											.Text("Opened");
									menu.Add()
											.Text("Link");
								})
								.Render();
				}
    </div>
</div>
<div class="listContent">
	<table class="adminContent">
		<tr>
			<td>
				@(Html.Telerik().Grid<EmailModel>(Model.Data)
										.Name("campaign-report-grid")
										.Columns(columns =>
										{
											columns.Bound(x => x.EmailAddress)
																		.Width(250);
											columns.Bound(x => x.SentStatus)
																		.Width(250);
											columns.Bound(x => x.OpenStatus)
																		.Width(250);

										})
										.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
										.DataBinding(dataBinding =>
										{
											dataBinding.Server().Select("DetailReport", "Plugin/Other/EmailMarketing");
											dataBinding.Ajax().Select("DetailReport", "Plugin/Other/EmailMarketing", new { id = ViewBag.CampaignId, status = ViewBag.Status });
										})
										.EnableCustomBinding(true))
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	$('.detailReportContent').data("CampaignId", +'@ViewBag.CampaignId');
</script>


