﻿@model Nop.Plugin.Other.EmailMarketing.Models.EmailTemplateModel
@using Nop.Web.Framework
@using Telerik.Web.Mvc.UI;

@{
    //page title
    ViewBag.Title = @T("Admin.Plugins.Other.EmailMarketing.EmailTemplate.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.Plugins.Other.EmailMarketing.EmailTemplate.AddNew") 
						<a href="#/Template"> @T("Admin.Plugins.Other.EmailMarketing.EmailTemplate.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitEditEmailTemplateForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
						<span id="group-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.Other.EmailMarketing.Views.EmailMarketing._CreateOrUpdateTemplate", Model)
}