﻿@using Telerik.Web.Mvc.UI
@model Nop.Admin.Models.Messages.CampaignModel
@{
	//page title
	ViewBag.Title = @T("Admin.Promotions.Campaigns.EditCampaignDetails").Text;
}
@using(Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Promotions.Campaigns.EditCampaignDetails") - @Model.Name 
			<a href="#/Edit"> @T("Admin.Promotions.Campaigns.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitEditForm(); return false;">@T("Admin.Common.Save")</button>
						<button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
						<button name="send" value="send" class="t-button" onclick="SendCampaign(); return false;">@T("Admin.Plugins.Other.EmailMarketing.Email.SendEmail")</button>
            <span id="campaign-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.Other.EmailMarketing.Views.EmailMarketing._CreateOrUpdateCampaign", Model)
}
@*@Html.DeleteConfirmation("campaign-delete")*@
