﻿@using Nop.Plugin.Other.EmailMarketing.Lib
@model Nop.Plugin.Other.EmailMarketing.Models.CriteriaModel
@using Nop.Web.Framework
@using Telerik.Web.Mvc.UI;

@{
    //page title
    ViewBag.Title = @T("Admin.Promotions.Groups.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.Promotions.Groups.AddNew") 
						<a href="#/Group"> @T("Admin.Promotions.Groups.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitEditGroupForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
						<span id="group-delete" class="t-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.Other.EmailMarketing.Views.EmailMarketing._CreateOrUpdateGroup", Model)
}


