﻿@using Nop.Plugin.Other.EmailMarketing.Models
@using Telerik.Web.Mvc.UI
@model Telerik.Web.Mvc.GridModel<CriteriaModel>
@{
    //page title
    //ViewBag.Title = @T("Admin.Promotions.Groups").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @*@T("Admin.Promotions.Groups")*@
    </div>
    <div class="options">
        <a href="#/CreateGroup" class="t-button show-create-form">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<CriteriaModel>(Model.Data)
                    .Name("criteria-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name)
														.Template(@<text><a href="#/SmartGroup/@item.Id"> @item.Name </a></text>)
														.ClientTemplate("<a href=\"#/SmaSmartGroup/<#= Id #>\"> @item.Name </a>")
														.Width(100);
												columns.Bound(x => x.Query)
														.Width(600);
												columns.Bound(x => x.Id)
														.Width(50)
														.Template(@<text><a href="#/EditGroup/@item.Id"> Edit </a></text>)
														.ClientTemplate("<a href=\"#/EditGroup/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
														.Title(T("Admin.Common.Edit").Text);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("Group", "Admin/Plugin/Other/EmailMarketing"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>

