﻿@using Nop.Plugin.Other.EmailMarketing.Models
@model IEnumerable<Nop.Plugin.Other.EmailMarketing.Domain.Email>
@using Telerik.Web.Mvc.UI
@{
		var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
    ViewBag.Title = @T("Admin.Promotions.Campaigns").Text;
}
<table class="adminContent">
	<tr>
		<td>
			@(Html.Telerik().Grid(Model)
									.Name("link-report-grid")
									.Columns(columns =>
									{
										columns.Bound(x => x.Id)
																	.Width(50);
										columns.Bound(x => x.EmailAddress)
																	.Width(250);
										

									})
									//.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
									.DataBinding(dataBinding =>
									{
										dataBinding.Server().Select("LinkClickDetail", "Plugin/Other/EmailMarketing");
                    dataBinding.Ajax().Select("LinkClickDetail", "Plugin/Other/EmailMarketing", new { id = ViewBag.CampaignId });
									})
									.EnableCustomBinding(true))
		</td>
	</tr>
</table>


