﻿@using Telerik.Web.Mvc.UI
@{
    //page title
		Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
		//ViewBag.Title = @T("Admin.Other.EmailMarketing.Main").Text;
		Html.AddCssFileParts(@Url.Content("~/Plugins/Other.EmailMarketing/Content/emailmarketing.css"));
		Html.AddCssFileParts(@Url.Content("~/Administration/Content/fileuploader.css"));
		Html.AddScriptParts(@Url.Content("~/Plugins/Other.EmailMarketing/Scripts/sammy.min.js"));
		Html.AddScriptParts(@Url.Content("~/Plugins/Other.EmailMarketing/Scripts/EmailMarketing.js"));
		Html.AddScriptParts(@Url.Content("~/Content/editors/tinymce/tiny_mce.js"));
		Html.AddScriptParts(@Url.Content("~/Administration/Scripts/fileuploader.js"));
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
        @T("Admin.Other.EmailMarketing.LandPage")
    </div>
    <div class="options">
    </div>
</div>
@*.ClientEvents(events => events.OnSelect("onEmailMarketingTabSelect")) .LoadContentFrom("Group","Plugin/Other/EmailMarketing")*@
@Html.Telerik().TabStrip().Name("email-marketing").ClientEvents(events => events.OnSelect("onEmailMarketingTabSelect")).Items(x =>
{
		x.Add().Text(T("Admin.Other.EmailMarketing.LandPage.Campaign").Text).Content(TabEmailMarketingCampaign().ToHtmlString()).Selected(true);
		x.Add().Text(T("Admin.Other.EmailMarketing.LandPage.Template").Text).Content(@<text> Template </text>);
		x.Add().Text(T("Admin.Other.EmailMarketing.LandPage.Group").Text).Content(@<text> Group </text>);
		x.Add().Text(T("Admin.Other.EmailMarketing.LandPage.Report").Text).Content(@<text> Report </text>);
    //generate an event
    Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Events.IEventPublisher>().Publish(new Nop.Web.Framework.Events.AdminTabStripCreated(x, "customer-reports"));
})
@helper TabEmailMarketingCampaign()
{
	@Html.Action("Campaign", new { area = string.Empty })	
}
@helper TabEmailMarketingTemplate()
{
	@Html.Action("TemplateList", new { area = string.Empty })	
}
@helper TabEmailMarketingGroup()
{
	@Html.Action("Group", new { area = string.Empty })	
}
@helper TabEmailMarketingReport()
{
	@Html.Action("Report", new { area = string.Empty })	
}

@{Html.Telerik().Window()
        .Name("Window")
				//.ClientEvents(events => events.OnClose("onClose").OnResize("AdjustPopup"))
        .Title("Module Operation")
        .Draggable(true)
        .Resizable(resizing => resizing
            .Enabled(true)
            .MinHeight(600)
            .MinWidth(800)
          
        )
        .Modal(true)
        .Buttons(b => b.Maximize().Close())
        .Content(@<text>
            <div id="popupContentDiv"></div>
        </text>)
        .Width(800)
        .Height(600).Visible(false)
				.Effects(fx => fx.Zoom().Opacity().OpenDuration(0).CloseDuration(0))
        .Render();
}