﻿@using Nop.Plugin.Other.EmailMarketing.Models
@using Telerik.Web.Mvc.UI
@model Telerik.Web.Mvc.GridModel<CampaignReportModel>
@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
    //ViewBag.Title = @T("Admin.Promotions.Groups").Text;

}
<div class="detailReportContent">
	<div class="section-header">
		<div class="title">
			<img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
			@*@T("Admin.Promotions.Groups")*@
		</div>
		@* <div class="options">
        <a href="#/CreateTemplate" class="t-button show-create-form">@T("Admin.Common.AddNew")</a>
    </div>*@
	</div>
	<table class="adminContent">
		<tr>
			<td>
				@(Html.Telerik().Grid<CampaignReportModel>(Model.Data)
										.Name("campaign-report-grid")
										.Columns(columns =>
										{
											columns.Bound(x => x.Name)
																		.Width(150);
											columns.Bound(x => x.Subject)
																		.Width(150);
											columns.Bound(x => x.BroadCastTime)
																		.Width(150);
											columns.Bound(x => x.Delivered)
																		.Width(150);
											columns.Bound(x => x.Opened)
																		.Width(150);
											columns.Bound(x => x.ClickedThrough)
																		.Width(150);
											columns.Bound(x => x.Id)
																.Width(50)
																.Template(@<text><a href="#/ShowTemplate/@item.CampaignId"> Preview Email </a></text>)
																.ClientTemplate("<a href=\"#/ShowTemplate/<#= CampaignId #>\"> + Preview Email + </a>")
																.Title("Preview");
											columns.Bound(x => x.Id)
																		.Width(50)
																		.Template(@<text><a href="#/DetailReport/@item.Id"> Details	</a></text>)
																		.ClientTemplate("<a href=\"#/DetailReport/<#= Id #>\"> Details </a>")
																		.Title("Details");

										})
																													.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
																													.DataBinding(dataBinding =>
																													{
																														dataBinding.Server().Select("Report", "Admin/Plugin/Other/EmailMarketing");
																														dataBinding.Ajax().Select("Report", "Admin/Plugin/Other/EmailMarketing");
																													})
																													.EnableCustomBinding(true))
			</td>
		</tr>
	</table>
</div>

