﻿@using Nop.Plugin.Other.EmailMarketing.Models
@using Telerik.Web.Mvc.UI
@model Telerik.Web.Mvc.GridModel<EmailTemplateModel>
@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
    //ViewBag.Title = @T("Admin.Promotions.Groups").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @*@T("Admin.Promotions.Groups")*@
    </div>
    <div class="options">
        <a href="#/CreateTemplate" class="t-button show-create-form">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<EmailTemplateModel>(Model.Data)
                    .Name("template-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name)
                                .Width(200);
												columns.Bound(x => x.ThumbnailPath)
															.Template(@<text><img alt="@item.Id" src="@item.ThumbnailPath" width='150' /></text>)
															.ClientTemplate("<img alt='<#= Id #>' src='<#= ThumbnailPath #>' width='150' />")
															.ReadOnly();
												columns.Bound(x => x.Id)
																.Width(50)
																.Template(@<text><a href="#/EditTemplate/@item.Id" > Edit </a></text>)
                                .ClientTemplate("<a href=\"#/EditTemplate/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                                .Title(T("Admin.Common.Edit").Text);
                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
										.DataBinding(dataBinding =>
                    {
											dataBinding.Server().Select("TemplateList", "Admin/Plugin/Other/EmailMarketing");
											dataBinding.Ajax().Select("TemplateList", "Admin/Plugin/Other/EmailMarketing");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>

