﻿@using Nop.Plugin.Upon.Models;
@model UserPageModelList
@using Telerik.Web.Mvc.UI;
@using System.Globalization;
@using Nop.Web.Framework;
@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    Html.AddScriptParts(@Url.Content("~/Plugins/Upon/Scripts/searchUpon.js"));
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Upon.ViewAllUpon")
        </div>
        <div class="options">
            <a href="@Url.Action("ExportXmlAll", "/Plugin/Upon/uPonDashboard/")" class="t-button">@T("Admin.Common.ExportToXml.All")</a>
            <button type="submit" id="exportxml-selected" class="t -button">@T("Admin.Common.ExportToXml.Selected")</button>
            <a href="@Url.Action("ExportExcelAll", "/Plugin/Upon/uPonDashboard/")" class="t-button">@T("Admin.Common.ExportToExcel.All")</a>
            <button type="submit" id="exportexcel-selected" class="t-button">@T("Admin.Common.ExportToExcel.Selected")</button>
        </div>
    </div>
    <table width="100%">
        
        <tr>
            <td class="adminTitle">
                Email: @*@Html.NopLabelFor(model => model.Email):*@
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                CouponId: @* @Html.NopLabelFor(model => model.CouponId):*@
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CouponId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Offer: @*  @Html.NopLabelFor(model => model.Offer):*@
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Offer)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Status: @* @Html.NopLabelFor(model => model.Status):*@
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Status)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Imprinting Date Range: @*@Html.NopLabelFor(model => model.ExpirationDate):*@
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.ImprintingDateStart)
                To: @Html.EditorFor(model => model.ImprintingDateEnd)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Expiration Date Range: @*@Html.NopLabelFor(model => model.ExpirationDate):*@
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.ExpirationDateStart)
                To: @Html.EditorFor(model => model.ExpirationDateEnd)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Redemption Date Range: @*  @Html.NopLabelFor(model => model.RedemptionDate):*@
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.RedemptionDateStart)
                To: @Html.EditorFor(model => model.RedemptionDateEnd)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Amount: @*  @Html.NopLabelFor(model => model.Amount):*@
            </td>
            <td class="adminData">
                From :@Html.EditorFor(model => model.AmountRangeFrom)
                 To :@Html.EditorFor(model => model.AmountRangeTo)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" id="search-imprinted" name="search-imprinted" value="search-imprinted"
                    class="t-button">@T("Admin.Common.Search")</button>
            </td>
        </tr>
    </table>
    <p>
    </p>
    <table class="adminContent">
        <tr>
            <td>
                @(Html.Telerik().Grid<UserPageModel>(Model.imprintedcoupons.Data)
                    .Name("imprinted-grid")
                     .ClientEvents(events => events.OnDataBinding("onDataBinding")
                        .OnDataBound("onDataBound"))
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Id)
                        .Template(x => string.Format("<input type='checkbox' name='checkedRecords' value='{0}' class='checkboxGroups'/>", x.Id))
                        .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' class='checkboxGroups'/>")
                        .Title("<input id='mastercheckbox' type='checkbox'/>")
                        .Width(50)
                        .HtmlAttributes(new { style = "text-align:center" })
                        .HeaderHtmlAttributes(new { style = "text-align:center" });

                        columns.Bound(x => x.Id)
                            .Width(50);

                        columns.Bound(x => x.Email)
                             .Template(x => Html.ActionLink(x.Email, "Edit", "Customer", new { id = x.CustomerID }, new { }))
                             .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Customer/Edit/") + "<#= CustomerID #>\"><#= Email #></a>")
                             .Width(150);

                        columns.Bound(x => x.CouponId)
                           .Template(@<text><a href="/Admin/Plugin/Upon/UniqueCoupon/Edit/@item.CouponId">@item.CouponId</a></text>)
                           .ClientTemplate("<a href=\"/Admin/Plugin/Upon/UniqueCoupon/Edit/<#= CouponId #>\"><#= CouponId #> </a>")
                              .Width(150);

                        columns.Bound(x => x.ImprintingDate)
                            .Width(200);
                        columns.Bound(x => x.Offer)
                            .Width(200);
                        columns.Bound(x => x.Status)
                            .Width(150);

                        columns.Bound(x => x.ExpirationDate)
                            .Width(100);

                        columns.Bound(x => x.RedemptionDate)
                            .Width(75);

                        columns.Bound(x => x.Amount)
                             .Width(100);


                    })

                    .Pageable(settings => settings.Total(Model.imprintedcoupons.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                     .DataBinding(dataBinding => dataBinding.Ajax().Select("Admin.Plugin.Upon.uPonDashboard.Index"))
                      .EnableCustomBinding(true)
                    )
            </td>
        </tr>
    </table>
   <script>


       var selectedIds = [];

       $(document).ready(function () {

						
           //search button
           $('#search-imprinted').click(function () {
               var grid = $('#imprinted-grid').data('tGrid');
               grid.currentPage = 1; //new search. Set page size to 1
               grid.ajaxRequest();
               return false;
           });

           $("#@Html.FieldIdFor(model => model.Email)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.CouponId)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.Offer)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.Status)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ImprintingDateStart)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ImprintingDateEnd)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ExpirationDateStart)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ExpirationDateEnd)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.RedemptionDateStart)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.RedemptionDateEnd)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.AmountRangeFrom)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.AmountRangeTo)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });


           //"Export Excel selected" button
           $('#exportexcel-selected').click(function (e) {
               e.preventDefault();
               //redirect to required URL
               setLocation('@(Url.Action("ExportExcelSelected", "/Plugin/Upon/uPonDashboard/"))?selectedIds=' + selectedIds.join(","));
               return false;
           });

           //"Export XML selected" button
           $('#exportxml-selected').click(function (e) {
               e.preventDefault();
               //redirect to required URL
               setLocation('@(Url.Action("ExportXmlSelected", "/Plugin/Upon/uPonDashboard/"))?selectedIds=' + selectedIds.join(","));
               return false;
           });

           $('#mastercheckbox').click(function () {
               $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
           });

           //wire up checkboxes. 
           $('#imprinted-grid input[type=checkbox][id!=mastercheckbox]').live('change', function (e) {
               var $check = $(this);
               if ($check.is(":checked") == true) {
                   var checked = jQuery.inArray($check.val(), selectedIds);
                   if (checked == -1) {
                       //add id to selectedIds.  
                       selectedIds.push($check.val());
                   }
               }
               else {
                   var checked = jQuery.inArray($check.val(), selectedIds);
                   if (checked > -1) {
                       //remove id from selectedIds.  
                       selectedIds = $.grep(selectedIds, function (item, index) {
                           return item != $check.val();
                       });
                   }
               }
               updateMasterCheckbox();
           });
       });

       function onDataBound(e) {

           $('#imprinted-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
               var currentId = $(this).val();
               var checked = jQuery.inArray(currentId, selectedIds);
               //set checked based on if current checkbox's value is in selectedIds.  
               $(this).attr('checked', checked > -1);
           });

           updateMasterCheckbox();
       }

       function updateMasterCheckbox() {
           var numChkBoxes = $('#imprinted-grid input[type=checkbox][id!=mastercheckbox]').length;
           var numChkBoxesChecked = $('#imprinted-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
           $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
       }

       function onDataBinding(e) {


           var searchModel = {

               Email: $('#@Html.FieldIdFor(model => model.Email)').val(),
               CouponId: $('#@Html.FieldIdFor(model => model.CouponId)').val(),
               Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
               ImprintingDateStart: $('#@Html.FieldIdFor(model => model.ImprintingDateStart)').val(),
               ImprintingDateEnd: $('#@Html.FieldIdFor(model => model.ImprintingDateEnd)').val(),
               ExpirationDateStart: $('#@Html.FieldIdFor(model => model.ExpirationDateStart)').val(),
               ExpirationDateEnd: $('#@Html.FieldIdFor(model => model.ExpirationDateEnd)').val(),
               RedemptionDateStart: $('#@Html.FieldIdFor(model => model.RedemptionDateStart)').val(),
               RedemptionDateEnd: $('#@Html.FieldIdFor(model => model.RedemptionDateEnd)').val(),
               AmountRangeFrom: $('#@Html.FieldIdFor(model => model.AmountRangeFrom)').val(),
               AmountRangeTo: $('#@Html.FieldIdFor(model => model.AmountRangeTo)').val()
           };
           e.data = searchModel;
           console.log(searchModel);
       }

   
   </script> 

}
