﻿@using Nop.Plugin.Recipe.Domain
@model IList<ShoppinglistOwnItems>
@{
    Layout = "";
        //Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
        //Html.AddScriptParts(@Url.Content("~/Plugins/Recipe/Scripts/recipe.js"));
}
<div id="divUserItems">
    @if (Model.Count != 0)
    {
        <h2>
            Other Items</h2>
    }
    @for (int i = 0; i < Model.Count; i++)
    {

        var item = Model[i];
        <div id="useritem">
            <button id="delete_@(item.Id)" class="deleteIconshoppinglistuseritem btn-danger" onclick="deleteshoppinglistuseritem(@item.Id)">
Remove
            </button>
            <a>@item.ItemTitle</a>
        </div>
    }
</div>
<br />
<div>
    <h2>
        Add your own items</h2>
    <input type="text" id="ownItemtxt" class="" />
    <input type="button" id="addownitembtn" class="" value="Add" />
</div>
