﻿@using Nop.Plugin.Other.Catering.Models
@model CateringSearchModel
<div class="desc-head">
    <div class="buttons">
        <input type="button" value="BACK" class="back-button red-button" onclick="api.previousPage();">
    </div>
    <div class="category">
        @Model.CategoryName 
    </div>
    <div class="category-tagline">
        “@Html.Raw(Model.CategoryTag)”                        
    </div>
</div>
<div class="clear"></div>