﻿
@using Nop.Plugin.Other.Catering.Models;
@model CateringEventSearchModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Plugin.Other.Catering.EventList")
        </div>
    </div>
    <table width="100%">
            
            <tr>
                <td class="adminTitle">
                    Delivery Time Range:
                </td>
                <td class="adminData">
                    From: @Html.EditorFor(model => model.DeliveryTimeStart)
                    To: @Html.EditorFor(model => model.DeliveryTimeEnd)
                </td>
            </tr>
            
            <tr>
                <td class="adminTitle">
                    Supplier Store: 
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(x => x.SupplierStoreId, (SelectList)ViewBag.StoreList, "-please select item-")
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    Order Status:
                </td>
                <td class="adminData">
                    @Html.DropDownListFor(x => x.CateringOrderStatusId, (SelectList)ViewBag.OrderStatus, "-please select item-")
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <button type="submit" id="search-catering-event" name="search-catering-event" value="search-catering-event"
                        class="k-button">@T("Admin.Common.Search")</button>
                </td>
            </tr>
    </table>

    <p>
    </p>


    <table class="adminContent">
        <tr>
            <td>
                <div id="catering-events-grid"></div>

                <script>
                        $(document).ready(function () {
                            $("#catering-events-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "CateringList",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(gridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true
                                },
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "NumberOfPeople",
                                    title: "Number Of People"
                                }, {
                                    field: "CafePickup",
                                    title: "Store Pickup"
                                }, {
                                    field: "CateringOrderStatus",
                                    title: "Catering Order Status",
                                    template: $("#couponIdTemplate").html()
                                }, {
                                    field: "SupplierStoreName",
                                    title: "Supplier Store Names"
                                }, {
                                    field: "DeliveryTime",
                                    title: "Delivery Time",
                                    type: "date",
                                    format: "{0:G}"
                                }]
                            });
                        });
                </script>
            </td>
        </tr>
    </table>

    <script id="couponIdTemplate" type="text/x-kendo-tmpl">
        # if (CateringOrderStatusId != 20) { #
            #= CateringOrderStatus #
        # } else { #
            
            #: CateringOrderStatus # ( <a href="UpdateStatus/#=Id#"> Change to InProdution </a> )
        # } #
    </script>

    <script>


        var selectedIds = [];

        $(document).ready(function () {


            //search button
            /*$('#search-imprinted').click(function () {
                var grid = $('#imprinted-grid').data('tGrid');
                grid.currentPage = 1; //new search. Set page size to 1
                grid.ajaxRequest();
                return false;

                '<a href="/Admin/Plugin/Upon/UniqueCoupon/Edit/#=CouponId#">#= CouponId #</a>'
            });*/

            $('#search-catering-event').click(function () {
                var grid = $('#catering-events-grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                grid.dataSource.read();
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            });

            $("#@Html.FieldIdFor(model => model.DeliveryTimeStart)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-catering-event").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.DeliveryTimeEnd)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-catering-event").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.SupplierStoreId)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-catering-event").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.CateringOrderStatusId)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-catering-event").click();
                    return false;
                }
            });
            
            
            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });

            //wire up checkboxes. 
            $('#catering-events-grid input[type=checkbox][id!=mastercheckbox]').live('change', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.  
                        selectedIds.push($check.val());
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.  
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function onDataBound(e) {

            $('#catering-events-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.  
                $(this).attr('checked', checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#catering-events-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#catering-events-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }

        function onDataBinding(e) {


            var searchModel = {

                DeliveryTimeStart: $('#@Html.FieldIdFor(model => model.DeliveryTimeStart)').val(),
                DeliveryTimeEnd: $('#@Html.FieldIdFor(model => model.DeliveryTimeEnd)').val(),
                SupplierStoreId: $('#@Html.FieldIdFor(model => model.SupplierStoreId)').val(),
                CateringOrderStatusId: $('#@Html.FieldIdFor(model => model.CateringOrderStatusId)').val()
            };
            e.data = searchModel;
            console.log(searchModel);
        }

        function additionalData() {
            /*var customerRoleIds = [];
            $('[name=SearchCustomerRoleIds]:checked').each(function () {
                customerRoleIds.push($(this).val());
            });*/

            return {
                DeliveryTimeStart: $('#@Html.FieldIdFor(model => model.DeliveryTimeStart)').val(),
                DeliveryTimeEnd: $('#@Html.FieldIdFor(model => model.DeliveryTimeEnd)').val(),
                SupplierStoreId: $('#@Html.FieldIdFor(model => model.SupplierStoreId)').val(),
                CateringOrderStatusId: $('#@Html.FieldIdFor(model => model.CateringOrderStatusId)').val()
            };
        }
   </script> 
}