﻿@{
    Layout = "~/Views/Shared/_CateringLayoutOne.cshtml";
    
}

<div class="catering-home">
    <div class="banner">

    </div>
    <h3 class="catering-large-heading"> Is this for delivery or store pick up? </h3>
    <ul class="home-option">
        <li class="delivery">
            <input type="radio" id="option1" name="options" value="true" onclick="api.placeOrder(false);">
               <label for="option1">Delivery</label>
               
        </li>
        <li class="pick-up">
            <input type="radio" id="option2" name="options"value="true" onclick="api.placeOrder(true);">
                <label for="option2">Store pick up</label>
                
        </li>
    </ul>
    <div class="clear"></div>
    <div class="description-text">
        <h3 class="heading">
            About Brookhaven Online Catering
        </h3>
        <p class="body">
            Welcome to Brookhaven Marketplace Online Catering, where you can enjoy the finest foods from around the world.  Whether you’re serving appetizers & wine, or an elaborate five course dinner, our Online Catering Menu offers plenty of delicious choices for your special event. 
        </p>
        <p class="body">
            Now you can pre-order products from your desktop, smartphone, or tablet. Browse and choose your favorites—you’ll get a chance to review before you submit. Your order will be prepared fresh for your pickup time,  Just stop by the designated counter. And be on your way. 
<br>Now you can also have your order delivered by our expert catering staff.
        </p>
    </div>
</div>

@*<div class="content-wrap">
    <div class="applewrap place-order">
        <a onclick="api.placeOrder();" href="javascript:void(0)">
              <span class="title">Place an Order</span>
              <span class="sub">Choose items from our menu for your meeting or event</span>
	          <span class="arrow"></span>
        </a>
    </div>
    <div class="applewrap menu-recomend">
        <a onclick="api.menuRecommendation();" href="javascript:void(0)">
              <span class="title">Menu Recommendations</span>
              <span class="sub">Group meal recommendations to meet your needs</span>
	          <span class="arrow"></span>
        </a>
    </div>
</div>*@
@*@section right{
    @Html.Action("Category","Catering")
    <h2>Login or Ad Banner</h2>
}*@
@*@section left{
    @Html.Action("Category","Catering")
    <h1>Login or Ad Banner</h1>
}*@