﻿<div class="time-restriction-notification">
    <h2>@ViewBag.Notification</h2>
    <input type="button" value="Continue" class="button-1 cart-button red-button" onclick="api.removeRestrictedItem();;">
</div>