﻿@using Nop.Plugin.Recipe.Domain
@model IList<CookBook>
@{
    Layout = "";
   
}



<div id="">
    <div id="">
        <h2 class="">
            My Cookbook</h2>
       <div class="overflowAuto" >
        <ul id="cookbook_recipes"  data-role="listview" data-inset="true" data-filter="false">
         @if (Model != null)
         {
             for (int i = 0; i < Model.Count; i++)
             {
                 var item = Model[i];
                <li id="li_@(item.RecipeID)"> 
                
                @*<div class="deleteIconCookBook1" onclick="deleteCookbookRecipe(@item.RecipeID)"> </div>*@
                <a id="cookbookItem"  href="@Url.RouteUrl("showSingleRecipe", new { recipeid = @item.RecipeID })">
                    @item.RecipeTitle
                </a> 
                
                 <a  href='javascript:deleteCookbookRecipe_Mobie(@item.RecipeID)' data-role="button" data-icon="delete"  >Delete</a>
                </li>
             }
         }
        </ul></div>
    </div>@*@Url.RouteUrl("Nop.Plugin.Recipe.DeleteRecipeFromCookBook", new { recipeid = @item.RecipeID }*@
</div>
