﻿@using Nop.Plugin.Recipe.Models
@model SpecialsModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Current Specials");

    Html.AddCssFileParts(@Url.Content("~/Plugins/Recipe/Content/recipe.css"));
    Html.AppendScriptParts("~/Plugins/Recipe/Scripts/recipe.js");

}



@if (ViewBag.noresult == false)
{
    for (int i = 0; i < Model.Specials.Count; i++)
    {
        var item = Model.Specials[i];
        <div id="specials-box">
            <div class="special">
                <div class="special-image">
                    <img alt="" src='@item.image'>
                </div>
                <span class="brand">
                    <label id="litBrand" runat="server">
                        @item.brand
                    </label>
                </span><span class="product">
                    @item.product
                </span>
                <p class="special-offer">
                    @item.offer
                </p>
                <a href='@Url.RouteUrl("showSingleRecipe", new { recipeid = @item.recipe_id })'>
                    @item.recipe_title
                </a>
                <div class="shoppinglist-add">
                    <div id="">
                        @if (ViewBag.unregistered == false)
                            {
                                if (ViewBag.dontshowaddshoppinglist == false)
                                {
                                    if (@item.isAlreadyOnDatabase == "false")
                                    {
                                        <a class="sidebar-action" id="special_adding_@(item.id)" onclick="saveSpecialToShoppingList('@item.id', '@item.brand.Replace("'", "\\'")', '@item.product.Replace("'", "\\'")', '@item.description.Replace("'", "\\'")', '@item.offer.Replace("'", "\\'")', '@item.image','@item.recipe_title.Replace("'", "\\'")', '@item.recipe_id', '@item.featured.Replace("'", "\\'")')">
                                            <div class="AddIconSpecial">
                                            </div>
                                            Add to my Shopping List
                                        </a>
                                        <div id="special_added_@(item.id)" class="specialAdded">
                                            <div id="" class="AcceptIconCookBook">
                                            </div>
                                            <span>This is in your Shopping List</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="special_added_" class="newLine">
                                            <div id="" class="AcceptIconCookBook">
                                            </div>
                                            <span>This is in your Shopping List</span>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <div id="special_added_@(item.id)">
                                        <div id="" class="AcceptIconSpecial">
                                        </div>
                                        <span>This is in your Shopping List</span>
                                    </div>
                                }
                            }
                            else
                            {
                                <a class="sidebar-action" id="special_adding_@(item.id)" href="@Url.RouteUrl("Login")">
                                    <div class="AddIconSpecial">
                                    </div>
                                    Add to my Shopping List
                                </a>
                            }

                        @*<a class="" onclick="">
                            <div class="AddIconSpecial">
                            </div>
                            Add to my Shopping List
                        </a>
                        <div id="special_added_" class="specialAdded">
                            <div id="" class="AcceptIconCookBook">
                            </div>
                            <span>This is in your Shopping List</span>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div id="divNoResults" class="header2" runat="server" visible="false">
        No specials were found.
    </div>
}




