﻿/*Default Layout*/
body { padding-bottom: 80px; }
.logo-img { width: 100%; max-width: 180px; height: auto; margin-top: 3px; margin-left: 15px; background: #fff; padding: 3px; border-radius: 10px; }
.navbar-header { padding: 0px; }
.top-menu.navbar-default .navbar-nav > li > a { padding-left: 15px; background: #fff; cursor: pointer; }
    .top-menu.navbar-default .navbar-nav > li > a:hover, .top-menu.navbar-default .navbar-nav > li > a:visited, .top-menu.navbar-default .navbar-nav > li > a:focus { background: #fff !important; }
#myBar { top: 0; position: fixed; }
    #myBar li { padding: 0; }
.footer { position: fixed; }





/* Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body { padding-bottom: 80px; }
    .navbar-header { padding: 0px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 15px; }
    .logo-img { margin-top: 7px; }
    .footer { position: fixed; }
}



/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {
    body { padding-bottom: 0px; }
    .navbar-header { padding: 0px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 0px; }
    .logo-img { margin-top: 2px; }
    #myBar li { padding: 0; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
}



/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body { padding-bottom: 0px; }
    .navbar-header { padding: 0px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 0px; }
    .logo-img { margin-top: 2px; }
    #myBar li { padding: 0; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
}


/*Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    body { padding-bottom: 0px; }
    .navbar-header { padding: 15px; }
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 0px; }
    .logo-img { margin-top: 2px; }
    #myBar li { padding: 0; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
}
