﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "body_start_html_tag_after" })
@Html.Partial("_Notifications")
<div class="headerwrapper">
	@Html.Partial("Header")
	@Html.Partial("HeaderMenu")
</div>
<div class="background-wrapper">
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        @*<script type="text/javascript">
        //<![CDATA[
            //replace the first parameter with "true" to use popup notifications
            AjaxCart.init(true, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
          //]]>
        </script>*@

        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "content_before" })
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        @RenderBody()
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "content_after" })
        @Html.Action("EuCookieLaw", "Common")
    </div>
    
</div>
</div>

@Html.Action("Footer", "Common")
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "body_end_html_tag_before" })
