﻿<div class="header shadowwrapper">
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")" class="logo">&nbsp; </a>
    </div>

	
	@Html.Action("HeaderLinks", "Common")
	
	

    <div class="header-links-wrapper">
        @*@Html.Action("FlyoutShoppingCart", "ShoppingCart")*@
    </div>
    <div class="header-selectors-wrapper">
        <div class="header-taxdisplaytypeselector">
            @Html.Action("TaxTypeSelector", "Common")
        </div>
        <div class="header-currencyselector">
            @Html.Action("CurrencySelector", "Common")
        </div>
        <div class="header-languageselector">
            @Html.Action("LanguageSelector", "Common")
        </div>
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_selectors" })
    </div>
</div>
