﻿@using Nop.Plugin.Other.Catering.Models
@model CateringEventModel
@{
    //page title
    //ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
    //Layout = "~/Views/Shared/_CateringLayoutThree.cshtml";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "eventdetail-form" }))
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.AddressId)
    @Html.HiddenFor(model => model.CurrentCustomerId)
    @Html.HiddenFor(model => model.SupplierStoreId)
    @Html.HiddenFor(model => model.SupplierStoreName)
    @Html.HiddenFor(model => model.SupplierStoreDistance)
    @Html.HiddenFor(model => model.OrderId)
    @Html.HiddenFor(model => model.CafePickup)
    <table class="login-table-container">
        <tbody>
            @*@ViewBag.DefaultTime*@
            <tr class="row">
                <td class="item-name">
                    @Html.LabelFor(m => m.DeliveryTime)
                </td>
                <td class="item-value">
                    @Html.EditorFor(m => m.DeliveryTime, "DateTime") 
                    @Html.ValidationMessageFor(m => m.DeliveryTime)
                </td>
            </tr>

            <tr class="row">
                <td class="item-name">
                    @Html.LabelFor(m => m.NumberOfPeople)
                </td>
                <td class="item-value">
                    @Html.TextBoxFor(m => m.NumberOfPeople) 
                    @Html.ValidationMessageFor(m => m.NumberOfPeople)
                </td>
            </tr>

            @*<tr class="row">
                <td colspan="2">
                    <div class="buttons">
                        <button class="loginbutton" type="submit">@T("Account.Login.LoginButton")</button>
                    </div>
                </td>
            </tr>
			<tr class="row">
                <td class="forgot-password" colspan="2" style="font-size:16px;">
                    @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")
                </td>
            </tr>*@
        </tbody>
    </table>
}

<div id="next">
    <a onclick="api.eventDetailNextClick();" href="javascript:void(0)">Next</a>
</div>