﻿.pagination
{
    margin: 10px 0;
}
.pagination span.disabled
{
    border: 1px solid #DDDDDD;
    color: #999999;
}
.pagination a, .pagination span
{
    display: block;
    float: left;
    margin-right: 1px;
    padding: 0.1em 0.3em;
}
.pagination span.current, .pagination a:hover
{
    background-color: #747243 !important;
    border: 1px solid #747243;
    color: #FFFFFF;
    font-weight: bold;
}
.pagination a, .pagination span
{
    display: block;
    float: left;
    margin-right: 1px;
    padding: 0.1em 0.3em;
}
.pagination a, .pagination a:visited
{
    background-color: #FFFFFF;
    border: 1px solid #BC9754;
    text-decoration: none;
}

.pagination a, .pagination span
{
    display: block;
    float: left;
    margin-right: 1px;
    padding: 0.1em 0.3em;
}
a
{
    color: #083564;
    text-decoration: none;
}
.header1
{
    color: #747243;
    font-size: 25px;
    font-weight: bold;
    margin: 7px 0;
}
.header2
{
    color: #993300;
    font-size: 20px;
    font-weight: bold;
    margin: 7px 0;
}


.sidebarContent
{
    
	border-left:#663300 3px solid;
    height: auto !important;
    margin-left: 10px;
    min-height: 500px;
    padding-left: 20px;
    float: left;
    width: 290px;
}
/*#dvcookbook h2.header2{color:#009}*/
.sidebarContentTips
{
    height: auto !important;
    margin-left: 10px;
    min-height: 500px;
    padding-left: 20px;
    float: left;
    width: 340px;
}
.mainContent
{
    float: left;
    width: 620px;
}
.mainContentTips
{
    float: left;
    width: 555px;
}

.recipeGallary
{
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.recipeGallary img
{
    height: 130px;
    width: 145px;
}

.recipeGallary a
{
    color: #083564;
    text-decoration: none;
}

.recipeGallary .recipeTitle:hover
{
    text-decoration: underline;
}

#recipesearch
{
    margin-top: 6px;
}
/*#recipesearchMobile
{
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 3px 3px 10px -1px;
    background-color: #993300;
    height: 50px;
    width: 260px;
}*/
#quicksearch, #quicksearchRecipeCalender
{
    float: left;
    width: 250px;
    height: 29px;
    background: url("images/search_left.png") no-repeat;
    border: none;
    padding-left: 5px;
}
/*.ui-radio
{
    margin:0px;
    padding:0px;
}
.ui-checkbox input, .ui-radio input
{
   
    left:0;
    position:relative;
}*/
#scaling
{
    margin: 10px 5px;
}


#specials_search_form
{
    float: right;
    margin-right: 25px;
    padding-bottom: 8px;
}

.specials_select_category
{
    margin-right: 1em;
    height: 21px;
}

.special
{
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: none repeat scroll 0 0 white;
    border: 1px solid #AAAAAA;
    float: left;
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    width: 288px;
}

.special_mobile
{
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background: none repeat scroll 0 0 white;
    border: 1px solid #AAAAAA;
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    width: 288px;
}

.special-image
{
    float: right;
    height: 128px;
    margin-bottom: 4px;
    margin-left: 4px;
    width: 128px;
}

.special-image img
{
    display: block;
    margin: 0 auto;
}

#specials-box span.brand
{
    display: block;
    font-weight: bold;
}
#specials-box span.product
{
    display: block;
    margin: 3px 0;
}
#specials-box p
{
    margin: 5px 0;
}

.special-offer
{
    color: #8D212F;
    font-size: 110%;
    font-weight: bold;
}

.shoppinglist-add
{
    bottom: 4px;
    position: absolute;
}

.shoppinglist-add
{
    clear: both;
}
.sblink-icon
{
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
img
{
    border: 0 none;
}

#tip-list
{
    float: left;
    margin: 0;
    padding: 5px 0px;
}

#tip-list li
{
    list-style: none outside none;
    padding: 3px 0;
}

#tip
{
    border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border: 2px #663300 solid;
	padding:5px 10px;
	background:white;
    float: left;
    height: 710px;
    margin-left: 5px;
    overflow: auto;
    width: 530px;
}
.recipeSearchGo img
{
    src: url("images/recipe_search_go.png");
    cursor: pointer;
    margin-top: 8px;
    height: auto;
    width: 50px;
    height: 50px;
}
.deleteIconCookBook
{
    background: url("images/delete.png") no-repeat;
    float: left;
    width: 14px;
    height: 14px;
    visibility: hidden;
    margin: 0 0 0 -11px;
    padding: 0 5px 0 0;
}
.deleteIconCookBook1
{
    background: url("images/delete.png") no-repeat;
    float: left;
    width: 14px;
    height: 14px;
    visibility: hidden;
    margin: 0 0 0 -11px;
    padding: 0 5px 0 0;
}
.deleteIconSpecial
{
    background: url("images/delete.png") no-repeat;
    float: left;
    width: 14px;
    height: 14px;
    visibility: hidden;
    margin: 0 0 0 -11px;
    padding: 0 5px 0 0;
}
#highlight
{
    text-indent: bold;
    color: Black;
}
.AddIconCookBook
{
    background: url("images/add.png") no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
.AddIconSpecial
{
    background: url("images/add.png") no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
    clear: both;
}
.AcceptIconCookBook
{
    background: url("images/accept.png") no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
.AcceptIconSpecial
{
    background: url("images/accept.png") no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
    clear: both;
}
.showshoppinglistIconCookBook
{
    background: url("images/arrow_right.png") no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
.showshoppinglistIconOnSpecial
{
    background: url("images/arrow_right.png") no-repeat;
    float: right;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
.shoppinglist td.title-cell
{
    text-align: left;
    width: 40%;
}
.shoppinglist td
{
    text-align: center;
    padding: 4px;
}
#shoppinglist_head
{
    border-collapse: collapse;
    line-height: 110%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 12px;
}
#shopping_recipes td
{
    border: 0 none;
    padding: 0.25em;
    text-align: right;
    width: 3%;
}
#shopping_recipes table
{
    border-collapse: collapse;
    line-height: 110%;
    margin: 0;
    padding: 0;
    width: 100%;
}
/***/
pre.tip
{
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
    text-align: left;
    color: Black;
}
pre.code
{
    margin: 0px;
    padding: 5px;
    border: solid 1px #CCC;
    font-size: 1.0em;
}
em
{
    font-size: 0.9em;
    color: #777777;
}
#cookbook h1
{
    color: #747243;
    font-size: 25px;
    font-weight: bold;
    margin: 7px 0;
}
#dvcookbook h2
{
    color: #993300;
    font-size: 20px;
    font-weight: bold;
    margin: 7px 0;
}
#dvcookbook img.cookbook-delete
{
    float: left;
    margin: 0 0 0 -11px;
    padding: 0 5px 0 0; /*visibility:hidden;*/
    background-image: "<%=ResolveUrl(" ~/ ")%>images/delete.png";
}

#dvcookbook .cls
{
    float: left;
    margin: 0 0 0 -11px;
    padding: 0 5px 0 0; /*visibility:hidden;*/
}

#dvcookbook .cls a:hover
{
    border: 1px solid red;
}

ul.horizontal_list
{
    margin: 0 auto;
    padding: 0;
}
ul.horizontal_list li
{
    text-align: left;
    float: left;
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 1px;
    width: 235px; /*border: 1px solid red;*/
}

ul.horizontal_list_mobile
{
    /*margin: 0 auto;     padding: 0;*/
}
ul.horizontal_list_mobile li
{
    text-align: left;
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 1px; /* width: 290px; border: 1px solid red;*/
}

/**shoppinglist***/
h1
{
    color: #747243;
    font-size: 25px;
    font-weight: bold;
    margin: 7px 0;
}
h2
{
    color: #993300;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0;
}

#content-wrapper
{
    min-height: 150px;
}
#shopping_recipes td
{
    border: 0 none;
    padding: 0.25em;
    text-align: right;
    width: 3%;
}
#shopping_recipes table
{
    border-collapse: collapse;
    line-height: 110%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.shoppinglist td.title-cell
{
    text-align: left;
    width: 40%;
}
.shoppinglist td
{
    text-align: center;
    padding: 4px;
}
#shoppinglist_head
{
    border-collapse: collapse;
    line-height: 110%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 12px;
}
#shopping-ingredients ul
{
    padding: 0 10px;
}
.shoppinglist-column
{
    float: left;
    width: 30%;
    padding: 5px;
}
ul
{
    /* margin: 0 auto;*/
    padding: 0 0 0 15px;
}
.recipeList a
{
    text-decoration: none;
}
.recipeList
{
}
#listview td
{
    font-family: Tahoma,Geneva,helvetica,sans-serif;
    font-size: 12px;
}
.newLine
{
    clear: both;
}
.pdflink
{
    margin: 5px 25px 5px 0;
}
.shoppingListIconOnSpecial
{
    margin: 0 0px 5px 16px;
}
.sidebar-action
{
    cursor: pointer;
}
.specialAdded
{
    clear: both;
    display: none;
}
.recipe_time
{
    font-weight: bold;
}
.nu_detail
{
    width: auto;
    overflow: inherit;
    display: none;
}
.showDetailsingleRecipe
{
    padding: 10px;
}
.displayNone
{
    display: none;
}
.text_align_center
{
    text-align: center;
}
.showRecipeListTitleWidth
{
    width: 330px;
}
.showRecipeListcolumnsMinWidth
{
    min-width: 40px;
}
.imgSearchBtn, .imgSearchBtnRecipeCalender
{
    cursor: pointer;
}
.imgSearchBtnMobile
{
    background: url("images/recipe_search_go.png") no-repeat;
    float: left;
    height: 24px;
    width: 24px;
    margin-top: 12px;
    cursor: pointer;
}
.floatLeft
{
    float: left;
}
.floatRight
{
    float: right;
}
.font_weight_bold
{
    font-weight: bold;
}
.font_size_16px
{
    font-size: 16px;
}
.font_size_10px
{
    font-size: 10px;
}
.margin_top_10px
{
    margin-top: 10px;
}
.margin_top_10px div
{
    float: left;
    width: 90px;
}
.color_green
{
    color: Green;
}
.margin_6_px
{
    margin: 6px;
}

.recipe-time
{
    font-weight: bold;
}
#recipe_photo
{
    float: right;
    margin-bottom: 10px;
}
#recipe_ingredients li
{
    /*list-style: none outside none;     padding: 3px 0 3px 10px;*/
}
#recipe_ingredients
{
    padding: 10px 40px;
}
p
{
    margin: 5px 0;
}

#recipe_nutrition
{
    border-top: 2px solid #BC9754;
    clear: both;
    padding-top: 10px;
    overflow: inherit;
}
.nutrient_brief
{
    float: left;
    width: 65px;
    padding: 0 3px 0 3px;
}
#nutrition_brief
{
    padding: 10px;
}
.rpt_nu_left_detail
{
    float: left;
    width: 350px;
    border: .5px solid red;
}
.nutrient_detail_block
{
    float: left;
    width: 290px;
    padding: 10px;
    margin: 5px;
}
.nutrient_item
{
    width: 100px;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 12px;
}
h3
{
    color: #993300;
    font-size: 20px;
    font-weight: bold;
    margin: 7px 0;
}
#ancMore
{
    cursor: pointer;
}

#bookmark
{
    font-size: 15px;
    margin: 10px 0;
}

.anc_mouse
{
    color: Blue;
}
/**/

#cookbook
{
    border-top: dotted 2px #CCC;
    margin-top: 15px;
}
#cookbook img.cookbook-delete
{
    float: left;
    margin: 0 0 0 -11px;
    padding: 0 5px 0 0; /*visibility:hidden;*/
}
.ul_width_formobile
{
    width: 80%;
}
.bg_Red
{
    background: #C11B17;
}
.btnDelCookBookMobile
{
    width: 25px;
    height: 25px;
}
.width_20per
{
    width: 20%;
    text-align: center;
}
.width_80per
{
    width: 80%;
}
.width_50
{
    width: 50px;
}
.height_30
{
    height: 30px;
}
.deletespecial
{
    background: url("images/delete.png") no-repeat;
    width: 14px;
    height: 14px;
    float: left; /* padding-top: 5px;*/ /*visibility: hidden;     margin: 0 0 0 -11px;     padding: 0 5px 0 0;*/
}
.view_my_shopping_list
{
    background: url("images/view_shopping_list.png") no-repeat;
    width: 211px;
    height: 33px;
}
.view_entire_add
{
    background: url("images/view_all_specials.png") no-repeat;
    width: 140px;
    height: 33px;
}
.view_pdf
{
    background: url("images/view-pdf.png") no-repeat;
    width: 140px;
    height: 33px;
    margin: 5px 0 15px 0;
}

.special-header
{
    color:Black;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.color_red
{
    color: Red;
}
.overflowAuto
{
    height: 500px;
    overflow: auto;
}
.DivPrint
{
    background: url("images/printer.png") no-repeat;
    height: 32px;
    width: 32px;
}
.margin10
{
    margin: 10px;
}
.marginbottom10
{
    margin-bottom: 10px;
}
.marginleft_10
{
    margin-left: 10px;
}
.borderBottom
{
    border-bottom: 1px solid #000;
}
.font20
{
    font-size: 20px;
    color: white;
    background-color: #747243;
    padding: 3px 0 3px 5px;
    margin-top: 10px;
}
.special_view_all
{
    height: 130px;
    width: 145px;
    background: url("images/specials_view_all.jpg") no-repeat;
}

.deleteIconshoppinglistuseritem
{
    background: url("images/delete.png") no-repeat;
    float: left;
    width: 14px;
    height: 14px;
    visibility: hidden;
    margin: 0 0 0 -11px;
    padding: 0 5px 0 0;
}
#external-events
{
    float: left;
    width: 500px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
}

#external-events h4
{
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

.external-event
{
    /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #A6D9F4;
    color: #000;
    font-size: .85em;
    cursor: pointer;
}
.fc-event-skin
{
    background: #A6D9F4;
    border: #A6D9F4;
    color: #000;
}
.external-event img
{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

#external-events p
{
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input
{
    margin: 0;
    vertical-align: middle;
}
#calendar
{
    float: right;
    width: 550px;
}
.width_600
{
    width: 600px;
}
.mainContentTips .recipeList .header1{margin-left:15px;}
