﻿@using Telerik.Web.Mvc.UI
@using Nop.Plugin.Events.Models
@model Telerik.Web.Mvc.GridModel<EventModel>


@{
   
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

}


<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.ContentManagement.Events")
    </div>
    <div class="options">
        <a href="@Url.Action("Create", "/Plugin/Events/Event/")" class="t-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<EventModel>()
                    .Name("eventitem-grid")
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        //var url = "/Admin/Plugin/Events/Event/Edit/";
                        columns.Bound(x => x.Title).Width(150);
                        columns.Bound(x => x.CustomerRoles).Width(300);
                        columns.Bound(x => x.EventComments)
                            .Width(150)
                            .Template(@<text><a href="Comment/filterByEventItemId/@item.Id"> View Comments - @item.totalComments</a></text>)
                            .ClientTemplate("<div><a href=\"/Admin/Plugin/Events/Event/Comment/filterByEventItemId/<#= Id #>\">" + T("Admin.ContentManagement.Events.Fields.Comments").Text + " - <#=  totalComments #>" + "</a></div>")
                            ;

                        columns.Bound(x => x.Published).Width(150)
                            .Template(x => x.Published.ToString().ToLower())
                            ;
                        columns.Bound(x => x.DayTime).Width(150);
                        columns.Bound(x => x.Id)
                            .Template(@<text><a href="Edit/@item.Id">Edit</a></text>)
                            .ClientTemplate("<a href=\"/Admin/Plugin/Events/Event/Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Width(50)
                            //.Centered()
                            .HeaderTemplate(T("Admin.Common.Edit").Text)
                            ;
                    
                           
                      })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("Admin.Plugin.Events.Event.List"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
