﻿@model Nop.Plugin.Other.SpecialEvent.Models.SpecialEventModel
@using Nop.Web.Framework
@using Telerik.Web.Mvc.UI;




@Html.ValidationSummary(true)

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.BookingDate);
<table class="adminContent">
    <tr>
				<td>
						<b>
								@T("Admin.Plugin.Other.SpecialEvent.FormMessage")
						</b>
						<br />
				</td>
    </tr>
</table>
<hr />

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Phone):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </td>
    </tr>
		<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Email):
        </td>
        <td class="adminData">
						@Html.EditorFor(model => model.Email)
						@Html.ValidationMessageFor(model => model.Email)
        </td>
    </tr>
		<tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.GuestNumbers):
        </td>
        <td class="adminData">
						@Html.EditorFor(model => model.GuestNumbers)
						@Html.ValidationMessageFor(model => model.GuestNumbers)
        </td>
    </tr>
</table>

