﻿@model FooterModel
@using Nop.Web.Models.Common;
<div class="footer-wrapper">
	<div class="footer shadowwrapper">
	<div class="clear" style="height:1px"></div>
		<ul>
			<li><a alt="Home" href="../">Home</a></li>
			<li><a alt="Home" href="../contactus">Contact Us</a></li>
			<li><a alt="Home" href="../t/Privacy-Policy">Privacy Policy</a></li>
			<li><a alt="Home" href="../themes/ProcoDefault/Content/Coupon-policy.pdf" target="new">Coupon Policy</a></li>
			<li><a alt="Home" href="../t/Term-And-Conditions ">Terms and Conditions</a></li>
		</ul>
		<a href="http://www.procomarketing.com"><img class="proco-logo" src="../themes/ProcoDefault/Content/images/proco_logo.png" /></a>
	</div>
</div>
    <div class="footer-disclaimer">
        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.StoreName)
    </div>
    <div class="footer-storetheme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("ChangeDeviceBlock", "Common")
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone ="footer" })