﻿/*Default Layout*/
body { padding-bottom: 80px; }
.logo-img { width: 100%; max-width: 180px; height: auto; margin-top: 3px; margin-left: 15px; background: #fff; padding: 3px; border-radius: 10px; }
/*.navbar-header { padding: 0px; }*/
.navbar-header img { margin-top: 6px; }
.top-menu.navbar-default .navbar-nav > li > a { padding-left: 15px; padding-right: 0; background: none; cursor: pointer; }
    .top-menu.navbar-default .navbar-nav > li > a:hover, .top-menu.navbar-default .navbar-nav > li > a:visited, .top-menu.navbar-default .navbar-nav > li > a:focus { background: none !important; }
#myBar { top: 36px; position: fixed; }
    #myBar li { padding: 0; }
.footer { position: fixed; }
.section-main { margin-top: 80px; padding-bottom: 15px; }
.top-menu.navbar-default ul.social li a { padding-right: 15px; padding-left: 0; padding-top: 2px; }
.top-menu .navbar-right li { padding-right: 10px; border-right: 1px solid #ddd; }
    .top-menu .navbar-right li:last-child { padding-right: 0px; border-right: 0; }







/* Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body { padding-bottom: 80px; }
    /*.navbar-header { padding: 0px; }*/
    .top-menu.navbar-default .navbar-nav > li > a { padding-left: 15px; padding-right: 0; }
    .logo-img { margin-top: 7px; }
    .footer { position: fixed; }
    #myBar { top: 36px; position: fixed; padding: 5px; }
    .section-main { margin-top: 80px; }
    .top-menu.navbar-default ul.social li a { padding-right: 15px; padding-left: 0; padding-top: 2px; }
    .top-menu .navbar-right li { padding-right: 10px; border-right: 1px solid #ddd; }
        .top-menu .navbar-right li:last-child { padding-right: 0px; border-right: 0; }
}



/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {
    body { padding-bottom: 0px; }
    /*.navbar-header { padding: 0px; }*/
    .logo-img { margin-top: 2px; }
    #myBar { top: 0px; position: relative; padding: 0px; }
        #myBar li { padding: 0; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
    .top-menu.navbar-default .navbar-nav > li { padding: 0 15px; }
        .top-menu.navbar-default .navbar-nav > li > a { padding: 10px !important; border-bottom: 1px solid #ddd; }
        .top-menu.navbar-default .navbar-nav > li:last-child > a { border-bottom: 0; }
    .navbar-inverse .navbar-nav > li > a { padding: 10px; border-bottom: 1px solid #ddd; }
    .navbar-nav .open .dropdown-menu { border-top: 1px solid #ddd; }
    .section-main { margin-top: 15px; }
    .header-logo { margin-top: 10px; margin-left: 15px; }
    .navbar-nav .open .dropdown-menu > li > a { padding: 11px 30px; }
    .top-menu .navbar-right li { border-right: 0; }
}



/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body { padding-bottom: 0px; }
    /*.navbar-header { padding: 0px; }*/
    .logo-img { margin-top: 2px; }
    #myBar { top: 0px; position: relative; padding: 0px; }
        #myBar li { padding: 0; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
    .top-menu.navbar-default .navbar-nav > li { padding: 0 15px; }
        .top-menu.navbar-default .navbar-nav > li > a { padding: 10px !important; border-bottom: 1px solid #ddd; }
        .top-menu.navbar-default .navbar-nav > li:last-child > a { border-bottom: 0; }
    .navbar-inverse .navbar-nav > li > a { padding: 10px; border-bottom: 1px solid #ddd; }
    .navbar-nav .open .dropdown-menu { border-top: 1px solid #ddd; }
    .section-main { margin-top: 15px; }
    .header-logo { margin-top: 10px; margin-left: 15px; }
    .navbar-nav .open .dropdown-menu > li > a { padding: 11px 30px; }
    .top-menu .navbar-right li { border-right: 0; }
}


/*Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    body { padding-bottom: 0px; }
    /*.navbar-header { padding: 15px; }*/
    .logo-img { margin-top: 2px; }
    #myBar { top: 0px; position: relative; padding: 0px; }
        #myBar li { padding: 0; }
    .footer { position: relative; }
    .devider-right { border-right: 0 !important; padding-right: 15px !important; }
    .devider-left { border-left: 0 !important; padding-left: 15px !important; }
    .top-menu.navbar-default .navbar-nav > li { padding: 0 15px; }
        .top-menu.navbar-default .navbar-nav > li > a { padding: 10px !important; border-bottom: 1px solid #ddd; }
        .top-menu.navbar-default .navbar-nav > li:last-child > a { border-bottom: 0; }
    .navbar-inverse .navbar-nav > li > a { padding: 10px; border-bottom: 1px solid #ddd; }
    .section-main { margin-top: 15px; }
    .header-logo { margin-top: 10px; margin-left: 15px; }
    .navbar-nav .open .dropdown-menu { border-top: 1px solid #ddd; }
        .navbar-nav .open .dropdown-menu > li > a { padding: 11px 30px; }
    .top-menu .navbar-right li { border-right: 0; }
}
