﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <strong>
                @Model.Result
				<style type="text/css">
					.table-container{display:none;}
				</style>	
				</strong>
        }
        @using (Html.BeginForm())
        {            
            <table class="table-container">
                <tr>
                    <td class="item-name tooltip" colspan="2">
                        @T("Account.PasswordRecovery.Tooltip")
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        @Html.LabelFor(model => model.Email):
                    </td>
                    <td class="item-value">
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr class="row">
                    <td class="item-name">
                        &nbsp;
                    </td>
                    <td class="buttons">
                        <input type="submit" id="send-email" name="send-email" class="passwordrecoverybutton" value="@T("Account.PasswordRecovery.RecoverButton")" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>
