﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div id="carousel-example-generic-homepage-product">
            <div class="carousel-inner">
                @{
                    var ci = 0;
                } 
                @foreach (var item in Model)
                {
                    if(ci==0)
                    {
                        @:<div class="item active">
                        @:<div class="row box-products" >
                    }else if(ci%3==0){
                        @:<div class="item">
                        @:<div class="row box-products" >
                    }
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-md-12">
                        <div class="offer offer-default silde-show-offer">
                            @Html.Partial("_HomePageProductBox", item)
                        </div>
                    </div>
                    

                    if(ci%3==2){
                        @:</div>
                        @:</div>
                    }
                    ci++;
                }
                @if(ci%3==2){
                    @:</div>
                    @:</div>
                }
        
            </div>
        </div>

       
    </div>
@:<br/>
} 