﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
@*@Html.Action("Index","SideMenu",new { area = "" })*@
@Html.Widget("header_links_before")
<ul class="nav navbar-nav social">
    @*@Html.Action("AdminHeaderLinks", "Common")*@
    <li>
        <a href="/">
            <i class="fa fa-home fa-lg"></i>Home
            @*<img src="~/Themes/SouthTownHealthFoods/Content/images/restaurante-logo.png" alt="restaurante-logo">*@
        </a>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li>
        <a>
            <i class="glyphicon glyphicon-globe"></i><span>2100 W 95th St., Chicago, IL 60643</span>
        </a>
    </li>
    <li>
        <a>
            <i class="glyphicon glyphicon-earphone"></i><span>773-233-1856</span>
        </a>
    </li>
    @if (Model.IsAuthenticated)
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-cog block"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@Model.CustomerEmailUsername</a></li>
                <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="glyphicon glyphicon-cog block"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></li>
                <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
            </ul>
        </li>
    }

</ul>
@Html.Widget("header_links_after")

@*Notification window*@
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="notificationModalLabel">@T("Common.Notification")</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))
            </div>
        </div>
    </div>
</div>