﻿@using Telerik.Web.Mvc.UI
@using Nop.Plugin.Events.Models
@model Telerik.Web.Mvc.GridModel<EventCommentModel>
@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@{
    int? filterByEventItemId = ViewBag.filterByEventItemId;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.ContentManagement.Events.Comments")
    </div>
    <div class="options">
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<EventCommentModel>()
                            .Name("comments-grid")
                            .BindTo(Model.Data)
                    .DataKeys(x =>
                    {
                        x.Add(y => y.Id).RouteKey("Id");
                    })
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Id)
                            .Width(50);
                        columns.Bound(x => x.EventTitle)
                            .Width(200)
                            .Template(@<text><a href="/Admin/Plugin/Events/Event/Edit/@item.EventId">@item.EventTitle</a></text>)
                            .ClientTemplate("<a href=\"/Admin/Plugin/Events/Event/Edit/<#= EventId #>\"><#= EventTitle #></a>");
                        columns.Bound(x => x.CustomerId)
                            .Width(50)
                            .Template(x => Html.ActionLink(T("Admin.Common.View").Text, "Edit", "Customer", new { id = x.CustomerId }, new { }))
                            .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Customer/Edit/") + "<#= CustomerId #>\">" + T("Admin.Common.View").Text + "</a>");
                        columns.Bound(x => x.CommentTitle)
                            .Width(150);
                        columns.Bound(x => x.CommentText)
                            .Width(350)
                            .Encoded(false);
                        columns.Bound(x => x.IpAddress)
                            .Width(100);
                        columns.Bound(x => x.createdOn)
                            .Width(150);
                        columns.Command(commands =>
                        {
                            commands.Delete();
                        }).Width(90);
                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding =>
                    {
                         var settingBuilder = dataBinding.Ajax();
                           if (filterByEventItemId.HasValue)
                           {
                              settingBuilder = settingBuilder.Select("Comment", "/Plugin/Events/Event/", new { filterByEventItemId = filterByEventItemId.Value });
                              settingBuilder = settingBuilder.Delete("CommentDelete", "/Plugin/Events/Event/", new { filterByEventItemId = filterByEventItemId.Value });
                           }
                           else
                           {
                              settingBuilder = settingBuilder.Select("Admin.Plugin.Events.Comments.List");
                              settingBuilder = settingBuilder.Delete("CommentDelete", "/Plugin/Events/Event/");
                           }
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
