﻿@using Nop.Plugin.Events.Models;
@model IList<EventModel>
@{
    Layout = "";
    Html.AddCssFileParts(@Url.Content("~/Plugins/Events/Content/Events.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Events/Scripts/fullcalendar/fullcalendar.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Events/Scripts/Events.js"));
   Html.AddScriptParts(@Url.Content("~/Plugins/Events/Scripts/fullcalendar/fullcalendar.js"));
 //  Html.AddScriptParts(@Url.Content("~/Plugins/Events/Scripts/fullcalendar/jquery/jquery-1.7.1.min.js"));
   
   
}


<input type="button" value="Show All Events" onclick="storeroleselectorchange(-1)" />
<br />

<br />

<div class="eventListDiv margin-bottom-0">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="eventDiv">
            <div class="eventTitle">
                <a href="@Url.RouteUrl("eventDetails", new { eventId = @Model[i].Id })">@Model[i].Title</a>
                - @Model[i].DayTime.ToLongDateString()
            </div>
            <div class="eventShortDescription">
                @Html.Raw(Model[i].ShortDescription)
            </div>
            <div>@Html.ActionLink("Details", "Details", new { eventId = Model[i].Id })</div>
            <br />
        </div>
    }
</div>


					
					
				
					
						
				
			
