﻿@model AccountActivationModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
}
<div class="page account-activation-page">
    <div class="panel panel-default form-panel">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Account.AccountActivation")</span>
            <span class="solid_line"></span>
        </h3>
    @*<div class="panel-heading">
        <h3>@T("Account.AccountActivation")</h3>
    </div>*@
        <div class="panel-body">
            <strong>
                @Model.Result
            </strong>
        </div>
    </div>
</div>
