﻿@model CustomerDownloadableProductsModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
<div class="page account-page downloadable-products-page">
    <div class="panel panel-default form-panel">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Account.MyAccount") - @T("Account.DownloadableProducts")</span>
            <span class="solid_line"></span>
        </h3>
        @*<div class="panel-heading">
            <h3>@T("Account.MyAccount") - @T("Account.DownloadableProducts")</h3>
        </div>*@
        <div class="panel-body">
            @if (Model.Items.Count > 0)
            {
                <table class="data-table table table-bordered table-hover">
                    <colgroup>
                        <col width="1" />
                        <col width="1" />
                        <col />
                        <col width="1" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="a-center order">
                                @T("DownloadableProducts.Fields.Order")
                            </th>
                            <th class="a-center date">
                                @T("DownloadableProducts.Fields.Date")
                            </th>
                            <th class="a-center product">
                                @T("DownloadableProducts.Fields.Product")
                            </th>
                            <th class="a-center download">
                                @T("DownloadableProducts.Fields.Download")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            var item = Model.Items[i];
                            <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                <td class="a-center order">
                                    <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.OrderId })">@item.OrderId</a>
                                </td>
                                <td class="a-center date">
                                    @item.CreatedOn.ToString("d")
                                </td>
                                <td class="a-center product">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    @if (!String.IsNullOrEmpty(item.ProductAttributes))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.ProductAttributes)
                                        </div>
                                    }
                                </td>
                                <td class="a-center download">
                                    @if (item.DownloadId > 0)
                                    {
                                        <div>
                                            <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            @T("DownloadableProducts.Fields.Download.NA")
                                        </div>
                                    }
                                    @if (item.LicenseId > 0)
                                    {
                                        <div>
                                            <a href="@Url.RouteUrl("GetLicense", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="no-data">
                    @T("DownloadableProducts.NoItems")
                </div>
            }
        </div>
    </div>
</div>
