﻿@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var continueUrl = "";
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        continueUrl = this.Context.Request.QueryString["returnUrl"];
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}
<div class="page registration-result-page">
    <div class="panel panel-default form-panel">
        <h3 class="valley-page-title">
            <span class="bold_line"><span></span></span>
            <span class="title_text">@T("Account.Register")</span>
            <span class="solid_line"></span>
        </h3>
        @*<div class="panel-heading">
            <h3>@T("Account.Register")</h3>
        </div>*@
        <div class="panel-body">
            <div class="result">
                @Model.Result
            </div>
            <div class="buttons">
                <input type="button" class="btn btn-meals-for-you" onclick="location.href='@continueUrl'" value="@T("Account.Register.Result.Continue")" />
            </div>
        </div>
    </div>
</div>
