﻿

@using Nop.Plugin.Other.Catering.Models
@model ReportSummaryModel
@using Nop.Web.Extensions

@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
        @T("Admin.Plugin.Other.Catering.Report")
    </div>
    <div class="options">
        @*<a href="/Admin/Plugin/Other/Catering/Report?generatePdf=true&&pagenumber=@ViewBag.PageNumber" class="k-button generate-pdf">Invoice (PDF)</a>*@
        <a href="javascript:void(0)" onclick="GeneratePDF();" class="k-button generate-pdf">Invoice (PDF)</a>
    </div>
</div>
<form action="/Admin/Plugin/Other/Catering/Report" id="report-search">
    <table width="100%">


        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.DeliveryStartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.DeliveryStartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.DeliveryEndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.DeliveryEndDate)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.StartDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.StartDate)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.EndDate):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CateringOrderList.EndDate)
            </td>
        </tr>
       

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CateringOrderList.StoreId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SupplierStoreId", Model.CateringOrderList.AvailableStores)
            </td>
        </tr>


        <tr>
            <td colspan="2">
                <input type="submit" id="btnSearch" class="k-button" value="@T("Admin.Common.Search")" />
            </td>
        </tr>

    </table>
</form>
    <p>
    </p>

@foreach (var item in Model.GroupedReportItems)
    {
<div class="root-div">
    <div class="table-title">
        <span class="title">Orders - Catering Production Order Report</span>
        @if (item.OrderDay != null)
        {
            <span class="date">@item.OrderDay.Value.ToString("dddd-MM/dd/yy")</span>
        }

    </div>
    @foreach (var reportItem in item.CateringEvents)
    {
        var pickUp = reportItem.CafePickup.Equals(false) ? "Delivery" : "PickUp";

        <div class="main-table-div">
            <table class="main-table main-table2">
                <thead>
                    <tr>
                        <td class="darien-th">
                            @reportItem.SupplierStoreName
                        </td>
                        <td class="qty-th">
                            Order
                        </td>
                        <td class="size-th">
                            #@reportItem.OrderId
                        </td>
                        <td class="item-th">
                            <span>@reportItem.OrderedBy</span> &bull; @pickUp <span> @reportItem.DeliveryTime</span>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="darien-td simple-data">
                            PRODUCTION STORE
                        </td>
                        <td class="qty-td">
                            QTY
                        </td>
                        <td class="size-td">
                            SIZE
                        </td>
                        <td class="item-td">
                            ITEM
                        </td>
                    </tr>

                    @foreach (var product in reportItem.EventOrderItems)
                    {

                        <tr>
                            <td class="darien-td">@product.StoreName</td>
                            <td class="qty-td">@product.Quantity</td>
                            <td class="size-td">@product.Size</td>
                            <td class="item-td">
                                <b>@product.ProductName</b> <span> @Html.Raw(product.Attribute)</span>
                                @*@foreach (var item in product.OtherAttribute)
                                    {
                                        &bull; <span>@item</span>
                                    }*@
                                @*&bull; <span>Tomato Basil</span>   &bull; <span>Tomato Basil</span>*@
                            </td>
                        </tr>
                    }
                    @if (reportItem.OrderNotes.Count() > 0)
                    {
                        <tr>
                            <td class="darien-td simple-data">
                                <b>Order Notes</b>
                            </td>
                            <td class="qty-td">
                                &nbsp;
                            </td>
                            <td class="size-td">
                                &nbsp;
                            </td>
                            <td class="item-td">
                                <ol>
                                    @foreach (var orderNote in reportItem.OrderNotes)
                                    {
                                        <li>@orderNote.Note</li>
                                    }
                                </ol>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    }
</div>
}
        <div class="pager">
            @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
        </div>

<script type="text/javascript">

    $(document).ready(function () {
        $(".pager a").each(function (index) {
            var changedlink = $(this).attr("href").replace("Admin", "Admin/Plugin/Other");
            $(this).attr("href", changedlink)
            console.log(index + ": " + $(this).text());
        });
    });

    function GeneratePDF()
    {
        if (window.location.search === "")
        {
            window.location = "?generatePdf=true";
        }
        else
        {
            window.location = window.location + "&&generatePdf=true";
        }
    }
</script>

