﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Topics;
@using System.Text.RegularExpressions
@using Nop.Web.Extensions
@using Nop.Web.Models.Catalog;

<section class="row pad-bottom">
    <div class="col-md-4">
        <div class="img-middle"> 
        <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("freeitems") })">
            <img src="~/Themes/NopStation/Content/images/free.png" alt="free items"/>
        </a>
        <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("freeitems") })"><h4 class="pad-image-title">@T("FreeItems")</h4></a>
@*         @Html.Action("TopicBlock", "Topic", new { systemName = "FreeItems" })*@

        </div>
    </div>
    <div class="col-md-4">
        <div class="img-middle"> 
            <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("support") })">
            <img src="~/Themes/NopStation/Content/images/support.png" alt="support" />
            </a>
@*            <a href="#"><h4 class="pad-image-title"> Support</h4></a>*@
        <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("support") })"><h4 class="pad-image-title">@T("Support")</h4></a>
        <p>You will get our technical support whenever you need.</p>


        </div>
    </div>

    <div class="col-md-4">
        <div class="img-middle"> 
        <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("livedemo") })">
            <img src="~/Themes/NopStation/Content/images/demo.png" alt="View demo"/>
        </a>
@*        <a href="#"><h4 class="pad-image-title"> Live Demo</h4></a>*@
        <a href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("livedemo") })"><h4 class="pad-image-title">@T("LiveDemo")</h4></a>
        <p>Have a quick view of the theme</p>

        </div>
    </div>
</section>

 <section>
    <div class="">
        <div class="row gray-background">
            <div class="col-lg-12">    
                <div class="col-md-3 border-right"> 
                    
                    <img src="~/Themes/NopStation/Content/images/showcase.png" />

                </div>  
                <div class="col-md-9 border-right"> <p class="text-center">Content goes here</p>

                </div>     
            
            </div>
        </div>
        

    </div>
</section>
@*@if (Model.Count > 0)
{
    <div class="product-grid bestsellers">
        <div class="title mid-content-title">
            <strong>@T("Bestsellers")</strong>
            <span class="pull-right">
                <a class="title-carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="title-carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>

            </span>

        </div>



        <div id="carousel-example-generic" class="carousel slide home-page-best-seller" data-ride="carousel">
    <!-- Indicators -->
    

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @{
                    var ci = 0;
         } 
        @foreach (var item in Model)
        {
            if(ci==0)
            {
                @:<div class="item active">
                @:<div class="row box-products" >
            }else if(ci%3==0){
                @:<div class="item">
                @:<div class="row box-products" >
            }
                    
            <div class="col-lg-4">
                <div class="offer offer-default silde-show-offer pull-text-center">
                    @Html.Partial("_ProductBox", item)
                </div>
            </div>
                    

            if(ci%3==2){
                @:</div>
                @:</div>
            }
            ci++;
        }
        @if(ci%3==2){
                @:</div>
                @:</div>
            }
        
    </div>

    <!-- Controls -->
    

</div>

    </div>
    

}*@





<br/>