﻿@model ShipmentDetailsModel
@using Nop.Web.Models.Order;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.ShipmentDetails").Text);
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-default form-panel">
                <h3 class="valley-page-title">
                    <span class="bold_line"><span></span></span>
                    <span class="title_text">@string.Format(T("Order.Shipments.Information").Text, Model.Id)</span>
                    <span class="solid_line"></span>
                </h3>
                @*<div class="panel-heading">
                    <h3>@string.Format(T("Order.Shipments.Information").Text, Model.Id)</h3>
                </div>*@
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 cart-box-wr">
                            <div class="coupon-box offer offer-default">
                                <div class="hint">
                                    <div class="title">
                                        <strong>@T("Order.Shipments.Order#")@Model.Order.Id</strong>
                                    </div>
                                    <div class="shipping-method">
                                        @T("Order.Shipments.ShippingMethod"): @Model.Order.ShippingMethod
                                    </div>
                                    <div class="shipped-date">
                                        @T("Order.Shipments.ShippedDate"):
                                        @if (Model.ShippedDate.HasValue)
                                        {
                                            @Model.ShippedDate.Value.ToString("D")
                                        }
                                        else
                                        {
                                            @T("Order.Shipments.ShippedDate.NotYet")
                                        }
                                    </div>
                                    <div class="delivery-date">
                                        @T("Order.Shipments.DeliveryDate"):
                                        @if (Model.DeliveryDate.HasValue)
                                        {
                                            @Model.DeliveryDate.Value.ToString("D")
                                        }
                                        else
                                        {
                                            @T("Order.Shipments.DeliveryDate.NotYet")
                                        }
                                    </div>
                                    <div class="shipping-method">
                                        @T("Order.Shipments.ShippingMethod"): @Model.Order.ShippingMethod
                                    </div>
                                    @if (!String.IsNullOrEmpty(Model.TrackingNumber))
                                    {
                                        <div class="tracking-number">
                                            @T("Order.Shipments.TrackingNumber"):
                                            @if (!string.IsNullOrEmpty(Model.TrackingNumberUrl))
                                            {
                                                <a href="@Model.TrackingNumberUrl" target="_blank" class="tracking-url">@Model.TrackingNumber</a>
                                            }
                                            else
                                            {
                                                @Model.TrackingNumber
                                            }
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 box-block">
                            <div class="box-heading">
                                <strong>@T("Order.Shipments.ShippingAddress")</strong>
                            </div>
                            <div class="box-content feature-box">
                                <div class="shipping-address">
                                    <div class="name">
                                        @Model.Order.ShippingAddress.FirstName @Model.Order.ShippingAddress.LastName
                                    </div>
                                    <div class="email">
                                        @T("Order.Shipments.Email"): @Model.Order.ShippingAddress.Email
                                    </div>
                                    <div class="phone">
                                        @T("Order.Shipments.Phone"): @Model.Order.ShippingAddress.PhoneNumber
                                    </div>
                                    <div class="fax">
                                        @T("Order.Shipments.Fax"): @Model.Order.ShippingAddress.FaxNumber
                                    </div>
                                    @if (!String.IsNullOrEmpty(Model.Order.ShippingAddress.Company))
                                    {
                                        <div class="company">
                                            @Model.Order.ShippingAddress.Company
                                        </div>
                                    }
                                    <div class="address1">
                                        @Model.Order.ShippingAddress.Address1
                                    </div>
                                    @if (!String.IsNullOrEmpty(Model.Order.ShippingAddress.Address2))
                                    {
                                        <div class="address2">
                                            @Model.Order.ShippingAddress.Address2
                                        </div>
                                    }
                                    <div class="city-state-zip">
                                        @Model.Order.ShippingAddress.City, @Model.Order.ShippingAddress.StateProvinceName
                                        @Model.Order.ShippingAddress.ZipPostalCode
                                    </div>
                                    @if (!String.IsNullOrEmpty(Model.Order.ShippingAddress.CountryName))
                                    {
                                        <div class="country">
                                            @Model.Order.ShippingAddress.CountryName
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    @if (Model.Items.Count > 0)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section products">
                                    <div class="title">
                                        <strong>@T("Order.Shipments.Product(s)")</strong>
                                    </div>
                                    <table class="cart table table-bordered">
                                        <colgroup>
                                            @if (Model.ShowSku)
                                            {
                                                <col width="1" />
                                            }
                                            <col />
                                            <col />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                @if (Model.ShowSku)
                                                {
                                                    <th class="a-center sku">
                                                        @T("Order.Shipments.Product(s).SKU")
                                                    </th>
                                                }
                                                <th class="a-center name">
                                                    @T("Order.Shipments.Product(s).Name")
                                                </th>
                                                <th class="a-center quantity">
                                                    @T("Order.Shipments.Product(s).Quantity")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Items)
                                            {
                                                <tr>
                                                    @if (Model.ShowSku)
                                                    {
                                                        <td class="a-left sku">
                                                            @item.Sku
                                                        </td>
                                                    }
                                                    <td class="a-left name">
                                                        <em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>
                                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                        {
                                                            <div class="attributes">
                                                                @Html.Raw(item.AttributeInfo)
                                                            </div>
                                                        }
                                                    </td>
                                                    <td class="a-center quantity">
                                                        @item.QuantityShipped
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <br />
                    }

                    @if (Model.ShipmentStatusEvents.Count > 0)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section products">
                                    <div class="title">
                                        <strong>@T("Order.ShipmentStatusEvents")</strong>
                                    </div>
                                    <table class="cart table table-bordered">
                                        <colgroup>
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="a-center event">
                                                    @T("Order.ShipmentStatusEvents.Event")
                                                </th>
                                                <th class="a-center location">
                                                    @T("Order.ShipmentStatusEvents.Location")
                                                </th>
                                                <th class="a-center country">
                                                    @T("Order.ShipmentStatusEvents.Country")
                                                </th>
                                                <th class="a-center date">
                                                    @T("Order.ShipmentStatusEvents.Date")
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ShipmentStatusEvents)
                                            {
                                                <tr>
                                                    <td class="a-left event">
                                                        @item.EventName
                                                    </td>
                                                    <td class="a-left location">
                                                        @item.Location
                                                    </td>
                                                    <td class="a-left country">
                                                        @item.Country
                                                    </td>
                                                    <td class="a-left date">
                                                        @if (item.Date.HasValue)
                                                        {
                                                            @item.Date.Value.ToString("D")
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                    }
                </div>
            </div>
        </div>

    </div>


</div>
