﻿@using Nop.Web.Extensions


<script type="text/javascript">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok').click(function () {
            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.RouteUrl("EuCookieLawAccept")',
                dataType: 'json',
                success: function (data) {
                    $('#eu-cookie-bar-notification').hide();
                },
                failure: function () {
                    alert('Cannot store value');
                }
            });
        });
    });
</script>
<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <div class="content">
        <div class="text">@T("EUCookieLaw.Description2")</div>
        <button type="button" class="ok-button btn btn-meals-for-you" id="eu-cookie-ok">@T("Common.OK")</button>
        <a class="learn-more" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("privacyinfo") })" target="_blank">@T("EUCookieLaw.LearnMore")</a>
    </div>
</div>
 