﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;
@*@Html.Action("Index","SideMenu",new { area = "" })*@
@Html.Widget("header_links_before")
<ul class="nav navbar-nav navbar-address">
    @*@Html.Action("AdminHeaderLinks", "Common")*@
    <li>
        <a>
            <i class="fa fa-home"></i>
            <span>
                <b>Location :</b><br />520 E. North Ave.
                Carol Stream, IL 60188
            </span>
        </a>
    </li>
    <li>
        <a>
            <i class="fa fa-phone"></i>
            <span><b>Phone :</b><br />630 620-4444</span>
        </a>
    </li>

</ul>

<ul class="nav navbar-nav navbar-right navbar-social">
    <li>
        <a href="https://www.facebook.com/AngeloCaputos" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://plus.google.com/u/0/+caputos/posts" target="_blank">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/shopcaputos" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    </li>

    @if (Model.IsAuthenticated)
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.RouteUrl("CustomerInfo")" class="account">@Model.CustomerEmailUsername</a></li>
                <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a></li>
            </ul>
        </li>
    }
    else
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a></li>
                <li><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a></li>
            </ul>
        </li>
    }

</ul>
@Html.Widget("header_links_after")

@*Notification window*@
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="notificationModalLabel">@T("Common.Notification")</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(HttpUtility.JavaScriptStringEncode(Model.AlertMessage))
            </div>
        </div>
    </div>
</div>