﻿@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated)
{
    <div id="impersonated" style="position: static; text-align: center;">
            You are logged in as an Impersonated User!
        <a href="/logout">(End Impersonate Session)</a>
    </div>
}