﻿<div class="changedevice" data-role="navbar">
    <ul><li><a data-ajax="false" href="@(Url.RouteUrl("ChangeDevice", new { dontusemobileversion = true }))">
        @T("Mobile.ViewFullSite")</a>
	</li>
	</ul>
</div>
