﻿
@using Nop.Web.Models.Common;

<link media="print" rel="stylesheet" type="text/css" href="/themes/ProcoDefault/Content/print.css" />
<link rel="stylesheet" type="text/css" href="/themes/ProcoDefault/Content/nav/superfish.css" media="screen">
@*<script type="text/javascript" src="/Scripts/hoverIntent.js"></script>
<script type="text/javascript" src="/Scripts/superfish.js"></script>*@
@*<script type="text/javascript">

		// initialise plugins
		//jQuery(function(){
		//	jQuery('ul.sf-menu').superfish();
		//});

		</script>*@



<ul class="topmenu sf-menu sf-js-enabled sf-shadow">
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_menu_before" })
    <li><a href="@Url.RouteUrl("HomePage")">Home</a></li>
	<li><a href="#">About</a>
		<ul>
			<li><a href="../../t/AboutUs ">A Little About Us</a></li>
			<li><a href="../../t/Helping-the-Community">Our Community</a></li>
		</ul>
	</li>
	<li><a href="#">Departments</a>
		<ul>
			<li><a href="../../t/Bakery">Bakery</a>
			<li><a href="../../t/Butcher-Shop">Butcher Shop</a>
			<li><a href="../../t/Party-Planning-Guide">Catering Menu</a>
			<li><a href="../../t/Delicatessen">Delicatessen</a>
			<li><a href="../../t/Gluten-Free">Gluten-Free Foods</a>
			<li><a href="../../t/Grocery">Grocery</a>
			<li><a href="../../t/Fine-Wine-Spirits-Beer">Liquor</a>
			<li><a href="../../t/Produce">Produce</a>
			<li><a href="../../t/Seafood">Seafood</a>
		</ul>
	</li>
	<li><a title="Our Ad" href="/SpecialsWithAdGroup">Our Ad</a>
		<ul>
			<li><a href="#">Burr Ridge</a>
				<ul>
					<li><a title="Specials" href="/SpecialsWithAdGroup/Burr%20Ridge">Web Ad</a></li>
					<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/flyer.html">Print Ad (Flash)</a></li>
					<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/pdf/flyer.pdf">Print Ad (PDF)</a></li>
				</ul>
			</li>
			<li><a href="#">Darien</a>
				<ul>
					<li><a title="Specials" href="/SpecialsWithAdGroup/Darien">Web Ad</a></li>
					<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/flyer.html">Print Ad (Flash)</a></li>
					<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/pdf/flyer.pdf">Print Ad (PDF)</a></li>
				</ul>
			</li>
			<li><a href="#">Mokena</a>
				<ul>
					<li><a title="Specials" href="/SpecialsWithAdGroup/Mokena">Web Ad</a></li>
					<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/flyer.html">Print Ad (Flash)</a></li>
					<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/pdf/flyer.pdf">Print Ad (PDF)</a></li>
				</ul>
			</li>
<!--			<li><a title="Specials" href="@Url.RouteUrl("specials")">Web Ad</a></li>
			<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/flyer.html">Print Ad (Flash)</a></li>
			<li><a title="Specials" href="/themes/ProcoDefault/Content/flyer/pdf/flyer.pdf">Print Ad (PDF)</a></li> -->
			<li><a title="This weeks U-Picks" href="@Url.RouteUrl("specialCouponOffer")">This Weeks U-Picks</a></li>
			<li><a title="Coupon Policy" href="/themes/ProcoDefault/Content/Coupon-policy.pdf" target="blank">Coupon Policy</a>
		</ul>
	</li>
	<li><a href="../../t/StoreLocations ">Locations</a>
	<li><a title="Recipe" href="@Url.RouteUrl("recipeindex")">Recipes</a></li>
	<li><a title="Food Tips" href="@Url.RouteUrl("tipsAndGuidesindex")">Tips & Tools</a></li>
	@if (Model.BlogEnabled)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
	<li><a alt="Home" href="../../contactus">Contact Us</a></li>
    @if (Model.RecentlyAddedProductsEnabled)
    {
        <!-- <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
        </li> -->
    }
    <!--<li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>-->
    <!--<li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>-->

    @if (Model.ForumEnabled)
    {
        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_menu_after" })
</ul>

