
<div>
    <style type="text/css">
        td { font-family: Times New Roman; font-size: 11pt; vertical-align: top; white-space: normal; }
        .clear { clear: both; }
        .leftfloat { float: left; }
        .padright5 { padding-right: 5px; }
        #content { width: 900px; font-family: Times New Roman; font-size: 11pt; }
        #mailheader { width: 100%; float: left; height: 100px; }
        #imglogo { width: 137px; float: left; height: 78px; }
        #headertext { font-family: Times New Roman; text-transform: uppercase; font-weight: bold; font-size: 20pt; padding: 40px 0 0 100px; float: left; text-decoration: underline; }
        .headers { /*font-family: Franklin Gothic Medium;*/ text-transform: uppercase; font-weight: bold; float: left; font-size: 11pt; }
        .formfont { font-family: Franklin Gothic Medium; font-size: 10pt; }
        #empname td { width: 330px; text-align: center; height: 15px; text-transform: uppercase; }
        .imgcheck { height: 16px; width: 18px; }
        .value { width: 100%; text-transform: none; text-decoration: underline; margin: 0 5px; }
        .thistable td { border-right: 1px solid black; border-bottom: 1px solid black; margin: 0; padding: 2px; }
        .workweek { height: 50px; vertical-align: top; width: 120px; }
        .addunderline { text-decoration: underline; margin: 0 5px; }
        p.MsoNormal { margin-bottom: .0001pt; font-size: 12.0pt; font-family: "Times New Roman", "serif"; margin-left: 0in; margin-right: 0in; margin-top: 0in; }
        /*Donation Form*/
        table.donation label { display: block; font-weight: 600; margin-bottom: 5px; }
    </style>
    <div id="content">
        <div class="mailheader">
            <div>
                <img id="imglogo" src="http://priscosfamilymarket.com/content/donation/logo.jpg" />
            </div>
            <div id="headertext">
                Donation Application
            </div>
        </div>
        <div class="clear">
        </div>
        <br />
        Brookhaven Market is an equal donation opportunity employer. Our company
        will provide reasonable accommodations with the application process upon your request
        consistent with applicable laws.
        <br />
        <br />
        <div class="leftfloat" style="width: 90%">
            <span class="headers">Donation Desired</span>
            <br />
        </div>
        <br />
        <table class="donation">
            <tr>
                <td>
                    <label style="font-weight:600">Store Name :</label><br />
                    Brookhaven Market
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Apply Date :</label><br />

                    4/22/2016 12:00:00 AM
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Event Date :</label><br />

                    4/22/2016 12:00:00 AM
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Organization :</label><br />

                    test
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Contact:</label><br />

                    test
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Title :</label><br />

                    Test
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Address :</label><br />

                    Dhaka
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">State :</label><br />

                    Other (Non US)
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Zip Code :</label><br />

                    02
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Phone Number :</label><br />

                    01683715481
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Fax Number :</label><br />

                    
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">E-mail Address :</label><br />

                    sina@sina.com
                </td>
            </tr>

            <tr>
                <td>
                    <label style="font-weight:600">Tell Us About Your Organization :</label><br />

                    test
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Organization Achievements & Impact on the Community :</label><br />

                    
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Event Name, Date, Location, and Mission :</label><br />

                    test
                </td>
            </tr>
            
            <tr>
                <td>
                    <label style="font-weight:600">Has your organization received a donation from Priscosmarket in the past? :</label><br />

                    Yes
                </td>
            </tr>
            
            <tr>
                <td class="">
                    <label style="font-weight:600">Items Requested  :</label><br />

                    test
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">How will Priscosmarket be recognized? :</label><br />

                    test
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-weight:600">Tax ID Number  :</label><br />

                    test
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>

