
<div>
	<style type="text/css">
		td
		{
			font-family: Times New Roman;
			font-size: 11pt;
			vertical-align: top;
			white-space: normal;
		}
		.clear
		{
			clear: both;
		}
		.leftfloat
		{
			float: left;
		}
		.padright5
		{
			padding-right: 5px;
		}
		#content
		{
			width: 900px;
			font-family: Times New Roman;
			font-size: 11pt;
		}
		#mailheader
		{
			width: 100%;
			float: left;
			height: 100px;
		}
		#imglogo
		{
			width: 137px;
			float: left;
			height: 78px;
		}
		#headertext
		{
			font-family: Times New Roman;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 20pt;
			padding: 40px 0 0 100px;
			float: left;
			text-decoration: underline;
		}
		.headers
		{
			/*font-family: Franklin Gothic Medium;*/
			text-transform: uppercase;
			font-weight: bold;
			float: left;
			font-size: 11pt;
		}
		.formfont
		{
			font-family: Franklin Gothic Medium;
			font-size: 10pt;
		}
		#empname td
		{
			width: 330px;
			text-align: center;
			height: 15px;
			text-transform: uppercase;
		}
		.imgcheck
		{
			height: 16px;
			width: 18px;
		}
		.value
		{
			width: 100%;
			text-transform: none;
			text-decoration: underline;
			margin: 0 5px;
		}
		.thistable td
		{
			border-right: 1px solid black;
			border-bottom: 1px solid black;
			margin: 0;
			padding: 2px;
		}
		.workweek
		{
			height: 50px;
			vertical-align: top;
			width: 120px;
		}
		.addunderline
		{
			text-decoration: underline;
			margin: 0 5px;
		}
		p.MsoNormal
		{
			margin-bottom: .0001pt;
			font-size: 12.0pt;
			font-family: "Times New Roman" , "serif";
			margin-left: 0in;
			margin-right: 0in;
			margin-top: 0in;
		}
	</style>
	<div id="content">
		<div class="mailheader">
			<div>
				<img id="imglogo" src="http://brookhavenmarket.com/content/donation/logo.jpg" /></div>
			<div id="headertext">
				Donation Application</div>
		</div>
		<div class="clear">
		</div>
		<br />
		Your store name is an equal donation opportunity employer. Our company
		will provide reasonable accommodations with the application process upon your request
		consistent with applicable laws.
		<br />
		<br />
        <div class="leftfloat" style="width: 90%">
            <span class="headers">Donation Desired</span>
            <br />
        </div>
        <br />
        <table>
            <tr>
                <td>Store Name :</td>
                <td class="addunderline">
                    Your store name
                </td>
            </tr>
            <tr>
                <td>Apply Date :</td>
                <td class="addunderline">
                    1/1/0001 12:00:00 AM _________
                </td>
            </tr>
            <tr>
                <td>Event Date :</td>
                <td class="addunderline">
                    1/1/0001 12:00:00 AM _________
                </td>
            </tr>
            <tr>
                <td>Organization :</td>
                <td class="addunderline">
                    BrookHaven Market ________
                </td>
            </tr>
            <tr>
                <td>Contact:</td>
                <td class="addunderline">
                    asdf ________
                </td>
            </tr>
            <tr>
                <td>Title :</td>
                <td class="addunderline">
                    Fresh Whole Pineapple ________
                </td>
            </tr>
            <tr>
                <td>Address :</td>
                <td class="addunderline">
                    asdf ________
                </td>
            </tr>
            <tr>
                <td>State :</td>
                <td class="addunderline">
                    Anambra ________
                </td>
            </tr>
            <tr>
                <td>Zip Code :</td>
                <td class="addunderline">
                    1234 ________
                </td>
            </tr>
            <tr>
                <td>Phone Number :</td>
                <td class="addunderline">
                    +8801912055164 ________
                </td>
            </tr>
            <tr>
                <td>Fax Number :</td>
                <td class="addunderline">
                    asdfas ________
                </td>
            </tr>
                <tr>
                <td>E-mail Address :</td>
                <td class="addunderline">
                    razibdumham@gmail.com ________
                </td>
            </tr>
            
            <tr>
                <td>Tell Us About Your Organization :</td>
                <td class="addunderline">
                    asd ________
                </td>
            </tr>
            <tr>
                <td>Organization Achievements & Impact on the Community :</td>
                <td class="addunderline">
                    asf ________
                </td>
            </tr>
            <tr>
                <td>Event Name, Date, Location, and Mission :</td>
                <td class="addunderline">
                    adf ________
                </td>
            </tr>
            <tr>
                <td>Number of People Impacted :</td>
                <td class="addunderline">
                    sdfg ________
                </td>
            </tr>
            <tr>
                <td>Distance to Brookhavenmarket :</td>
                <td class="addunderline">
                    df ________
                </td>
            </tr>
            <tr>
                <td>Has your organization received a donation from Brookhavenmarket in the past? :</td>
                <td class="addunderline">
                    Yes ________
                </td>
            </tr>
            <tr>
                <td>Why Brookhaven Market? :</td>
                <td class="addunderline">
                    asd ________
                </td>
            </tr>
            <tr>
                <td>Items Requested  :</td>
                <td class="addunderline">
                    asdf ________
                </td>
            </tr>
            <tr>
                <td>How will Brookhavenmarket be recognized? :</td>
                <td class="addunderline">
                    af ________
                </td>
            </tr>
            <tr>
                <td>Tax ID Number  :</td>
                <td class="addunderline">
                    sdfg ________
                </td>
            </tr>
        </table>
        <br />
	</div>
</div>

