﻿@using Nop.Plugin.Upon.Models
@model IList<UniqueCouponModel>
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts("Special Coupon Offers");
    Html.AddMetaDescriptionParts("Special Coupon Offers");
    Html.AddMetaKeywordParts("Special Coupon Offers");
    Html.AddCssFileParts(@Url.Content("~/Plugins/Upon/Content/Upon.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Upon/Scripts/Upon.js"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Upon/Content/smoothness/jquery-ui-1.8.17.custom.css"));
    Html.AddScriptParts(@Url.Content("~/Plugins/Upon/Scripts/jquery-ui.min.js"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Upon/Content/bubbletip.css"));
    Html.AddCssFileParts(@Url.Content("~/Plugins/Upon/Content/bubbletip-IE.css"));

    Html.AddScriptParts(@Url.Content("~/Plugins/Upon/Scripts/jQuery.bubbletip-1.0.6.js"));
}
<div class="mainContent">
    
    @if (ViewBag.registered == "true")
    {

        if (ViewBag.nocoupon == "")
        {
        <h1 class="header1">
            Special Coupon Offers</h1>
        <p>
            Special Coupon Offers</p>
@* <a href="@Url.RouteUrl("UserPage")">View your Upons</a>*@
        
            for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
        <div class="UniqueCouponLists">
            @*@Url.RouteUrl("UniqueCouponDetails", new { id = @item.Id })*@ 
						<a href="javascript:UniqueCouponSelected(@item.Id)">
                <img src="@item.CouponImageForWebsite" />
                <div class="UniqueCouponTitle">
                    @item.Title</div>
                <br />
                @if (item.Quantity <= 0)
                {
                    <p>SOLD OUT!</p>   
                }
                else
                {
                    <p>Number of redemptions available : @item.Quantity</p> 
                }
            </a>
        </div>
            }
        <div id="dialog">
            You can choose only one coupon per week. Are you sure you want this coupon for this
            week? <a class="button blue" href="#" id="yes">
                <input type="button" value="Yes" /></a> <a class="button gray" href="#" id="no">
                    <input type="button" value="No" onclick="closedialog()" /></a>
        </div>

        }
        else{
         @ViewBag.nocoupon   
        }
    }
    else
    {
        
          <h1 class="header1">
            Special Coupon Offers</h1>
        <p>
            Special Coupon Offers</p>
@* <a href="@Url.RouteUrl("UserPage")">View your Upons</a>*@
        
        for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
        <div class="UniqueCouponLists UniqueCouponListsForUnRegistered@(i)">
            @*@Url.RouteUrl("UniqueCouponDetails", new { id = @item.Id })*@ <a href="">
                <img src="@item.CouponImageForWebsite" />
                <div class="UniqueCouponTitle">@item.Title</div>
                <br />
                @if (item.Quantity <= 0)
                {
                    <p>
                        SOLD OUT!</p>   
                }
                else
                {
                    <p>
                        Number of redemptions available : @item.Quantity</p> 
                }
            </a>
        </div>
         <div id="tip1_left@(i)" style="display: none; margin: 0; padding: 0">
            <pre class="tip">
                <a href="@Url.RouteUrl("Login")"><u><strong>@T("Account.Login")</strong></u></a> or <a
                href="@Url.RouteUrl("Register")"><u><strong>@T("Account.Register")</strong></u></a> now to access specials Upon Offer 
            </pre>
        </div>
       
        }

         <input type="hidden" id="total" value="@Model.Count" />
       
    }
</div>
