﻿@using Nop.Plugin.Upon.Models;
@model UserPageModelList
@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    @*Html.AddScriptParts(@Url.Content("~/Plugins/Upon/Scripts/searchUpon.js"));*@
    Html.AppendScriptParts("~/Plugins/Upon/Scripts/searchUpon.js");
}
  
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Upon.ViewAllActiveUpon")
        </div>
        <div class="options">
            @*<a href="@Url.Action("ExportFilterXmlAll", "/Plugin/Upon/uPonDashboard/", new
								{
									status = ViewBag.Status,
									filterKey = ViewBag.FilterKey
								})" class="k-button">@T("Admin.Common.ExportToXml.All")</a>*@
			<button id="exportxml-all" class="k-button">@T("Admin.Common.ExportToXml.All")</button>
            <button type="submit" id="exportxml-selected" class="k-button">@T("Admin.Common.ExportToXml.Selected")</button>
            @*<a href="@Url.Action("ExportFilterExcelAll", "/Plugin/Upon/uPonDashboard/", new
								{
									status = ViewBag.Status,
									filterKey = ViewBag.FilterKey
								})" class="k-button">@T("Admin.Common.ExportToExcel.All")</a>*@
			<button id="exportexcel-all" class="k-button">@T("Admin.Common.ExportToExcel.All")</button>
            <button type="submit" id="exportexcel-selected" class="k-button">@T("Admin.Common.ExportToExcel.Selected")</button>
        </div>
    </div>
    <table width="100%">
        
        <tr>
            <td class="adminTitle">
                Email: 
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                CouponId: 
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CouponId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Offer: 
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Offer)
            </td>
        </tr>
       
        @*<tr>
            <td class="adminTitle">
                Imprinting Date Range: 
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.ImprintingDateStart)
                To: @Html.EditorFor(model => model.ImprintingDateEnd)
            </td>
        </tr>*@
        <tr>
            <td class="adminTitle">
                Expiration Date Range: 
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.ExpirationDateStart)
                To: @Html.EditorFor(model => model.ExpirationDateEnd)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Redemption Date Range:
            </td>
            <td class="adminData">
                From: @Html.EditorFor(model => model.RedemptionDateStart)
                To: @Html.EditorFor(model => model.RedemptionDateEnd)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                Amount: 
            </td>
            <td class="adminData">
                From :@Html.EditorFor(model => model.AmountRangeFrom)
                 To :@Html.EditorFor(model => model.AmountRangeTo)
            </td>
        </tr>
		<tr>
            <td colspan="2">
                <input id="Status" type="hidden" value="@ViewBag.Status" name="Status">
                <input id="FilterKey" type="hidden" value="@ViewBag.FilterKey" name="FilterKey">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" id="search-imprinted" name="search-imprinted" value="search-imprinted"
                    class="k-button">@T("Admin.Common.Search")</button>
            </td>
        </tr>
    </table>
    <p>
    </p>
    <table class="adminContent">
        <tr>
            <td>
                <div id="imprinted-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#imprinted-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "/Admin/Plugin/Upon/uPonDashboard/FilterImprintedCouponList?status=" + "@ViewBag.Status" + "&filterKey=" + "@ViewBag.FilterKey",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 10,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "Id",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                width: 50
                            }, {
                                field: "Email",
                                title: "Email",
                                template: '<a href="/Admin/Customer/Edit/#=CustomerID#">#= Email #</a>'
                            }, {
                                field: "CouponId",
                                title: "CouponId",
                                template: '<a href="/Admin/Plugin/Upon/UniqueCoupon/Edit/#=CouponId#">#= CouponId #</a>'
                            }, {
                                field: "ImprintingDate",
                                title: "ImprintingDate",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "Offer",
                                title: "Offer"
                            }, {
                                field: "Status",
                                title: "Status",
                                width: 200
                            }, {
                                field: "ExpirationDate",
                                title: "ExpirationDate",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "RedemptionDate",
                                title: "RedemptionDate",
                                width: 200,
                                type: "date",
                                format: "{0:G}"
                            }, {
                                field: "Amount",
                                title: "Amount"
                            }]
                        });
                    });
                </script>
            </td>
        </tr>
    </table>
   <script>


       var selectedIds = [];

       $(document).ready(function () {

           $('#search-imprinted').click(function () {
               var grid = $('#imprinted-grid').data('kendoGrid');
               grid.dataSource.page(1); //new search. Set page size to 1
               grid.dataSource.read();
               //clear selected checkboxes
               $('.checkboxGroups').attr('checked', false).change();
               selectedIds = [];
               return false;
           });

           $("#@Html.FieldIdFor(model => model.Email)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.CouponId)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.Offer)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.Status)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ImprintingDateStart)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ImprintingDateEnd)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ExpirationDateStart)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.ExpirationDateEnd)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.RedemptionDateStart)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.RedemptionDateEnd)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.AmountRangeFrom)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           $("#@Html.FieldIdFor(model => model.AmountRangeTo)").keydown(function (event) {
               if (event.keyCode == 13) {
                   $("#search-imprinted").click();
                   return false;
               }
           });
           //"Export Excel all" button
           $('#exportexcel-all').click(function (e) {
               e.preventDefault();
               //redirect to required URL
               $("div.cph").find("form").attr("action", "/Admin/Plugin/Upon/uPonDashboard/ExportFilterExcelAll");
               $("div.cph").find("form").attr("method", "get");
               $("div.cph").find("form")[0].submit();
               $("div.cph").find("form").attr("action", "");
               $("div.cph").find("form").attr("method", "");
               return false;
           });

           //"Export Xml all" button
           $('#exportxml-all').click(function (e) {
               e.preventDefault();
               //redirect to required URL
               $("div.cph").find("form").attr("action", "/Admin/Plugin/Upon/uPonDashboard/ExportFilterXmlAll");
               $("div.cph").find("form").attr("method", "get");
               $("div.cph").find("form")[0].submit();
               $("div.cph").find("form").attr("action", "");
               $("div.cph").find("form").attr("method", "");
               return false;
           });

           //"Export Excel selected" button
           $('#exportexcel-selected').click(function (e) {
               e.preventDefault();
               //redirect to required URL
               setLocation('@(Url.Action("ExportExcelSelected", "/Plugin/Upon/uPonDashboard/"))?selectedIds=' + selectedIds.join(","));
               return false;
           });

           //"Export XML selected" button
           $('#exportxml-selected').click(function (e) {
               e.preventDefault();
               //redirect to required URL
               setLocation('@(Url.Action("ExportXmlSelected", "/Plugin/Upon/uPonDashboard/"))?selectedIds=' + selectedIds.join(","));
               return false;
           });

           $('#mastercheckbox').click(function () {
               $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
           });

           //wire up checkboxes. 
           $('#imprinted-grid input[type=checkbox][id!=mastercheckbox]').live('change', function (e) {
               var $check = $(this);
               if ($check.is(":checked") == true) {
                   var checked = jQuery.inArray($check.val(), selectedIds);
                   if (checked == -1) {
                       //add id to selectedIds.  
                       selectedIds.push($check.val());
                   }
               }
               else {
                   var checked = jQuery.inArray($check.val(), selectedIds);
                   if (checked > -1) {
                       //remove id from selectedIds.  
                       selectedIds = $.grep(selectedIds, function (item, index) {
                           return item != $check.val();
                       });
                   }
               }
               updateMasterCheckbox();
           });
       });

       function onDataBound(e) {

           $('#imprinted-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
               var currentId = $(this).val();
               var checked = jQuery.inArray(currentId, selectedIds);
               //set checked based on if current checkbox's value is in selectedIds.  
               $(this).attr('checked', checked > -1);
           });

           updateMasterCheckbox();
       }

       function updateMasterCheckbox() {
           var numChkBoxes = $('#imprinted-grid input[type=checkbox][id!=mastercheckbox]').length;
           var numChkBoxesChecked = $('#imprinted-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
           $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
       }

       function onDataBinding(e) {


           var searchModel = {

               Email: $('#@Html.FieldIdFor(model => model.Email)').val(),
               CouponId: $('#@Html.FieldIdFor(model => model.CouponId)').val(),
               Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
               ImprintingDateStart: $('#@Html.FieldIdFor(model => model.ImprintingDateStart)').val(),
               ImprintingDateEnd: $('#@Html.FieldIdFor(model => model.ImprintingDateEnd)').val(),
               ExpirationDateStart: $('#@Html.FieldIdFor(model => model.ExpirationDateStart)').val(),
               ExpirationDateEnd: $('#@Html.FieldIdFor(model => model.ExpirationDateEnd)').val(),
               RedemptionDateStart: $('#@Html.FieldIdFor(model => model.RedemptionDateStart)').val(),
               RedemptionDateEnd: $('#@Html.FieldIdFor(model => model.RedemptionDateEnd)').val(),
               AmountRangeFrom: $('#@Html.FieldIdFor(model => model.AmountRangeFrom)').val(),
               AmountRangeTo: $('#@Html.FieldIdFor(model => model.AmountRangeTo)').val()
           };
           e.data = searchModel;
           console.log(searchModel);
       }

       function additionalData() {
           /*var customerRoleIds = [];
           $('[name=SearchCustomerRoleIds]:checked').each(function () {
               customerRoleIds.push($(this).val());
           });*/

           return {
               Email: $('#@Html.FieldIdFor(model => model.Email)').val(),
               CouponId: $('#@Html.FieldIdFor(model => model.CouponId)').val(),
               Status: $('#@Html.FieldIdFor(model => model.Status)').val(),
               ImprintingDateStart: $('#@Html.FieldIdFor(model => model.ImprintingDateStart)').val(),
               ImprintingDateEnd: $('#@Html.FieldIdFor(model => model.ImprintingDateEnd)').val(),
               ExpirationDateStart: $('#@Html.FieldIdFor(model => model.ExpirationDateStart)').val(),
               ExpirationDateEnd: $('#@Html.FieldIdFor(model => model.ExpirationDateEnd)').val(),
               RedemptionDateStart: $('#@Html.FieldIdFor(model => model.RedemptionDateStart)').val(),
               RedemptionDateEnd: $('#@Html.FieldIdFor(model => model.RedemptionDateEnd)').val(),
               AmountRangeFrom: $('#@Html.FieldIdFor(model => model.AmountRangeFrom)').val(),
               AmountRangeTo: $('#@Html.FieldIdFor(model => model.AmountRangeTo)').val()
           };
       }

   </script> 

}
