﻿<div class="row reset-margin">
    <div class="product-item-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reset-padding">
            <div class="picture">
                <img alt="Picture of EASTER BAKING RECIPES" src="/Themes/ProcoMarketing/Content/images/cookingclass.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reset-padding">
            <div class="buttons-area">
                <h3 class="single-line"><a class="show-details">Cooking Classes</a></h3>
                <div class="buttons">
                    <a class="show-more">more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row reset-margin">
    <div class="product-item-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reset-padding">
            <div class="picture">
                <img alt="Picture of EASTER BAKING RECIPES" src="/Themes/ProcoMarketing/Content/images/Department-1.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reset-padding">
            <div class="buttons-area">
                <h3 class="single-line"><a class="show-details">Gift Cards and Baskets</a></h3>
                <div class="buttons">
                    <a class="show-more">more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row reset-margin">
    <div class="product-item-left">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reset-padding">
            <div class="picture">
                <img alt="Picture of EASTER BAKING RECIPES" src="/Themes/ProcoMarketing/Content/images/Department-3.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 reset-padding">
            <div class="buttons-area">
                <h3 class="single-line"><a class="show-details">Prisco’s Personal Shopper and Delivery Services</a></h3>
                <div class="buttons">
                    <a class="show-more">more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".product-item-left .picture").css('height', $(".product-item-left .picture").innerWidth() + "px");
        $(".product-item-left .buttons-area").css('height', $(".product-item-left .buttons-area").innerWidth() + "px");
    });
    $(window).resize(function () {
        $(".product-item-left .picture").css('height', $(".product-item-left .picture").innerWidth() + "px");
        $(".product-item-left .buttons-area").css('height', $(".product-item-left .buttons-area").innerWidth() + "px");
    });
</script>