﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@*@Html.Partial("_Notifications")*@
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("Header")

@*<script type="text/javascript">
    AjaxCart.init(false, '.cart-qty', '.wishlist-qty', '#flyout-cart');
</script>
<div class="ajax-loading-block-window" style="display: block">
    <div class="loading-image">
    </div>
</div>*@

@Html.Action("TopMenu", "Catalog")
@Html.Widget("content_before")
@RenderBody()
@Html.Widget("content_after")
@Html.Action("EuCookieLaw", "Common")
@Html.Action("Footer", "Common")
@Html.Widget("body_end_html_tag_before")
<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Quick View</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function displayBootstrapModal(id) {
        $('#myModal').find('.modal-body').load('/qv/' + id, function (result) {
            $('#myModal').modal({ show: true });
        });
    }
</script>