﻿@using Nop.Plugin.EmailMarketing.Models
@using Nop.Web.Framework.UI;
@{
		var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.Campaigns.Title").Text;

}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.EmailMarketing.Schedule.Header")
    </div>
    <div class="options">
        <a href="CreateSchedule" class="t-button show-create-form">@T("Admin.Common.AddNew")</a>
				<button name="delete" value="delete" class="k-button delete-schedule" onclick="DeleteSchedule(); return false;">@T("Admin.Common.Delete.Selected")</button>
				@*<a href="#/DeleteSchedule" id="delete-selected" class="t-button delete-schedule">@T("Admin.Common.Delete.Selected")</a>*@
    </div>
</div>

<table class="adminContent">
    <tr>
        <td>
            <div id="schedule-grid"></div>

            <script>
                $(document).ready(function() {
                    $("#schedule-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ScheduleList", "EmailMarketing", new { area = "" }))",
                                    type: "POST",
                                    dataType: "json"
                                },

                                parameterMap: function(data, operation) {
                                    if (operation != "read") {
                                        //post the entities so the ASP.NET DefaultModelBinder will understand them:
                                        //products[0].Name="name"
                                        //products[0].Id = 1
                                        //products[1].Name="name"
                                        //products[1].Id = 1

                                        var result = {};

                                        for (var i = 0; i < data.models.length; i++) {
                                            var entity = data.models[i];

                                            for (var member in entity) {
                                                result["products[" + i + "]." + member] = entity[member];
                                            }
                                        }

                                        return result;
                                    } else {
                                        //return JSON.stringify(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { editable: false, type: "number" },
                                        Name: { editable: false, type: "string" },
                                        CreatedOnUtc: { editable: false, type: "date" }
                                    }
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            //bulk editing
                            batch: true,
                            pageSize: 15,
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSize)]
                        },
                        editable: {
                            confirmation: false,
                            //bulk editing
                            mode: "incell"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Id",
                                headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                width: 50
                            },
                            {
                                field: "<#= EmailCampaign.Name #>",
                                title: "@T("Name")",
                                width: 100
                            },
                            {
                                field: "CreatedOnUtc",
                                title: "@T("CreatedOnUtc")",
                                width: 150
                            },
                            {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                            }
                        ]
                    });
                });
            </script>
        </td>
    </tr>
</table>

<table class="adminContent">
    <tr>
        <td>
            @*@(Html.Telerik().Grid<ScheduleModel>(Model.Data)
                    .Name("schedule-grid")
										//.ClientEvents(events => events.OnDataBound("onScheduleDataBound"))
										 .Columns(columns =>
                    {
												columns.Bound(x => x.Id)
														.Template(x => string.Format("<input type='checkbox' name='checkedRecords' value='{0}' class='checkboxGroups'/>", x.Id))
														.ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' class='checkboxGroups'/>")
														.Title("<input id='mastercheckbox' type='checkbox'/>")
														.Width(5)
														.HtmlAttributes(new { style = "text-align:center" })
														.HeaderHtmlAttributes(new { style = "text-align:center" });
                        columns.Bound(x => x.EmailCampaign.Name)
                            .Width(400)
														.Template(@<text>  @item.EmailCampaign.Name </text>)
														.ClientTemplate("<#= EmailCampaign.Name #>");
												columns.Bound(x => x.ScheduledTime)
														.Width(100);
												columns.Bound(x => x.Status)
														.Template(@<text> @(item.Status ? "Sent" : "NotSent") </text>)
														.ClientTemplate("<#= Status ? 'Sent' : 'NotSent' #>")
														.Width(100);
												columns.Bound(x => x.Type)
														.Width(100);
												columns.Bound(x => x.Id)
														.Width(50)
														.Template(@<text><a href="#/EditSchedule/@item.Id">  @T("Admin.Common.Edit") </a></text>)
														.ClientTemplate("<a href=\"#/EditSchedule/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
														.Title(T("Admin.Common.Edit").Text);
                    })
										.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding =>
                    {
											dataBinding.Server().Select("ScheduleList", "Plugin/Other/EmailMarketing");
											dataBinding.Ajax().Select("ScheduleList", "Plugin/Other/EmailMarketing");
                    })
                    .EnableCustomBinding(true))*@
        </td>
    </tr>
</table>


  <script type="text/javascript">

    var selectedIds = [];

    $(document).ready(function () {


    	$('#mastercheckbox').click(function () {
    		$('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
    	});

    	//wire up checkboxes. 
    	$('#schedule-grid input[type=checkbox][id!=mastercheckbox]').live('change', function (e) {
    		var $check = $(this);
    		if ($check.is(":checked") == true) {
    			var checked = jQuery.inArray($check.val(), selectedIds);
    			if (checked == -1) {
    				//add id to selectedIds.  
    				selectedIds.push($check.val());
    			}
    		}
    		else {
    			var checked = jQuery.inArray($check.val(), selectedIds);
    			if (checked > -1) {
    				//remove id from selectedIds.  
    				selectedIds = $.grep(selectedIds, function (item, index) {
    					return item != $check.val();
    				});
    			}
    		}
    		updateMasterCheckbox();
    	});

    }); 

   

    function updateMasterCheckbox() {
    	var numChkBoxes = $('#schedule-grid input[type=checkbox][id!=mastercheckbox]').length;
    	var numChkBoxesChecked = $('#schedule-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
    	$('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }

     
  </script>

