﻿@using Nop.Web.Framework.UI;
@model Nop.Plugin.EmailMarketing.Models.ScheduleModel
@{
    //page title
    ViewBag.Title = @T("Admin.EmailMarketing.Schedule.Title.AddNew").Text;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = @T("Admin.Other.EmailMarketing.Campaigns.Title.AddNew").Text;
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/sammy.min.js");
    Html.AddScriptParts("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js");
    Html.AddScriptParts("~/Content/editors/tinymce/tiny_mce.js");
    Html.AddScriptParts("~/Administration/Scripts/fileuploader.js");
    Html.AddCssFileParts("~/Plugins/EmailMarketing/Content/emailmarketing.css");
    Html.AddCssFileParts("~/Administration/Content/fileuploader.css");
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
            @T("Admin.Common.AddNew") 
						<a href="#/Schedule"> @T("Admin.EmailMarketing.Schedule.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="k-button" onclick="submitCreateScheduleForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="k-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.Other.EmailMarketing.Views.EmailMarketing._CreateOrUpdateSchedule", Model)
}

<script type="text/javascript">
	function ConvertToUTC(selectedDateTime) {
		d = new Date();

		utc = Date.parse(selectedDateTime) + (d.getTimezoneOffset() * 60000);
		nd = new Date(utc);
		var then = nd.getFullYear() + '-' + (nd.getMonth() + 1) + '-' + nd.getDate();
		then += ' ' + nd.getHours() + ':' + nd.getMinutes();
		scheduleDate = then;
		return scheduleDate;
	}
	
</script>