﻿@model Nop.Plugin.EmailMarketing.Models.EmailTemplateModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;

@{
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.Template.Title.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.EmailMarketing.Template.Header.AddNew") 
						<a href="#/Template"> @T("Admin.EmailMarketing.Template.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitCreateEmailTemplateForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.Partial("Nop.Plugin.EmailMarketing.Views.EmailMarketing._CreateOrUpdateTemplate", Model)
}