﻿@using Nop.Plugin.EmailMarketing.Lib
@model Nop.Plugin.EmailMarketing.Models.CriteriaModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI;

@{
	ViewBag.Title = @T("Admin.EmailMarketing.Groups.Title.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />@T("Admin.EmailMarketing.Groups.Header.AddNew") 
						<a href="#/Group"> @T("Admin.EmailMarketing.Groups.BackToList") </a>
        </div>
        <div class="options">
            <button name="save" value="save" class="t-button" onclick="submitCreateCampainForm(); return false;">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateGroup", Model)
}