﻿@using Nop.Plugin.EmailMarketing.Models
@using Nop.Web.Framework.UI;
@*@model Telerik.Web.Mvc.GridModel<EmailModel>*@
@{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    //page title
		ViewBag.Title = @T("Admin.EmailMarketing.DetailReport.Title").Text;

}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.EmailMarketing.DetailReport.Header")
				<a href="#/Report"> @T("Admin.EmailMarketing.Report.BackToList") </a>
    </div>
		<div class="options">
        @{ Html.kendoMenu().Menu()
								.Name("DetailReportMenu")
								.ClientEvents(events => events.OnSelect("onSelectDetailReportMenu"))
								.Items(menu =>
								{
									menu.Add()
											.Text("All Contacts");
									menu.Add()
											.Text("Delivered");
									menu.Add()
											.Text("Bounced");
									menu.Add()
											.Text("Opened");
									menu.Add()
											.Text("Link");
									menu.Add()
											.Text("Export to Excel (all)");
									//menu.Add()
									//    .Text("Export to Xml (all)");
								})
								.Render();
				}
    </div>
</div>
<div class="listContent">
	<table class="adminContent">
		<tr>
			<td>
				@(Html.Telerik().Grid<EmailModel>(Model.Data)
										.Name("campaign-report-grid")
										.Columns(columns =>
										{
											columns.Bound(x => x.EmailAddress)
																		.Width(200);
											columns.Bound(x => x.UpdatedTime)
																		.Width(200);
											columns.Bound(x => x.SentStatus)
																		.Width(200);
											columns.Bound(x => x.OpenStatus)
																		.Width(200);

										})
										.Pageable(settings => settings.Total(Model.Total).PageSize(gridPageSize).Position(GridPagerPosition.Both))
										.DataBinding(dataBinding =>
										{
											dataBinding.Server().Select("DetailReport", "Plugin/Other/EmailMarketing");
											dataBinding.Ajax().Select("DetailReport", "Plugin/Other/EmailMarketing", new { id = ViewBag.CampaignId, status = ViewBag.Status });
										})
										.EnableCustomBinding(true))
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	$('.detailReportContent').data("CampaignId", +'@ViewBag.CampaignId');
	$('.detailReportContent').data("DetailReportStatus", + "All Contacts");
</script>


