﻿@using Nop.Web.Framework.UI;
@{
	//page title
	Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //Html.AddCssFileParts(@Url.Content("~/Plugins/EmailMarketing/Content/emailmarketing.css"));
    //Html.AddCssFileParts(@Url.Content("~/Administration/Content/fileuploader.css"));
    //Html.AddScriptParts(@Url.Content("~/Plugins/EmailMarketing/Scripts/sammy.min.js"));
    //Html.AddScriptParts(@Url.Content("~/Plugins/EmailMarketing/Scripts/EmailMarketing.js"));
    //Html.AddScriptParts(@Url.Content("~/Content/editors/tinymce/tiny_mce.js"));
    //Html.AddScriptParts(@Url.Content("~/Administration/Scripts/fileuploader.js"));
}
<div class="section-header">
	<div class="title">
		<img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
		@T("Admin.EmailMarketing.LandPage")
	</div>
	<div class="options">
	</div>
</div>

<div id="email-marketing">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Campaign")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Schedule")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            @T("Template")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
            @T("Group")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
            @T("Report")
        </li>
    </ul>
    <div>
        @TabEmailMarketingCampaign()
    </div>
    <div>
        @TabEmailMarketingSchedule()
    </div>
    <div>
        @TabEmailMarketingTemplate()
    </div>
    <div>
        @TabEmailMarketingGroup()
    </div>
    <div>
        @TabEmailMarketingReport()
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#email-marketing").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
@helper TabEmailMarketingCampaign()
    {
        @Html.Action("TemplateList", new {	area = string.Empty })	
    }
@helper TabEmailMarketingSchedule()
{

}
@helper TabEmailMarketingTemplate()
{

}
@helper TabEmailMarketingGroup()
{

}
@helper TabEmailMarketingReport()
{

}

@*@Html.Telerik().TabStrip().Name("email-marketing").ClientEvents(events => events.OnSelect("onEmailMarketingTabSelect")).Items(x =>
{
	x.Add().Text("Campaign").Content(@<text> Campaign </text>).Selected(true);
	x.Add().Text("Schedule").Content(@<text> Schedule </text>);
	x.Add().Text("Template").Content(@<text> Template </text>);
	x.Add().Text("Group").Content(@<text> Group </text>);
	x.Add().Text("Report").Content(@<text> Report </text>);
	//generate an event
	Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Events.IEventPublisher>().Publish(new Nop.Web.Framework.Events.AdminTabStripCreated(x, "customer-reports"));
})
@helper TabEmailMarketingCampaign()
{
	@Html.Action("Campaign", new {	area = string.Empty })	
}

@helper TabEmailMarketingSchedule()
{
	@Html.Action("ScheduleList", new {	area = string.Empty })	
}

@helper TabEmailMarketingTemplate()
{
	@Html.Action("TemplateList", new {	area = string.Empty })	
}

@helper TabEmailMarketingGroup()
{
	@Html.Action("Group", new {	area = string.Empty })	
}

@helper TabEmailMarketingReport()
{
	@Html.Action("Report", new {	area = string.Empty })	
}

@{Html.Telerik().Window()
				.Name("Window")
				//.ClientEvents(events => events.OnClose("OnClose"))
				.Title("Module Operation")
				.Draggable(true)
				.Resizable(resizing => resizing
						.Enabled(true)
						.MinHeight(600)
						.MinWidth(800)

				)
				.Modal(true)
				.Buttons(b => b.Maximize().Close())
				.Content(@<text>
	<div id="popupContentDiv">
	</div>
	</text>)
				.Width(800)
				.Height(600).Visible(false)
				.Effects(fx => fx.Zoom().Opacity().OpenDuration(0).CloseDuration(0))
				.Render();
}*@
