﻿@model TopicModel
@using Nop.Web.Models.Topics;
@if (Model.IsPasswordProtected)
{
    <script type="text/javascript">    
        $(document).ready(function () {
            $('#ph-topic-@Model.Id').hide();            
            $('#ph-password-@Model.Id #password-@Model.Id').select().focus();
        });    
        function OnAuthenticateSuccess@(Model.Id)(context) {
            if (context.Authenticated)
            {
                $('#ph-title-@Model.Id .topic-html-content-title h2.topic-html-content-header').html(context.Title);
                if ($('#ph-title-@Model.Id .topic-html-content-title h2.topic-html-content-header').text().length == 0)
                {
                    $('#ph-title-@Model.Id').hide();
                }
                $('#ph-topic-@Model.Id .topic-html-content-body').html(context.Body);
                $('#ph-password-@Model.Id').hide();
                $('#ph-topic-@Model.Id').show();
            }
            else
            {
                $('#password-error-@Model.Id').text(context.Error);
                $('#ph-password-@Model.Id #password-@Model.Id').select().focus();
            }
        }}
    </script>

    <div class="topic-password" id="ph-password-@Model.Id">
        @using (Ajax.BeginRouteForm("TopicAuthenticate", new AjaxOptions
        {
            HttpMethod = "Post",
            OnSuccess = "OnAuthenticateSuccess" + @Model.Id,
            LoadingElementId = "authenticate-progress-" + @Model.Id
        }))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="enter-password-title">
                @T("Topic.EnterPassword")
            </div>
            <div class="enter-password-form">
                @Html.Password("password", null, new { id = "password-" + @Model.Id })
                <input type="submit" value="@T("Topic.Button")" class="button-1 topic-password-button" />
                <span id="authenticate-progress-@Model.Id" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            </div>
            <div class="password-error">
                <span id="password-error-@Model.Id"></span>
            </div>
        }
    </div>
    <div class="panel panel-default form-panel" id="ph-topic-@Model.Id">
        <div id="ph-title-@Model.Id">
            <div class="panel-heading">
                <h3>@Model.Title</h3>
            </div>
        </div>
        <div class="panel-body">
            @Html.Raw(Model.Body)
        </div>
    </div>
}
else
{

        if (!String.IsNullOrEmpty(Model.Title))
        {        

            <div class="container">
                <div class="row">
                   <div class="col-lg-12">    

                <div class="text-center   ">
                    <h3 class="heading"><span class="spn">@Model.Title</span></h3>
                </div>
                
        
                <div class="panel-body text-group">
                    @Html.Raw(Model.Body)
                </div>
                <div class="row gray-block  ">
                    <div class="col-md-9 border-right">
                        <blockquote>
                            <p>I am extremely pleased with Brainstation-23 team in all regards. They amaze me with some of the solutions that they have come up with. They have handled everything we have asked for. Additionally, I believe we have fostered a good team spirit and that all members have a sincere interest in the success of the project. Team Brainstation have been standouts in the support they provide. In summary, Brainstation-23 has been an outstanding choice as our partner in this project.</p>
                        </blockquote>
                    </div>
                    <div class="col-md-3">
                    <div class="button-bottom">
                        <input type="button" value="View Detail" class="btn btn-default pull-right">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            </div>

       


        }else
        {
            <div class="panel-body">
                @Html.Raw(Model.Body)
            </div>

        }





}