﻿@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;

<section id="myBar" class="header-menu">
    <div class="container">
        <div class="row clearfix">
            <nav role="navigation" class="navbar navbar-inverse">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 navbar-header">
                    <a class="pull-left" href="@Url.RouteUrl("HomePage")">
                        <img class="pull-left logo-img" src="~/Themes/ProcoMarketing/Content/images/proco_logo.png" alt="image not found" />
                    </a>
                    <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="pull-right navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-example-navbar-collapse-1" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 pull-right collapse navbar-collapse">
                    @Html.Widget("header_menu_before")
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.RouteUrl("HomePage")">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/about-us">A Little About Us</a></li>
                                <li><a href="/our-history">Our History</a></li>
                                <li><a href="/our-community">Our Community</a></li>
                            </ul>
                        </li>
                        <li><a href="/departments">Departments</a></li>
                        <li><a href="/our-ad">Our Ad</a></li>
                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                        @Html.Widget("header_menu_after")
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        var s = $("#myBar");
        var pos = s.position();
        $(window).scroll(function () {
            var windowpos = $(window).scrollTop();
            //s.html("Distance from top:" + pos.top + "<br />Scroll position: " + windowpos);
            if (windowpos >= pos.top) {
                s.addClass("stick");
            } else {
                s.removeClass("stick");
            }
        });
    });

</script>

<style>
    .stick { top: 0px !important; z-index: 10000; }
</style>

@*<script>
        $(document).ready(function () {
            $(function () {
                $("#myBar").fixtop({
                    marginTop: 0,
                    fixed: function (el) {
                        $("#myBar").css('width', 100 + "%");
                        $("#myBar .navbar-inverse").css('margin', "0 auto");
                        el.css({
                            "transition": "all 0.4s ease",
                            "left": 0,
                        });
                    },
                    unfixed: function (el) {
                        el.css({
                            "transition": "all 0.4s ease",
                            "box-shadow": "none"
                        });
                    }
                });
            });
        });
    </script>*@
