﻿@using Nop.Plugin.OrderForm.Models;
@using Nop.Web.Framework
@*@using Telerik.Web.Mvc.UI*@

@model OrderFormModel

@functions
{
    string checkedImagePath(string decission, string modelValue)
    {
        if (decission == modelValue)
        {
            return "http://brookhavenmarket.com/content/employment/checked.png";
        }
        else
        {
            return "http://brookhavenmarket.com/content/employment/unchecked.png";
        }
    }
}

<div>
    <style type="text/css">
        td {
            font-family: Times New Roman;
            font-size: 11pt;
            vertical-align: top;
            white-space: normal;
        }

        .clear {
            clear: both;
        }

        .leftfloat {
            float: left;
        }

        .padright5 {
            padding-right: 5px;
        }

        #content {
            width: 900px;
            font-family: Times New Roman;
            font-size: 11pt;
        }

        #mailheader {
            width: 100%;
            float: left;
            height: 100px;
        }

        #imglogo {
            width: 137px;
            float: left;
            height: 78px;
        }

        #headertext {
            font-family: Times New Roman;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20pt;
            padding: 40px 0 0 100px;
            float: left;
            text-decoration: underline;
        }

        .headers {
            /*font-family: Franklin Gothic Medium;*/
            text-transform: uppercase;
            font-weight: bold;
            float: left;
            font-size: 11pt;
        }

        .formfont {
            font-family: Franklin Gothic Medium;
            font-size: 10pt;
        }

        #empname td {
            width: 200px;
            text-align: left;
            height: 15px;
            text-transform: uppercase;
        }

        .imgcheck {
            height: 16px;
            width: 18px;
        }

        .value {
            width: 100%;
            text-transform: none;
            text-decoration: underline;
            margin: 0 5px;
        }

        .thistable td {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            margin: 0;
            padding: 2px;
        }

        .workweek {
            height: 50px;
            vertical-align: top;
            width: 120px;
        }

        .addunderline {
            text-decoration: underline;
            margin: 0 5px;
        }

        p.MsoNormal {
            margin-bottom: .0001pt;
            font-size: 12.0pt;
            font-family: "Times New Roman", "serif";
            margin-left: 0in;
            margin-right: 0in;
            margin-top: 0in;
        }
    </style>
    <div id="content">
        <div class="mailheader">
            <div>
                <img id="imglogo" src="http://www.priscosfamilymarket.com/themes/ProcoDefault/Content/images/logo.png" />
            </div>
            <div id="headertext">
                <b> &nbsp;</b>
            </div>
        </div>
        <div class="clear"></div>
        <br>
        @Html.Action("TopicBlock", "Topic", new { systemName = "HolyDayOrderParagraph" })
        <br />
        <br />
        <div id="empname">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><span class="value">@Model.FirstName</span></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><span class="value">@Model.LastName</span></td>
                </tr>
                <tr>
                    <td>Email Address:</td>
                    <td><span class="value">@Model.Email</span></td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td><span class="value">@Model.Cell</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Order Pick-up Date:</td>
                    <td><span class="value">@Model.OrderPicupDate</span></td>
                </tr>
            </table>
        </div>
        <br />
        <div style="font-size: 11pt;">
            <div style="width: 600px; padding: 5px;" class="leftfloat">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="width:50%"><b>Turkeys</b></td>
                            <td style="width:25%"><b>Turkeys</b></td>
                            <td style="width:25%"><b>Price</b></td>
                        </tr>
                        @if (Model.ShowTurkeys)
                        {
                            <tr>
                                <td style="width:50%">Fresh Ho-Ka Turkey</td>
                                <td style="width:25%">@Model.SizeTurkey</td>

                                <td style="width:25%">$2.99 lb</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div style="clear:both;"></div>
            <div>
                <b>Note: &nbsp;</b> If you wish to order more than one turkey tell us in the comment box.
            </div>
            <br />
            <br />
            <br />
            <div style=" text-align: center; margin-bottom: 24px; margin-left: -300px;"><strong><a href="../../../content/images/uploaded/pie-palooza/flyer/flyer.html" target="_blank">See pictures and learn details about our pies.</a></strong></div>
            <div style="width: 800px; padding: 5px;" class="leftfloat">
                <table style="width:80%;">
                    <tbody>
                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%"><b>Farmer's Market - 9 inch Pies</b></td>
                            <td style="width: 25%;">
                                <b style="margin-left:30px;">@Model.PieSize</b>
                            </td>
                            <td style="width: 25%; text-align: center;">
                                <b>Half Pies</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">&nbsp;</td>
                            <td style="width:25%">
                                <div>
                                    <div style="float:left; width:65px;">Price</div>
                                    <div>Quantity</div>
                                </div>
                            </td>
                            <td style="width: 25%; text-align: right;">
                                <div style="margin-left: 14px;">
                                    <div style="float: left; width: 40px; margin-left: -24px;">Price</div>
                                    <div style="text-align: center;margin-left: 42px;">Quantity</div>
                                </div>
                            </td>
                        </tr>
                        @if (Model.PumpkinPieShowFull || Model.PumpkinPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Pumpkin Pie</td>
                                @if (Model.PumpkinPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">@Model.PumpkinPiePrice</div>
                                            <div>@Model.PumpkinPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.PumpkinPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.PumpkinPieShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.PumpkinPiePriceHalf</div>
                                            <div>@Model.PumpkinPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.PecanPieShowFull || Model.PecanPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Pecan Pie</td>
                                @if (Model.PecanPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">@Model.PecanPiePrice</div>
                                            <div>@Model.PecanPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.PecanPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.PecanPieShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.PecanPiePriceHalf</div>
                                            <div>@Model.PecanPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.TraditionalAppleShowFull || Model.TraditionalAppleShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Traditional Apple Pie</td>

                                @if (Model.TraditionalAppleShowFull)
                                {
                                    <td style="width:25%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.TraditionalApplePrice</div>
                                            <div>@Model.TraditionalApplePieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.TraditionalAppleShowFull)
                                {
                                    <td style="width:25%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.TraditionalAppleShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.TraditionalApplePriceHalf</div>
                                            <div>@Model.TraditionalApplePieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.AppleBerryDelightShowFull || Model.AppleBerryDelightShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Apple Berry Delight</td>

                                @if (Model.AppleBerryDelightShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">@Model.AppleBerryDelightPrice</div>
                                            <div>@Model.AppleBerryDelightQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.AppleBerryDelightShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.AppleBerryDelightShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.AppleBerryDelightPriceHalf</div>
                                            <div>@Model.AppleBerryDelightQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.AppleBrownBettyPieShowFull || Model.AppleBrownBettyPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Apple Brown Betty Pie</td>

                                @if (Model.AppleBrownBettyPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">@Model.AppleBrownBettyPiePrice</div>
                                            <div>@Model.AppleBrownBettyPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.AppleBrownBettyPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.AppleBrownBettyPieShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.AppleBrownBettyPiePriceHalf</div>
                                            <div>@Model.AppleBrownBettyPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.AppleCaramelWalnutPieShowFull || Model.AppleCaramelWalnutPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Apple Caramel Walnut Pie</td>

                                @if (Model.AppleCaramelWalnutPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">@Model.AppleCaramelWalnutPiePrice</div>
                                            <div>@Model.AppleCaramelWalnutPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.AppleCaramelWalnutPieShowFull)
                                {
                                    <td style="width:25%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.AppleCaramelWalnutPieShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.AppleCaramelWalnutPiePriceHalf</div>
                                            <div>@Model.AppleCaramelWalnutPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.AppleCrispPieShowFull || Model.AppleCrispPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Apple Crisp Pie</td>

                                @if (Model.AppleCrispPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">@Model.AppleCrispPiePrice</div>
                                            <div>@Model.AppleCrispPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.AppleCrispPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div style="width:144px;">
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.AppleCrispPieShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.AppleCrispPiePriceHalf</div>
                                            <div>@Model.AppleCrispPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.AppleRaspberryPieShowFull || Model.AppleRaspberryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Apple Raspberry Pie</td>

                                @if (Model.AppleRaspberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.AppleRaspberryPiePrice</div>
                                            <div>@Model.AppleCrispPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.AppleRaspberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.AppleRaspberryPieShowHalf)
                                {
                                    <td style="width:25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.AppleRaspberryPiePriceHalf</div>
                                            <div>@Model.AppleRaspberryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.CountryCinnamonApplePieShowFull || Model.CountryCinnamonApplePieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Country Cinnamon Apple Pie </td>

                                @if (Model.CountryCinnamonApplePieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.CountryCinnamonApplePiePrice</div>
                                            <div>@Model.CountryCinnamonApplePieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.CountryCinnamonApplePieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.CountryCinnamonApplePieShowHalf)
                                {
                                    <td style="width: 25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.CountryCinnamonApplePiePriceHalf</div>
                                            <div>@Model.CountryCinnamonApplePieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.DutchApplePieShowFull || Model.DutchApplePieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Dutch Apple Pie</td>

                                @if (Model.DutchApplePieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.DutchApplePiePrice</div>
                                            <div>@Model.DutchApplePieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.DutchApplePieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.DutchApplePieShowHalf)
                                {
                                    <td style="width: 25%">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.DutchApplePiePriceHalf</div>
                                            <div>@Model.DutchApplePieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.BlackberryPieShowFull || Model.BlackberryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Blackberry Pie </td>

                                @if (Model.BlackberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.BlackberryPiePrice</div>
                                            <div>@Model.BlackberryPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.BlackberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.BlackberryPieShowHalf)
                                {
                                    <td style="width: 25%;">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.BlackberryPiePriceHalf</div>
                                            <div>@Model.BlackberryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.TraditionalBlueberryPieShowFull || Model.TraditionalBlueberryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Traditional Blueberry Pie</td>

                                @if (Model.TraditionalBlueberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.TraditionalBlueberryPiePrice</div>
                                            <div>@Model.TraditionalBlueberryPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.TraditionalBlueberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.TraditionalBlueberryPieShowHalf)
                                {
                                    <td style="width: 25%;">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.TraditionalBlueberryPiePriceHalf</div>
                                            <div>@Model.TraditionalBlueberryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.TraditionalCherryPieShowFull || Model.TraditionalCherryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Traditional Cherry Pie</td>

                                @if (Model.TraditionalCherryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.TraditionalCherryPiePrice</div>
                                            <div>@Model.TraditionalCherryPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.TraditionalCherryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.TraditionalCherryPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.TraditionalCherryPiePriceHalf</div>
                                            <div>@Model.TraditionalCherryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.BlackCherryPieShowFull || Model.BlackCherryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Black Cherry Pie</td>

                                @if (Model.BlackCherryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.BlackCherryPiePrice</div>
                                            <div>@Model.BlackCherryPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.BlackCherryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.BlackCherryPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.BlackCherryPiePriceHalf</div>
                                            <div>@Model.BlackCherryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.CherryCrumbPieShowFull || Model.CherryCrumbPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Cherry Crumb Pie</td>

                                @if (Model.CherryCrumbPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.CherryCrumbPiePrice</div>
                                            <div>@Model.CherryCrumbPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.CherryCrumbPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.CherryCrumbPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.CherryCrumbPiePriceHalf</div>
                                            <div>@Model.CherryCrumbPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.CherryVanillawithAlmondsPieShowFull || Model.CherryVanillawithAlmondsPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Cherry Vanilla  with Almonds Pie</td>

                                @if (Model.CherryVanillawithAlmondsPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.CherryVanillawithAlmondsPiePrice</div>
                                            <div>@Model.CherryVanillawithAlmondsPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.CherryVanillawithAlmondsPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.CherryVanillawithAlmondsPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.CherryVanillawithAlmondsPiePriceHalf</div>
                                            <div>@Model.CherryVanillawithAlmondsPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.TraditionalPeachPieShowFull || Model.TraditionalPeachPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Traditional Peach Pie</td>

                                @if (Model.TraditionalPeachPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.TraditionalPeachPiePrice</div>
                                            <div>@Model.TraditionalPeachPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.TraditionalPeachPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.TraditionalPeachPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.TraditionalPeachPiePriceHalf</div>
                                            <div>@Model.TraditionalPeachPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.MixedPeachandBlueberryPieShowFull || Model.MixedPeachandBlueberryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Mixed Peach & Blueberry Pie  </td>

                                @if (Model.MixedPeachandBlueberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.MixedPeachandBlueberryPiePrice</div>
                                            <div>@Model.MixedPeachandBlueberryPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.MixedPeachandBlueberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.MixedPeachandBlueberryPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.MixedPeachandBlueberryPiePriceHalf</div>
                                            <div>@Model.MixedPeachandBlueberryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.PeachPralinePieShowFull || Model.PeachPralinePieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Peach Praline Pie</td>

                                @if (Model.PeachPralinePieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.PeachPralinePiePrice</div>
                                            <div>@Model.PeachPralinePieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.PeachPralinePieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.PeachPralinePieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.PeachPralinePiePriceHalf</div>
                                            <div>@Model.PeachPralinePieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.PineappleUpsideDownPieShowFull || Model.PineappleUpsideDownPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Pineapple Upside Down Pie </td>

                                @if (Model.PineappleUpsideDownPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.PineappleUpsideDownPiePrice</div>
                                            <div>@Model.PineappleUpsideDownPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.PineappleUpsideDownPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.PineappleUpsideDownPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.PineappleUpsideDownPiePriceHalf</div>
                                            <div>@Model.PineappleUpsideDownPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.StrawberryPieShowFull || Model.StrawberryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Strawberry Pie </td>

                                @if (Model.StrawberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.StrawberryPiePrice</div>
                                            <div>@Model.StrawberryPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.StrawberryPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.StrawberryPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.StrawberryPiePriceHalf</div>
                                            <div>@Model.StrawberryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.StrawberryRhubarbPieShowFull || Model.StrawberryRhubarbPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Strawberry Rhubarb Pie</td>

                                @if (Model.StrawberryRhubarbPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.StrawberryRhubarbPiePrice</div>
                                            <div>@Model.StrawberryRhubarbPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.StrawberryRhubarbPieShowFull)
                                {
                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.StrawberryRhubarbPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.StrawberryRhubarbPiePriceHalf</div>
                                            <div>@Model.StrawberryRhubarbPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                        @if (Model.VeryBerryPieShowFull || Model.VeryBerryPieShowHalf)
                        {
                            <tr>
                                <td style="width:2%;">&nbsp;</td>

                                <td style="width:50%">Very Berry Pie</td>

                                @if (Model.VeryBerryPieShowFull)
                                {

                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">@Model.VeryBerryPiePrice</div>
                                            <div>@Model.VeryBerryPieQuantity</div>
                                        </div>
                                    </td>
                                }
                                @if (!Model.VeryBerryPieShowFull)
                                {

                                    <td style="width:35%">
                                        <div>
                                            <div style="float: left; width: 72px;">&nbsp;</div>
                                            <div>&nbsp;</div>
                                        </div>
                                    </td>
                                }
                                @if (Model.VeryBerryPieShowHalf)
                                {
                                    <td style="width: 25%; ">
                                        <div style="width:181px;">
                                            <div style="float: left; width: 95px;">@Model.VeryBerryPiePriceHalf</div>
                                            <div>@Model.VeryBerryPieQuantityHalf</div>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
            <div style="width: 800px; padding: 5px;" class="leftfloat">
                <b>Please provide any special instructions or comments that you wish pertaining to your order.</b>
                <br />
                <br />
                <div style="border:1px solid black;">@Model.Specialinstructions</div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>
