﻿@using Nop.Plugin.OrderForm.Models;
@using Nop.Web.Framework
@using Nop.Web.Extensions;
@*@using Telerik.Web.Mvc.UI*@
<script type="text/javascript">
    $(document).ready(function () {

        $("#OrderPicupDate").datepicker({
            onSelect: function (dateText, inst) {
                formValidate();
            }
        });

        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
        formValidate();
        function formValidate() {
            var email = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var date_regex = /^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/;

            if ($("#FirstName").val() != " " && $("#LastName").val() != " " && email.test($("#Email").val()) && $("#Cell").val() != " " && $("#OrderPicupDate").val()!=" ")
            {
                $('#holyDayOrder').removeAttr('disabled');

            }
            else {
                $('#holyDayOrder').prop("disabled", true);
            }
        };

        $("#FirstName").blur(function () {
            formValidate();
        });

        $("#LastName").blur(function () {
            formValidate();
        });

        $("#Email").blur(function () {
            formValidate();
        });

        $("#Cell").blur(function () {
            formValidate();
        });

    });
</script>

@model OrderFormModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddCssFileParts(@Url.Content("~/Plugins/OrderForm/Content/bootstrap-theme.css"));

}
@using (Html.BeginForm("SubmitOrderForm", "Plugin/OrderForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div>
            <div class="mailheader">
                <div id="headertext"><b> &nbsp;</b></div>
            </div>
            <div class="clear"></div><br>
            @Html.Action("TopicBlock", "Topic", new { systemName = "HolyDayOrderParagraph" })<br>
            <br />
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>First Name:</td>
                            <td>
                                @*<input type="text" style="width: 250px;" class="textBox" id="FirstName" name="FirstName" />*@

                                @Html.TextBoxFor(model => model.FirstName, new { @class = "textBox", id = "FirstName", style = "width: 250px;" })

                            </td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td>

                                @*<input type="text" style="width: 250px;" class="textBox" id="LastName" name="LastName" />*@
                                @Html.TextBoxFor(model => model.LastName, new { @class = "textBox", id = "LastName", style = "width: 250px;" })

                            </td>
                        </tr>
                        <tr>
                            <td>Email Address:</td>
                            <td>
                                @*<input type="email" style="width: 250px;" class="textBox" id="Email" name="Email" />*@
                                @Html.TextBoxFor(model => model.Email, new { @class = "textBox", id = "Email", type = "email", style = "width: 250px;" })

                            </td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td>
                                
                                @*<input type="text" style="width: 250px;" class="textBox" id="Cell" name="Cell" />*@
                                @Html.TextBoxFor(model => model.Cell, new { @class = "textBox", id = "Cell", style = "width: 250px;" })

                            
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Order Pick-up Date:</td>
                            <td>
                                @*<input type="text" style="width: 250px;" class="textBox" id="OrderPicupDate" name="OrderPicupDate" required />*@
                                @Html.TextBoxFor(model => model.OrderPicupDate, new { @class = "textBox", id = "OrderPicupDate", style = "width: 250px;" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div style="font-size: 10pt;">
                <div style="width: 600px; padding: 5px;" class="leftfloat">
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td style="width:50%"><b>Turkeys</b></td>
                                <td style="width:25%"><b>Turkeys</b></td>
                                <td style="width:25%"><b>Price/lb.</b></td>
                            </tr>
                            <tr>
                                <td>@Html.CheckBoxFor(model => model.ShowTurkeys)</td>
                                <td style="width:50%">Fresh Ho-Ka Turkey</td>
                                <td style="width:25%">@Html.DropDownListFor(model => model.SizeTurkey, Model.DbSize)</td>

                                <td style="width:25%">$2.99 lb</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="clear:both;"></div>
                <div>
                    <b>Note: &nbsp;</b> If you wish to order more than one turkey tell us in the comment box.
                </div>
                <br />
                <br />
                <br />
                <div style=" text-align: center; margin-bottom: 24px; margin-left: -300px;"><strong><a href="../../../content/images/uploaded/pie-palooza/flyer/flyer.html" target="_blank">See pictures and learn details about our pies.</a></strong></div>
                <div style="width: 800px; padding: 5px;" class="leftfloat">
                    <table style="width:80%;">
                        <tbody>
                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%"><b>Farmer's Market - 9 inch Pies</b></td>
                                <td style="width: 25%; text-align: center;">
                                    <input type="text" readonly name="PieSize" class="priceNotAvailAblePumpkinPie" style="border: none; font-weight:bold;" value="Full Pies" />
                                </td>
                                <td style="width: 25%; text-align: left;">
                                    <b>Half Pies</b>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">&nbsp;</td>
                                <td style="width:25%">
                                    <div>
                                        <div style="float:left; width:88px;">Price</div>
                                        <div>Quantity</div>
                                    </div>
                                </td>
                                <td style="width: 25%; text-align: right;">
                                    <div>
                                        <div style="float: left; width: 40px; text-align: left;">Price</div>
                                        <div style="text-align: center;">Quantity</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Pumpkin Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.PumpkinPieShowFull)
                                            <input type="text" readonly id="PumpkinPiePrice" name="PumpkinPiePrice" style="border:none; width:72px" value="$7.99" />
                                        </div>
                                        <div>
                                            <select id="PumpkinPieQuantity" name="PumpkinPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.PumpkinPieShowHalf, new { disabled = "disabled" })
                                            <input type="text" readonly name="PumpkinPiePriceHalf" class="priceNotAvailAblePumpkinPie" style="border:none; width:72px;" value="Not Available" />
                                        </div>
                                        <div>
                                            <input type="text" readonly name="PumpkinPieQuantityHalf" class="quantityNotAvailAblePumpkinPie" style="border: none; width: 72px;" value="Not Available" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Pecan Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.PecanPieShowFull)
                                            <input type="text" readonly id="PecanPiePrice" name="PecanPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="PecanPieQuantity" name="PecanPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.PecanPieShowHalf, new { disabled = "disabled" })
                                            <input type="text" readonly name="PecanPiePriceHalf" class="priceNotAvailAblePecanPie" style="border:none; width:72px;" value="Not Available" />
                                        </div>
                                        <div>
                                            <input type="text" readonly name="PecanPieQuantityHalf" class="quantityNotAvailAblePecanPie" style="border: none; width: 72px;" value="Not Available" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Traditional Apple Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.TraditionalAppleShowFull)
                                            <input type="text" readonly id="TraditionalApplePrice" name="TraditionalApplePrice" style="border:none; width:37px" value="$7.99" />
                                        </div>
                                        <div>
                                            <select id="TraditionalApplePieQuantity" name="TraditionalApplePieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.TraditionalAppleShowHalf)
                                            <input type="text" readonly id="TraditionalApplePriceHalf" name="TraditionalApplePriceHalf" style="border:none; width:37px" value="$4.99" />
                                        </div>
                                        <div>
                                            <select id="TraditionalApplePieQuantityHalf" name="TraditionalApplePieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Apple Berry Delight</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.AppleBerryDelightShowFull)
                                            <input type="text" readonly id="AppleBerryDelightPrice" name="AppleBerryDelightPrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="AppleBerryDelightQuantity" name="AppleBerryDelightQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>

                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.AppleBerryDelightShowHalf)
                                            <input type="text" readonly id="AppleBerryDelightPriceHalf" name="AppleBerryDelightPriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="AppleBerryDelightQuantityHalf" name="AppleBerryDelightQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Apple Brown Betty Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.AppleBrownBettyPieShowFull)
                                            <input type="text" readonly id="AppleBrownBettyPiePrice" name="AppleBrownBettyPiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="AppleBrownBettyPieQuantity" name="AppleBrownBettyPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.AppleBrownBettyPieShowHalf)
                                            <input type="text" readonly id="AppleBrownBettyPiePriceHalf" name="AppleBrownBettyPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="AppleBrownBettyPieQuantityHalf" name="AppleBrownBettyPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Apple Caramel Walnut Pie </td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.AppleCaramelWalnutPieShowFull)
                                            <input type="text" readonly id="AppleCaramelWalnutPiePrice" name="AppleCaramelWalnutPiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="AppleCaramelWalnutPieQuantity" name="AppleCaramelWalnutPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.AppleCaramelWalnutPieShowHalf)
                                            <input type="text" readonly id="AppleCaramelWalnutPiePriceHalf" name="AppleCaramelWalnutPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="AppleCaramelWalnutPieQuantityHalf" name="AppleCaramelWalnutPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Apple Crisp Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.AppleCrispPieShowFull)
                                            <input type="text" readonly id="AppleCrispPiePrice" name="AppleCrispPiePrice" style="border:none; width:37px" value="$7.99" />
                                        </div>
                                        <div>
                                            <select id="AppleCrispPieQuantity" name="AppleCrispPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.AppleCrispPieShowHalf)
                                            <input type="text" readonly id="AppleCrispPiePriceHalf" name="AppleCrispPiePriceHalf" style="border:none; width:37px" value="$4.99" />
                                        </div>
                                        <div>
                                            <select id="AppleCrispPieQuantityHalf" name="AppleCrispPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Apple Raspberry Pie </td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.AppleRaspberryPieShowFull)
                                            <input type="text" readonly id="AppleRaspberryPiePrice" name="AppleRaspberryPiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="AppleRaspberryPieQuantity" name="AppleRaspberryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.AppleRaspberryPieShowHalf)
                                            <input type="text" readonly id="AppleRaspberryPiePriceHalf" name="AppleRaspberryPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="AppleRaspberryPieQuantityHalf" name="AppleRaspberryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Country Cinnamon Apple Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.CountryCinnamonApplePieShowFull)
                                            <input type="text" readonly id="CountryCinnamonApplePiePrice" name="CountryCinnamonApplePiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="CountryCinnamonApplePieQuantity" name="CountryCinnamonApplePieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.CountryCinnamonApplePieShowHalf)
                                            <input type="text" readonly id="CountryCinnamonApplePiePriceHalf" name="CountryCinnamonApplePiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="CountryCinnamonApplePieQuantityHalf" name="CountryCinnamonApplePieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Dutch Apple Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.DutchApplePieShowFull)
                                            <input type="text" readonly id="DutchApplePiePrice" name="DutchApplePiePrice" style="border:none; width:37px" value="$7.99" />
                                        </div>
                                        <div>
                                            <select id="DutchApplePieQuantity" name="DutchApplePieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.DutchApplePieShowHalf)
                                            <input type="text" readonly id="DutchApplePiePriceHalf" name="DutchApplePiePriceHalf" style="border:none; width:37px" value="$4.99" />
                                        </div>
                                        <div>
                                            <select id="DutchApplePieQuantityHalf" name="DutchApplePieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Blackberry Pie </td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.BlackberryPieShowFull)
                                            <input type="text" readonly id="BlackberryPiePrice" name="BlackberryPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="BlackberryPieQuantity" name="BlackberryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.BlackberryPieShowHalf)
                                            <input type="text" readonly id="BlackberryPiePriceHalf" name="BlackberryPiePriceHalf" style="border:none; width:37px" value="$5.99" />
                                        </div>
                                        <div>
                                            <select id="BlackberryPieQuantityHalf" name="BlackberryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Traditional Blueberry Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.TraditionalBlueberryPieShowFull)
                                            <input type="text" readonly id="TraditionalBlueberryPiePrice" name="TraditionalBlueberryPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="TraditionalBlueberryPieQuantity" name="TraditionalBlueberryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.TraditionalBlueberryPieShowHalf)
                                            <input type="text" readonly id="TraditionalBlueberryPiePriceHalf" name="TraditionalBlueberryPiePriceHalf" style="border:none; width:37px" value="$5.99" />
                                        </div>
                                        <div>
                                            <select id="TraditionalBlueberryPieQuantityHalf" name="TraditionalBlueberryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Traditional Cherry Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.TraditionalCherryPieShowFull)
                                            <input type="text" readonly id="TraditionalCherryPiePrice" name="TraditionalCherryPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="TraditionalCherryPieQuantity" name="TraditionalCherryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.TraditionalCherryPieShowHalf)
                                            <input type="text" readonly id="TraditionalCherryPiePriceHalf" name="TraditionalCherryPiePriceHalf" style="border:none; width:37px" value="$5.99" />
                                        </div>
                                        <div>
                                            <select id="TraditionalCherryPieQuantityHalf" name="TraditionalCherryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Black Cherry Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.BlackCherryPieShowFull)
                                            <input type="text" readonly id="BlackCherryPiePrice" name="BlackCherryPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="BlackCherryPieQuantity" name="BlackCherryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.BlackCherryPieShowHalf)
                                            <input type="text" readonly id="BlackCherryPiePriceHalf" name="BlackCherryPiePriceHalf" style="border:none; width:37px" value="$5.99" />
                                        </div>
                                        <div>
                                            <select id="BlackCherryPieQuantityHalf" name="BlackCherryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Cherry Crumb Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.CherryCrumbPieShowFull)
                                            <input type="text" readonly id="CherryCrumbPiePrice" name="CherryCrumbPiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="CherryCrumbPieQuantity" name="CherryCrumbPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.CherryCrumbPieShowHalf)
                                            <input type="text" readonly id="CherryCrumbPiePriceHalf" name="CherryCrumbPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="CherryCrumbPieQuantityHalf" name="CherryCrumbPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Cherry Vanilla  with Almonds Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.CherryVanillawithAlmondsPieShowFull)
                                            <input type="text" readonly id="CherryVanillawithAlmondsPiePrice" name="CherryVanillawithAlmondsPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="CherryVanillawithAlmondsPieQuantity" name="CherryVanillawithAlmondsPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.CherryVanillawithAlmondsPieShowHalf)
                                            <input type="text" readonly id="CherryVanillawithAlmondsPiePriceHalf" name="CherryVanillawithAlmondsPiePriceHalf" style="border:none; width:37px" value="$5.99" />
                                        </div>
                                        <div>
                                            <select id="CherryVanillawithAlmondsPieQuantityHalf" name="CherryVanillawithAlmondsPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Traditional Peach Pie  </td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.TraditionalPeachPieShowFull)
                                            <input type="text" readonly id="TraditionalPeachPiePrice" name="TraditionalPeachPiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="TraditionalPeachPieQuantity" name="TraditionalPeachPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.TraditionalPeachPieShowHalf)
                                            <input type="text" readonly id="TraditionalPeachPiePriceHalf" name="TraditionalPeachPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="TraditionalPeachPieQuantityHalf" name="TraditionalPeachPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Mixed Peach & Blueberry Pie  </td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.MixedPeachandBlueberryPieShowFull)
                                            <input type="text" readonly id="MixedPeachandBlueberryPiePrice" name="MixedPeachandBlueberryPiePrice"
                                                   style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="MixedPeachandBlueberryPieQuantity" name="MixedPeachandBlueberryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.MixedPeachandBlueberryPieShowHalf)
                                            <input type="text" readonly id="MixedPeachandBlueberryPiePriceHalf" name="MixedPeachandBlueberryPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="MixedPeachandBlueberryPieQuantityHalf" name="MixedPeachandBlueberryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Peach Praline Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.PeachPralinePieShowFull)
                                            <input type="text" readonly id="PeachPralinePiePrice" name="PeachPralinePiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="PeachPralinePieQuantity" name="PeachPralinePieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.PeachPralinePieShowHalf)
                                            <input type="text" readonly id="PeachPralinePiePriceHalf" name="PeachPralinePiePriceHalf" style="border:none; width:37px" value="$5.99" />
                                        </div>
                                        <div>
                                            <select id="PeachPralinePieQuantityHalf" name="PeachPralinePieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Pineapple Upside Down Pie </td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.PineappleUpsideDownPieShowFull)
                                            <input type="text" readonly id="PineappleUpsideDownPiePrice" name="PineappleUpsideDownPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="PineappleUpsideDownPieQuantity" name="PineappleUpsideDownPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.PineappleUpsideDownPieShowHalf)
                                            <input type="text" readonly id="PineappleUpsideDownPiePriceHalf" name="PineappleUpsideDownPiePriceHalf" style="border:none; width:37px" value="$5.99" />
                                        </div>
                                        <div>
                                            <select id="PineappleUpsideDownPieQuantityHalf" name="PineappleUpsideDownPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Strawberry Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.StrawberryPieShowFull)
                                            <input type="text" readonly id="StrawberryPiePrice" name="StrawberryPiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="StrawberryPieQuantity" name="StrawberryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.StrawberryPieShowHalf)
                                            <input type="text" readonly id="StrawberryPiePriceHalf" name="StrawberryPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="StrawberryPieQuantityHalf" name="StrawberryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Strawberry Rhubarb Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.StrawberryRhubarbPieShowFull)
                                            <input type="text" readonly id="StrawberryRhubarbPiePrice" name="StrawberryRhubarbPiePrice" style="border:none; width:37px" value="$8.99" />
                                        </div>
                                        <div>
                                            <select id="StrawberryRhubarbPieQuantity" name="StrawberryRhubarbPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.StrawberryRhubarbPieShowHalf)
                                            <input type="text" readonly id="StrawberryRhubarbPiePriceHalf" name="StrawberryRhubarbPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="StrawberryRhubarbPieQuantityHalf" name="StrawberryRhubarbPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:2%;">&nbsp;</td>
                                <td style="width:50%">Very Berry Pie</td>
                                <td style="width:25%">
                                    <div style="width:144px;">
                                        <div style="float: left; width: 90px;">
                                            @Html.CheckBoxFor(model => model.VeryBerryPieShowFull)
                                            <input type="text" readonly id="VeryBerryPiePrice" name="VeryBerryPiePrice" style="border:none; width:37px" value="$9.99" />
                                        </div>
                                        <div>
                                            <select id="VeryBerryPieQuantity" name="VeryBerryPieQuantity">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:25%">
                                    <div style="width:177px;">
                                        <div style="float: left; width: 95px;">
                                            @Html.CheckBoxFor(model => model.VeryBerryPieShowHalf)
                                            <input type="text" readonly id="VeryBerryPiePriceHalf" name="VeryBerryPiePriceHalf" style="border:none; width:37px" value="$5.49" />
                                        </div>
                                        <div>
                                            <select id="VeryBerryPieQuantityHalf" name="VeryBerryPieQuantityHalf">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <br />
                <br />
                <br />
                <div style="width: 800px; padding: 5px;" class="leftfloat">
                    <b>  Please provide any special instructions or comments that you wish pertaining to your order.</b>
                    <br />
                    <br />
                    <br />
                    <textarea rows="3" cols="60" id="Specialinstructions" name="Specialinstructions"></textarea>
                </div>
                <br />
            </div>
            <br>
        </div>
    </div>
    <br />
    <input class="btn btn-primary" type="submit" id="holyDayOrder" value="Send" disabled />

}

