﻿@{
    //page title
    ViewBag.Title = T("Admin.Customers.CustomerRoles").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
        @T("Admin.Customers.CustomerRoles")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>

            <div id="customerroles-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#customerroles-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "CustomerRole"))",
                                    type: "POST",
                                    dataType: "json"
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "Name",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.Name")",
                            width: 300
                        }, {
                            field: "FreeShipping",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.FreeShipping")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=FreeShipping#.gif" />'
                        }, {
                            field: "TaxExempt",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.TaxExempt")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=TaxExempt#.gif" />'
                        },{
                            field: "Active",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.Active")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=Active#.gif" />'
                        },{
                            field: "IsSystemRole",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.IsSystemRole")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsSystemRole#.gif" />'
                        },{
                            field: "StoreRole",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.StoreRole")",
                            width: 100
                        },{
                            field: "StoreId",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.StoreId")",
                            width: 100
                        },{
                            field: "AdGroupId",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.AdGroup")",
                            width: 100
                            },{
                            field: "PurchasedWithProductName",
                            title: "@T("Admin.Customers.CustomerRoles.Fields.PurchasedWithProduct")",
                            width: 100
                        },{
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>