﻿<div>
    <style type="text/css">
        .master-wrapper-center-1 {
            margin-left: 5px;
        }

        .btn {
            width: 70px;
        }

        td {
            font-family: Calibri;
            font-size: 10pt;
            vertical-align: middle;
        }

        .clear {
            clear: both;
        }

        .leftfloat {
            float: left;
        }

        .padright5 {
            padding-right: 5px;
        }

        #content {
            width: 900px;
            font-family: Calibri;
            font-size: 11pt;
        }

        #mailheader {
            width: 100%;
            float: left;
            height: 100px;
        }

        #imglogo {
            width: 150px;
            float: left;
            height: 100px;
        }

        #headertext {
            font-family: Times New Roman;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20pt;
            padding: 15px 0 0 220px;
            float: left;
            text-decoration: underline;
        }

        h5 {
            /*font-family: Franklin Gothic Medium;*/
            text-transform: uppercase;
            font-weight: bold;
            float: left;
        }

        .formfont {
            font-family: Franklin Gothic Medium;
            font-size: 10pt;
        }

        #empname td {
            /*width: 250px;
            text-align: center;*/
        }

        .thistable td {
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            margin: 0;
            padding: 1px 5px 1px 1px;
        }

        .rblTable td {
            border: none;
        }

        .workweek {
            height: 50px;
            vertical-align: top;
        }
    </style>
    <div id="content">
        <div class="mailheader">
            <div id="headertext">&nbsp;</div>
        </div>
        <div class="clear"></div><br>
        @Html.Action("TopicBlock", "Topic", new { systemName = "HolyDayOrderParagraph" })
        <div style="width: 90%" class="leftfloat">
            <div id="personal">
                <h5>Personal Information</h5>
            </div>
            <span style="float: right;" class="formfont">DATE:<label id="">12/18/2012</label></span><br />
        </div><br />
        <div id="empname">
            <table>
                <tbody>
                    <tr>
                        <td>First Name:</td>
                        <td>%EmailCv.FirstName%</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>%EmailCv.LastName%</td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>%EmailCv.Email%</td>
                    </tr>
                    <tr>
                        <td>Phone Number:</td>
                        <td>%EmailCv.Cell%</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Order Pick-up date:</td>
                        <td>%EmailCv.OrderPicupDate%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div style="font-size: 10pt;">
            <div style="width: 600px; padding: 5px;" class="leftfloat">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="width:50%"><b>Turkeys</b></td>
                            <td style="width:25%"><b>Turkeys</b></td>
                            <td style="width:25%"><b>Price/lb.</b></td>
                        </tr>
                        <tr>
                            <td style="width:50%">Fresh Ho-Ka Turkey</td>
                            <td style="width:25%">%EmailCv.SizeTurkey%</td>

                            <td style="width:25%">$2.99 lb</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div style="clear:both;"></div>
            <div>
                <b>Note: &nbsp;</b> If you wish to order more than one turkey tell us in the comment box.
            </div>
            <br />
            <br />
            <br />
            <div style=" text-align: center; margin-bottom: 24px; margin-left: -300px;"><strong><a href="../../../content/images/uploaded/pie-palooza/flyer/flyer.html" target="_blank">See pictures and learn details about our pies.</a></strong></div>
            <div style="width: 800px; padding: 5px;" class="leftfloat">
                <table style="width:80%;">
                    <tbody>
                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%"><b>Farmer's Market - 9 inch Pies</b></td>
                            <td style="width: 25%; text-align: center;">
                                <span class="value">%EmailCv.PieSize%</span>
                            </td>
                            <td style="width: 25%; text-align: center;">
                                <b>Half Pies</b>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">&nbsp;</td>
                            <td style="width:25%">
                                <div>
                                    <div style="float:left; width:65px;">Price</div>
                                    <div>Quantity</div>
                                </div>
                            </td>
                            <td style="width: 25%; text-align: right;">
                                <div>
                                    <div style="float:left; width:40px;">Price</div>
                                    <div>Quantity</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Pumpkin Pie</td>
                            <td style="width:25%">
                                <div style="width:144px;">
                                    <div style="float: left; width: 90px;">%EmailCv.PumpkinPiePrice%</div>
                                    <div>%EmailCv.PumpkinPiePrice%</div>
                                </div>
                            </td>

                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.PumpkinPiePriceHalf%</div>
                                    <div>%EmailCv.PumpkinPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Pecan Pie</td>
                            <td style="width:35%">
                                <div style="width:144px;">
                                    <div style="float: left; width: 90px;">%EmailCv.PecanPiePrice%</div>
                                    <div>%EmailCv.PecanPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.PecanPiePriceHalf%</div>
                                    <div>%EmailCv.PecanPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Traditional Apple Pie</td>
                            <td style="width:35%">
                                <div style="width:144px;">
                                    <div style="float: left; width: 90px;">%EmailCv.TraditionalApplePrice%</div>
                                    <div>%EmailCv.TraditionalApplePieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.TraditionalApplePriceHalf%</div>
                                    <div>%EmailCv.TraditionalApplePieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Apple Berry Delight</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.AppleBerryDelightPrice%</div>
                                    <div>%EmailCv.AppleBerryDelightQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.AppleBerryDelightPriceHalf%</div>
                                    <div>%EmailCv.AppleBerryDelightQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Apple Brown Betty Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.AppleBrownBettyPiePrice%</div>
                                    <div>%EmailCv.AppleBrownBettyPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.AppleBrownBettyPiePriceHalf%</div>
                                    <div>%EmailCv.AppleBrownBettyPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Apple Caramel Walnut Pie </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.AppleCaramelWalnutPiePrice%</div>
                                    <div>%EmailCv.AppleCaramelWalnutPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.AppleCaramelWalnutPiePriceHalf%</div>
                                    <div>%EmailCv.AppleCaramelWalnutPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Apple Crisp Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.AppleCrispPiePrice%</div>
                                    <div>%EmailCv.AppleCrispPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.AppleCrispPiePriceHalf%</div>
                                    <div>%EmailCv.AppleCrispPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Apple Raspberry Pie </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.AppleRaspberryPiePrice%</div>
                                    <div>%EmailCv.AppleRaspberryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.AppleRaspberryPiePriceHalf%</div>
                                    <div>%EmailCv.AppleRaspberryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Country Cinnamon Apple Pie </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.CountryCinnamonApplePiePrice%</div>
                                    <div>%EmailCv.CountryCinnamonApplePieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.CountryCinnamonApplePiePriceHalf%</div>
                                    <div>%EmailCv.CountryCinnamonApplePieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Dutch Apple Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.DutchApplePiePrice%</div>
                                    <div>%EmailCv.DutchApplePieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.DutchApplePiePriceHalf%</div>
                                    <div>%EmailCv.DutchApplePieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Blackberry Pie </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.BlackberryPiePrice%</div>
                                    <div>%EmailCv.BlackberryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.BlackberryPiePriceHalf%</div>
                                    <div>%EmailCv.BlackberryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Traditional Blueberry Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.TraditionalBlueberryPiePrice%</div>
                                    <div>%EmailCv.TraditionalBlueberryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.TraditionalBlueberryPiePriceHalf%</div>
                                    <div>%EmailCv.TraditionalBlueberryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Traditional Cherry Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.TraditionalCherryPiePrice%</div>
                                    <div>%EmailCv.TraditionalCherryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.TraditionalCherryPiePriceHalf%</div>
                                    <div>%EmailCv.TraditionalCherryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Black Cherry Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.BlackCherryPiePrice%</div>
                                    <div>%EmailCv.BlackCherryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.BlackCherryPiePriceHalf%</div>
                                    <div>%EmailCv.BlackCherryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Cherry Crumb Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.CherryCrumbPiePrice%</div>
                                    <div>%EmailCv.CherryCrumbPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.CherryCrumbPiePriceHalf%</div>
                                    <div>%EmailCv.CherryCrumbPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Cherry Vanilla  with Almonds Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.CherryVanillawithAlmondsPiePrice%</div>
                                    <div>%EmailCv.CherryVanillawithAlmondsPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.CherryVanillawithAlmondsPiePriceHalf%</div>
                                    <div>%EmailCv.CherryVanillawithAlmondsPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Traditional Peach Pie  </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.TraditionalPeachPiePrice%</div>
                                    <div>%EmailCv.TraditionalPeachPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.TraditionalPeachPiePriceHalf%</div>
                                    <div>%EmailCv.TraditionalPeachPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Mixed Peach & Blueberry Pie  </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.MixedPeachandBlueberryPiePrice%</div>
                                    <div>%EmailCv.MixedPeachandBlueberryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.MixedPeachandBlueberryPiePriceHalf%</div>
                                    <div>%EmailCv.MixedPeachandBlueberryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Peach Praline Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.PeachPralinePiePrice%</div>
                                    <div>%EmailCv.PeachPralinePieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.PeachPralinePiePriceHalf%</div>
                                    <div>%EmailCv.PeachPralinePieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Pineapple Upside Down Pie </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.PineappleUpsideDownPiePrice%</div>
                                    <div>%EmailCv.PineappleUpsideDownPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.PineappleUpsideDownPiePriceHalf%</div>
                                    <div>%EmailCv.PineappleUpsideDownPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Strawberry Pie </td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.StrawberryPiePrice%</div>
                                    <div>%EmailCv.StrawberryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.StrawberryPiePriceHalf%</div>
                                    <div>%EmailCv.StrawberryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Strawberry Rhubarb Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.StrawberryRhubarbPiePrice%</div>
                                    <div>%EmailCv.StrawberryRhubarbPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.StrawberryRhubarbPiePriceHalf%</div>
                                    <div>%EmailCv.StrawberryRhubarbPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td style="width:2%;">&nbsp;</td>
                            <td style="width:50%">Very Berry Pie</td>
                            <td style="width:35%">
                                <div>
                                    <div style="float: left; width: 72px;">%EmailCv.VeryBerryPiePrice%</div>
                                    <div>%EmailCv.VeryBerryPieQuantity%</div>
                                </div>
                            </td>
                            <td style="width:25%">
                                <div style="width:181px;">
                                    <div style="float: left; width: 95px;">%EmailCv.VeryBerryPiePriceHalf%</div>
                                    <div>%EmailCv.VeryBerryPieQuantityHalf%</div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
            <div style="width: 800px; padding: 5px;" class="leftfloat">
                <b>Please provide any special instructions or comments that you wish pertaining to your order.</b>
                <br />
                <br />
                <div style="border:1px solid black;">%EmailCv.Specialinstructions%</div>
            </div>
            <br />
        </div>
        <br />
    </div>
</div>
<br />
