﻿@model SliderModel
@using Nop.Plugin.Widgets.BsSlider.Models;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div id="slider-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
           Slider Info
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            Slider Images
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            Preview
        </li>
        
    </ul>
    
    <div>
       @TabSliderInfo()  
        
    </div>
    <div>
       @*@TabSliderImages()*@
        @if (Model.Id > 0)
        {
            @TabSliderImages()
        }
        else
        {
            @T("Admin.Customers.Customers.Fields.CustomerRoles.NoRoles")
        }
    </div>
    <div>
        @TabSliderPreview()
    </div>
    
</div>
<script>
    $(document).ready(function() {
        $("#slider-edit").kendoTabStrip({
            animation:  {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

@{
    //custom tabs
    var eventMessage = new Nop.Web.Framework.Events.AdminTabStripCreated(this.Html, "slider-edit");
    Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Events.IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabSliderInfo1()
{
    <div>@Html.NopLabelFor(model => model.Name)</div>
    @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
    
}
@helper TabSliderInfo()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Name)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.WidgetZone)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.WidgetZone)
                @Html.ValidationMessageFor(model => model.WidgetZone)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Height)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Height)
                @Html.ValidationMessageFor(model => model.Height)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Published)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Published)
                @Html.ValidationMessageFor(model => model.Published)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DisplayOrder)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </td>
        </tr>
    </table>

}
@helper TabSliderImages()
{
    var gridPageSize = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;

    <div id="slider-picture-grid"></div>

    <script>
    $(document).ready(function () {
        $("#slider-picture-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "/Admin/Plugin/BsSlider/Slider/PictureList/@Model.Id",
                        type: "POST",
                        dataType: "json"
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(gridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "PictureUrl",
                title: "Picture",
                template: '<img src="#=PictureUrl#" />',
                width: 200
            }, {
                field: "DisplayOrder",
                title: "Display Order",
                width: 50
            },{
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 100,
                template: '<a href="/Admin/Plugin/BsSlider/Slider/PictureEdit/#=SliderId#/#=Id#">@T("Admin.Common.Edit")</a>'
            }]
        });
    });
    </script>
    
    <p>
        <strong>
            <input type="button" class="k-button" onclick="location.href='/Admin/Plugin/BsSlider/Slider/PictureCreate/@Model.Id'" value="Add new picture">
        </strong>
    </p>
}
@helper TabSliderPreview()
{
    @T("Admin.Customers.Customers.Fields.CustomerRoles.NoRoles")
}