﻿@model Nop.Plugin.Misc.HomePageProduct.Models.HomePageCategoryImageModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{
    
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.CategoryImage").Text;

    Html.AddScriptParts("~/Plugins/Misc.HomePageProduct/Content/js/jscolor.min.js");
}
<style>
    #CategoryName {
        border:none;
    }
</style>
<script>
    $(document).ready(function () {
        $('#changeCategoryColor').click(function () {
            var categoryId = $("#@Html.FieldIdFor(model => model.CategoryId)").val();
            var categoryColor = $("#@Html.FieldIdFor(model => model.CategoryColor)").val();

            var postData = {
                categoryId: categoryId,
                categoryColor: categoryColor
            };

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("Plugin.Misc.HomePageProduct.UpdateCategoryColor"))",
                data: postData,
            success: function(data) {
                var grid = $("#categorypictures-grid");
                grid.data('kendoGrid').dataSource.read();
                $('#addProductPicture').attr('disabled', false);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert('Failed to add product picture.');
                $('#addProductPicture').attr('disabled', false);
            }
        });
        });


        $('#addProductPicture').click(function () {
            var pictureId = $("#@Html.FieldIdFor(model => model.PictureId)").val();
            var overrideAltAttribute = $("#@Html.FieldIdFor(model => model.OverrideAltAttribute)").val();
            var overrideTitleAttribute = $("#@Html.FieldIdFor(model => model.OverrideTitleAttribute)").val();
            var categoryId = $("#@Html.FieldIdFor(model => model.CategoryId)").val();
            var categoryColor = $("#@Html.FieldIdFor(model => model.CategoryColor)").val();

            if (pictureId == 0) {
                alert('Upload picture first');
                return;
            }

            else if (categoryColor == "") {
                alert('Please provide hex color');
                return;
            }

            else if (categoryId == "") {
                alert('Please select category from first page of plugin');
                return;
            }

            $('#addProductPicture').attr('disabled', true);

            var postData = {
                pictureId: pictureId,
                overrideAltAttribute: overrideAltAttribute,
                overrideTitleAttribute: overrideTitleAttribute,
                categoryId: categoryId,
                categoryColor: categoryColor
                };

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("Plugin.Misc.HomePageProduct.CategoryImageAdd"))",
                data: postData,
                success: function(data) {
                    var grid = $("#categorypictures-grid");
                    grid.data('kendoGrid').dataSource.read();
                    $('#addProductPicture').attr('disabled', false);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to add product picture.');
                    $('#addProductPicture').attr('disabled', false);
                }
            });



        });

        @*$('#deleteWholeCategory').click(function () {
            var categoryId = $("#@Html.FieldIdFor(model => model.CategoryId)").val();
            var postData = {
                categoryId: categoryId,
                };
            $.ajax({
                cache: false,
                type: "POST",
                url: "/HomePageProduct/DeleteWholeCategory",
                data: postData,
            success: function(data) {
                var grid = $("#categorypictures-grid");
                grid.data('kendoGrid').dataSource.read();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $('#addProductPicture').attr('disabled', false);
            }
        });
        });*@
    });
</script>
<a href="/Plugin/Misc//HomePageProduct/CategoryAdd">(Back to plugin main page)</a>
    @Html.HiddenFor(model => model.CategoryId)

        @*<div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Catalog.Products.EditProductDetails") - @Model.Name @Html.ActionLink("(" + T("Admin.Catalog.Products.BackToList") + ")", "List")
        </div>*@
      <table width="100%">
        <tr>
            <td class="adminTitle">
                @T("CategoryName"):
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.CategoryName, new {@readonly = "readonly" })
            </td>
        </tr>
          <tr>
              <td class="adminTitle">
                  @Html.NopLabelFor(model => model.PictureId):
              </td>
              <td class="adminData">
                  @Html.EditorFor(model => model.PictureId)

              </td>
          </tr>
          <tr>
              <td class="adminTitle">
                  @Html.NopLabelFor(model => model.OverrideAltAttribute):
              </td>
              <td class="adminData">
                  @Html.EditorFor(model => model.OverrideAltAttribute)
              </td>
          </tr>
          <tr>
              <td class="adminTitle">
                  @Html.NopLabelFor(model => model.OverrideTitleAttribute):
              </td>
              <td class="adminData">
                  @Html.EditorFor(model => model.OverrideTitleAttribute)
              </td>
          </tr>
          <tr>
              <td class="adminTitle">
                  @Html.NopLabelFor(model => model.CategoryColor):
              </td>
              <td class="adminData">
                  <input class="jscolor" id="CategoryColor" name="CategoryColor" style="width: 254px; height: 25px;" type="text" value="ab2567"> <span style="color:red">*</span>
                  <input type="button" class="k-button" value="@T("Close.ColorPicker")" />
              </td>
          </tr>
          <tr>
              <td align="left">
                  <input type="button" id="addProductPicture" class="k-button" value="@T("Admin.Catalog.Products.Pictures.AddButton")" />
              </td>
              <td align="left">
                  <input type="button" id="changeCategoryColor" class="k-button" value="@T("Change.CategoryColor")" style="display:none;"/>
              </td>

              @*<td align="left">
                  <input type="button" id="deleteWholeCategory" class="k-button" value="@T("Delete.Whole.CategoryFromHomePage")" />
              </td>*@
          </tr>
    </table>
   <div>
       <div id="categorypictures-grid"></div>

    <script>
            $(document).ready(function () {
                $("#categorypictures-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("CategoryPictureList", "HomePageProduct", new { categoryId = Model.CategoryId, area = "" }))",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("CategoryPictureDelete", "HomePageProduct", new { id = Model.PictureId, area = "" }))",
                                type: "POST",
                                dataType: "json",
                                data: addAntiForgeryToken
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    PictureUrl: {editable: false, type: "string" },
                                    OverrideAltAttribute: {editable: true, type: "string" },
                                    OverrideTitleAttribute: {editable: true, type: "string" }
                                }
                            }
                        },
                        requestEnd: function(e) {
                            if(e.type=="update") {
                                this.read();
                            }
                        },
                        error: function(e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        numeric: false,
                        previousNext: false,
                        info: false
                    },
                    dataBound: onDataBound,
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "PictureUrl",
                        title: "@T("Admin.Catalog.Products.Pictures.Fields.Picture")",
                        template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="150" /></a>',
                        width: 200
                    }, {
                        field: "OverrideAltAttribute",
                        title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideAltAttribute")",
                        width: 200
                    }, {
                        field: "OverrideTitleAttribute",
                        title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideTitleAttribute")",
                        width: 200
                    }, {
                        command: [
                            {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });
            });
    </script>
       <script type="text/javascript">

           function onDataBound(e) {
               if ($('#categorypictures-grid img').length > 0) {
                   $("#changeCategoryColor").css("display", "block");
               }
            }
       </script>
</div>

