﻿@model Nop.Plugin.Misc.HomePageProduct.Models.HomeCategoryModel
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.HomePageProduct").Text;
}

<script>
    $(document).ready(function() {
        $('#AddCategory').click(function () {
            UpdateOrCreate("CategoryAdd",false);
        });
        $('#UpdateCategoryPriority').click(function () {
            UpdateOrCreate("CategoryUpdate",true);
        });

        function UpdateOrCreate(updateorcreate, isUpdate){
            var categoryId = $("#@Html.FieldIdFor(model => model.CategoryId)").val();

            var categoryPrio = $("#CategoryPriority").val();

            if (categoryId == "") {
                alert('Please Select a category');
                return;
            }


            var postData = {
                categoryId: categoryId,
                categoryPriority:categoryPrio
            };

            $.ajax({
                cache: false,
                type: "POST",
                url: "/HomePageProduct/"+updateorcreate,
                data: postData,
                success: function(data) {
                    if(data.Result!=true)
                    {
                        alert(data.Result);
                    }
                    else{
                        if(isUpdate){
                            $("#UpdateCategoryPriority").css("display","none");
                            $("#cancleChangePriority").css("display","none");
                            $("#AddCategory").css("display","block");
                            $("#CategoryId").attr("disabled", false);
                            $("#CategoryId").val(0);
                            $("#CategoryPriority").kendoNumericTextBox({
                                value: 0
                            });
                        }
                        var grid = $("#categorylist-grid");
                        grid.data('kendoGrid').dataSource.read();
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Can not add category');
                }
            });
        }
    });
</script>
<table width="100%">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.CategoryId):
        </td>
        <td class="adminData">
            @Html.DropDownList("CategoryId", Model.AvailableCategories)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            Category Priority:
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.CategoryPriority)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td>
                        <input type="button" id="AddCategory" class="k-button" value="@T("Admin.Common.AddCategory")" />
                    </td>
                    <td>
                        <input type="button" id="UpdateCategoryPriority" style="display:none;" class="k-button" value="@T("Admin.Common.UpdateCategoryPriority")" />
                    </td>
                    <td style="text-align:left">
                        <a href="~/Plugin/Misc/HomePageProduct/CategoryAdd" class="k-button" id="cancleChangePriority" style="display:none;">@T("Admin.Common.Cancle")</a>
                    </td>
                </tr>
            </table>

        </td>

    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="categorylist-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#categorylist-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url:  "@Html.Raw(Url.Action("CategoryList", "HomePageProduct", new { area = "" }))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "CategoryName",
                            title: "@T("Admin.Catalog.Categories.Fields.Name")"
                        }, {
                            field: "Publish",
                            title: "@T("Admin.Catalog.Categories.Fields.Published")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        },
                        {
                            field: "CategoryPriority",
                            title: "@T("Category.Priority")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" }
                        },
                         {
                             field: "CategoryId",
                             title: "@T("Category.ChangePriority")",
                             width: 100,
                             template: '<input type="button" value="@T("Category.ChangePriority")" onclick="selectAssociatedProduct(#=CategoryId#)" class="k-button" />'
                         },
                        {
                            field: "CategoryId",
                            title: "@T("Admin.AddProduct")",
                            width: 100,
                            template: '<a href="List/#=CategoryId#" class="k-button">@T("Admin.AddProduct")</a>'
                        },
                        {
                            field: "CategoryId",
                            title: "@T("Admin.AddCategoryImage")",
                            width: 100,
                            template: '<a href="CategoryImage/#=CategoryId#" class="k-button">@T("Admin.AddCategoryImage")</a>'
                        },
                         {
                             field: "CategoryId",
                             title: "@T("Category.AddSubCategory")",
                             width: 100,
                             template: '<a href="SubCategoryList/#=CategoryId#" class="k-button">@T("Admin.AddSubCategory")</a>'
                         },
                         {
                             field: "CategoryId",
                             title: "@T("Category.DeleteCategoryFromHomePage")",
                             width: 100,
                             template: '<input type="button" value="@T("Category.DeleteCategoryFromHomePage")" onclick="deleteCategoryFromHomePage(#=CategoryId#)" class="k-button" />'
                         }]
                    });
                });
            </script>

            <script type="text/javascript">

                $(document).ready(function () {
                    $('#btnSearch').click(function () {
                        var grid = $('#products-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        grid.refresh();
                        return false;
                    });
                });


                function deleteCategoryFromHomePage(categoryId) {
                    var postData = {
                        categoryId: categoryId
                    };

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "/HomePageProduct/DeleteCategory",
                        data: postData,
                        success: function(data) {
                            var grid = $("#categorylist-grid");
                            grid.data('kendoGrid').dataSource.read();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Can not add category');
                        }
                    });

                }

                function selectAssociatedProduct(categoryId) {
                    var postData = {
                        categoryId: categoryId
                    };

                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "/HomePageProduct/ChangePriority",
                        data: postData,
                        success: function(data) {
                            if(data){
                                $("#CategoryId").val(data.catId);
                                $("#CategoryId").attr("disabled", true);
                                $("#CategoryPriority").val(data.priority);
                                $("#AddCategory").css("display","none");
                                $("#UpdateCategoryPriority").css("display","block");
                                $("#cancleChangePriority").css("display","block");
                                $("#CategoryPriority").kendoNumericTextBox({
                                    value: data.priority
                                });
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert('Can not add category');
                        }
                    });

                }

                function additionalData()
                {
                    return {
                        SearchCategoryId: $('#SearchCategoryId').val(),
                        CategoryId: $('#CategoryId').val(),
                    };
                }

            </script>
        </td>
    </tr>
</table>
