﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.Partial("_LoadCateringScript");
}
<div class="master-wrapper-center-1 shadowwrapper">
    <div class="master-wrapper-cph-1">
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "main_column_before" })
        @RenderBody()
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "main_column_after" })
    </div>
</div>
<div id="dialog-content" title="Content" style="display:none;">
    
</div>