﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
    Html.AppendScriptParts("~/Plugins/Other.Catering/Scripts/main.js");
    Html.Partial("_LoadCateringScript");
    
}
@{
    
    //current category ID
    int currentCategoryId = 19;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}
<div id="catering-main" class="master-columnstwo-wrapper shadowwrapper catering-main">
    <div class="foodmenu-left">
		 @*@Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })*@
         @Html.Action("Category","Catering")
	</div>
    <div class="foodmenu-middle-container">
	    @*<div class="middle-top">@Html.Widget("catering-banner")</div>*@
        @*<div class="middle-top">@Html.Widget("home_page_top")</div>*@
        <div class="clear"></div>
        <div class="foodmenu-middle">
            @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "main_column_before" })
            @RenderBody()
		    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "main_column_after" })
	    </div>
    </div>
    
	<div class="foodmenu-right">
		<div class="right-item">
            <h3>Catering Event</h3>
            <div class="event-brief">
                @Html.Action("EventBrief", "Catering")
            </div>
        </div>
        <div class="right-item">
            <h3>Order Summary</h3>
            <div>
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div>
        <div class="right-item">
            <p>
                Take a look at all of what Brookhaven Catering has to offer you and your guests.
            </p>

            <p>
                Interested in custom events or special attention orders, such as gluten-free or vegetarian? Visit our Catering Expert in the Market, or call 1-855-55CATER (22837).
            </p>
        </div>
	</div>
	<div class="clear">
</div>

<div id="dialog-content" title="Content" style="display:none;">
    
</div>

