﻿@model SliderModel
@using Nop.Plugin.Widgets.BsSlider.Models;
@{
    Layout = "";

    Html.AddScriptParts("~/Plugins/Widgets.BsSlider/Scripts/jquery.nivo.slider.js");
    Html.AddCssFileParts("~/Plugins/Widgets.BsSlider/Content/nivoslider/nivo-slider.css");
    Html.AddCssFileParts("~/Plugins/Widgets.BsSlider/Content/nivoslider/themes/default/default.css");
}
@using System
@using Nop.Web.Framework.UI

@helper RenderSliderLine(string pictureUrl, string text, string link, string dataTransition = "")
{
    if (!string.IsNullOrEmpty(pictureUrl))
    {
        if (!string.IsNullOrEmpty(link))
        {
            <a href="@link">
                <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="" title="@text" />
            </a>
        }
        else
        {
            <img src="@pictureUrl" data-thumb="@pictureUrl" data-transition="@dataTransition" alt="" title="@text" />
        }
    }
}
<div class="slider-wrapper theme-default">
    <div id="nivo-slider" class="nivoSlider">
        @foreach (var sliderPicture in Model.BsSliderPictures)
        {

            if (!string.IsNullOrEmpty(sliderPicture.PictureUrl))
            {
                if (!string.IsNullOrEmpty(sliderPicture.PictureLink))
                {
                    <a href="@sliderPicture.PictureLink">
                        <img src="@sliderPicture.PictureUrl" data-thumb="@sliderPicture.PictureUrl" data-transition="" alt="" title="" />
                    </a>
                }
                else
                {
                    <img src="@sliderPicture.PictureUrl" data-thumb="@sliderPicture.PictureUrl" data-transition="" alt="" title="" />
                }
            }
            @*@RenderSliderLine(sliderPicture.PictureUrl, "", sliderPicture.PictureLink)
                @RenderSliderLine(Model.Picture2Url, Model.Text2, Model.Link2)
                @RenderSliderLine(Model.Picture3Url, Model.Text3, Model.Link3, "slideInLeft")
                @RenderSliderLine(Model.Picture4Url, Model.Text4, Model.Link4)
                @RenderSliderLine(Model.Picture5Url, Model.Text5, Model.Link5)*@

        }
    </div>

    
</div>
<script type="text/javascript">
    $(window).load(function () {
        $('#nivo-slider').nivoSlider();
    });
</script>
